<div layout-gt-sm="row" class="layout-gt-sm-row">
    <h2 class="md-title">
      Transaction
    </h2>
</div>

  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Qualifier" model="data.ReportingQualifier" lookup="ReportingQualifier" update-fn="updateRQ"></sfield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Flow" model="data.Flow" lookup="Flow" update-fn="updateFlow"></sfield>
    
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <datefield  class="md-block date-picker" flex-gt-sm
      label="Value Date" 
      model="data.ValueDate">
    </datefield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <mfield class="md-block flex-gt-sm" flex-gt-sm="" label="Total Payment Value" model="data.TotalForeignValue" currency-model="data.FlowCurrency"></mfield>
    
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Total Value" model="data.TotalValue"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <div flex="" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
    
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label-prop="code" value-prop="code" label="Branch code" model="data.BranchCode" lookup="branches" update-fn="updateBranches"></sfield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label-prop="name" value-prop="name" label="Branch name" model="data.BranchName" lookup="branches" update-fn="updateBranches"></sfield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Hub code" model="data.HubCode"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Hub name" model="data.HubName"></ifield>
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Replacement Transaction" model="data.ReplacementTransaction" lookup="yesNo"></sfield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Replacement Original Reference" model="data.ReplacementOriginalReference"></ifield>
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Originating bank" model="data.OriginatingBank"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Originating country" model="data.OriginatingCountry" lookup="countries" label-prop="name" value-prop="code"></sfield>
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Corresponding bank" model="data.CorrespondentBank"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Corresponding country" model="data.CorrespondentCountry" lookup="countries" label-prop="name" value-prop="code"></sfield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Receiving bank" model="data.ReceivingBank"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Receiving country" model="data.ReceivingCountry" lookup="countries" label-prop="name" value-prop="code"></sfield>

  </div>