﻿@import "node_modules/bootstrap/less/bootstrap.less";

//@icon-font-path: "fonts/";

@icon-font-path: "../../../node_modules/bootstrap/fonts/";

//@import "node_modules/bootstrap-material-design/less/bootstrap-material-design.less";
@import (inline) "node_modules/angular-material/angular-material.min.css";

md-input-container {
  margin-bottom : 8px;
}


md-datepicker-input-container {
  width: 78%;
}

md-card, md-card md-card-content {
  margin : 1px;
  padding: 1px; 
}