 //
 @import "node_modules/bootstrap/less/bootstrap.less";
 //@import "jquery-ui-1.10.3.custom.css";
 @icon-font-path: "../../../node_modules/bootstrap/fonts/";
 //@import  (inline) "reg_rule_repo/invCCM/css/bopapp.min.css" ;
 //@import (inline) "reg_rule_repo/invCCM/css/ccm.css";
 //@import (inline) "reg_rule_repo/invCCM/css/olbsa.css";

.bopFormContainer {

  .icon-investec-delete-1 {
    background :  #ebecee url(images/windows-close-button.png) right no-repeat;    
    width: 26px;
    height: 20px;
    background-size: contain;
  }
  .inv-dropdown .btn.dropdown-toggle.has-error {
    border-color: #ff3900;
  }
  
  .action-bar-default.clearfix {
   width: 99%;
   }
  
  .bopSection {
   width: 99%;
   }
  
  .row {
   width : 99%;
   margin-left : 0px;
  }
  .row.fld.form-group{
    padding : 0px;
  }
  .row .fld{
     padding : 2px;
  }
  .div .row .fld .mfield {
     background-color: pink;
  }
  .row .form-group {
      padding : 2px;
      margin-bottom : 5px;
  }
  
  
   select.form-control {
      background :  #ebecee url(../image/arrow_down.png) right no-repeat;
      background-size: 10px 10px;
      background-position: right 10px top 50%;
      padding-left: 10px;
      padding-right: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      font: 12px Arial;
      font-weight: 100;
      border: 1px solid #b7b7b7;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      margin-right:5px;
      margin-top: 0px;
      margin-bottom: 5px;
      line-height: 15px;
   }
  .category-code {
       background :  #ebecee url(../image/arrow_down.png) right no-repeat;
       background-size: 10px 10px;
       background-position: right 10px top 50%;
       padding-left: 10px;
       padding-right: 30px;
       padding-top: 5px;
       padding-bottom: 5px;
       font: 12px Arial;
       font-weight: 100;
       border: 1px solid #b7b7b7;
       border-radius: 4px;
       cursor: pointer;
       position: relative;
       -webkit-appearance: none;
       -moz-appearance: none;
       text-indent: 0.01px;
       text-overflow: '';
       margin-right:5px;
       margin-top: 0px;
       margin-bottom: 5px;
       line-height: 15px;
  }
  
   .label {
      line-height: 30px;
      margin-right: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 12px;
      color : inherit;
      font-weight: normal;
      font: 12px/14px Arial, Helvetica;
     text-align : left;
   }
  
  .input{
    line-height: 25px;
    height: 32px;
    border-radius: 3px;
   // margin-right: 5px;
   // margin-top: 5px;
   // margin-bottom: 5px;
    text-indent: 14px;
    background: #f1f1f1;
    border: 1px solid #b7b7b7;
    width : 100%;
    padding-left : 0px;
  
  }
  
  .dropdown-menu  {
       overflow-y: auto;
       max-width: 100%;
       overflow-x: hidden;
       top: 100% !important;
       background-color : white;
  
       &>li>a {
          white-space: normal;
       }
  }
  
  .date-selector {
  
    background-colour: pink;
  
  
  }
  
  .list-field {
     line-height: 25px;
     height: 32px;
     border-radius: 3px;
     margin-right: 5px;
     margin-top: 5px;
     margin-bottom: 5px;
     text-indent: 14px;
     background: #f1f1f1;
     border: 1px solid #b7b7b7;
     width : 100%;
     padding-left : 0px;
  }
  
  .errorMsg  {
      color : red;
  }
  
  .body {
       color: #000000;
       font: 12px/14px Arial, Helvetica;
       font-weight: 400;
   }
} 
