body {
  font-size: 12px;
  color: #303030;
  background: rgb(241, 241, 241);;
}

label {
  font-weight: normal;
}

.modal-content {
  border-radius: 2px;
}

#PaymentCurrencyCode {
  border: 0px;
  margin: 0px;
  height: 28px;
}

.ui-autocomplete {
  max-width: 60%;
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}

.table table {
  display: inline-table;
  clear: both;
  width: 100%;
  padding: 0px;
  margin-top: 0px;
  overflow: auto;
}

.table th {
  padding: 8px;
  background: rgb(241, 241, 241);
  font-size: 11px;
  font-family: Arial;
  color: #303030;
  border: 3px solid #fff;
  text-align: left;
}

.table thead tr th {
  vertical-align: middle;
  line-height: 30px;
  font-size: 12px;
}

.table tbody tr td {
  vertical-align: middle;
  font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.table tr {
  padding: 5px;
  border: 3px solid #fff;
}

.table td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 3px;
  vertical-align: middle;
  border: 3px solid #fff;
  font-family: Arial;
  color: #303030;
}

.control-label {
  width: 53%;
  float: left;
  margin-left: 10px;
  
}

.formInput {
  width: 44%;
  float: right;
  margin-right: 10px;
}

.inv_button {
  	height: 30px;
	width: auto;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 45px;
	background: #437cc4 url(../image/arrow_right_white.png) no-repeat;
	background-size: 10px 10px;
	background-position: 90% 50%;
	font: 14px Arial;
	color: #ffffff;
	position: relative;
	cursor: pointer;
	border: none;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0px;
}

.inv_button_med {
  	height: 30px;
	width: auto;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 45px;
	background: #437cc4 url(../image/arrow_right_white.png) no-repeat;
	background-size: 10px 10px;
	background-position: 90% 50%;
	font: 14px Arial;
	color: #ffffff;
	position: relative;
	cursor: pointer;
	border: none;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0px;
}

.inv_button_lrg {
  	height: 30px;
	width: auto;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 45px;
	background: #437cc4 url(../image/arrow_right_white.png) no-repeat;
	background-size: 10px 10px;
	background-position: 90% 50%;
	font: 14px Arial;
	color: #ffffff;
	position: relative;
	cursor: pointer;
	border: none;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0px;
}

.removeMoney {
  position: relative;
  right: 4px;
}

.close {
  float: left;
}

.inv_modal_heading {
  font-size: 13px;
  margin-bottom: 7px;
  margin-top: 7px;
  font-weight: bold;
}

.column {
  padding: 10px;
}

.headTitle {
  text-align: left;
}

.headVal {
  text-align: left;
}

.modal-body, .modal-header {
  padding: 4px;
}

.form-horizontal .control-label {
  font-size: 12px;
  line-height: 30px;
  height: 30px;
}

.form-group {
  margin-bottom: 7px;
}

.has-error .control-label {
  color: #de4561;
}

.form-control {
  	font-size: 12px;
	border-radius: 2px;
	padding: 3px;
	margin: 0px;
	line-height: 30px;
	height: 30px;
	padding-left: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.input-group-addon {
  padding: 3px;
  margin: 0px;

  border-radius: 2px;
  font-size: 12px;
}

.headTitle .headVal {
  font-size: 12px;
  width: 25%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 12px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

#smallLogo {
  background: transparent url('images/txstream.small.png') no-repeat;
  background-size: 86%;
  width: 37px;
  height: 33px;
  margin: 0px 0px 0px 10px;
  padding: 0;
}

#transaction_head, .summaryHeading, .headTitle {
  background: #F1F1F1;
  /*color: #fef; */
  font-size: 12px;
}

.rounded td {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 0px;
}

#monetary_amounts_container table thead {
  background: #F1F1F1;
  /*color: white; */
}

thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
  background-color: #F1F1F1;
  border-color: #fff;
  cursor: pointer;
  	line-height: 30px;
	font-size: 12px;
  /* color: #de4561; */
  padding: 0px;
  padding-left: 5px;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  cursor: pointer;
  background-color: #f5f5f5;
}

.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
  background-color: #F1F1F1;
  border-color: #F1F1F1;
}

#transaction_container > table > tbody > tr > td {
  color: black;
  font-size: 12px;
  line-height: 30px;
  padding-left: 5px;
}

#errorModal_content tr {
 cursor: pointer;
}

#non_resident_table table td, #resident_table table, .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child) {
	line-height: 15px;
	font-size: 12px;
	height: 30px;
} 

.input-group .form-control {
	background-color: #fff;
}

select {
	height: 30px;
	background: #ebecee url(../../../image/arrow_down.png) right 5px top 50% no-repeat !important;
	background-size: 10px 10px;
	background-position: right 10px top 50%;
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 15px;
}

option {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    width: auto;
    overflow: auto;
    background: #ebecee;
    padding-left:5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    height: 30px;
    border: none;
}

.modal-body button {
	margin-left: 0px;
}

#non_resident_table table td, #resident_table table td {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* DATE PICKER OVERRIDES */
e-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a{
	cursor:text;
}

.ui-datepicker {
	height:auto;
	width:280px;
	display:none;
	border-radius:4px;
	padding:.1em .1em 0;
}

.ui-datepicker .ui-datepicker-prev {
	left:2px;
	/*margin-top: 4px;
	margin-left: 4px;
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);*/
}

.ui-datepicker .ui-datepicker-next {
	margin-right: 4px;
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {
	display:block;
	position:absolute;
	left:50%;
	margin-left:-8px;
	top:50%;
	margin-top:-9px;
}

.ui-datepicker .ui-datepicker-title {
	font-size: 14px;
}

.ui-datepicker table {
	height:88%;
	width:100%;
	font-size:14px;
	border-collapse:collapse;
	background:#fff;
	margin:0 0 .4em;
}

.ui-datepicker th {
	text-align: center;
	font-weight: 700;
	border: 0;
	background: #ebebeb;
	color: #000;
	padding: .7em .3em;
	height: 15px;
	width: 40px;
}

.ui-datepicker td {
	min-width: 37px;
	border:solid 1px #d6d6d6;
	text-align:center;
	vertical-align:middle;
	font-size:14px;
	padding:0px; 
	line-height: 40px
}

.ui-datepicker .ui-widget-header .ui-icon {
   	/*background: #ececec url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEUAAABmZmZ+SwYRAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeAR0HMSZq7OXHAAAAHklEQVQI12MQYGCQYGCQYWCQY2CQByM5MBcoKMAAAA+9AQOxUYH3AAAAAElFTkSuQmCC') no-repeat;*/
   	background-position: center;
    border: solid 1px #b7b7b7;
    border-radius: 2px;
    height: 20px;
	width: 20px;
	overflow: visible;
}

.ui-datepicker .ui-widget-content .ui-icon {
    background-image: url("../image/jquery/ui-icons_222222_256x240.png");
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
}

.ui-datepicker-trigger {
    vertical-align: top;
    height: 30px;
    width: 30px;
    margin-top: 0px;
    cursor: pointer;
}

.ui-datepicker-calendar .ui-state-active {
	border: none;
	background: #dcebf1 !important;
	margin: 0px;
	padding: 0px;
	display: block;
}

.ui-datepicker .ui-datepicker-prev span{
	background: #ececec url(../../image/arrow_left_black.png) no-repeat;
}

.ui-datepicker .ui-datepicker-next span{
	background: #ececec url(../../image/arrow_right_black.png) no-repeat;
}

.ui-widget-header {
	background: none !important;
	border: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
	border: none !important;
	padding: 0px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.ui-datepicker .ui-datepicker-header {
	padding: 2px 0;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	margin-right: 2px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	padding: 0px !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: none;
	background: #fff;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	top: 5px;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
	top: 5px;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 12px;
	background: #ebecee url(../../../image/arrow_down.png) right 5% top 50% no-repeat !important;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	padding: .2em .6em .3em !important;
}

#SARBAuth.SARBAuthDate, #SARBAuth.ADInternalAuthNumberDate, #Travel.DateOfBirth, #Resident.Individual.DateOfBirth  {
	background: url(../../../image/CalendarPicker.png);
	width: 29px;
	height: 30px;
	background-size: contain;
	border: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
	display: none;
}

.ui-menu .ui-menu-item a:hover {
	
}

#ForeignValue {
	background: #fff;
}

#SARB_Summary {
	width: 100% !important;
}

#StreetAddress.Mandate {
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 0px;
	margin-left: 0px;
	border: solid 1px #b7b7b7;
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-left-color: #fff;
	border-right-color: #fff;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	-ms-appearance: none;
	background-color: rgb(255, 255, 255);
	margin-right: 0px;
}

input[type="text"] {
	line-height: 15px !important;
}

.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

#SS_monetary_importexport_table table {
	width: 100%;
}

#SS_monetary_importexport_container .form-horizontal .formInput .input-group .input-group-addon {
	padding: 0px;
}

input[type="checkbox"] {
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 0px;
	margin-left: 30px;
	border: solid 1px #b7b7b7;
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-left-color: #fff;
	border-right-color: #fff;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	-ms-appearance: none;
	background-color: rgb(255, 255, 255);
}

.ui-menu .ui-menu-item a:hover {
	padding: 2px .4em !important;
	margin: 0px;
	background-color: #ececec;
}

.table>tbody>tr>td, .table>tbody>tr>th {
	background-color: #f5f5f5;
}

#errorModal_content table {
	width: 100%;
}

[id^="ui-id-"] {
     width: auto !important;
     min-width: 43.5% !important;
}