<div class="form-group"
     ng-class="{'has-error':model.error}"
     ng-hide="model.hide"
     popover-placement="auto"
     popover-trigger="mouseenter"
     uib-popover="{{ (model.pmsg ? model.pmsg : model.msg).join('\n\n\n\n') }}"
     popover-title="Issues with this field:">
  <div>
    <button class="btn btn-custom btn-sm"
            type="button"
            ng-class="perror() || model.error ? 'invalid' : 'valid'"
            ng-init="model.clicked = false;"
            ng-click="model.clicked = true; update()"
            ng-disabled="(model.busy) || $root.isReadOnly() || model.disabled">
        {{ !isValid() ? (model.busy ? "Validating..." : "Validate") : "Valid"  }}
    </button>
    <input type="hidden"
           ng-model="model.val"
           ng-change="update()">

  </div>
</div>