<div class="form-group  ui-front"
     ng-hide="current.money.CategoryCode.hide || current.money.CategorySubCode.hide"
     ng-class="{'has-error':current.money.CategoryCode.error||current.money.CategorySubCode.error, 'has-warning' : (money.CategoryCode.warning||money.CategorySubCode.warning) && !($root.isReadOnly()||model.disabled)}"
     popover-trigger="'mouseenter'"
     uib-popover="{{current.money.CategoryCode.msg.concat(current.money.CategorySubCode.msg).join('\n')}}"
     popover-title="Issues with this field:"
     popover-append-to-body="true">
  <label class="control-label FldLabel">
    <!--<span ng-show="money.CategoryCode.error||money.CategorySubCode.error && !($root.isReadOnly()||model.disabled)" class="bopRequired"></span>-->
    Category Code/Subcode</label>
   <span ng-show="current.money.CategoryCode.warning||current.money.CategorySubCode.warning && !($root.isReadOnly()||model.disabled)"
         class="bop-warning"></span>

          <input class="form-control CHAR_P"
                 ng-model="tempModel"
                 uib-typeahead="category as (category.code + ': ' + category.description + ' (' + category.section + ', ' + category.subsection + ')') for category in getCategories()| lFieldFilter:'code':$viewValue"
                 typeahead-min-length="0"
                 typeahead-on-select="handleChange()"
                 ng-blur="handleChange()"
                 typeahead-focus
                 type="text"
                 ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
                 placeholder="CODE/SUBCODE"
                 typeahead-input-formatter="makeCCLabel(tempModel)" 
                >


  <span ng-show="current.money.CategoryCode.busy||current.money.CategorySubCode.busy && !($root.isReadOnly()||model.disabled)"
        class="bopBusy"></span>

</div>

<!--ng-class="{CHAR_M: model.manditory,CHAR_P:(!model.manditory)}"-->