<div uib-popover="{{model.msg.join('\n')}}" popover-placement="auto" popover-append-to-body="true" popover-trigger="'mouseenter'"
  popover-title="Issues with this field:" class="form-group"
     ng-hide="model.hide&&(!model.val)"
     ng-class="{'has-error':model.error||currencyModel.error, 'has-warning' : model.warning && !($root.isReadOnly()||model.disabled)}"
    >
  <label class="control-label FldLabel" ng-show="label">
    <span ng-show="(model.mandatory)||(currencyModel.mandatory) && !($root.isReadOnly()||model.disabled)" class="bopRequired"></span>
    {{label}}</label>
  <div class="fieldCol">
    <div class="input-group">


    <input class="form-control CHAR_P" ng-model="model.val" type="text"
           ng-trim="false"
           ng-disabled="$parent.isReadOnly() || model.disabled"
           ng-change="update()"
            id="{{inputFldId()}}"
            currency-mask
            production-qty
          >

 

      <!--num-prepend="{{currencyModel.val}} "-->
        <span class="input-group-addon" ng-show="label">
          <span>{{currencyModel.val}} {{model.val|currency:"":2}}</span>
        </span>

    </div>
  </div>
</div>