<div class="row fld form-group"
     ng-hide="(current.money.CategoryCode.hide && !current.money.CategoryCode.val) || (current.money.CategorySubCode.hide && !current.money.CategorySubCode.val)">
  <div>
    <label class="col-md-3 FldLabel">
      <abbr tooltip-placement="bottom"
            title
            tooltip-popup-close-delay='500'
            uib-tooltip="{{aux ? 'You can use the reason or BoP code' : 'SARB Balance of payment category/subcategory code'}}"
            tooltip-class="BopTooltip">{{label ? label : 'BOP code'}}</abbr>
    </label>
    <div class="col-md-4" id="">
      <!--{{filteredLoookup.length}}:{{isSelectOnBlur(filteredLoookup)}}-->
      <input class="form-control CHAR_P"
      ng-model="tempModel"
      uib-typeahead="category as (category.code + ': ' + category.description + ' (' + category.section + ', ' + category.subsection + ')') for category in getCategories()| lFieldFilter:'code':$viewValue"
      typeahead-min-length="0"
      typeahead-on-select="handleChange()"
      ng-blur="handleChange()"
      typeahead-focus
      type="text"
      ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
      placeholder="CODE/SUBCODE"
      typeahead-input-formatter="makeCCLabel(tempModel)" 
     >

      <span ng-show="current.money.CategoryCode.busy||current.money.CategorySubCode.busy && !($parent.isReadOnly()||model.disabled)"
            class="bopBusy"></span>
    </div>

    <div class="col-md-6">
      <!--<a ng-show="aux"
             class="btn btn-primary pull-right"
             ng-click='jqTriggerInput()'>Reasons</a>-->
      <a ng-show="aux"
         class="btn btn-primary pull-right"
         href="{{$parent.customData.pdfDownloadUrl ? $parent.customData.pdfDownloadUrl : '/bopform_no_pdf_url_supplied'}}"
         target="_blank">BoP classification</a>

      <span ng-show="tempModel && current.money.CategoryCode.val"
            ng-init="limitChars = aux ? 25 : 45">

        <span ng-show="current.money.BoPCodeDescription.val.length <= (limitChars + 3)">
          {{current.money.BoPCodeDescription.val}}
        </span>
        <abbr ng-show="current.money.BoPCodeDescription.val.length > limitChars + 3"
              tooltip-placement=" bottom"
              title
              uib-tooltip="{{current.money.BoPCodeDescription.val}}"
              tooltip-popup-close-delay='500'
              tooltip-class="BopTooltip">
          {{current.money.BoPCodeDescription.val.substr(0, limitChars)}}...
        </abbr>
      </span>
    </div>
  </div>
</div>

<div class="clear"></div>
<div class="row"
     ng-show="!$parent.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error)">
  <label class="col-md-3 FldLabel"></label>
  <p class="col-md-7">
    <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(current.money.CategoryCode.msg.concat(current.money.CategorySubCode.msg))"><b>X</b>{{itm}}<br></span>
  </p>
</div>

<div class="clear"></div>
