<div class="row fld mfield form-group" ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model,isType=='ignoreIsAnyInError'))
      || alwaysShow">
  <div ng-show="($parent.isModelInError(model,isType=='ignoreIsAnyInError')||alwaysShow) || !model.hide">
    <label class="col-md-3 FldLabel">
      <span ng-show="$parent.isFieldRequired(model.property)||$parent.isFieldRequired(currencyModel.error) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
      <span ng-hide="tooltipTitle">{{label}}</span>
      <abbr ng-show="tooltipTitle"
            title
            tooltip-placement="bottom"
            uib-tooltip="{{tooltipTitle}}"
            tooltip-popup-close-delay='500'
            tooltip-class="BopTooltip">{{label}}</abbr>
    </label>

    <div ng-switch="currencyOnly">
      <!--currency only-->
      <div ng-switch-when="true">
        <div class="col-md-6"
             ng-init="isSelected = false; staticCurrencies = filterCurrencies({code:'000', name: '(all)'}, ['GBP','USD','EUR','AUD','CHF']); ">
          <div class="dropdown currency-converter"
               uib-dropdown
               uib-keyboard-nav
               ng-class="{'has-warning': isDisplayError($parent.customData, true)}">

            <!--<a class="btn btn-default dropdown-toggle {{$parent.customData.currencyFlags.indexOf(currencyModel.val) >= 0 ? 'flag' : ''}}"-->
            <span>
              <a class="btn btn-default dropdown-toggle flag"
                 ng-class="[
               (currencyModel.val ? 'flag-' + (currencyModel.val).toLowerCase() : '')
               , {'flag-active': (model.val)}]"
                 id="{{inputFldId()}}ddMenu"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="true"
                 uib-dropdown-toggle
                 ng-disabled="$parent.isReadOnly() || model.disabled || currencyModel.disabled">
                <span class="selected-text">{{isSelected ? currencyName() : 'Change Currency'}}</span>
                <span class="arrow"></span>
              </a>
            </span>

            <ul class="dropdown-menu"
                aria-labelledby="{{inputFldId()}}ddMenu">
              <li ng-repeat="c in staticCurrencies"
                  ng-switch="c.code">
                <a ng-switch-when="000"
                   href="#"
                   ng-click="$parent.$parent.isSelected = true; isSelected = true; $parent.modalOpen('modalBopFormCurrency', {
                       'getCurrencies':getCurrencies,
                       'currencyModel':currencyModel,
                       'update':update,
                       'model':model});">Show all available</a>
                <a ng-switch-default
                   class="flag"
                   ng-class="['flag-' + c.code.toLowerCase()]"
                   href="#"
                   ng-click="$parent.$parent.isSelected = true; currencyModel.val = c.code; update(null, true);">{{ c.name + ' (' + c.code + ')'}}</a>
              </li>
            </ul>
          </div>
        </div>

        <span class="col-md-12"></span>
        <span class="col-md-3"></span>
        <span class="col-md-6"
              ng-show="!$parent.customData.msgHide">
          <!--errors-->


          <p ng-show="(currencyModel.error && !currencyModel.warning)">
            <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(currencyModel.msg)"><b>X</b>{{itm}}<br></span>
          </p>
          <p ng-show="(currencyModel.error && currencyModel.warning)">
            <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(currencyModel.msg)"><b>X</b>{{itm}}<br></span>
          </p>
          <p ng-show="(!currencyModel.error && currencyModel.warning)">
            <span ng-repeat="itm in $parent.errMsgCopyOnly(currencyModel.msg)"><b>Warning</b>: {{itm}}<br></span>
          </p>
        </span>
      </div>

      <!--money with currency-->
      <div ng-switch-default>
        <div class="col-md-4 mfield currency-converter">
          <div class="input-group">
            <!--<span class="input-group-addon {{$parent.customData.currencyFlags.indexOf(currencyModel.val) >= 0 ? 'flag' : ''}}"-->
            <span class="input-group-addon flag "
                  ng-class="[(currencyModel.val ? 'flag-' + (currencyModel.val).toLowerCase() : '')]">
              <span>{{currencyModel.val}}</span>
            </span>

            <input class="CHAR_P mfield form-control"
                   ng-model="model.val"
                   placeholder="{{model.focus ? '' : '0.00' }}"
                   type="text"
                   numeric-only
                   ng-change="update('[^0-9\\.]?', true)"
                   ng-disabled="$parent.isReadOnly() || model.disabled"
                   ng-class="isDisplayError($parent.customData) ?'has-warning':''"
                   id="{{inputFldId()}}">
          </div>

        </div>

        <!--currency-->
        <div ng-switch="inputCurrency"
             class="col-md-5"
             ng-init="isSelected = false; staticCurrencies = filterCurrencies({code:'000', name: '(all)'}, ['GBP','USD','EUR','AUD','CHF']); ">
          <div class="dropdown currency-converter"
               uib-dropdown
               uib-keyboard-nav
               ng-switch-when="true"
               ng-class="{'has-warning': isDisplayError($parent.customData, true)}">

            <!--<a class="btn btn-default dropdown-toggle {{$parent.customData.currencyFlags.indexOf(currencyModel.val) >= 0 ? 'flag' : ''}}"-->
            <!--<a class="btn btn-default dropdown-toggle flag" ng-class="[(currencyModel.val ? 'flag-' + (currencyModel.val).toLowerCase() : ''), {'flag-active': (model.val)}]"-->
            <span>
              <a class="btn btn-default dropdown-toggle flag "
                 ng-class="[(currencyModel.val ? 'flag-' + (currencyModel.val).toLowerCase() : '')]"
                 style="width: 12em"
                 id="{{inputFldId()}}ddMenu"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="true"
                 uib-dropdown-toggle
                 ng-disabled="$parent.isReadOnly() || model.disabled || currencyModel.disabled">
                <span class="selected-text">{{isSelected ? currencyName() : 'Change Currency'}}</span>
                <span class="arrow"></span>
              </a>
            </span>

            <ul class="dropdown-menu"
                aria-labelledby="{{inputFldId()}}ddMenu">
              <li ng-repeat="c in staticCurrencies"
                  ng-switch="c.code">
                <a ng-switch-when="000"
                   href="#"
                   ng-click="$parent.$parent.isSelected = true; isSelected = true; $parent.modalOpen('modalBopFormCurrency', {
                       'getCurrencies':getCurrencies,
                       'currencyModel':currencyModel,
                       'update':update,
                       'model':model});">Show all available</a>
                <a ng-switch-default
                   class="flag"
                   ng-class="['flag-' + c.code.toLowerCase()]"
                   href="#"
                   ng-click="$parent.$parent.isSelected = true; currencyModel.val = c.code; update(null, true);">{{ c.name + ' (' + c.code + ')'}}</a>
              </li>
            </ul>
          </div>

          <span ng-switch-when="undefined"></span>

          <label class="FldLabel" ng-switch-default>{{inputCurrency}}</label>
        </div>
        <!--errors-->

        <span class="col-md-12"></span>
        <span class="col-md-6"></span>
        <span class="col-md-3"
              ng-show="!$parent.customData.msgHide && inputCurrency">

          <p ng-show="(currencyModel.error && !currencyModel.warning)">
            <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(currencyModel.msg)"><b>X</b>{{itm}}<br></span>
          </p>
          <p ng-show="!$parent.customData.msgHide && (currencyModel.error && currencyModel.warning)">
            <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(currencyModel.msg)"><b>X</b>{{itm}}<br></span>
          </p>
          <p ng-show="!$parent.customData.msgHide && (!currencyModel.error && currencyModel.warning)">
            <span ng-repeat="itm in $parent.errMsgCopyOnly(currencyModel.msg)"><b>Warning</b>: {{itm}}<br></span>
          </p>
        </span>

        <span class="col-md-12"></span>
        <span class="col-md-3"></span>
        <span class="col-md-6"
              ng-show="!$parent.customData.msgHide">
          <p ng-show="(model.error && !model.warning)">
            <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
          </p>
          <p ng-show="(model.error && model.warning)">
            <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
          </p>
          <p ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
            <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
          </p>
        </span>
      </div>
    </div>
  </div>

</div>
<div class="clear"></div>
<script>

  $('.mfield .dropdown-toggle').click(function (e) {
    e.preventDefault();
    e.stopPropagation();

    return false;
  });
</script>
