<div class="row fld form-group">
  <label class="label col-md-3">
    <span class="bopRequired"></span>
    <span>Type</span>
  </label>

  <span>
    <div class="col-sm-4 has-feedback">

      <div role="group">

        <label class="radio-inline" for="resTypeIndividual" ng-click="data.Resident.Type.disabled?'':updateResType('Individual')">
          <input type="radio" id="resTypeIndividual" name="resType" ng-value="'Individual'" ng-model="resType" ng-disabled="data.Resident.Type.disabled"> Individual
        </label>
        <label class="radio-inline" for="resTypeEntity" ng-click="data.Resident.Type.disabled?'':updateResType('Entity')">
          <input type="radio" id="resTypeEntity" name="resType" ng-value="'Entity'" ng-model="resType" ng-disabled="data.Resident.Type.disabled"> Entity
        </label>

      </div>
    </div>
  </span>
</div>