<!-- <div class="panel panel-default ie-panel" ng-init="ieEmptyHandler(money)"> -->
<!-- <div class="panel-heading">
    <div class="ie-subheading1">
      Imports/Exports
    </div>
    <div class="ie-subheading2 errorMsg error-content">
      {{ importExportOutstanding(money, money.ImportExport, 'OVER! ', '+ Remaining: ',
      data.TransactionCurrency.val).replace(',',' ') }}
    </div>
  </div> -->

<!-- <div class="panel-body"> -->
<div class="errorMsg error-content ie-error" ng-show="(!$parent.customData.msgHide) && importExportOutstanding(money, money.ImportExport, 'OVER! ', '+ Remaining: ',
      data.TransactionCurrency.val)">
  {{ importExportOutstanding(money, money.ImportExport, 'OVER! ', '+ Remaining: ',
  customData.inZAR ? 'ZAR' : data.TransactionCurrency.val).replace(',',' ') }}
</div>
<div class="importexport panel panel-default" ng-repeat="(ieIdx,ie) in money.ImportExport"
  ng-init="ie.statusOpen = true" is-open="ie.statusOpen">
  <!-- <div class="panel-heading" ng-switch="data.MonetaryAmount.length > 1">
        <div class="small" ng-switch-when="true">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="acc-hdr-el acc-hdr-ico">{{ind + 1}}.{{ieIdx + 1}}</span>
        </div>
        <div class="small" ng-switch-when="false">
          <span class="acc-hdr-el acc-hdr-ico">{{ieIdx + 1}}</span>
        </div>
      </div> -->



  <div class="row invoiceclass">
    <!-- <span class="col-md-1">{{ieIdx + 1}}</span> -->
    <!-- N.B. SS20160318: the checksum validation for ZAREquivalent is on
            //"PaymentCurrencyCode" === "ZAR"
            //but business requirements is display transaction currency
    
            currency-model="ie.PaymentCurrencyCode"-->
    <div class="col-md-8">
      <div layout="row">
        <div flex="grow" ng-if="!ie.ImportControlNumber.hide">
          <ifield label="{{ie.ImportControlNumberLabel.val}}" model="ie.ImportControlNumber"></ifield>

        </div>
        <div flex="grow" ng-if="!ie.TransportDocumentNumber.hide">
          <ifield label=" Transport Document Number" model="ie.TransportDocumentNumber"></ifield>

        </div>
        <div flex="grow" ng-if="!ie.UCR.hide">
          <ifield label=" UCR" model="ie.UCR"></ifield>

        </div>
      </div>
    </div>

    <mfield class="col-md-3" always-show="true" label="Allocated amount" model="ie.PaymentValue"
      ng-class="{zarEquivalent: customData.inZAR, errorStyling: importExportOutstanding(money, money.ImportExport, 'OVER! ', '+ Remaining: ',
      data.TransactionCurrency.val)}"
      currency-model="ie.PaymentCurrencyCode"
      input-currency="{{ customData.inZAR ? '(in ZAR equivalent)' : undefined }}"></mfield>

    <div ng-if="money.ImportExport.length>1" class="col-md-1 btn-remove-ie"
      ng-click="removeImportExport(money, ie);">
      <span>
        <img class="remove-ie-icon" src="assets/icons/icon-delete.svg">
      </span>
    </div>

  </div>

  <!-- <i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
</div>



<div class="row">
  <span class="col-md-5">
    <div class="btn-add-ie" ng-click="addImportExport(money,true)">
      <span class="circleBorder">
        <i class="material-icons">add_circle_outline</i>
      </span>
      <span class="btn-ie-span">
        Add more
        {{data.Flow.val=="OUT"?"import":"export"}} details
      </span>
    </div>
  </span>
</div>
<!-- </div> -->

<!-- </div> -->