
<sfield label="Money transfer agent indicator"
        model="money.MoneyTransferAgentIndicator"
        lookup="moneyTransferAgents" ></sfield>

<ifield label="Reason for 830" model="money.CannotCategorize" ></ifield>
<ifield label="SWIFT Details" model="money.SWIFTDetails" ></ifield>

<sfield label="Strate reference number" model="money.StrateRefNumber"
        lookup-values="['ON MARKET', 'OFF MARKET']" ></sfield>

<ifield label="Loan reference number" model="money.LoanRefNumber" ></ifield>


<sfield label="Loan tenor" model="money.LoanTenorType"
        lookup-values="[{value:'MATURITY DATE',label:'Loan Expiry Date'},
        {value:'ON DEMAND',label:'On Demand'}]" ></sfield>

<datefield label="Loan expiry date" model="money.LoanTenorMaturityDate" ></datefield>

<afield value="money.LoanTenor" ></afield>

<ifield label="Loan interest rate" model="money.LoanInterestRate" ></ifield>

<!-- <sfield label="Floating rate base" model="money.LoanInterest.BaseRate"
        lookup-values="[
        {value:'FIXED',label:'Fixed'},
        {value:'BA',label:'Ba'},
        {value:'BASE',label:'Base'},
        {value:'BBSW',label:'Bbsw'},
        {value:'CIBOR',label:'Cibor'},
        {value:'EURIBOR',label:'Euribor'},
        {value:'HIBOR',label:'Hibor'},
        {value:'JIBAR',label:'Jibar'},
        {value:'LIBOR',label:'Libor'},
        {value:'OIBOR',label:'Oibor'},
        {value:'POLO',label:'Polo'},
        {value:'PRIBOR',label:'Pribor'},
        {value:'PRIME',label:'Prime'},
        {value:'REPO',label:'Repo'},
        {value:'TELBOR',label:'Telbor'},
        {value:'WIBOR',label:'Wibor'},
        {value:'INDEXED LINKED',label:'Other'}]" ></sfield>

<sfield label="Loan interest base rate term" model="money.LoanInterest.Term"
        lookup-values="[
        {value:'None',label:'None'},
        {value:'1 week',label:'1 week'},
        {value:'2 week',label:'2 week'},
        {value:'3 week',label:'3 week'},
        {value:'1 month',label:'1 month'},
        {value:'2 month',label:'2 month'},
        {value:'3 month',label:'3 month'},
        {value:'1 year',label:'1 year'},
        {value:'2 year',label:'2 year'},
        {value:'Other',label:'Other'}]" ></sfield>


<sfield label="Plus/Minus" model="money.LoanInterest.PlusMinus"
        lookup-values="[{value:'MINUS',label:'Minus'},{value:'PLUS',label:'Plus'}]" ></sfield>

<ifield label="Margin or fixed rate (e.g. 1.25)" update-fn="composeLoanInterestRate" model="money.LoanInterest.Rate" ></ifield> -->


<ifield label="Reversal transaction reference number" model="money.ReversalTrnRefNumber" ></ifield>
<ifield label="Reversal sequence" model="money.ReversalTrnSeqNumber" ></ifield>
<ifield label="BOPDIR transaction reference" model="money.BOPDIRTrnReference" ></ifield>
<ifield label="BOPDIR AD code" model="money.BOPDIRADCode" ></ifield>

<sfield label="Card charge back" model="money.CardChargeBack" lookup="yesNo" ></sfield>
<sfield label="Card indicator" model="money.CardIndicator" lookup="cardTypes" ></sfield>

<ifield label="Electronic commerce indicator" model="money.ElectronicCommerceIndicator" ></ifield>

<ifield label="POS entry mode" model="money.POSEntryMode" ></ifield>

<sfield label="Card fraudulent transaction indicator"
        model="money.CardFraudulentTransactionIndicator" lookup="yesNo" ></sfield>

<mfield label="Card holder purchases in {{LocalValue}}"
        model="money['ForeignCardHoldersPurchases'+map('LocalValue')]"
        currency-model="{val:map('LocalCurrency')}" ></mfield>
<mfield label="Card holder withdrawals in {{LocalValue}}"
        model="money['ForeignCardHoldersCashWithdrawals'+map('LocalValue')]"
        currency-model="{val:map('LocalCurrency')}" ></mfield>

<!-- <rfield label="Is this transaction part of an allowance?"  
optional="long"
lookup-values="[{value:'FIA',label:'Yes - This transaction forms part of my foreign investment allowance (FIA - Tax Clearance Certificate will be required).'},
{value:'SDA',label:'Yes - This transaction forms part of a Single Discretionary Allowance (SDA under 1 million per year).'},
{value:'N', label: 'No - This transaction does not fall under any allowance.'}]"
model="money.allowance" update-fn="updateAllowance" ></rfield>        -->
<!-- 
<sfield label="Is this part of your Foreign Investment Allowance (FIA)?" 
        optional="long"
        lookup-values="[{value:'Y',label:'Yes - You will require a Tax Clearance Certificate Number'},{value:'N',label:'No - This amount is part of my Discretionary Allowance'}]"
        model="money.TaxClearanceCertificateIndicator" ></sfield> -->

<sfield label="Subject" model="money.AdHocRequirement.Subject" lookup="adhocSubjects"></sfield>
<ifield label="Description" model="money.AdHocRequirement.Description"></ifield>