<div ng-include="config.partialsPath+'monetary/pasteImportExportInstructions.html'"></div>

<p>Please Paste Data Here:</p>
<textarea class="form-control" id="pasteArea" rows=3 cols=80> </textarea>
<button class='btn btn-default' ng-click="processPaste()">Process Pasted Data</button>
<table class="table table-condensed" ng-show="iePaste">
  <thead>
  <tr>
    <td><b>ImportControlNumber</b></td>
    <td><b>TransportDocumentNumber</b></td>
    <td><b>UCR</b></td>
    <!--<td><b>PaymentCurrencyCode</b></td>-->
    <td><b>PaymentValue</b></td>
  </tr>

  </thead>
  <tbody>
  <tr ng-repeat="ie in iePaste">

    <td>{{ie.ImportControlNumber}}</td>
    <td>{{ie.TransportDocumentNumber}}</td>
    <td>{{ie.UCR}}</td>
    <!--<td>{{ie.PaymentCurrencyCode}}</td>-->
    <td>{{ie.PaymentValue}}</td>

  </tr>
  </tbody>
</table>

<hr>
<button class='btn btn-default' ng-click="AddPastedImportExportData(money, iePaste); close();">Add</button>
<button class='btn btn-default' ng-click="close();">Cancel</button>