<div class="row align-top catMain">
  <div class="col-md-8">
    <ccfield current="{money:money}" label="Select reason for incoming payment" aux="Flow==='IN'" update="updateCC">
    </ccfield>
    <span class="errorMsg" ng-if="!customData.msgHide && (
              isSectionInError('Money', 'general', money)
            || isSectionInError('Money', 'importExport', money)
            || isSectionInError('Money', 'thirdparty', money)
            || isSectionInError('Money', 'contact', money)
            || isSectionInError('Money', 'contactStreet', money)
            || isSectionInError('Money', 'contactPostal', money))">
      There are issues with this reason for payment {{money.isAccGrpOpen?'':'(expand for details)'}}
    </span>
  </div>

  <div class="col-md-3">
    <div ng-show="data.MonetaryAmount.length>1" style="position: relative; display: flex;">
      <mfield label="Amount" model="money.ForeignValue" currency-model="data.FlowCurrency"
        ng-class="{errorStyling: errMsgCopyOnly(data.TotalForeignValue.msg)}"
        tooltip-title="'The amount related to the reason for payment'">
      </mfield>
      <mfield label="Amount" model="money[map('LocalValue')]" currency-model="{val:'ZAR'}"
        ng-class="{zarEquivalent: customData.inZAR, errorStyling: errMsgCopyOnly(data.TotalForeignValue.msg)}"
        input-currency="{{ customData.inZAR ? '(in ZAR equivalent)' : undefined }}"
        tooltip-title="'The amount related to the reason for payment'">
      </mfield>
        <span ng-click="removeMonetaryAmount(money, null, 'modalBopFormConfirmDel');" style="position: absolute; right: 10px;">
          <img class="remove-cc-icon" src="assets/icons/icon-delete.svg">
        </span>
        <!-- <span>
            <img class="expand-cc-icon" src="assets/icons/icon-expand.svg">
        </span> -->
    </div>
  </div>
  <div class="col-md-1">
    <!-- <div ng-show="data.MonetaryAmount.length>1">
      <span ng-click="removeMonetaryAmount(money, null, 'modalBopFormConfirmDel');">
          <img class="remove-cc-icon" src="assets/icons/icon-delete.svg">
      </span>
      <span>
          <img class="expand-cc-icon" src="assets/icons/icon-expand.svg">
      </span>
    </div> -->


    
    <!-- <i class="material-icons"
      ng-class="{'keyboard_arrow_down': !money.isAccGrpOpen, 'keyboard_arrow_right': money.isAccGrpOpen}">more_vert</i> -->

  </div>
</div>

<div class="row" ng-show="current.money.CategoryCode.val == '106'">
  <span class="ccn-lu-106-message">
    If Category 106 is selected, Import Export details are required - unless a CCN number can be populated below which is flagged in respect of a Letter of Undertaking.
  </span>
</div>



<!-- <button class="btn btn-default" ng-click="showTabDialog($event)">Provide Additional Info</button> -->