<fieldset  ng-show="!money.ThirdParty.hide && getThirdPartyType(money) != 'None'">

  <span ng-show="!money.ThirdParty.hide && getThirdPartyType(money) != 'None'">
    <div class="col-md-6">
      <ifield label="Customs Client Number (Importer's code)" model="money.ThirdParty.CustomsClientNumber" afterupdate="updateCCN"></ifield>    
     
    </div>
    <div class="col-md-6">
      <ifield label="Tax Number" model="money.ThirdParty.TaxNumber"></ifield>
      <ifield label="VAT Number" model="money.ThirdParty.VATNumber"></ifield>
    </div>
  </span>

  <span ng-show="!money.ThirdParty.hide && getThirdPartyType(money) == 'Entity'">
    <div class="col-md-6">
      <ifield label="Legal Name" model="money.ThirdParty.Entity.Name"></ifield>
    </div>
    <div class="col-md-6">
      <ifield label="Registration Number" model="money.ThirdParty.Entity.RegistrationNumber"></ifield>
    </div>
  </span>

  <span ng-show="!money.ThirdParty.hide && getThirdPartyType(money) == 'Individual'">

    <div class="col-md-6">
      <ifield label="Name" model="money.ThirdParty.Individual.Name"></ifield>
    </div>
    <div class="col-md-6">
      <ifield label="Surname" model="money.ThirdParty.Individual.Surname"></ifield>
    </div>
    <div class="col-md-12">
      <rfield label="Gender" model="money.ThirdParty.Individual.Gender" lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"></rfield>
    </div>
      <!-- <sfield label="Gender" model="money.ThirdParty.Individual.Gender" lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"></sfield> -->
    <div class="col-md-6">
      <span ng-init="dobToday = $root.util.date.addYear(-18)">
        <datefield label="Date of birth" model="money.ThirdParty.Individual.DateOfBirth" mode="year" dt="dobToday"></datefield>
      </span>
    
      <ifield label="Temporary resident permit number" model="money.ThirdParty.Individual.TempResPermitNumber"></ifield>
      
      <ifield label="Passport number" model="money.ThirdParty.Individual.PassportNumber"></ifield>
      <datefield label="Passport expiry date" model="money.ThirdParty.Individual.PassportExpiryDate"></datefield>
    </div>
    <div class="col-md-6">
      <ifield label="Identity number" model="money.ThirdParty.Individual.IDNumber"></ifield>
      <datefield label="Temporary resident permit expiry" model="money.ThirdParty.Individual.TempResExpiryDate"></datefield>
      <lfield label="Passport country" model="money.ThirdParty.Individual.PassportCountry" lookup="countries"
        label-prop="name" value-prop="code" squash-numerics="true"></lfield>
    </div>
  </span>
</fieldset>


