<span ng-show="!money.ThirdParty.hide && getThirdPartyType(money)!='None'">
  <fieldset>
    <legend>Contact Details</legend>
    <div class="col-md-6">
      <ifield label="Name" model="money.ThirdParty.ContactDetails.ContactName"></ifield>
      <ifield label="Telephone" model="money.ThirdParty.ContactDetails.Telephone"></ifield>
      <ifield label="Fax" model="money.ThirdParty.ContactDetails.Fax"></ifield>
    </div>
    <div class="col-md-6">
      <ifield label="Surname" model="money.ThirdParty.ContactDetails.ContactSurname"></ifield>
      <ifield label="Email" model="money.ThirdParty.ContactDetails.Email"></ifield>
    </div>
  </fieldset>

  <fieldset>
    <legend>Street Address</legend>
    <div class="col-md-6">
      <ifield label="Address Line 1" model="money.ThirdParty.StreetAddress.AddressLine1" update-fn="postalSwitchCheck ? copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress): ''"></ifield>
      <ifield label="Suburb" model="money.ThirdParty.StreetAddress.Suburb" update-fn="postalSwitchCheck ? copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress): ''"></ifield>
      <sfield label="Province" model="money.ThirdParty.StreetAddress.Province" lookup="provinces" update-fn="postalSwitchCheck ? copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress): ''"></sfield>
    </div>
    <div class="col-md-6">
      <ifield label="Address Line 2" model="money.ThirdParty.StreetAddress.AddressLine2" update-fn="postalSwitchCheck ? copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress): ''"></ifield>
      <ifield label="City" model="money.ThirdParty.StreetAddress.City" update-fn="postalSwitchCheck ? copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress):''"></ifield>
      <ifield label="Postal Code" model="money.ThirdParty.StreetAddress.PostalCode" update-fn="postalSwitchCheck ? copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress): ''"></ifield>
    </div>

  </fieldset>
  <fieldset>
    <legend>Postal Address</legend>
    <!-- <input class="form-control  copy-street-address"
    ng-click="copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress)"
    type="button" value="Postal Address Same As Street Address"> -->
    <div class="col-md-12 flexContainer">
      <label class="switch">
        <!-- <input id="postalAddressSlider" type="checkbox" ng-click="copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress)"> -->
        <input id="postalAddressSlider" type="checkbox" ng-model="postalSwitchCheck" ng-change="updatePostalValues(money.SequenceNumber.val, check)">
        <span class="slider round"></span>
      </label>
      <label class="postalAddressSlider">
        Postal Address Same As Street Address
      </label>
    </div>
    <div ng-hide="postalSwitchCheck">
      <div class="col-md-6">
        <ifield label="Address Line 1" model="money.ThirdParty.PostalAddress.AddressLine1"></ifield>
        <ifield label="Suburb" model="money.ThirdParty.PostalAddress.Suburb"></ifield>
        <sfield label="Province" model="money.ThirdParty.PostalAddress.Province" lookup="provinces"></sfield>
      </div>
      <div class="col-md-6">
        <ifield label="Address Line 2" model="money.ThirdParty.PostalAddress.AddressLine2"></ifield>
        <ifield label="City" model="money.ThirdParty.PostalAddress.City"></ifield>
        <ifield label="Postal Code" model="money.ThirdParty.PostalAddress.PostalCode"></ifield>
      </div>
    </div>
  </fieldset>
</span>