
<table class="table-striped-custom  table table-bordered" id="Editable_Table_Grid">
  <thead class="monetary-summary-table-heading">
  <tr>
    <th width="40px">Seq</th>
    <th>Category code</th>
    <th>Description</th>
    <th>Foreign value</th>
    <th>Foreign currency</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="(ind,money) in data.MonetaryAmount"
      ng-click="openDetail('Money','general',money);"
      ng-class="{'': current.moneyInd!=ind, 'selected-row': current.moneyInd==ind}">
    <td width="40px">
      {{ind + 1}}
    </td>
    <td>
      <dfield value="money.CategoryCode"/>
      {{money.CategorySubCode.val?'/ '+money.CategorySubCode.val:""}}

    </td>
    <td class="category-description" uib-popover="{{money.Description.val}}" popover-trigger="mouseenter" popover-placement="top"
        popover-append-to-body="ture">
      {{money.Description.val}}
    </td>
    <td>
      <dfield value="money.ForeignValue"></dfield>
    </td>
    <td>
      <dfield value="data.FlowCurrency"></dfield>
    </td>
  </tr>
  </tbody>
</table>



