<uib-tabset active="tab" >
  <uib-tab heading="Transaction details" index="0" ng-click="openDetail('Transaction')">
    <!--<div ng-click="openErrors('Transaction')">Errors</div>-->
    <div id="transactionTab" ng-include="config.partialsPath+getDetailTemplate('Transaction')"></div>
  </uib-tab>


  <uib-tab heading="Account holder details" index="1" ng-click="openDetail('Resident','general')">
    <div id="accountDetailsTab">
      <fieldset>
        <legend>Account details</legend>
        <div ng-include="config.partialsPath+'resident/header.html'"></div>
        <div ng-show="resType!='Exception'">
          <fieldset>
            <legend>Account details</legend>
            <div ng-include="config.partialsPath+getDetailTemplate('Resident','account')"></div>
            <div ng-include="config.partialsPath+getDetailTemplate('Resident','general')"></div>
          </fieldset>
          <div ng-include="config.partialsPath+getDetailTemplate('Resident','contact')"></div>
        </div>
        <div ng-show="resType=='Exception'">
          <fieldset>
            <legend>Account details</legend>
            <div ng-include="config.partialsPath+getDetailTemplate('Resident','general')"></div>
          </fieldset>
        </div>
      </fieldset>
    </div>
  </uib-tab>


  <uib-tab heading="{{data.NonResident.label}}" index="2"
           ng-click="openDetail('NonResident','general')">
    <!--<div ng-click="openErrors('NonResident')">Errors</div>-->
    <div id="beneficiaryDetailsTab">
      <fieldset>
        <legend>{{data.NonResidentTitle.val}}</legend>
        <div ng-include="config.partialsPath+'nonResident/header.html'"></div>
        <div ng-show="nonResType!='Exception'">
          <fieldset>
            <legend>Account details</legend>
            <div class="row">
              <div ng-include="config.partialsPath+getDetailTemplate('NonResident','general')"></div>

              <div ng-include="config.partialsPath+getDetailTemplate('NonResident','account')"></div>

            </div>
          </fieldset>
          <div ng-include="config.partialsPath+getDetailTemplate('NonResident','contact')"></div>
        </div>
        <div ng-show="nonResType=='Exception'">
          <fieldset>
            <legend>Account details</legend>
            <div ng-include="config.partialsPath+getDetailTemplate('NonResident','general')"></div>
          </fieldset>
        </div>
      </fieldset>
    </div>

  </uib-tab>

  <uib-tab heading="Monetary details" index="3"
           ng-click="openDetail('Money','general',data.MonetaryAmount[current.moneyInd])">


    <div id="monetaryDetailsTab">

      <fieldset>
        <legend>Total {{moneyTotal(data)}} Allocated <span style="color: #cc0000;">{{moneytOutstanding(data,'OVER! ', '+ Remaining:')}}</span></legend>

        <div class="row">
          <div class="col-sm-4">
            <afield label="Account holder Customs Client Number" value="data.Resident.Entity.CustomsClientNumber"></afield>
            <afield label="Account holder Customs Client Number" value="data.Resident.Individual.CustomsClientNumber"></afield>
          </div>
        </div>
      </fieldset>

      <div ng-include="config.partialsPath+'monetary_summary.html'"></div>

      <div ng-repeat="(ind, money) in data.MonetaryAmount" ng-show="current.moneyInd==ind">
        <fieldset>
          <legend>Monetary details Seq #{{ind + 1}}</legend>

          <div ng-include="config.partialsPath+getDetailTemplate('Money','general')"></div>

          <div ng-include="config.partialsPath+config.importexport_summary" ng-hide="money.ImportExport.hide"></div>
          <fieldset ng-hide="money.ThirdParty.hide">
            <legend>Third party</legend>

            <div ng-include="config.partialsPath+getDetailTemplate('Money','thirdparty')"></div>
            <div ng-include="config.partialsPath+getDetailTemplate('Money','contact')"></div>
          </fieldset>
        </fieldset>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
