<div>
  <span class="gridContainer">
    <rfield
      label="{{Flow==='IN' ? 'Is the source of your funds from your SA foreign currency account (FCA/CFC)?' : 'Foreign currency account?'}}"
      model="data.IsFCA"
      lookup-values="[{value:'Y',label:'Yes'},{value:'N',label:'No'}]"
      is-show-override="!(data.FCA.error || Flow==='IN')"
      layout="{{Flow==='IN' ? 'short' : null}}"
      ng-show="!data.IsFCA.hide && (data.FCA.error || Flow==='IN') || (!(data.FCA.error || Flow==='IN') && isModelInError(data.IsFCA))"
    ></rfield>

    <ifield
      label="{{Flow==='IN' ? 'FCA/CFC number to be debited' : 'Foreign currency account number'}}"
      model="data.FCA"
      ng-show="!data.FCA.hide && !isShowOverride || isShowOverride && isModelInError(data.FCA)"
    ></ifield>

    <lfield
      label="{{Flow==='IN' ? 'Source' : 'Destination'}} of funds"
      model="data.LocationCountry"
      lookup="countries"
      label-prop="name"
      value-prop="code"
      squash-numerics="true"
      is-show-override="false"
      tooltip-title="Flow==='IN' ? 'From which country did you receive these funds?' : ''"
      ng-show="!data.LocationCountry.hide && !false || false && isModelInError(data.LocationCountry)"
    ></lfield>

    <sfield
      label="Account holder Status"
      model="data.AccountHolderStatus"
      lookup-values="['South African Resident','Non Resident','Foreign Temporary Resident']"
      is-show-override="true"
      ng-show="!data.AccountHolderStatus.hide && !true || true && isModelInError(data.AccountHolderStatus)"
    ></sfield>

    <!--Transaction-->
    <datefield
      label="date"
      model="data.ValueDate"
      is-show-override="true"
      ng-show="!data.ValueDate.hide && !true || true && isModelInErrormodel(data.ValueDate)"
    ></datefield>

    <lfield
      label="Originating country"
      model="data.OriginatingCountry"
      lookup="countries"
      label-prop="name"
      value-prop="code"
      squash-numerics="true"
      is-show-override="true"
      ng-show="!data.OriginatingCountry.hide && !true || true && isModelInError(data.OriginatingCountry)"
    ></lfield>

    <ifield
      label="Originating bank"
      model="data.OriginatingBank"
      is-show-override="true"
      ng-show="!data.OriginatingBank.hide && !true || true && isModelInError(data.OriginatingBank)"
    ></ifield>

   <sfield label="Branch code" model="data.BranchCode"
    lookup="branches" label-prop="code" value-prop="code"
    update-fn="updateBranches"></sfield>
    
    <sfield label="Branch name" model="data.BranchName"
    lookup="branches" label-prop="name" value-prop="name"
    update-fn="updateBranches"></sfield>

    <lfield
      label="Receiving country"
      model="data.ReceivingCountry"
      lookup="countries"
      label-prop="name"
      value-prop="code"
      squash-numerics="true"
      is-show-override="true"
      ng-show="!data.ReceivingCountry.hide && !true || true && isModelInError(data.ReceivingCountry)"
    ></lfield>

    <ifield
      label="Receiving bank"
      model="data.ReceivingBank"
      is-show-override="true"
      ng-show="!data.ReceivingBank.hide && !true || true && isModelInError(data.ReceivingBank)"
    ></ifield>

    <ifield
      label="Corresponding bank"
      model="data.CorrespondentBank"
      is-show-override="true"
      ng-show="!data.CorrespondentBank.hide && !true || true && isModelInError(data.CorrespondentBank)"
    ></ifield>

    <lfield
      label="Corresponding country"
      model="data.CorrespondentCountry"
      lookup="countries"
      label-prop="name"
      value-prop="code"
      squash-numerics="true"
      is-show-override="true"
      ng-show="!data.CorrespondentCountry.hide && !true || true && isModelInError(data.CorrespondentCountry)"
    ></lfield>

    <ifield
      label="Hub code"
      model="data.HubCode"
      is-show-override="true"
      ng-show="!data.HubCode.hide && !true || true && isModelInError(data.HubCode)"
    ></ifield>
    <ifield
      label="Hub name"
      model="data.HubName"
      is-show-override="true"
      ng-show="!data.HubName.hide && !true || true && isModelInError(data.HubName)"
    ></ifield>

    <ifield
      label="Account holder account number"
      model="Resident.AccountNumber"
      is-show-override="true"
      ng-show="!Resident.AccountNumber.hide && !true || true && isModelInError(Resident.AccountNumber)"
    ></ifield>
  </span>

  <div class="form-horizontal paddingTop_25">
    <fieldset>
      <legend>Client Information</legend>
    </fieldset>
  </div>
  <span ng-if="getResidentType() == 'Entity'" class="gridContainer">
    <ifield
      label="Account holder legal entity name"
      model="data.Resident.Entity.EntityName"
      is-show-override="true"
      ng-show="!data.Resident.Entity.EntityName.hide && !true || true && isModelInError(data.Resident.Entity.EntityName)"
    ></ifield>

    <lfield
      label="Account holder institutional sector"
      model="data.Resident.Entity.InstitutionalSector"
      lookup="institutionalSectors"
      label-prop="description"
      value-prop="code"
      squash-numerics="false"
      is-show-override="true"
      ng-show="!data.Resident.Entity.InstitutionalSector.hide && !true || true && isModelInError(data.Resident.Entity.InstitutionalSector)"
    ></lfield>

    <ifield
      label="Account holder trading name"
      model="data.Resident.Entity.TradingName"
      is-show-override="true"
      ng-show="!data.Resident.Entity.TradingName.hide && !true || true && isModelInError(data.Resident.Entity.TradingName)"
    ></ifield>

    <lfield
      label="Account holder industrial classification"
      model="data.Resident.Entity.IndustrialClassification"
      lookup="industrialClassifications"
      label-prop="description"
      value-prop="code"
      squash-numerics="false"
      is-show-override="true"
      ng-show="!data.Resident.Entity.IndustrialClassification.hide && !true || true && isModelInError(data.Resident.Entity.IndustrialClassification)"
    ></lfield>

    <ifield
      label="Account holder registration number"
      model="data.Resident.Entity.RegistrationNumber"
      is-show-override="true"
      ng-show="!data.Resident.Entity.RegistrationNumber.hide && !true || true && isModelInError(data.Resident.Entity.RegistrationNumber)"
    ></ifield>

    <ifield
      label="Account holder tax number"
      model="data.Resident.Entity.TaxNumber"
      ng-show="!data.Resident.Entity.TaxNumber.hide && !isShowOverride || isShowOverride && isModelInError(data.Resident.Entity.TaxNumber)"
    ></ifield>

    <ifield
      label="Account holder VAT number"
      model="data.Resident.Entity.VATNumber"
      ng-show="!data.Resident.Entity.VATNumber.hide && !isShowOverride || isShowOverride && isModelInError(data.Resident.Entity.VATNumber)"
    ></ifield>

    <ifield
      label="Account holder customs client number"
      model="data.Resident.Entity.CustomsClientNumber"
      is-show-override="true"
      ng-show="!data.Resident.Entity.CustomsClientNumber.hide && !true || true && isModelInError(data.Resident.Entity.CustomsClientNumber)"
    ></ifield>

    <sfield
      label="Account holder tax clearance certificate?"
      lookup="yesNo"
      model="data.Resident.Entity.TaxClearanceCertificateIndicator"
      is-show-override="true"
      ng-show="!data.Resident.Entity.TaxClearanceCertificateIndicator.hide && !true || true && isModelInError(data.Resident.Entity.TaxClearanceCertificateIndicator)"
    ></sfield>

    <ifield
      label="Account holder Tax Clearance Certificate number"
      model="data.Resident.Entity.TaxClearanceCertificateReference"
      is-show-override="true"
      placeholder="e.g. 0700/3/2016/A000033069"
      max-len="30"
      ng-show="!data.Resident.Entity.TaxClearanceCertificateReference.hide && !true || true && isModelInError(data.Resident.Entity.TaxClearanceCertificateReference)"
    ></ifield>

    <lfield
      label="Account holder street address country"
      model="Resident.StreetAddress.Country"
      lookup="countries"
      label-prop="name"
      value-prop="code"
      squash-numerics="true"
      is-show-override="true"
      ng-show="!Resident.StreetAddress.Country.hide && !true || true && isModelInError(Resident.StreetAddress.Country)"
    ></lfield>

    <ifield
      label="Account holder street address 1"
      model="data.Resident.Entity.StreetAddress.AddressLine1"
      is-show-override="true"
      ng-show="!data.Resident.Entity.StreetAddress.AddressLine1.hide && !true || true && isModelInError(data.Resident.Entity.StreetAddress.AddressLine1)"
    ></ifield>
    <ifield
      label="Account holder street address 2"
      model="data.Resident.Entity.StreetAddress.AddressLine2"
      is-show-override="true"
      ng-show="!data.Resident.Entity.StreetAddress.AddressLine2.hide && !true || true && isModelInError(data.Resident.Entity.StreetAddress.AddressLine2)"
    ></ifield>

    <ifield
      label="Account holder street address suburb"
      model="data.Resident.Entity.StreetAddress.Suburb"
      is-show-override="customData.snapShot.Resident.Entity.StreetAddress.Suburb"
      ng-show="!data.Resident.Entity.StreetAddress.Suburb.hide && !customData.snapShot.Resident.Entity.StreetAddress.Suburb || customData.snapShot.Resident.Entity.StreetAddress.Suburb && isModelInError(data.Resident.Entity.StreetAddress.Suburb)"
    ></ifield>

    <ifield
      label="Account holder street address city"
      model="data.Resident.Entity.StreetAddress.City"
      is-show-override="true"
      ng-show="!data.Resident.Entity.StreetAddress.City.hide && !true || true && isModelInError(data.Resident.Entity.StreetAddress.City)"
    ></ifield>

    <ifield
      label="Account holder street address postal code"
      model="data.Resident.Entity.StreetAddress.PostalCode"
      is-show-override="customData.snapShot.Resident.Entity.StreetAddress.PostalCode"
      ng-show="!data.Resident.Entity.StreetAddress.PostalCode.hide && !customData.snapShot.Resident.Entity.StreetAddress.PostalCode || customData.snapShot.Resident.Entity.StreetAddress.PostalCode && isModelInError(data.Resident.Entity.StreetAddress.PostalCode)"
    ></ifield>

    <sfield
      label="Account holder street address province"
      model="data.Resident.Entity.StreetAddress.Province"
      lookup="provinces"
      label-prop="true"
      is-show-override="customData.snapShot.Resident.Entity.StreetAddress.Province"
      ng-show="!data.Resident.Entity.StreetAddress.Province.hide && !customData.snapShot.Resident.Entity.StreetAddress.Province || customData.snapShot.Resident.Entity.StreetAddress.Province && isModelInError(data.Resident.Entity.StreetAddress.Province)"
    ></sfield>

    <ifield
      label="Account holder postal address 1"
      model="data.Resident.Entity.PostalAddress.AddressLine1"
      is-show-override="true"
      ng-show="!data.Resident.Entity.PostalAddress.AddressLine1.hide && !true || true && isModelInError(data.Resident.Entity.PostalAddress.AddressLine1)"
    ></ifield>
    <ifield
      label="Account holder postal address 2"
      model="data.Resident.Entity.PostalAddress.AddressLine2"
      is-show-override="true"
      ng-show="!data.Resident.Entity.PostalAddress.AddressLine2.hide && !true || true && isModelInError(data.Resident.Entity.PostalAddress.AddressLine2)"
    ></ifield>
    <ifield
      label="Account holder postal address suburb"
      model="data.Resident.Entity.PostalAddress.Suburb"
      is-show-override="true"
      ng-show="!data.Resident.Entity.PostalAddress.Suburb.hide && !true || true && isModelInError(data.Resident.Entity.PostalAddress.Suburb)"
    ></ifield>
    <ifield
      label="Account holder postal address city"
      model="data.Resident.Entity.PostalAddress.City"
      is-show-override="true"
      ng-show="!data.Resident.Entity.PostalAddress.City.hide && !true || true && isModelInError(data.Resident.Entity.PostalAddress.City)"
    ></ifield>
    <ifield
      label="Account holder postal address postal code"
      model="data.Resident.Entity.PostalAddress.PostalCode"
      is-show-override="true"
      ng-show="!data.Resident.Entity.PostalAddress.PostalCode.hide && !true || true && isModelInError(data.Resident.Entity.PostalAddress.PostalCode)"
    ></ifield>

    <sfield
      label="Account holder postal address province"
      model="data.Resident.Entity.PostalAddress.Province"
      lookup="provinces"
      label-prop="true"
      is-show-override="true"
      ng-show="!data.Resident.Entity.PostalAddress.Province.hide && !true || true && isModelInError(data.Resident.Entity.PostalAddress.Province)"
    ></sfield>

    <ifield
      label="Account holder contact first name"
      model="data.Resident.Entity.ContactDetails.ContactName"
      is-show-override="true"
      ng-show="!data.Resident.Entity.ContactDetails.ContactName.hide && !true || true && isModelInError(data.Resident.Entity.ContactDetails.ContactName)"
    ></ifield>
    <ifield
      label="Account holder contact surname"
      model="Resident.ContactDetails.ContactSurname"
      is-show-override="true"
      ng-show="!Resident.ContactDetails.ContactSurname.hide && !true || true && isModelInError(Resident.ContactDetails.ContactSurname)"
    ></ifield>
    <ifield
      label="Account holder contact email"
      model="Resident.ContactDetails.Email"
      is-show-override="true"
      ng-show="!Resident.ContactDetails.Email.hide && !true || true && isModelInError(Resident.ContactDetails.Email)"
    ></ifield>
    <ifield
      label="Account holder contact telephone"
      model="Resident.ContactDetails.Telephone"
      is-show-override="true"
      ng-show="!Resident.ContactDetails.Telephone.hide && !true || true && isModelInError(Resident.ContactDetails.Telephone)"
    ></ifield>
    <ifield
      label="Account holder contact fax"
      model="Resident.ContactDetails.Fax"
      is-show-override="true"
      ng-show="!Resident.ContactDetails.Fax.hide && !true || true && isModelInError(Resident.ContactDetails.Fax)"
    ></ifield>
  </span>
  
  <span ng-if="getResidentType() == 'Individual'" class="gridContainer">
    <ifield
      label="Account holder name"
      model="data.Resident.Individual.Name"
      is-show-override="true"
      ng-show="!data.Resident.Individual.Name.hide && !true || true && isModelInError(data.Resident.Individual.Name)"
    ></ifield>
    <ifield
      label="Account holder surname"
      model="data.Resident.Individual.Surname"
      is-show-override="true"
      ng-show="!data.Resident.Individual.Surname.hide && !true || true && isModelInError(data.Resident.Individual.Surname)"
    ></ifield>

    <ifield
      label="Account holder identity number"
      model="data.Resident.Individual.IDNumber"
      is-show-override="true"
      ng-show="!data.Resident.Individual.IDNumber.hide && !true || true && isModelInError(data.Resident.Individual.IDNumber)"
    ></ifield>

    <sfield
      label="Account holder gender"
      model="data.Resident.Individual.Gender"
      lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"
      is-show-override="true"
      ng-show="!data.Resident.Individual.Gender.hide && !true || true && isModelInError(data.Resident.Individual.Gender)"
    ></sfield>

    <span ng-init="dobToday = util.date.addYear(-18)" ng-show="!data.Resident.Individual.DateOfBirth.hide && !true || true && isModelInError(data.Resident.Individual.DateOfBirth)">
      <datefield
        label="Account holder date of Birth"
        model="data.Resident.Individual.DateOfBirth"
        mode="year"
        dt="dobToday"
        is-show-override="true"
        ng-show="!data.Resident.Individual.DateOfBirth.hide && !true || true && isModelInError(data.Resident.Individual.DateOfBirth)"
      ></datefield>
    </span>

    <ifield
      label="Account holder tax number"
      model="data.Resident.Individual.TaxNumber"
      is-show-override="true"
      ng-show="!data.Resident.Individual.TaxNumber.hide && !true || true && isModelInError(data.Resident.Individual.TaxNumber)"
    ></ifield>
    <ifield
      label="Account holder customs client number"
      model="data.Resident.Individual.CustomsClientNumber"
      is-show-override="true"
      ng-show="!data.Resident.Individual.CustomsClientNumber.hide && !true || true && isModelInError(data.Resident.Individual.CustomsClientNumber)"
    ></ifield>

    <sfield
      label="Account holder Tax clearance certificate?"
      lookup="yesNo"
      model="data.Resident.Individual.TaxClearanceCertificateIndicator"
      is-show-override="true"
      ng-show="!data.Resident.Individual.TaxClearanceCertificateIndicator.hide && !true || true && isModelInError(data.Resident.Individual.TaxClearanceCertificateIndicator)"
    ></sfield>

    <ifield
      label="Account holder Tax Clearance Certificate number"
      model="data.Resident.Individual.TaxClearanceCertificateReference"
      placeholder="e.g. 0700/3/2016/A000033069"
      max-len="30"
      is-show-override="true"
      ng-show="!data.Resident.Individual.TaxClearanceCertificateReference.hide && !true || true && isModelInError(data.Resident.Individual.TaxClearanceCertificateReference)"
    ></ifield>

    <ifield
      label="Account holder beneficiary ID1"
      model="data.Resident.Individual.BeneficiaryID1"
      is-show-override="true"
      ng-show="!data.Resident.Individual.BeneficiaryID1.hide && !true || true && isModelInError(data.Resident.Individual.BeneficiaryID1)"
    ></ifield>
    <ifield
      label="Account holder beneficiary ID2"
      model="data.Resident.Individual.BeneficiaryID2"
      is-show-override="true"
      ng-show="!data.Resident.Individual.BeneficiaryID2.hide && !true || true && isModelInError(data.Resident.Individual.BeneficiaryID2)"
    ></ifield>
    <ifield
      label="Account holder beneficiary ID3"
      model="data.Resident.Individual.BeneficiaryID3"
      is-show-override="true"
      ng-show="!data.Resident.Individual.BeneficiaryID3.hide && !true || true && isModelInError(data.Resident.Individual.BeneficiaryID3)"
    ></ifield>
    <ifield
      label="Account holder beneficiary ID4"
      model="data.Resident.Individual.BeneficiaryID4"
      is-show-override="true"
      ng-show="!data.Resident.Individual.BeneficiaryID4.hide && !true || true && isModelInError(data.Resident.Individual.BeneficiaryID4)"
    ></ifield>
    <ifield
      label="Account holder VAT number"
      model="data.Resident.Individual.VATNumber"
      is-show-override="true"
      ng-show="!data.Resident.Individual.VATNumber.hide && !true || true && isModelInError(data.Resident.Individual.VATNumber)"
    ></ifield>
    <ifield
      label="Account holder temporary resident permit number"
      model="data.Resident.Individual.TempResPermitNumber"
      is-show-override="true"
      ng-show="!data.Resident.Individual.TempResPermitNumber.hide && !true || true && isModelInError(data.Resident.Individual.TempResPermitNumber)"
    ></ifield>
    <datefield
      label="Account holder temporary resident permit expiry"
      model="data.Resident.Individual.TempResExpiryDate"
      is-show-override="true"
      ng-show="!data.Resident.Individual.TempResExpiryDate.hide && !true || true && isModelInError(data.Resident.Individual.TempResExpiryDate)"
    ></datefield>
    <ifield
      label="Account holder foreign identity number"
      model="data.Resident.Individual.ForeignIDNumber"
      is-show-override="true"
      ng-show="!data.Resident.Individual.ForeignIDNumber.hide && !true || true && isModelInError(data.Resident.Individual.ForeignIDNumber)"
    ></ifield>
    <lfield
      label="Account holder foreign identity country"
      model="data.Resident.Individual.ForeignIDCountry"
      lookup="countries"
      label-prop="name"
      value-prop="code"
      squash-numerics="true"
      is-show-override="true"
      ng-show="!data.Resident.Individual.ForeignIDCountry.hide && !true || true && isModelInError(data.Resident.Individual.ForeignIDCountry)"
    ></lfield>

    <ifield
      label="Account holder passport number"
      model="data.Resident.Individual.PassportNumber"
      ng-show="!data.Resident.Individual.PassportNumber.hide && !isShowOverride || isShowOverride && isModelInError(data.Resident.Individual.PassportNumber)"
    ></ifield>

    <lfield
      label="Account holder passport country"
      model="data.Resident.Individual.PassportCountry"
      lookup="countries"
      label-prop="name"
      value-prop="code"
      squash-numerics="true"
      ng-show="!data.Resident.Individual.PassportCountry.hide && !isShowOverride || isShowOverride && isModelInError(data.Resident.Individual.PassportCountry)"
    ></lfield>

    <datefield
      label="Account holder passport expiry date"
      model="data.Resident.Individual.PassportExpiryDate"
      ng-show="!data.Resident.Individual.PassportExpiryDate.hide && !isShowOverride || isShowOverride && isModelInError(data.Resident.Individual.PassportExpiryDate)"
    ></datefield>

    <lfield
      label="Account holder street address country"
      model="data.Resident.Individual.StreetAddress.Country"
      lookup="countries"
      label-prop="name"
      value-prop="code"
      squash-numerics="true"
      is-show-override="true"
      ng-show="!data.Resident.Individual.StreetAddress.Country.hide && !true || true && isModelInError(data.Resident.Individual.StreetAddress.Country)"
    ></lfield>
  </span>

  <div class="form-horizontal paddingTop_25">
    <fieldset>
      <span ng-if="getFlow() == 'IN'">
        <legend>Remitter</legend>
      </span>
      <span ng-if="getFlow() == 'OUT'">
        <legend ng-if="getFlow() == 'OUT'">Beneficiary</legend>
      </span>
    </fieldset>
  </div>
  <span>
    <span class="gridContainer">
      <span class="EntityTypeContainer">
        <label>Non-Resident Type</label>
        <select
          ng-model="nonResType"
          ng-options="unitType for unitType in unitTypes"
          ng-disabled="true"
          class="form-control select-field ng-pristine ng-valid ng-not-empty ng-touched">
        </select>
      </span>
      <sfield
        label="{{data.NonResidentLabel.val}} status"
        model="data.CounterpartyStatus"
        lookup-values="['South African Resident', 'Non Resident', 'Foreign Temporary Resident']"
        is-show-override="true"
        ng-show="!data.CounterpartyStatus.hide && !true || true && isModelInError(data.CounterpartyStatus)"
      ></sfield>

      <sfield
        label="{{data.NonResidentLabel.val}} account identifier"
        model="NonResident.AccountIdentifier"
        lookup="accountIdentifiersNonResident"
        is-show-override="true"
        ng-show="!NonResident.AccountIdentifier.hide && !true || true && isModelInError(NonResident.AccountIdentifier)"
      ></sfield>

      <ifield
        label="{{data.NonResidentLabel.val}} account number"
        model="NonResident.AccountNumber"
        is-show-override="false"
        ng-show="!NonResident.AccountNumber.hide || true && isModelInError(NonResident.AccountNumber)"
      ></ifield>
      
    </span>
    <span ng-if="nonResType == 'Individual'" class="gridContainer">
      <ifield
        label="{{data.NonResidentLabel.val}} name"
        model="data.NonResident.Individual.Name"
        is-show-override="false"
        ng-show="!data.NonResident.Individual.Name.hide || true && isModelInError(data.NonResident.Individual.Name)"
      ></ifield>
      <ifield
        label="{{data.NonResidentLabel.val}} surname"
        model="data.NonResident.Individual.Surname"
        is-show-override="false"
        ng-show="!data.NonResident.Individual.Surname.hide || true && isModelInError(data.NonResident.Individual.Surname)"
      ></ifield>

      <sfield
        label="{{data.NonResidentLabel.val}} gender"
        model="data.NonResident.Individual.Gender"
        lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"
        is-show-override="true"
        ng-show="!data.NonResident.Individual.Gender.hide && !true || true && isModelInError(data.NonResident.Individual.Gender)"
      ></sfield>
      <ifield
        label="{{data.NonResidentLabel.val}} passport number"
        model="data.NonResident.Individual.PassportNumber"
        is-show-override="true"
        ng-show="!data.NonResident.Individual.PassportNumber.hide && !true || true && isModelInError(data.NonResident.Individual.PassportNumber)"
      ></ifield>
      <lfield
        label="{{data.NonResidentLabel.val}} passport country"
        model="data.NonResident.Individual.PassportCountry"
        lookup="countries"
        label-prop="name"
        value-prop="code"
        squash-numerics="true"
        is-show-override="true"
        ng-show="!data.NonResident.Individual.PassportCountry.hide && !true || true && isModelInError(data.NonResident.Individual.PassportCountry)"
      ></lfield>
      <rfield
        label="{{data.NonResidentLabel.val}} mutual party?"
        model="data.NonResident.Individual.IsMutualParty"
        lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
        is-show-override="true"
        ng-show="!data.NonResident.Individual.IsMutualParty.hide && !true || true && isModelInError(data.NonResident.Individual.IsMutualParty)"
      ></rfield>
    </span>

    <span ng-if="nonResType == 'Entity'" class="gridContainer">
      <ifield
        label="{{data.NonResidentLabel.val}} Legal entity name"
        model="data.NonResident.Entity.EntityName"
        is-show-override="false"
        ng-show="!data.NonResident.Entity.EntityName.hide || true && isModelInError(data.NonResident.Entity.EntityName)"
      ></ifield>
      <ifield
        label="{{data.NonResidentLabel.val}} card merchant name"
        model="data.NonResident.Entity.CardMerchantName"
        is-show-override="true"
        ng-show="!data.NonResident.Entity.CardMerchantName.hide && !true || true && isModelInError(data.NonResident.Entity.CardMerchantName)"
      ></ifield>
      <ifield
        label="{{data.NonResidentLabel.val}} card merchant code"
        model="data.NonResident.Entity.CardMerchantCode"
        is-show-override="true"
        ng-show="!data.NonResident.Entity.CardMerchantCode.hide && !true || true && isModelInError(data.NonResident.Entity.CardMerchantCode)"
      ></ifield>

      <rfield
        label="{{data.NonResidentLabel.val}} is applicant (i.e. mutual party)?"
        model="data.NonResident.Entity.IsMutualParty"
        lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
        is-show-override="true"
        ng-show="!data.NonResident.Entity.IsMutualParty.hide && !true || true && isModelInError(data.NonResident.Entity.IsMutualParty)"
      ></rfield>
    </span>

    <span
      ng-hide="data.NonResident.Individual || data.NonResident.Entity"
      class="gridContainer"
    >
      <sfield
        label="{{data.NonResidentLabel.val}} Exception"
        model="data.NonResident.Exception.ExceptionName"
        lookup="nonResidentExceptions"
        is-show-override="true"
        ng-show="!data.NonResident.Exception.ExceptionName.hide && !true || true && isModelInError(data.NonResident.Exception.ExceptionName)"
      ></sfield>
    </span>
    <span class="gridContainer">
      <ifield
        label="{{data.NonResidentLabel.val}} address line 1"
        model="NonResident.Address.AddressLine1"
        is-show-override="true"
        ng-show="!NonResident.Address.AddressLine1.hide && !true || true && isModelInError(NonResident.Address.AddressLine1)"
      ></ifield>
      <ifield
        label="{{data.NonResidentLabel.val}} address line 2"
        model="NonResident.Address.AddressLine2"
        is-show-override="true"
        ng-show="!NonResident.Address.AddressLine2.hide && !true || true && isModelInError(NonResident.Address.AddressLine2)"
      ></ifield>
      <ifield
        label="{{data.NonResidentLabel.val}} suburb"
        model="NonResident.Address.Suburb"
        is-show-override="true"
        ng-show="!NonResident.Address.Suburb.hide && !true || true && isModelInError(NonResident.Address.Suburb)"
      ></ifield>
      <ifield
        label="{{data.NonResidentLabel.val}} zip code"
        model="NonResident.Address.PostalCode"
        is-show-override="true"
        ng-show="!NonResident.Address.PostalCode.hide && !true || true && isModelInError(NonResident.Address.PostalCode)"
      ></ifield>

      <ifield
        label="{{data.NonResidentLabel.val}} state"
        model="NonResident.Address.State"
        is-show-override="true"
        ng-show="!NonResident.Address.State.hide && !true || true && isModelInError(NonResident.Address.State)"
      ></ifield>

      <ifield
        label="{{data.NonResidentLabel.val}} city"
        model="NonResident.Address.City"
        is-show-override="true"
        ng-show="!NonResident.Address.City.hide && !true || true && isModelInError(NonResident.Address.City)"
      ></ifield>

      <lfield
        label="{{data.NonResidentLabel.val}} country"
        model="NonResident.Address.Country"
        lookup="countries"
        label-prop="name"
        value-prop="code"
        squash-numerics="true"
        is-show-override="true"
        ng-show="!NonResident.Address.Country.hide && !true || true && isModelInError(NonResident.Address.Country)"
      ></lfield>
    </span>
  </span>
</div>
