<div class="modal-header">


  <h3>
    <span ng-if="heading"><b class="text-capitalize">{{heading}}</b></span>
    <span ng-if="header" ng-include="header"></span>
    <!--<button ng-click="closeModal()" class="windowsCloseButton"></button>-->
  </h3>
  <!--<div class="modal-close-button">-->

  <!--</div>-->
</div>
<div class="modal-body" ng-include="body"></div>
<div class="modal-footer">


  <span ng-include="footer"></span>

  <div ng-include="config.partialsPath+'modalFooter.html'"></div>

</div>
