
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <!--<th>Seq</th>-->
      <th>Category</th>
      <th>Amount</th>
      <th>
        Description<a id="AddMoneyButton" ng-click="addMonetaryAmount()"
                      class='btn btn-primary btn-small pull-right'>
          Add monetary amount <i class='glyphicon glyphicon-plus-sign'></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="moneyRow" ng-repeat="money in data.MonetaryAmount" ng-click="openDetail('Money','general',money)">
      <td>
        <dfield value="money.CategoryCode" ></dfield>
        {{money.CategorySubCode.val ? '/ ' + money.CategorySubCode.val : ""}}
      </td>
      <td>
        <dfield value="data.FlowCurrency" ></dfield>
        <dfield value="money.ForeignValue" is-money-field="true" ></dfield>
        <dfield value="money[map('LocalValue')]" is-money-field="true" ></dfield>
      </td>
      <td style="width: 70%; padding: 0; font-size:.75em;">
        <a class='btn btn-small pull-right' ng-click="removeMonetaryAmount(money, null, 'modalBopFormConfirmDel'); $event.stopPropagation();">
          Remove <i class='glyphicon glyphicon-minus-sign'></i>
        </a>
        <table style="width: 80%;"
               class="table table-striped table-hover table-condensed monetaryAmountSummary">
          <tr class="form-group"
              ng-hide="money.Description.hide"
              ng-disabled="money.Description.disable">
            <td class="leftColumn">Description</td>
            <td>{{money.Description.val}}</td>
          </tr>
          <tr class="form-group"
              ng-hide="money.ImportExport.hide"
              ng-disabled="money.ImportExport.disable"
              ng-click="openImportExportSummary(money); $event.stopPropagation();">
            <td>ImportExport</td>
            <td>{{money.ImportExport.val}}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><b>{{moneyTotal(data)}}</b></td>
      <td><b>{{moneyOutstandingTotal(data)}}</b></td>
    </tr>
  </tbody>
</table>



