<div class="row fld form-group"
     ng-hide="(current.money.CategoryCode.hide && !current.money.CategoryCode.val) || (current.money.CategorySubCode.hide && !current.money.CategorySubCode.val)">
  <div>
    <label class="col-md-3 FldLabel">
      <abbr tooltip-placement="bottom"
            title
            tooltip-popup-close-delay='500'
            uib-tooltip="{{aux ? 'You can use the reason or BoP code' : 'BON Balance of payment category/subcategory code'}}"
            tooltip-class="BopTooltip">{{label ? label : 'BOP code'}}</abbr>
    </label>
    <span class="col-md-8" id="">
      <!--{{filteredLoookup.length}}:{{isSelectOnBlur(filteredLoookup)}}-->
      <input class="form-control CHAR_P"
      ng-model="tempModel"
      uib-typeahead="category as (category.code + ': ' + category.description + ' (' + category.section + ', ' + category.subsection + ')') for category in getCategories()| lFieldFilter:'code':$viewValue"
      typeahead-min-length="0"
      typeahead-on-select="handleChange()"
      ng-blur="handleChange()"
      typeahead-focus
      type="text"
      ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
      placeholder="CODE/SUBCODE"
      typeahead-input-formatter="makeCCLabel(tempModel)" 
     >

      <span ng-show="current.money.CategoryCode.busy||current.money.CategorySubCode.busy && !($parent.isReadOnly()||model.disabled)"
            class="bopBusy"></span>
    </span>
  </div>
</div>

<div class="clear"></div>
<div class="row"
     ng-show="!$parent.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error)">
  <label class="col-md-3 FldLabel"></label>
  <p class="col-md-7">
    <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(current.money.CategoryCode.msg.concat(current.money.CategorySubCode.msg))"><b>X</b>{{itm}}<br></span>
  </p>
</div>

<div class="clear"></div>
