<div class="fld form-group" ng-show="!model.hide && !isShowOverride || (isShowOverride && $parent.isModelInError(model)) || alwaysShow">
  <div ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
    <label class="FldLabel col-md-10">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
      <span ng-hide="tooltipTitle">{{label}}</span>
      <abbr ng-show="tooltipTitle" tooltip-placement="bottom" title uib-tooltip="{{tooltipTitle}}" tooltip-popup-close-delay="500"
        tooltip-class="BopTooltip" >{{label}}
      </abbr>
    </label>

    <span class="col-md-3" ng-show="layout=='short'">&nbsp;</span>

    <span class="col-md-11">
      <input class="CHAR_P form-control" ng-model="model.val" ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
        ng-change="update()" ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-warning':''"
        id="{{inputFldId()}}" maxlength="{{maxLen > 0 ? maxLen : 524288}}" type="{{ isType ? isType : 'text'}}" placeholder="{{placeholder}}"/>
    </span>
    <span class="col-md-11">
      <span ng-show="model.busy && !($parent.isReadOnly()||model.disabled)" class="bopBusy"></span>

      <p ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>X</b>{{itm}}<br/>
        </span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>X</b>{{itm}}<br/>
        </span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
        <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>Warning</b>: {{itm}}<br/>
        </span>
      </p>
    </span>

    <span ng-hide="!aux || layout=='short'" class="col-md-5" ng-init="limitChars = 40">
      <span ng-show="aux.length &lt;= (limitChars + 3)">
        {{aux}}
      </span>
      <abbr ng-show="aux.length > limitChars + 3" tooltip-placement=" bottom" title uib-tooltip="{{aux}}" tooltip-popup-close-delay="500" tooltip-class="BopTooltip">
        {{aux.substr(0, limitChars)}}...
      </abbr>
    </span>
  </div>
  <div class="clear"></div>
</div>
