<div
  class="fld form-group" ng-show="!model.hide && !isShowOverride || (isShowOverride && $parent.isModelInError(model)) || alwaysShow">
  <div>
    <div ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
      <label class="col-md-10 FldLabel">
        <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired" ></span>
        <span ng-hide="tooltipTitle">{{label}}</span>
        <abbr ng-show="tooltipTitle" title tooltip-placement="bottom" uib-tooltip="{{tooltipTitle}}" tooltip-popup-close-delay="500"
          tooltip-class="BopTooltip">
          {{label}}
        </abbr>
      </label>

      <span class="col-md-11 has-feedback" ng-class="!$parent.customData.msgHide && (model.error || model.warning) ? 'has-error' : ''">
        <input class="form-control LIST_P nbol-ico" ng-model="model.val" type="text" 
          uib-typeahead="l as ( l.value != l.label ? ('('+l.value+') - '+ l.label) : l.value ) for l in getLookup() | lFieldFilter:'value':$viewValue"
          typeahead-append-to-body="true" typeahead-on-select="updateListField(model.val)" ng-blur="updateListField(model.val)" ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
          typeahead-min-length="1"
          typeahead-focus
          id="{{inputFldId()}}" 
          typeahead-input-formatter="formatLabel(model)">

        <span
          ng-show="model.busy && !($parent.isReadOnly()||model.disabled)"
          class="bopBusy"
        ></span>

        <p
          ng-show="!$parent.customData.msgHide && (model.error && !model.warning)"
        >
          <span class="form-control-feedback icon-cross"></span>
        </p>

        <p
          ng-messages
          ng-show="!$parent.customData.msgHide && (model.error && !model.warning)"
        >
          <span
            class="errorMsg"
            ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"
            ><b>X</b>{{itm}}<br
          /></span>
        </p>
        <p
          ng-messages
          ng-show="!$parent.customData.msgHide && (model.error && model.warning)"
        >
          <span
            class="errorMsg"
            ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"
            ><b>X</b>{{itm}}<br
          /></span>
        </p>
        <p ng-messages ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
          <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
            <b>Warning</b>: {{itm}}<br/>
          </span>
        </p>
      </span>
    </div>
  </div>
  <div class="clear"></div>
</div>
