<div ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
  <div class="fld form-group" ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
    <!--<pre><code>{{model.property}}; isModelInError:{{$parent.isModelInError(model)}}</code></pre>-->
    <label class="col-md-10 FldLabel">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)"
            class="bopRequired"></span>
      {{label}}
    </label>

    <span ng-class="{'col-sm-11 col-xs-11 col-md-11':optional!='long','col-sm-11 col-xs-11 col-md-11 col-lg-11':optional=='long'}">
      <select class="form-control select-field" ng-model="model.val"
              ng-options="option.value as option.label for option in getLookup()" type="text"
              ng-change="update(model.val)"
              ng-disabled="$parent.isReadOnly() || model.disabled"
              id="{{inputFldId()}}"
             >
        <option value="">-- None --</option>
      </select>
 

      <p ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
        <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
      </p>
    </span>
  </div>

  <div class="clear"></div>
</div>