<div class="entity-type-header form-inline">
    <!--Type &nbsp;<select-->
    <!--ng-model="resType"-->
    <!--ng-options="unitType for unitType in unitTypes"-->
    <!--ng-change="updateResType(resType)">-->
    Type: &nbsp;{{resType}}
<!-- </select> -->
</div>