{{importexport.TDNHeading.val}}
<div class="form-horizontal" role="form">
  <fieldset>
    <legend>Transaction details</legend>
  <div class="row">
    <div class="col-sm-4">
      <ifield label="Transaction Reference" model="data.TrnReference"></ifield>
      <sfield label="Qualifier" model="data.ReportingQualifier" lookup="ReportingQualifier" update-fn="updateRQ"></sfield>
        <sfield label="Flow" model="data.Flow" lookup="Flow" update-fn="updateFlow"></sfield>
      <datefield label="Value Date" model="data.ValueDate"></datefield>
      <lfield label="Flow Currency" model="data.FlowCurrency" lookup="currencies" label-prop="name" value-prop="code"></lfield>
      <mfield label="Total Payment Value" model="data.TotalForeignValue" currency-model="data.FlowCurrency"></mfield>
        <ifield label="Total Value" model="data.TotalValue"></ifield>
    </div>
    <div class="col-sm-4">
        <sfield label="Branch code" model="data.BranchCode"
                lookup="branches" label-prop="code" value-prop="code"
                update-fn="updateBranches"></sfield>
        <sfield label="Branch name" model="data.BranchName"
                lookup="branches" label-prop="name" value-prop="name"
                update-fn="updateBranches"></sfield>
        <sfield label="Replacement Transaction" model="data.ReplacementTransaction" lookup="yesNo"></sfield>
        <ifield label="Replacement Original Reference" model="data.ReplacementOriginalReference"></ifield>
    </div>
    <div class="col-sm-4">
        <ifield label="Originating bank" model="data.OriginatingBank"></ifield>
        <lfield label="Originating country" model="data.OriginatingCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
        <ifield label="Corresponding bank" model="data.CorrespondentBank"></ifield>
        <lfield label="Corresponding country" model="data.CorrespondentCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
      <ifield label="Receiving bank" model="data.ReceivingBank"></ifield>
        <lfield label="Receiving country" model="data.ReceivingCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
    </div>
  </div>
  <!-- div class="form-group">
    <label class="col-lg-3 inv_control-label" for="TrnReference">Transaction
      Reference</label>
    <div class="col-lg-7">
      <input id="TrnReference" type="text">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 inv_control-label" for="ReportingQualifier">Reporting
      Qualifier</label>
    <div class="col-lg-7">
      <select id="ReportingQualifier"> {{options
        ReportingQualifier }}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 inv_control-label" for="Flow">Flow</label>
    <div class="col-lg-7">
      <select id="Flow"> {{options Flow }}
      </select>
    </div>
  </div -->







    <!--<ifield label="Total Value" model="data.TotalForeignValue"></ifield>-->
  <!--<div class="form-group">-->
    <!--<label class="col-lg-3 inv_control-label" for="TotalForeignValue">Total-->
      <!--Foreign Value</label>-->
    <!--<div class="col-lg-7">-->
      <!--<input id="TotalForeignValue" type="text">-->
    <!--</div>-->
  <!--</div >-->








  </fieldset>
</div>