<span ng-hide='value.hide || value.error'
      ng-class='{danger: value.danger, success: value.success}'>
    <!--<span ng-hide='isMoneyField'>
        {{value.val}}
    </span>
    <span ng-show='isMoneyField'>
        {{value.val | currency:currencyModel.val+" ":2}}
    </span>-->
</span>

<div class="row fld"
     ng-show="!$parent.customData.msgHide && value.error && !model.hide">

    <label class="col-md-3 FldLabel"></label>
    <span class="col-md-4">
        <p>
            <span class="errorMsg"
                  ng-repeat="itm in $parent.errMsgCopyOnly(value.msg)"><b>X</b>{{itm}}<br /></span>
        </p>
    </span>
</div>