
<div class=" row form-group no-hover">
  <label class="col-md-3 label">
      <abbr tooltip-placement="right"
            title
            tooltip-popup-close-delay='500'
            uib-tooltip="{{aux ? 'You can use the reason or BoP code' : 'SARB Balance of payment category/subcategory code'}}"
            tooltip-class="invBopTooltip">{{label ? label : 'BOP code'}}</abbr>
  </label>



  <div class="col-md-4 has-feedback"
       ng-class="!$parent.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error) ? 'has-error':''">

    <input class="CHAR_P category-code form-control has-error {{inputFldId()}}"
           type="text"
           ng-model="tempModel"
           ng-blur="handleChange()"
           typeahead-on-select="handleChange()"
           uib-typeahead="category as (category.code + ': ' + category.description + ' (' + category.section + ', ' + category.subsection + ')') for category in getCategories()| lFieldFilter:'code':$viewValue"
           typeahead-focus-first="true"
           typeahead-min-length="0"
           typeahead-append-to-body="false"
           typeahead-editable="false"
           typeahead-focus
           typeahead-select-on-exact="true"
           typeahead-select-on-blur="false"
           ng-disabled="$parent.isReadOnly() || current.money.CategoryCode.disabled || disableField"
           placeholder="CODE/SUBCODE"
           ng-class="!$root.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error) ? 'has-error':''"
           typeahead-input-formatter="makeCCLabel(tempModel)"  />

  </div>

</div>

<div class="row"
    ng-show="!$parent.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error)">
    <label class="col-md-3 FldLabel"></label>
    <p ng-messages class="col-md-7">
    <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(current.money.CategoryCode.msg.concat(current.money.CategorySubCode.msg))"><b>X</b>{{itm}}<br /></span>
    </p>
</div>

<div class="clear"></div>

