<div class="row fld form-group"
     ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">


  <div ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
    <label class="label "
           ng-class="{
           'col-md-3':!layout,
           'col-md-10':layout=='short'
           }">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
      <span ng-hide="tooltipTitle">{{label}}</span>
      <abbr ng-show="tooltipTitle"
            tooltip-placement="right"
            title
            uib-tooltip="{{tooltipTitle}}"
            tooltip-popup-close-delay='500'
            tooltip-class="invBopTooltip">{{label}}</abbr>

    </label>

    <span class="col-md-3"
          ng-show="layout=='short'">&nbsp;</span>

    <span class="col-md-4">
      <div class="has-feedback"
             ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-error':''">

        <input class="CHAR_P input form-control "
               ng-model="model.val"
               ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
               ng-change="update()"
               ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-error':''"
               id="{{inputFldId()}}"
               maxlength="{{maxLen > 0 ? maxLen : 524288}}"
               type="{{ isType ? isType : 'text'}}"
               placeholder="{{placeholder}}" />

        <span ng-show="model.busy && !($parent.isReadOnly()||model.disabled)" class="bopBusy"></span>


        <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
          <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br /></span>
        </p>
        <p ng-messages  ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
          <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br /></span>
        </p>
        <p ng-messages ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
          <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br /></span>
        </p>
      </div>
    </span>

  </div>
      <div class="clear"></div>

  </div>
