<div ng-show="!model.hide
&& !isShowOverride
|| (isShowOverride && $parent.isModelInError(model))
|| alwaysShow">
  <div class="row fld  form-group ">
    <div>
      <div ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">

        <label class="col-md-3 label">
          <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
          <span ng-hide="tooltipTitle">{{label}}</span>
          <abbr ng-show="tooltipTitle" title tooltip-placement="right" uib-tooltip="{{tooltipTitle}}" tooltip-popup-close-delay='500'
            tooltip-class="invBopTooltip">{{label}}</abbr>
        </label>

        <span class="col-md-4" ng-class="!$parent.customData.msgHide && (model.error || model.warning) ? 'has-error' : ''">
          <input class="CHAR_P form-control list-field" ng-model="model.val" type="text" uib-typeahead="l.value as ('<b>'+l.value+',</b> '+l.label) for l in getLookup() | lFieldFilter:'value':$viewValue"
        ng-model="model.val" type="text" uib-typeahead="l.value as (l.value+', '+l.label) for l in getLookup() | lFieldFilter:'value':$viewValue"
            typeahead-on-select="update(model.val)" ng-change="update(model.val)" ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
            typeahead-min-length="2"
    id="{{inputFldId()}}" />

          <span ng-show="model.busy && !($parent.isReadOnly()||model.disabled)" class="bopBusy"></span>

        </span>
      </div>
    </div>
  </div>
  
  <div class="row">
    <span class="col-md-4 col-md-offset-3">
      <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
        <span class="ng-messages errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>X</b>{{itm}}
          <br />
        </span>
      </p>
      <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
        <span class="ng-messages errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>X</b>{{itm}}
          <br />
        </span>
      </p>
      <p ng-messages ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
        <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>Warning</b>: {{itm}}
          <br />
        </span>
      </p>
    </span>
  </div>
</div>
<div class="clear"></div>