<span ng-show="!model.hide
&& !isShowOverride
|| (isShowOverride && $root.isModelInError(model))
|| alwaysShow">
<div class="row fld"
   ng-show="($root.isModelInError(model)||alwaysShow) || !model.hide">
  <label class="col-md-3 label">
      <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)"
            class="bopRequired"></span>
      <span ng-hide="tooltipTitle">{{label}}</span>
      <abbr ng-show="tooltipTitle"
            tooltip-placement="right"
            title
            uib-tooltip="{{tooltipTitle}}"
            tooltip-popup-close-delay="500"
            tooltip-class="invBopTooltip">{{label}}</abbr>
  </label>


  <span class="col-md-8">
      <label class="radio-inline"
             ng-repeat="option in getLookup()">
          <input type="radio"
                 style="margin: 4px 30px 1px -20px; width: auto !important"
                 ng-model="model.val"
                 ng-change="update(model.val)"
                 name="{{inputFldId()}}"
                 ng-disabled="$root.isReadOnly() || model.disabled"
                 ng-value="option.value"> {{option.label}}
      </label>

      <p ng-show="!$root.customData.msgHide && (model.error || model.warning)">
          <span class="errorMsg" ng-repeat="itm in $root.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
  </span>

</div>

<div class="clear"></div>
</span>