<div ng-show="!model.hide
&& !isShowOverride
|| (isShowOverride && $parent.isModelInError(model))
|| alwaysShow">
  <div class="form-group row" ng-class="{'has-error':model.error, 'has-warning' : model.warning && !($root.isReadOnly()||model.disabled)}">
    <label class="col-md-3 label">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
      <span ng-hide="tooltipTitle">{{label}}</span>
      <abbr ng-show="tooltipTitle" title tooltip-placement="right" uib-tooltip="{{tooltipTitle}}" tooltip-popup-close-delay='500'
        tooltip-class="invBopTooltip">{{label}}</abbr>
    </label>

    <div>
      <span ng-class="{'col-sm-12 col-xs-12 col-md-4':optional!='long','col-sm-12 col-xs-12 col-md-8 col-lg-7':optional=='long'}">
        <div ng-show="!options[0].value">
          <select class="form-control select-field" ng-model="model.val" ng-options="option.value as option.label for option in getLookup()"
            type="text" ng-change="update(model.val)" ng-disabled="$parent.isReadOnly() || model.disabled">
            <option value="">-- Unknown --</option>
          </select>
        </div>
      </span>
      <div ng-show="options[0].value">
        <select class="form-control select-field" ng-model="model.val" ng-options="option.value as option.label for option in options"
          type="text" ng-change="update(model.val)" ng-disabled="$parent.isReadOnly() || model.disabled">
          <option value="">-- Unknown --</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="col-md-4 col-md-offset-3">
      <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
        <span class="ng-messages errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>X</b>{{itm}}
          <br />
        </span>
      </p>
      <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
        <span class="ng-messages errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>X</b>{{itm}}
          <br />
        </span>
      </p>
      <p ng-messages ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
        <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
          <b>Warning</b>: {{itm}}
          <br />
        </span>
      </p>
    </span>
  </div>
</div>