<div class="error-summary" >
  <a
      style="margin-top: -1em;"
      href=""
      ng-click="openErrors()"
      ng-class="{
      bopError:!bopdata.isValid(),
      danger:!bopdata.isValid(),
      warning:(bopdata.isValid()&&bopdata.hasWarning()),
      bopWarning:(bopdata.isValid()&&bopdata.hasWarning())
      }"
      ng-hide="bopdata.isValid()&&!bopdata.hasWarning()"
      >
    <small>
      Invalid! ({{bopdata.eventCount('ERROR')+bopdata.eventCount('WARNING')}} issues found. Please click here to view
      errors and warnings.)
    </small>
  </a>

  <small
      ng-show="bopdata.isValid()&&!bopdata.hasWarning()">No errors or warnings
  </small>


</div>