<table class="table table-hover table-bordered table-condensed">
  <tr ng-click="openDetail('NonResident','general')"
      ng-class="{danger:data.NonResident.error}">
    <td class="col-lg-3">{{nonResType}}</td>
    <td><dfield value="data.NonResident.Description"></dfield></td>
  </tr>
  <tr  ng-click="openDetail('NonResident','account')" class="form-group"  ng-hide="data.NonResident.Account.hide"
       ng-class="{danger:data.NonResident.Account.error}">
    <td class="col-lg-3">Account</td>
    <td><dfield value="data.NonResident.AccountDescription"></dfield></td>
  </tr>
  <tr  ng-click="openDetail('NonResident','contact')" class="form-group"  ng-hide="data.NonResident.Address.hide"
      ng-class="{danger:data.NonResident.Address.error}">
    <td class="col-lg-3">Address</td>
    <td><dfield value="NonResident.Address.City"></dfield> <dfield value="NonResident.Address.State"></dfield> <dfield value="NonResident.Address.Country"></dfield></td>
  </tr>

</table>
