
<div ng-if="ok">
  <!-- and ok function implies savability -->

<button type="button" class="btn btn-primary" ng-click="ok()">Save
</button>

<button type="button" class="btn btn-primary" ng-click="cancel()">Cancel
</button>
</div>
<div class="modal-button" ng-if="!ok">
  <!-- no ok function implies 'live' data, so only show an OK button... -->

  <a type="button" class="btn btn-custom-nbol btn-sm" ng-click="closeModal()">
    OK
  </a>

</div>