<table class="table table-hover table-bordered table-condensed">
  <thead>
  <tr>
    <th class="col-xs-2">{{nonResType}}</th>
    <th class="col-xs-3" ng-hide="data.NonResident.Account.hide">Account</th>
    <th ng-hide="data.NonResident.Address.hide">Address</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td ng-click="openDetail('NonResident','general')"
        ng-class="{danger:isSectionInError('NonResident','general')}">
      {{data.NonResident.Description.val}}
    </td>
    <td ng-click="openDetail('NonResident','account')"
        ng-hide="data.NonResident.Account.hide"
        ng-class="{danger:isSectionInError('NonResident','account')}">
      {{data.NonResident.AccountDescription.val}}
    </td>
    <td ng-click="openDetail('NonResident','contact')"
        ng-hide="data.NonResident.Address.hide"
        ng-class="{danger:isSectionInError('NonResident','contact')}">
      {{NonResident.Address.City.val}}
      {{NonResident.Address.State.val}}
      {{NonResident.Address.Country.val}}
    </td>
  </tr>
  </tbody>
</table>
<!--<table class="table table-hover table-bordered table-condensed">-->
<!--<tr ng-click="openDetail('NonResident','general')"-->
<!--ng-class="{danger:isSectionInError('NonResident','general')}">-->
<!--<td class="col-xs-3">{{nonResType}}</td>-->
<!--<td><dfield value="data.NonResident.Description"></dfield></td>-->
<!--</tr>-->
<!--<tr  ng-click="openDetail('NonResident','account')"-->
<!--class="form-group"-->
<!--ng-hide="data.NonResident.Account.hide"-->
<!--ng-class="{danger:isSectionInError('NonResident','account')}">-->
<!--<td class="col-lg-3">Account</td>-->
<!--<td><dfield value="data.NonResident.AccountDescription"></dfield></td>-->
<!--</tr>-->
<!--<tr  ng-click="openDetail('NonResident','contact')"-->
<!--class="form-group"-->
<!--ng-hide="data.NonResident.Address.hide"-->
<!--ng-class="{danger:isSectionInError('NonResident','contact')}">-->
<!--<td class="col-lg-3">Address</td>-->
<!--<td><dfield value="NonResident.Address.City"></dfield> <dfield value="NonResident.Address.State"></dfield> <dfield value="NonResident.Address.Country"></dfield></td>-->
<!--</tr>-->

<!--</table>-->
