<table class="table table-hover table-bordered table-condensed">
  <thead>
  <tr>
    <th class="col-xs-2">{{resType}}</th>
    <th class="col-xs-3">Account</th>
    <th>Contact Details</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td ng-click="openDetail('Resident','general')"
        ng-class="{danger:isSectionInError('Resident','general')}">
      {{data.Resident.Description.val}}
    </td>
    <td ng-click="openDetail('Resident','account')" class="form-group" ng-hide="data.Resident.Account.hide"
        ng-class="{danger:isSectionInError('Resident','account')}">
      {{data.Resident.AccountDescription.val}}
    </td>
    <td ng-click="openDetail('Resident','contact')" class="form-group" ng-hide="data.Resident.ContactDetails.hide"
        ng-class="{danger:isSectionInError('Resident','contact')}">
      {{data.Resident.ContactDetailsDescription.val}}
    </td>
  </tr>
  </tbody>
</table>
<!--<table class="table table-hover table-bordered table-condensed">-->
<!--<tr ng-click="openDetail('Resident','general')"-->
<!--ng-class="{danger:isSectionInError('Resident','general')}">-->
<!--<td class="col-xs-3">{{resType}}</td>-->
<!--<td><dfield value="data.Resident.Description"></dfield></td>-->
<!--</tr>-->
<!--<tr ng-click="openDetail('Resident','account')" class="form-group" ng-hide="data.Resident.Account.hide"-->
<!--ng-class="{danger:isSectionInError('Resident','account')}">-->
<!--<td>Account</td>-->
<!--<td><dfield value="data.Resident.AccountDescription"></dfield></td>-->
<!--</tr>-->
<!--<tr ng-click="openDetail('Resident','contact')" class="form-group" ng-hide="data.Resident.ContactDetails.hide"-->
<!--ng-class="{danger:isSectionInError('Resident','contact')}">-->
<!--<td>ContactDetails</td>-->
<!--<td>-->
<!--<dfield value="data.Resident.ContactDetailsDescription"></dfield>-->
<!--</td>-->
<!--</tr>-->

<!--</table>-->



