<div class="summaryTable">
  <table id="SARB_Summary" class="table table-bordered table-condensed">
    <tr id="transaction_head" class="summaryHeading">
      <td>
        <div class="text-center">
          <!--<div class="pull-left" id="smallLogo"></div>-->
          <big>Transaction</big>
          <span id="readOnlyIndicator" class="hide">(READ-ONLY)</span>
          <small class="text-info pull-right">Click on table below
            to edit details.
            <div id="ErrorFeedback"></div>

          </small>
        </div>
      </td>
    </tr>
    <tr>
      <td ng-include="config.partialsPath+config.transaction_summary"></td>
    </tr>
  </table>
</div>
<div id="resident_table" class="summaryTable">
  <table class="table table-bordered table-condensed">
    <tr class="summaryHeading">
      <td>
        <div class="text-center">
          <big>Resident</big>
          <small
              class="text-info pull-right">Click on a row to
            edit details.
          </small>
        </div>
      </td>
    </tr>
    <tr>
      <td ng-include="config.partialsPath+config.resident_summary"></td>
    </tr>
  </table>
</div>
<div id="non_resident_table" class="summaryTable">
  <table class="table table-bordered table-condensed">
    <tr class="summaryHeading">
      <td>
        <div class="text-center">
          <big>Non Resident</big>
          <small
              class="text-info pull-right">Click on a row to
            edit details.
          </small>
        </div>
      </td>
    </tr>
    <tr>
      <td ng-include="config.partialsPath+config.non_resident_summary"></td>
    </tr>
  </table>
</div>
<div class="summaryTable">
  <table class="table table-bordered table-condensed">
    <tr class="summaryHeading">
      <td>
        <div class="text-center">
          <big>Monetary Details</big>
          <small class="text-info pull-right">Click
            on a row to edit details.
          </small>
        </div>
      </td>
    </tr>
    <tr>
      <td ng-include="config.partialsPath+config.monetary_summary"></td>
    </tr>
  </table>
</div>