<table
    class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th class="col-xs-1">Reporting Qualifier</th>
    <th class="col-xs-1">Transaction Ref</th>
    <th class="col-xs-1">FLOW</th>
    <th class="col-xs-1">Value Date</th>
    <th class="col-xs-1">Total Payment Value</th>
    <th>Main Purpose of Transfer</th>
    <th>Transaction Info</th>
  </tr>
  </thead>
  <tbody>
  <tr
      ng-click="openDetail('Transaction')"
      ng-class="{danger:isSectionInError('Transaction')}">
    <td id="EditReportingQualifier">
      {{data.ReportingQualifier.val}}
    </td>
    <td>
      {{data.TrnReference.val}}
    </td>
    <td>
      {{data.Flow.val}}
    </td>
    <td>
      {{data.ValueDate.val}}
    </td>
    <td>

      {{data.TotalForeignValue.val | currency:data.FlowCurrency.val+" ":2}}
    </td>
    <td>{{data.MonetaryAmount[0].Description.val}} ({{data.MonetaryAmount[0].Category.val}})</td>
    <td>
      {{data.BranchCode.val?"BC:"+data.BranchCode.val:""}}
      {{data.BranchName.val?", BN:"+data.BranchName.val:""}}
    </td>
  </tr>
  </tbody>
</table>

<!--<table-->
<!--class="table table-bordered table-condensed">-->
<!--<tbody>-->
<!--<tr-->
<!--ng-click="openDetail('Transaction')"-->
<!--ng-class="{danger:isSectionInError('Transaction')}">-->
<!--<td class="col-xs-3" id="EditReportingQualifier">-->
<!--{{data.ReportingQualifier.val}}-->
<!--</td>-->
<!--<td>-->
<!--{{data.TrnReference.val}}-->
<!--{{data.BranchCode.val?", BC:"+data.BranchCode.val:""}}-->
<!--{{data.BranchName.val?", BN:"+data.BranchName.val:""}}-->
<!--</td>-->
<!--</tr>-->
<!--<tr-->
<!--ng-click="openDetail('Transaction')"-->
<!--ng-class="{danger:isSectionInError('Transaction')}">-->
<!--<td>FLOW</td>-->
<!--<td>-->
<!--{{data.Flow.val}}-->
<!--</td>-->
<!--</tr>-->
<!--<tr-->
<!--ng-click="openDetail('Transaction')"-->
<!--ng-class="{danger:isSectionInError('Transaction')}">-->
<!--<td>Value Date</td>-->
<!--<td>-->
<!--{{data.ValueDate.val}}-->
<!--</td>-->
<!--</tr>-->
<!--<tr-->
<!--ng-click="openDetail('Transaction')"-->
<!--ng-class="{danger:isSectionInError('Transaction')}">-->
<!--<td>Foreign Currency and Amount</td>-->
<!--<td>-->

<!--{{data.TotalForeignValue.val | currency:data.FlowCurrency.val+" ":2}}-->
<!--</td>-->
<!--</tr>-->
<!--<tr-->
<!--ng-click="openDetail('Transaction')"-->
<!--ng-class="{danger:isSectionInError('Transaction')}">-->
<!--<td>Main Purpose of Transfer</td>-->
<!--<td>{{data.MonetaryAmount[0].Description.val}} ({{data.MonetaryAmount[0].Category.val}})</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->


