<div class="row" ng-hide="value.hide">
  <div ng-hide="isMoneyField">
    <label class="control-label FldLabel">{{label}}</label>
    <b> {{value.val}}</b>
  </div>
  <div ng-show="isMoneyField">
    <label class="control-label FldLabel">{{label}}</label>
    <b> {{value.val | currency:currencyModel.val+" ":2}}</b>
  </div>
</div>
