﻿<div class="form-group"
     ng-hide="model.hide"
     popover-placement="auto"
     popover-trigger="mouseenter"
     uib-popover="{{ (model.pmsg ? model.pmsg : model.msg).join('\n\n\n\n') }}"
     popover-title="Issues with this field:">
  <label class="FldLabel">{{label}}</label>

  <div>
    <span ng-show="pwarn()" class="bop-warning"></span>

      <button type="button" class="btn btn-custom btn-sm"
              ng-class="{'btn-warning':pwarn(),'btn-danger':perror(),'btn-success':isValid()}"
              ng-init="model.clicked = false;"
              ng-click="model.clicked = true; update();"
              ng-disabled="model.busy || $root.isReadOnly() || model.disabled">{{ !isValid() ? (model.busy ? "Validating..." : "Validate") : "Valid"  }}</button>
      <input type="hidden"
             ng-model="model.val"
             ng-change="update()">
    <span ng-show="isView">{{viewResponse()}}</span>
    <span ng-show="model.busy" class="bopBusy"></span>

  </div>
</div>

