<div uib-popover="{{model.msg.join('\n')}}" popover-placement="auto" popover-append-to-body="true" popover-trigger="'mouseenter'"
  popover-title="Issues with this field:" ng-hide="model.hide&&(!model.val)" ng-class="{'has-error':model.error, 'has-warning' : model.warning && !($root.isReadOnly()||model.disabled)}"
  class="form-group">
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)" class="bopRequired"></span>
    {{label}}
  </label>
  <p class="input-group">
    <input class="form-control" type="text" uib-datepicker-popup="yyyy-MM-dd" is-open="Opened" close-text="Close" show-weeks="false"
      show-button-bar="false" ng-change="updateDate()" ng-model="date" ng-disabled="$parent.isReadOnly() || model.disabled"
      ng-click="openDate($event)" id="{{inputFldId()}}">
    <span class="input-group-btn" ng-hide="$root.isReadOnly()||model.disabled">
              <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
  </p>

</div>