<span ng-hide="value.hide" ng-class="{danger: value.danger, success: value.success}">
    <span ng-hide="isMoneyField">
      {{value.val}}
    </span>
  <span ng-show="isMoneyField">
    {{value.val | currency:currencyModel.val+" ":2}}
  </span>
</span>
