<error-list></error-list>

<div class="clear"></div>
<div class="row" ng-show="util.customData().errorList">
  <error-list open-detail="openDetail"></error-list>
</div>
<div class="form-container">
  <div ng-hide="Flow === 'IN'">
    <div class="form-group-header-spacer">

      <div class="form-group-header">
        From account &nbsp;
        <span ng-switch="data.Resident.Type.val == 'Individual' ? true : false">
          <b ng-switch-when="true">{{data.Resident.Description.val}} -
            {{data.Resident.Individual.AccountNumber.val}}</b>
          <b ng-switch-default>{{data.Resident.Description.val}} - {{data.Resident.Entity.AccountNumber.val}}</b>
        </span>
      </div>

    </div>

  </div>

  <!--transaction-->
  <div class="form-group-body">
    <div class="panel-body">
      <mfield label="Currency" model="data.TotalForeignValue" is-type="ignoreIsAnyInError"
        currency-model="data.FlowCurrency" currency-only="true" ng-show="(Flow === 'IN') ? true : undefined"
        tooltip-title="'The currency you received the funds in'"></mfield>

      <mfield label="Total currency amount" model="data.TotalForeignValue" is-type="ignoreIsAnyInError"
        currency-model="data.FlowCurrency" parallel-model="data.MonetaryAmount && data.MonetaryAmount.length == 1
                    ? (data.TransactionCurrency.val == 'ZAR' ? data.MonetaryAmount[0].RandValue : data.MonetaryAmount[0].ForeignValue)
                    : undefined" always-show="true" tooltip-title="data.TtlForeignValueTooltip.val"
        input-currency="{{(Flow === 'IN') ? undefined : true }}"
        ng-init="data.ForeignValueRatesInZAR.val = util.customData().currencyToZARRates"></mfield>

      <afield value="data.TransactionTotal"></afield>
    </div>
  </div>
  <div class="row">
    <uib-accordion close-others="true" ng-class="thing">

      <div uib-accordion-group ng-repeat="(ind, money) in data.MonetaryAmount" is-open="money.isAccGrpOpen">
        <uib-accordion-heading>
          <div ng-switch="money.isAccGrpOpen && data.MonetaryAmount && data.MonetaryAmount.length <= 1">
            <div class="row " ng-show="(Flow === 'IN') ? undefined : true" ng-switch-when="true"
              ng-click="$event.stopPropagation();$event.preventDefault();">
              <div class="panel-subheading">
                Balance of payment (BoP) details <span class="errorMsg"> {{moneytOutstanding(data, 'Over by ', 'Under by
                  ', data.ZAREquivalent.val ? data.ZAREquivalent.val : null, data.TransactionCurrency.val)}}</span>
              </div>
            </div>
            <div class="padded-row " ng-switch-when="true" ng-show="(Flow === 'IN') ? true : undefined"
              ng-click="$event.stopPropagation();$event.preventDefault();">
              <div class="panel-subheading">
                Balance of payment (BoP) details <span class="errorMsg"> {{moneytOutstanding(data, 'Over by ', 'Under by
                  ', data.ZAREquivalent.val ? data.ZAREquivalent.val : null, data.TransactionCurrency.val)}}</span>
              </div>
            </div>

            <div class="row" ng-switch-default
              ng-click="ignore = (money.isAccGrpOpen ? $event.stopPropagation() : undefined) + (money.isAccGrpOpen ? $event.preventDefault() : undefined); setCurrentMoneyInd(ind);">

              <div class="col-md-7">
                <span class="acc-hdr-el acc-hdr-ico">{{ind + 1}}</span>

                <b class="acc-hdr-el">
                  <dfield value="money.CategoryCode"></dfield>
                  <span ng-hide="money.CategoryCode.val">***</span>
                  {{money.CategorySubCode.val ? '/ ' + money.CategorySubCode.val : ""}}
                </b>

                <b class="acc-hdr-el">
                  <dfield value="data.TransactionCurrency"></dfield>
                  <dfield value="money.ForeignValue" is-money-field="true"></dfield>
                  <dfield value="money.RandValue" is-money-field="true"></dfield>
                </b>
                <b class="acc-hdr-el">
                  <dfield value="money.ThirdPartyContactLabel"></dfield>
                </b>
              </div>
              <div class="col-md-5">
                <i class="glyphicon pull-right"
                  ng-class="{'glyphicon-chevron-down': !money.isAccGrpOpen, 'glyphicon-chevron-right': money.isAccGrpOpen}"></i>
                <i class="glyphicon glyphicon-remove-circle pull-right"
                  ng-click="$event.stopPropagation();$event.preventDefault();removeMonetaryAmount(money, ie, 'modalBopFormConfirmDel');">&nbsp;</i>
              </div>
            </div>
          </div>
        </uib-accordion-heading>


        <!-- <div class="col-md-12"> -->
        <div class="panel-body">

          <div ng-include="config.partialsPath + 'monetary/primary.html'">primary fields...</div>

          <div ng-include="config.partialsPath + getDetailTemplate('Money','general')"></div>

          <sfield label="Third Party Type" model="money.ThirdPartyKind" lookup-values="['Individual','Entity']"
            update-fn="setAdhoc3rdPartyType" optional="no"></sfield>

          <div ng-include="config.partialsPath + 'monetary/thirdparty.html'">3rd party fields...</div>

          <div ng-include="config.partialsPath + 'monetary/thirdparty_contact.html'">3rd party contact fields...</div>

          <div ng-include="config.partialsPath + config.importexport_summary" ng-hide="money.ImportExport.hide"></div>


          <ifield label="Auth Application Number"
            model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"></ifield>
          <datefield label="Auth ApplicationDate"
            model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"></datefield>

          <div class="row fld" ng-hide="money[map('Regulator')+'Auth'].IsSARBAuth.hide">
            <label class="col-md-3" style="padding-left: 0px;">
              <abbr tooltip-placement="bottom" title
                uib-tooltip="Please complete this section if you have pre-authorisation by the South African Reserve Bank (SARB) for this transaction"
                tooltip-popup-close-delay='500' tooltip-class="BopTooltip">SARB auth application</abbr>

            </label>
            <span class="col-md-4">
              <input type="checkbox" ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val" ng-change="revalidate()"
                style="width: auto;" ng-true-value="'Y'">
              <span
                ng-show="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].val && money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].val || money[map('Regulator')+'Auth'].IsSARBAuth.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error"
                lbl>Keep?</span> (optional)
            </span>
          </div>

          <ifield label="SARB auth reference number"
            model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>

          <fieldset
            ng-show="money[map('Regulator')+'Auth'].IsSARBAuth.val || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error">

            <ifield label="SARB auth number"
              model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']"
              tooltip-title="'The number found on your SARB approval document'"
              aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error ? '' : '(optional)' }}">
            </ifield>
            <span ng-init="maxAuthDate = util.date.now()">
              <datefield label="SARB auth date"
                model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate']" max="maxAuthDate"
                tooltip-title="'The date of your approval on the SARB document'"
                aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error ? '' : '(optional)' }}">
              </datefield>
            </span>
          </fieldset>
        </div>
      </div>

    </uib-accordion>

    <div class="bopSection col-lg-12">
      <button type="button" ng-click="addMonetaryAmount({
                            CategoryCode: null,
                            CategorySubCode: null,
                            ImportExport: []
                          })" class='btn btn-primary'>
        Add additional reason
      </button>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <!--additional info (All fields)-->

  <div class="form-group-header-spacer">
    <fieldset>
      <div class="form-group-header-spacer">
        <legend>Additional information</legend>
      </div>
    </fieldset>
  </div>

  <div class="panel-body">
    <div class="row">
      <span class="additional-info-heading" ng-hide="Flow==='IN'">Please verify the following detail(s) are not missing
        and are up to date. Please supply us with the required relevant information.</span>
      <span class="additional-info-heading" ng-show="Flow==='IN'">Please verify the following detail(s) and supply us
        with the required information below.</span>
    </div>

    <div ng-include="config.partialsPath + 'allFields.html'"></div>
    
  </div>

  <div class="clear"></div>

  <script type="text/ng-template" id="modalBopFormConfirmDel.html">
        <span class="modal">
          <div class="modal-header">
            <button class="btn btn-default"
                    type="button"
                    ng-click="$ctrl.cancel()">
              &times;
            </button>
            <b class="modal-title" id="modalIdLabel">Delete reason</b>
          </div>

          <div class="modal-body">

            <p>
              <div class="bopModDel"></div>
              <b>Category</b> will be deleted from your list of reasons. Are you sure?
            </p>
          </div>

          <div class="modal-footer">
            <button class="btn"
                    type="button"
                    ng-click="$ctrl.cancel()">
              Cancel
            </button>
            <button class="btn"
                    type="button"
                    ng-click="$ctrl.ok()">
              Delete
            </button>
          </div>
        </span>
      </script>

  <!--modal-->
  <script type="text/ng-template" id="modalBopFormCurrency.html" modal-window-class="modal bopMod" modal-size="xl">
        <div class="modal-header">
          <button class="close"
                  type="button"
                  ng-click="modalCancel()">
            <span aria-hidden="true">&times;</span>
          </button>

          <h4 class="modal-title" id="modalIdLabel">Payment currency selector</h4>
        </div>

        <div class="modal-body row">
          <div class="col-md-12">
            <p>Please select the reference currency from the list below:</p>
            <div class="col-md-6 dropdown currency-converter"
                ng-repeat="c in modParent.getCurrencies() | filterInArray:customData.currencyFilter:'code'">
              <button class="btn btn-default {{customData.currencyFlags.indexOf(c.code) >= 0 ? 'flag flag-active' : ''}}"
                      type="button"
                      style="background-color:#fff; width:100%;"
                      ng-class="['flag-' + c.code.toLowerCase()]"
                      href="#"
                      ng-click="modParent.currencyModel.val = c.code; modParent.update(null, true); modalOk();">
                {{c.name + ' (' + c.code + ')'}}
              </button>
            </div>
          </div>
        </div>

        <div class="modal-footer"> </div>
      </script>
</div>