<table
        class="table table-bordered table-condensed"
        ng-click="openDetail('Transaction')">
    <tbody>
    <tr>
        <td>Foreign Currency and Amount</td>
        <td>
            <div class="input-group">
                <label class="input-group-addon">
                    <dfield value="data.FlowCurrency"></dfield>
                </label>
                <span
                    type="text" class="form-control form-control-static">
                    <dfield value="data.TotalForeignValue"></dfield>
                </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>


