<div id="SS_resident_modal_object_indiv" class="form-horizontal">

  <div class="row">
    <div class="col-sm-4">
      <ifield label="Surname" model="data.Resident.Individual.Surname"></ifield>
        <sfield label="Gender" model="data.Resident.Individual.Gender"
                lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]" ></sfield>
    </div>
    <div class="col-sm-4">
      <ifield label="Name" model="data.Resident.Individual.Name"></ifield>
      <datefield label="Date of Birth" model="data.Resident.Individual.DateOfBirth"></datefield>
    </div>
    <div class="col-sm-4">
      <ifield label="Identity Number" model="data.Resident.Individual.IDNumber"></ifield>
      <ifield label="Tax number" model="data.Resident.Individual.TaxNumber"></ifield>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">

      <sfield label="Tax clearance certificate indicator"
              model="data.Resident.Individual.TaxClearanceCertificateIndicator" lookup="yesNo"></sfield>
      <ifield label="Tax clearance certificate reference"
              model="data.Resident.Individual.TaxClearanceCertificateReference"></ifield>
    </div>
    <div class="col-sm-4">
      <ifield label="Beneficiary ID1" model="data.Resident.Individual.BeneficiaryID1"></ifield>
      <ifield label="Beneficiary ID2" model="data.Resident.Individual.BeneficiaryID2"></ifield>
    </div>
    <div class="col-sm-4">
      <ifield label="Beneficiary ID3" model="data.Resident.Individual.BeneficiaryID3"></ifield>
      <ifield label="Beneficiary ID4" model="data.Resident.Individual.BeneficiaryID4"></ifield>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      <ifield label="VAT number" model="data.Resident.Individual.VATNumber"></ifield>
      <ifield label="Temporary Resident Permit Number" model="data.Resident.Individual.TempResPermitNumber"></ifield>
    </div>
    <div class="col-sm-4">
      <ifield label="Foreign Identity Number" model="data.Resident.Individual.ForeignIDNumber"></ifield>
      <lfield label="Foreign Identity Country" model="data.Resident.Individual.ForeignIDCountry" lookup="countries"
              label-prop="name" value-prop="code" squash-numerics="true"></lfield>
    </div>
    <div class="col-sm-4">
      <ifield label="Passport Number" model="data.Resident.Individual.PassportNumber"></ifield>
      <lfield label="Passport Country" model="data.Resident.Individual.PassportCountry" lookup="countries"
              label-prop="name" value-prop="code" squash-numerics="true"></lfield>
    </div>

  </div>
</div>