﻿<h3></h3>
<h3>The transaction currency must be the same as Import/Export payment currency.</h3>
<h3>Please fix spreadsheet currency column for '{{ data.FlowCurrency.val }}'.</h3>
<h3>Click 'OK' to continue.</h3>
<h3></h3>

<hr>