<div class="row fld form-group">
      <label class="FldLabel col-md-3">
        <span class="bopRequired"></span>
        <span>Type</span>
      </label>
  
      <span>
        <div class="col-sm-4 has-feedback">
          <input type="radio" id="resTypeIndividual" name="resType" ng-value="'Individual'" ng-model="resType"
          ng-disabled="data.Resident.Type.disabled"/>
          <input type="radio" id="resTypeEntity" name="resType" ng-value="'Entity'" ng-model="resType" 
          ng-disabled="data.Resident.Type.disabled"/>
  
          <div class="btn-group btn-group-justified" role="group">
  
            <label class="btn btn-default" for="resTypeIndividual" ng-click="data.Resident.Type.disabled?'':updateResType('Individual')">
              Individual
              <span class="form-control-feedback icon-investec-tick"></span>
            </label>
  
            <label class="btn btn-default" for="resTypeEntity" ng-click="data.Resident.Type.disabled?'':updateResType('Entity')">
              Entity
              <span class="form-control-feedback icon-investec-tick"></span>
            </label>
  
          </div>
        </div>
      </span>
  </div>