<div class="form-group typeahead-control"
  ng-hide="(current.money.CategoryCode.hide && !current.money.CategoryCode.val) || (current.money.CategorySubCode.hide && !current.money.CategorySubCode.val)">
  <div>
    <label class="control-label">
      <abbr tooltip-placement="bottom" title tooltip-popup-close-delay='500'
        uib-tooltip="{{aux ? 'You can use the reason or BoP code' : 'SARB Balance of payment category/subcategory code'}}"
        tooltip-class="BopTooltip">{{label ? label : 'BOP code'}}</abbr>
    </label>
    <!--{{filteredLoookup.length}}:{{isSelectOnBlur(filteredLoookup)}}-->

    <!-- <input class="form-control"
      ng-model="tempModel"
      uib-typeahead="category as (category.code + ': ' + category.description + ' (' + category.section + ', ' + category.subsection + ')') for category in getCategories()| lFieldFilter:'code':$viewValue | filter: $parent.$parent.TestingFunction()"
      typeahead-min-length="0"
      typeahead-on-select="handleChange()"
      ng-blur="handleChange()"
      typeahead-focus
      type="text"
      ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
      placeholder="CODE/SUBCODE"
      typeahead-input-formatter="makeCCLabel(tempModel)" 
     > -->
    <!-- <div ng-if="$parent.$parent.customCategoryLimits(this)"></div> -->
    <div style="position: relative; display: flex; align-items: center;">
      <input type="text" ng-model="tempModel" ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
        placeholder="CODE/SUBCODE" typeahead-focus
        uib-typeahead="category for category in $parent.$parent.customCategoryLimits(this)| lFieldFilter:'code':$viewValue"
        typeahead-popup-template-url="customPopupTemplate.html" typeahead-on-select="handleChange()"
        typeahead-min-length="0" ng-blur="handleChange(); $parent.$parent.closeDropdown('caretImg', current.money.SequenceNumber.val, 'assets/icons/chevron-down.svg')" class="form-control" ng-focus="$parent.$parent.openDropdown('caretImg', current.money.SequenceNumber.val, 'assets/icons/chevron-up.svg')"
        typeahead-input-formatter="makeCCLabel(tempModel)">
      <img src="assets/icons/chevron-down.svg" class="caretImg" style="position: absolute; right: 0px; pointer-events: none;">
    </div>

    <span
      ng-show="current.money.CategoryCode.busy||current.money.CategorySubCode.busy && !($parent.isReadOnly()||model.disabled)"
      class="bopBusy"></span>

    <script type="text/ng-template" id="customTypeaheadMatch.html">
      <a href tabindex="-1" ng-attr-title="{{match.description}}">
          {{match.code}} : <strong> {{match.section}} </strong><br/> {{match.description}}
      </a>
    </script>

    <script type="text/ng-template" id="customPopupTemplate.html">
        <div class="custom-popup-wrapper"
          ng-style="{top: position().top+'px', left: position().left+'px'}"
          style="display: block; width:700px; overflow:hidden"
          ng-show="isOpen() && !moveInProgress"
          aria-hidden="{{!isOpen()}}">
          <ul class="dropdown-menu" role="listbox">
            <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index), disabledValue: match.label.disabled, excludedValue: match.label.excluded}" 
              ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}" id="trynum2">
              <div uib-typeahead-match-custom index="$index" match="match.label" query="query" template-url="customTypeaheadMatch.html"></div>
              <label ng-show="match.label.disabled">(Not supported, please call 0860 123 006 for assistance)</label>
            </li>
          </ul>
        </div>
      </script>



    <!--<a ng-show="aux"
             class="btn btn-primary pull-right"
             ng-click='jqTriggerInput()'>Reasons</a>-->
    <a ng-show="aux" class="btn btn-primary pull-right"
      href="{{$parent.customData.pdfDownloadUrl ? $parent.customData.pdfDownloadUrl : '/bopform_no_pdf_url_supplied'}}"
      target="_blank">BoP classification</a>

    <!-- <span ng-show="tempModel && current.money.CategoryCode.val"
            ng-init="limitChars = aux ? 25 : 45">

        <span ng-show="current.money.BoPCodeDescription.val.length <= (limitChars + 3)">
          {{current.money.BoPCodeDescription.val}}
        </span>
        <abbr ng-show="current.money.BoPCodeDescription.val.length > limitChars + 3"
              tooltip-placement=" bottom"
              title
              uib-tooltip="{{current.money.BoPCodeDescription.val}}"
              tooltip-popup-close-delay='500'
              tooltip-class="BopTooltip">
          {{current.money.BoPCodeDescription.val.substr(0, limitChars)}}...
        </abbr>
      </span> -->
  </div>
</div>

<div ng-show="!$parent.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error)">
  <span class="errorMsg"
    ng-repeat="itm in $parent.errMsgCopyOnly(current.money.CategoryCode.msg.concat(current.money.CategorySubCode.msg))"><b>X</b>{{itm}}<br></span>
</div>