
<div class="row form-group no-hover">
  <label class="col-md-3 FldLabel">
    <abbr>{{label ? label : 'BOP code'}}</abbr>
  </label>

  <span class="col-md-6">
    <div class="has-feedback" ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-error':''">
      <div>
        <input class="CHAR_P form-control has-error {{inputFldId()}}"
            type="text"
            ng-model="tempModel"
            ng-blur="handleChange()"
            typeahead-on-select="handleChange()"
            uib-typeahead="category as (category.code + ': ' + category.description + ' (' + category.section + ', ' + category.subsection + ')') for category in getCategories()| lFieldFilter:'code':$viewValue"
            typeahead-focus-first="true"
            typeahead-min-length="0"
            typeahead-append-to-body="false"
            typeahead-editable="false"
            typeahead-focus
            typeahead-select-on-exact="true"
            typeahead-select-on-blur="false"
            ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
            placeholder="Code/SubCode"
            ng-class="!$root.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error) ? 'has-error':''"
            typeahead-input-formatter="makeCCLabel(tempModel)"  />
      </div>
      <p ng-show="!$parent.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error)">
        <span class="form-control-feedback icon-investec-cross"></span>
      </p>

      <p ng-messages ng-show="!$parent.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error)">
        <div class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(current.money.CategoryCode.msg.concat(current.money.CategorySubCode.msg))">
          <b>X</b>{{itm}}
        </div>
      </p>

    </div>
  </span>

  <div class="col-md-3 hidden-xs">
    <div class="form-control-tooltip">
      <div class="form-control-tooltip-body">
        <p>BoP classification</p>
        You can use the reason or BoP code
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

<!--<div class="row"-->
     <!--ng-show="!$root.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error)">-->
    <!--<label class="col-md-3 control-label"></label>-->
    <!--<p ng-messages class="col-md-7">-->
        <!--<span class="errorMsg" ng-repeat="itm in $root.errMsgCopyOnly(current.money.CategoryCode.msg.concat(current.money.CategorySubCode.msg))"><b>X</b>{{itm}}<br /></span>-->
    <!--</p>-->
<!--</div>-->




