<div class="row fld form-group" ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
  <div ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide"
       ng-init="dtPckrInit = dt ? dt : $parent.util.date.now()">
    <label class="col-md-3 FldLabel">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
      <span >{{label}}</span>
      <!-- ng-hide="tooltipTitle"<abbr ng-show="tooltipTitle"-->
            <!--tooltip-placement="bottom"-->
            <!--title-->
            <!--uib-tooltip="{{tooltipTitle}}"-->
            <!--tooltip-popup-close-delay='500'-->
            <!--tooltip-class="invBopTooltip">{{label}}</abbr>-->
    </label>
 
    <span class="col-md-6">
      <div class="has-feedback"
           ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-error':''">
        <div class="input-group date-selector" >
          <span class="input-group-addon">
            <span class="icon-investec-notice-history"></span>
          </span>
          <input class="CHAR_P form-control"
            type="text"
            uib-datepicker-popup="yyyy-MM-dd"
            datepicker-mode="mode ? mode : 'day'"
            max-date="max ? max : null"
            init-date="dtPckrInit"
            is-open="Opened"
            close-text="Close"
            show-weeks="false"
            show-button-bar="false"
            ng-change="updateDate()"
            ng-model="date"
            ng-disabled="$parent.isReadOnly() || model.disabled"
            ng-click="openDate($event)"
            ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-warning':''"
            id="{{inputFldId()}}" >
          </div>
          <!--<p ng-show="!$parent.customData.msgHide && (model.error || model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br /></span>
    </p>-->
          <p ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
            <span class="form-control-feedback icon-investec-cross"></span>
          </p>

          <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
            <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br /></span>
          </p>
          <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
            <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br /></span>
          </p>
          <p ng-messages ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
            <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br /></span>
          </p>
        </div>
    </span>
    <div>
  </div>


    <!--<span ng-if="aux"-->
          <!--class="col-md-5"-->
          <!--ng-init="limitChars = 40">  -->
      <!--<span ng-show="aux.length <= (limitChars + 3)">-->
        <!--{{aux}}-->
      <!--</span>-->
      <!--<abbr ng-show="aux.length > limitChars + 3"-->
            <!--tooltip-placement=" bottom"-->
            <!--title-->
            <!--uib-tooltip="{{aux}}"-->
            <!--tooltip-popup-close-delay='500'-->
            <!--tooltip-class="invBopTooltip">-->
        <!--{{aux.substr(0, limitChars)}}...-->
      <!--</abbr>   -->
    <!--</span>-->

    <div  ng-show="tooltipTitle.length > 0"  class="col-md-3 hidden-xs">
      <div class="form-control-tooltip">
        <div class="form-control-tooltip-body">
            <span ng-bind-html="tooltipTitle"></span>
        </div>
      </div>
    </div>


  </div>

  <div class="clear"></div>
</div>