<div class="row fld form-group" ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">


  <div ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
    
    <label class="FldLabel " ng-class="{
           'col-md-3':!layout,
           'col-md-10':layout=='short'
           }">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
      <span>{{label}}</span>

    </label>

    <span class="col-md-3" ng-show="layout=='short'">&nbsp;</span>

    <span class="col-md-6">
      <div class="has-feedback" ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-error':''">

        <input class="CHAR_P form-control " ng-model="model.val" ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
          ng-change="update()" ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-error':''" id="{{inputFldId()}}"
          maxlength="{{maxLen > 0 ? maxLen : 524288}}" type="{{ isType ? isType : 'text'}}" placeholder="{{placeholder}}" />

        <span ng-show="model.busy && !($parent.isReadOnly()||model.disabled)" class="bopBusy"></span>

        <p ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
          <span class="form-control-feedback icon-investec-cross"></span>
        </p>

        <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
          <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
            <b>X</b>{{itm}}
            <br />
          </span>
        </p>
        <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
          <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
            <b>X</b>{{itm}}
            <br />
          </span>
        </p>
        <p ng-messages ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
          <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)">
            <b>Warning</b>: {{itm}}
            <br />
          </span>
        </p>
      </div>
    </span>

    <!--<span ng-hide="!aux || layout=='short'"-->
    <!--class="col-md-5 form-group"-->
    <!--ng-init="limitChars = 40">-->
    <!--<span ng-show="aux.length <= (limitChars + 3)">-->
    <!--{{aux}}-->
    <!--</span>-->
    <!--<abbr ng-show="aux.length > limitChars + 3"-->
    <!--tooltip-placement=" bottom"-->
    <!--title-->
    <!--uib-tooltip="{{aux}}"-->
    <!--tooltip-popup-close-delay='500'-->
    <!--tooltip-class="invBopTooltip">-->
    <!--{{aux.substr(0, limitChars)}}...-->
    <!--</abbr>-->
    <!--</span>-->

    <div ng-show="tooltipTitle.length > 0" class="col-md-3 hidden-xs">
      <div class="form-control-tooltip">
        <div class="form-control-tooltip-body">
            <span ng-bind-html="tooltipTitle"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>

</div>