<span ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
  <div class="row fld form-group"
       ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">

    <!--<pre><code>{{model.property}}; isModelInError:{{$parent.isModelInError(model)}}</code></pre>-->

    <label class="col-md-3 FldLabel">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)"
            class="bopRequired"></span>
      {{label}}
    </label>

    <span ng-class="{'col-md-6':optional!='long','col-md-8':optional=='long'}">
      <select class="CHAR_P dropdown-panel form-control"
              ng-model="model.val"
              ng-options="option.value as option.label for option in getLookup()" type="text"
              ng-change="update()"
              ng-disabled="$parent.isReadOnly() || model.disabled"
              ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-warning':''"
              id="{{inputFldId()}}">
        <option value="">None selected</option>
      </select>
 

      <p ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
        <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
      </p>
    </span>

    <div ng-show="tooltipTitle.length > 0" class="col-md-3 hidden-xs">
        <div class="form-control-tooltip">
          <div class="form-control-tooltip-body">
              <span ng-bind-html="tooltipTitle"></span>
          </div>
        </div>
      </div>

  </div>

  <div class="clear"></div>
</span>