<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Non-Resident account details
  </h2>
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">

  <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Account Identifier" model="NonResident.AccountIdentifier" lookup="accountIdentifiersNonResident"></sfield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Account Number" model="NonResident.AccountNumber"></ifield>
    
</div>

