<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Non resident address details
  </h2>
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Address Line 1" model="NonResident.Address.AddressLine1"></ifield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Address Line 2" model="NonResident.Address.AddressLine2"></ifield>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Suburb" model="NonResident.Address.Suburb"></ifield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Postal Code" model="NonResident.Address.PostalCode"></ifield>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="City" model="NonResident.Address.City"></ifield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="State" model="NonResident.Address.State"></ifield>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

  <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Country" model="NonResident.Address.Country" lookup="countries" label-prop="name" value-prop="code"></sfield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <div flex="" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

</div>
