<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Non Resident entity details
  </h2>
</div>


  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Legal entity name" model="data.NonResident.Entity.EntityName"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Card Merchant Name" model="data.NonResident.Entity.CardMerchantName"></ifield>
  
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Card Merchant Code" model="data.NonResident.Entity.CardMerchantCode"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <div flex="" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
  
  </div>