<div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Exception name" model="data.NonResident.Exception.ExceptionName" lookup="nonResidentExceptions"></sfield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
  
    <div flex="" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>

  </div>