<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Non Resident individual details
  </h2>
</div>

  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Name" model="data.NonResident.Individual.Name"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Surname" model="data.NonResident.Individual.Surname"></ifield>
    
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Gender" model="data.NonResident.Individual.Gender" lookup="gender"></sfield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Passport Number" model="data.NonResident.Individual.PassportNumber"></ifield>
  
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Passport Country" model="data.NonResident.Individual.PassportCountry" lookup="countries" label-prop="name" value-prop="code"></sfield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <div flex="" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
  
  </div>