
<div class="inv-form bopFormContainer">

  

  <div class="row" ng-show="util.customData().errorList">
    <error-list open-detail="openDetail"></error-list>
  </div>

  <!-- <div ng-hide="Flow === 'IN'">
    <div class="bopSection row">
      <span class="col-md-3">
        <b>From account</b>
      </span>
      <b class="col-md-9" style="margin-left: -6px;">{{data.Resident.Description.val}} - {{Resident.AccountNumber.val}}</b>
    </div>
  </div> -->

  <!--transaction-->
  <div class="row">
    <div class="col-md-12">
      <datefield label="Settlement date" model="data.ValueDate"></datefield>

      <mfield label="Total amount" model="data.TotalForeignValue" currency-model="data.FlowCurrency" tooltip-title="Flow==='IN' ? 'The amount of the receipt' : 'The amount of the payment'"></mfield>
      
      <mfield label="ZAR equivalent" model="data.ZAREquivalent" currency-model="{val:'ZAR'}" tooltip-title="'The ZAR euqivalent amount of the payment value'"></mfield>
      
      <afield value="data.TransactionTotal"></afield>



      <lfield label="Originating country"
        model="data.LocationCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"
        tooltip-title="Flow==='IN' ? 'Country where the service was requested from or where merchandise was exported to' : 'Originating country of services or merchandise'"></lfield>

       
    </div>
  </div>


  <uib-accordion close-others="true" class="inv-accordion" ng-init="mainTab={open:{}};">

    <div uib-accordion-group class="panel-default">

      <uib-accordion-heading>
        <div class="row clearfix" ng-click="$window.scrollTo(0,0)">
          <div class="col-xs-12">
            <span>Applicant Details ({{resType}})</span>
            <span class="errorMsg errorAsterix" ng-show="
              isSectionInError('Resident','general')
              ||isSectionInError('Resident','account')
              ||isSectionInError('Resident','contact')
              ||isSectionInError('Resident','contactStreet')
              ||isSectionInError('Resident','contactPostal')">*</span>
            <span class="pull-right arrow"></span>
          </div>
        </div>
      </uib-accordion-heading>


      <div ng-include="config.partialsPath+'resident/header.html'"></div>

      

      <sfield label="Applicant residential status" model="data.AccountHolderStatus" lookup-values="['South African Resident','Non Resident','Foreign Temporary Resident']"
        ></sfield>

      <ifield label="Account to be  {{Flow==='IN' ? 'credited' : 'debited'}}"
        model="Resident.AccountNumber" ></ifield>


      <span ng-show="resType == 'Entity'">
        <ifield label="Legal entity name" model="data.Resident.Entity.EntityName"></ifield>

        <ifield label="Trading name" model="data.Resident.Entity.TradingName"></ifield>

        <ifield label="Registration number" model="data.Resident.Entity.RegistrationNumber"></ifield>

        <lfield label="Institutional sector" model="data.Resident.Entity.InstitutionalSector" lookup="institutionalSectors"
          label-prop="description" value-prop="code" squash-numerics="false"></lfield>

        <lfield label="Industrial classification" model="data.Resident.Entity.IndustrialClassification" lookup="industrialClassifications"
          label-prop="description" value-prop="code" squash-numerics="false"></lfield>




        <!--<lfield label="Account holder Street address country"-->
        <!--model="data.Resident.Entity.StreetAddress.Country"-->
        <!--lookup="countries"-->
        <!--label-prop="name"-->
        <!--value-prop="code"-->
        <!--squash-numerics="true"-->
        <!--is-show-override="true" ></lfield>-->

        <!--<span ng-hide="data.Resident.Entity.StreetAddress.Mandate.hide">-->
        <!--<div class="row fld">-->
        <!--<label class="col-md-3 FldLabel">-->
        <!--<span>Foreign address mandate123</span>-->
        <!--</label>-->

        <!--<div class="col-md-9 col-lg-9">-->
        <!--&nbsp;<input type="checkbox"-->
        <!--style="width: auto;"-->
        <!--ng-model="data.Resident.Entity.StreetAddress.Mandate.val"-->
        <!--ng-change="revalidate()"-->
        <!--ng-true-value="'ACCEPT'"-->
        <!--name="Resident.Entity.StreetAddress.Mandate"-->
        <!--ng-disabled="isReadOnly() || data.Resident.Entity.StreetAddress.Mandate.disabled" > Yes, I accept-->
        <!--<p ng-show="!customData.msgHide && (data.Resident.Entity.StreetAddress.Mandate.error || data.Resident.Individual.Entity.Mandate.warning)">-->
        <!--<span class="errorMsg" ng-repeat="itm in errMsgCopyOnly(data.Resident.Entity.StreetAddress.Mandate.msg)"><b>X</b>{{itm}}<br></span>-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->


      </span>

      <span ng-show="resType == 'Individual'">
        <ifield label="Name" model="data.Resident.Individual.Name"></ifield>
        <ifield label="Surname" model="data.Resident.Individual.Surname"></ifield>


        <ifield label="Identity number" model="data.Resident.Individual.IDNumber"></ifield>

        <sfield label="Gender" model="data.Resident.Individual.Gender" lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"
         ></sfield>

        <span ng-init="dobToday = util.date.addYear(-18)">
          <datefield label="Date of birth" model="data.Resident.Individual.DateOfBirth" mode="year" dt="dobToday"></datefield>
        </span>

        <ifield label="Temporary resident permit number" model="data.Resident.Individual.TempResPermitNumber" ></ifield>
        <datefield label="Temporary resident permit expiry" model="data.Resident.Individual.TempResExpiryDate" ></datefield>
        <ifield label="Foreign identity number" model="data.Resident.Individual.ForeignIDNumber"></ifield>
        <lfield label="Foreign identity country" model="data.Resident.Individual.ForeignIDCountry" lookup="countries"
          label-prop="name" value-prop="code" squash-numerics="true" ></lfield>

        <ifield label="Passport number" model="data.Resident.Individual.PassportNumber" ></ifield>

        <lfield label="Passport country" model="data.Resident.Individual.PassportCountry" lookup="countries" label-prop="name"
          value-prop="code" squash-numerics="true" ></lfield>

        <datefield label="Passport expiry date" model="data.Resident.Individual.PassportExpiryDate" ></datefield>
      </span>

      <ifield label="Contact person first name" model="Resident.ContactDetails.ContactName"></ifield>
      <ifield label="Contact person surname" model="Resident.ContactDetails.ContactSurname"></ifield>
      <ifield label="Contact person email" model="Resident.ContactDetails.Email"></ifield>
      <ifield label="SA contact number" model="Resident.ContactDetails.Telephone"></ifield>
      <ifield label="SA contact fax" model="Resident.ContactDetails.Fax"></ifield>


      <span>

        <ifield label="Tax number" model="Resident.TaxNumber" ></ifield>

        <ifield label="VAT number" model="Resident.VATNumber" ></ifield>

        <ifield label="Customs client number" model="Resident.CustomsClientNumber"  max-len="8"></ifield>

        <sfield label="Tax clearance certificate?" lookup="yesNo" model="Resident.TaxClearanceCertificateIndicator"
          ></sfield>

        <ifield label="Tax clearance Certificate number" model="Resident.TaxClearanceCertificateReference" 
          placeholder="e.g. 0700/3/2016/A000033069" max-len="30"></ifield>


        <ifield label="Street address 1" model="Resident.StreetAddress.AddressLine1" ></ifield>
        <ifield label="Street address 2" model="Resident.StreetAddress.AddressLine2" ></ifield>

        <ifield label="Street address suburb" model="Resident.StreetAddress.Suburb" ></ifield>

        <ifield label="Street address city" model="Resident.StreetAddress.City" ></ifield>

        <ifield label="Street address postal code" model="Resident.StreetAddress.PostalCode" ></ifield>

        <sfield label="Street address province" model="Resident.StreetAddress.Province" lookup="provinces" label-prop="true"></sfield>


        <ifield label="Postal address 1" model="Resident.PostalAddress.AddressLine1" ></ifield>
        <ifield label="Postal address 2" model="Resident.PostalAddress.AddressLine2" ></ifield>
        <ifield label="Postal address suburb" model="Resident.PostalAddress.Suburb"></ifield>
        <ifield label="Postal address city" model="Resident.PostalAddress.City" ></ifield>
        <ifield label="Postal address postal code" model="Resident.PostalAddress.PostalCode"></ifield>

        <sfield label="Postal address province" model="Resident.PostalAddress.Province" lookup="provinces" label-prop="true" ></sfield>



      </span>


    </div>

    <div uib-accordion-group class="panel-default" is-open="true">

      <uib-accordion-heading>
        <div class="row clearfix" ng-click="$window.scrollTo(0,0)">
          <div class="col-xs-12">
            <span>Reporting category details</span>
            <span class="errorMsg" style="font-weight: bold">
              {{moneytOutstanding(data, 'Over by ', 'Under by ', data.TotalForeignValue ? data.TotalForeignValue.val : null, data.FlowCurrency.val)}}
            </span>
            <span class="errorMsg errorAsterix" ng-show="anyMoneyErrors()">*</span>
            <span class="pull-right arrow"></span>
          </div>
        </div>
      </uib-accordion-heading>

      <uib-accordion close-others="true" ng-class="inv-accordion" ng-init="data.MonetaryAmount?data.MonetaryAmount[0].isOpen=true:undefined">

        <div uib-accordion-group class="panel-default" ng-repeat="(ind, money) in data.MonetaryAmount" 
          is-open="money.isOpen">
          <uib-accordion-heading>
            <div>
              <!--<div class="row transparentCol"
                                       ng-switch-when="true"
                                       ng-click="$event.stopPropagation();$event.preventDefault();">
                                    <div class="bopDiv col-lg-12 action-bar-default">
                                      Balance of payment (BoP) detailsJJ 
                                      <span class="errorMsg">
                                        {{moneytOutstanding(data, 'Over by ', 'Under by ', data.ZAREquivalent.val ? data.ZAREquivalent.val : null, data.TransactionCurrency.val)}}
                                      </span>
                                    </div>
                                  </div>-->

              <div class="row clearfix">

                <div class="col-md-7">
                  <span class="acc-hdr-el acc-hdr-ico helpme ">{{ind + 1}}</span>

                  <b class="acc-hdr-el ">
                    <dfield value="money.CategoryCode"></dfield>
                    <span ng-hide="money.CategoryCode.val">***</span>
                    {{money.CategorySubCode.val ? '/ ' + money.CategorySubCode.val : ""}}
                  </b>

                  <b class="acc-hdr-el">
                    <dfield value="data.TransactionCurrency"></dfield>
                    <dfield value="money.ForeignValue" is-money-field="true"></dfield>
                    <!-- <dfield value="money.RandValue" is-money-field="true"></dfield> -->
                  </b>
                  <b class="acc-hdr-el">
                    <dfield value="money.ThirdPartyContactLabel"></dfield>
                  </b>
                  <span class="errorMsg errorAsterix" ng-show="isSectionInError('Money','general',money)">*</span>
        
                </div>

                <!--Icons on the far right...-->
                <div class="col-md-5">
                  
                  <span class="pull-right arrow"></span>
                  <i class="glyphicon  icon-investec-delete-1 pull-right" ng-click="$event.stopPropagation();$event.preventDefault();removeMonetaryAmount(money, ie, 'modalBopFormConfirmDel');">&nbsp;</i>

                  <!--<i class="glyphicon glyphicon-remove-circle pull-right"
                                    -->
                </div>
              </div>
            </div>
          </uib-accordion-heading>

          <div class="col-md-12">

            <div ng-include="config.partialsPath + 'monetary/primary.html'">primary fields...</div>

            <div ng-include="config.partialsPath + getDetailTemplate('Money','general')"></div>

            <!--<ifield label="Auth Ruling Section" model="money[map('Regulator')+'Auth'].RulingsSection" >-->

            <ifield label="Auth application number" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"></ifield>
            <datefield label="Auth application date" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"></datefield>

            <rfield model="money[map('Regulator')+'Auth'].IsSARBAuth" 
            label="SARB auth application"
            tooltip-title="'Please complete this section if you have pre-authorisation by the South African Reserve Bank (SARB) for this transaction'"
            lookup-values="[{value:undefined, label:'No'}, {value:'Y', label:'Yes'}]"></rfield>
            <!-- <div class="row fld" ng-hide="money[map('Regulator')+'Auth'].IsSARBAuth.hide">
              <label class="col-md-3 FldLabel">
                <abbr tooltip-placement="bottom" title uib-tooltip="Please complete this section if you have pre-authorisation by the South African Reserve Bank (SARB) for this transaction"
                  tooltip-popup-close-delay='500' tooltip-class="invBopTooltip">SARB auth application</abbr>

              </label>
              <div class="col-md-4 form-group form-group-checkbox-only clearfix no-hover ">
                <input type="checkbox" id="{{'terms'+'_'+ind}}" name="checkbox-set" ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val" ng-change="revalidate()"
                  style="width: auto;" ng-true-value="'Y'">
                <div class="btn-group" role="group">
                  <label class="btn btn-default single-checkbox" for="{{'terms'+'_'+ind}}">
                    <span class="icon-investec-tick"></span>
                    <span ng-show="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].val && money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].val || money[map('Regulator')+'Auth'].IsSARBAuth.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error"
                      lbl>Keep?</span> (optional)
                  </label>
                </div>
              </div>
            </div> -->


            <ifield label="SARB auth reference number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>

            <fieldset ng-show="money[map('Regulator')+'Auth'].IsSARBAuth.val || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error">

              <ifield label="SARB auth number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']" tooltip-title="'The number found on your SARB approval document'"
                aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error ? '' : '(optional)' }}"></ifield>
              <span ng-init="maxAuthDate = util.date.now()">
                <datefield label="SARB auth date" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate']" max="maxAuthDate" tooltip-title="'The date of your approval on the SARB document'"
                  aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error ? '' : '(optional)' }}"></datefield>
              </span>
            </fieldset>
            <br>


            <!--travel -->
            <div ng-hide="money.TravelMode.hide" class="row">
              <h3>Travel Details</h3>
              <sfield label="Traveller status" model="money.TravelMode.TravellerStatus" lookup-values="[{label:'Applicant', value:'Account Holder'},
              {label:'South African Resident', value:'South African Resident'},
              {label:'Non Resident', value:'Non Resident'},
              {label:'Foreign Temporary Resident', value:'Foreign Temporary Resident'}]">
              </sfield>


              <datefield label="Departure date" model="money.TravelMode.DepartureDate"></datefield>
              <sfield label="Travel by" model="money.TravelMode.Mode" lookup-values="['AIR',
              'SEA',
              'ROAD',
              'RAIL']">
              </sfield>

              <lfield label="Destination country" model="money.TravelMode.DestinationCountry" lookup="countries" label-prop="name" value-prop="code"></lfield>

              <ifield label="Border post used to exit SA" model="money.TravelMode.BorderPost"></ifield>

              <ifield label="Ticket number" model="money.TravelMode.TicketNumber"></ifield>
            </div>
            <!--travel end -->
            <div ng-hide="money.ThirdParty.hide && !(isSectionInError('Money', 'thirdparty', money)
            || isSectionInError('Money', 'contact', money)
            || isSectionInError('Money', 'contactStreet', money)
            || isSectionInError('Money', 'contactPostal', money))" class="row">
              <h3>Third Party</h3>
              <p ng-messages ng-show="!$parent.customData.msgHide && (money.ThirdParty.error || money.ThirdParty.warning)">
                  <span class="errorMsg"><b>X</b>Third party element is in error.<br /></span>
                </p>

              <div ng-include="config.partialsPath + 'monetary/thirdparty.html'">3rd party fields...</div>

              <div ng-include="config.partialsPath + 'monetary/thirdparty_contact.html'">3rd party contact fields...</div>

            </div>
           
            <div ng-include="config.partialsPath + config.importexport_summary" ng-hide="money.ImportExport.hide"></div>
            

          </div>
        </div>

      </uib-accordion>

      <div class="action-bar">
        <div class="action-bar-default clearfix">
          <div class="col-xs-12 col-sm-8 action-bar-heading">
            <h4>Additional reporting category</h4>
          </div>
          <div class="col-xs-12 col-sm-4 action-bar-buttons">
            <button class="btn btn-primary btn-block btn-mobile" type="button" ng-click="addMonetaryAmount({
                                                      CategoryCode: null,
                                                      CategorySubCode: null,
                                                      ImportExport: [],
                                                      ThirdParty: {}
                                                    })">
              Add
            </button>
          </div>
        </div>
      </div>

    </div>

    <div uib-accordion-group class="panel-default">

      <uib-accordion-heading>
        <div class="row clearfix" ng-click="$window.scrollTo(0,0)">
          <div class="col-xs-12">
            {{data.NonResidentLabel.val}} Details
            <span class="errorMsg errorAsterix" ng-show="
            isSectionInError('PaymentDetail')
            ||isSectionInError('NonResident','general')
            ||isSectionInError('NonResident','account')
            ||isSectionInError('NonResident','contact')">*</span>
            <span class="pull-right arrow"></span>
          </div>
        </div>
      </uib-accordion-heading>

      <h3>{{data.NonResidentLabel.val}} Basic Details</h3>
      <div ng-include="config.partialsPath+'nonResident/header.html'"></div>
      <sfield label="{{data.NonResidentLabel.val}} residential status" model="data.CounterpartyStatus" lookup-values="['South African Resident','Non Resident','Foreign Temporary Resident']"
        ></sfield>
      <div ng-include="config.partialsPath+getDetailTemplate('NonResident','general')"></div>
      <div ng-include="config.partialsPath+getDetailTemplate('NonResident','contact')"></div>

      <div ng-show="Flow=='OUT'">
        <h3>Beneficiary Bank Details</h3>
        <!-- individual or entity.. if individual- name and surname entity onle name annd both need country -->
        <ifield label="SWIFTBIC" model="data.PaymentDetail.BeneficiaryBank.SWIFTBIC" tooltip-title="'The SWIFTBIC code of the beneficiary bank'"
          always-show="true"></ifield>

        <ifield label="Bank name" model="data.PaymentDetail.BeneficiaryBank.BankName" tooltip-title="'The beneficiary bank name'"
          always-show="true"></ifield>

        <ifield label="Branch code" model="data.PaymentDetail.BeneficiaryBank.BranchCode" tooltip-title="'The beneficiary branch code'"
          always-show="true"></ifield>

        <ifield label="Address" model="data.PaymentDetail.BeneficiaryBank.Address" tooltip-title="'The beneficiary bank address'"
          always-show="true"></ifield>

        <ifield label="City" model="data.PaymentDetail.BeneficiaryBank.City" tooltip-title="'The beneficiary bank city'" always-show="true"></ifield>

        <lfield label="Country" model="data.ReceivingCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"
          always-show="true"></lfield>
      </div>

      <div ng-show="Flow=='OUT'">
        <h3>{{data.NonResidentLabel.val}} Payment Details</h3>

        <div ng-include="config.partialsPath+getDetailTemplate('NonResident','account')"></div>

        <ifield label="{{data.NonResidentLabel.val}} reference" model="data.PaymentDetail.SWIFTDetails" tooltip-title="'The information sent to the '+data.NonResidentLabel.val+' as reference for the payment'"
          always-show="true"></ifield>

        <sfield label="Charge allocation" model="data.PaymentDetail.Charges" lookup-values="[{value:'SHA',label:'SHA - Charges are shared by the beneficiary and applicant'},{value:'OUR',label:'OUR - All charges including offshore charges are paid by the applicant'},{value:'BEN',label:'BEN - All charges including offshore charges are paid by the beneficiary'}]"></sfield>
      </div>  

    </div>

    <!--<div uib-accordion-group class="panel-default">

      <uib-accordion-heading>
          Additional Information <span class="errorMsg" ng-show="
          isSectionInError('Resident','general')
          ||isSectionInError('Resident','contactStreet')
          ||isSectionInError('Resident','contactPostal')">*</span>
          <span class="pull-right arrow"></span>
      </uib-accordion-heading>

      <div class="row">
        <div class="col-lg-12">
          <br>
          <span ng-hide="Flow==='IN'">Please verify the following detail(s) are not missing and are up to date. Please supply us with the required relevant
            information.
          </span>
          <span ng-show="Flow==='IN'">Please verify the following detail(s) and supply us with the required information below.</span>
        </div>
      </div>


      <div ng-include="config.partialsPath + 'allFields.html'"></div>

    </div>-->

  </uib-accordion>





</div>





<script type="text/ng-template" id="modalBopFormConfirmDel.html">
<span class="inv-modal">
<div class="modal-header">
<b class="modal-title" id="modalIdLabel">Delete reason</b>
</div>

<div class="modal-body">

<span>
<div class="bopModDel"></div>
<b>Category</b> will be deleted from your list of reasons. Are you sure?
</span>
<br><br><br>
</div>

<div class="modal-footer">
<button class="btn btn-default pull-left"
      type="button"
      ng-click="$ctrl.cancel()">
Cancel
</button>
<button class="btn btn-primary"
      type="button"
      ng-click="$ctrl.ok()">
Delete
</button>
</div>
</span>
</script>

<!--modal-->
<script type="text/ng-template" id="modalBopFormCurrency.html" modal-window-class="inv-modal bopMod" modal-size="xl">
  <div class="modal-header">
    <button class="close"
            type="button"
            ng-click="$parent.modalCancel()">
      <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="modal-title" id="modalIdLabel">Payment currency selector</h4>
  </div>

  <div class="modal-body row form-group">
    <div class="col-md-12">
      <p>Please select the reference currency from the list below:</p>
      <div class="col-md-6 inv-dropdown currency-converter"
           ng-repeat="c in modParent.getCurrencies() | filterInArray:$parent.customData.currencyFilter:'code'">
        <button class="btn btn-default flag {{$parent.customData.currencyFlags.indexOf(c.code) >= 0 ? 'flag flag-active' : ''}}"
                type="button"
                style="background-color:#fff; width:100%;"
                ng-class="['flag-' + c.code.toLowerCase()}]"
                href="#"
    
                ng-click="modParent.currencyModel.val = c.code; modParent.update(null, true); $parent.modalOk();">
          {{c.name + ' (' + c.code + ')'}}
        </button>
      </div>
    </div>
  </div>

  <div class="modal-footer"> </div>
</script>


<script type="text/ng-template" id="lfieldSelectItem.html">
  <a>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>