<div class="form-horizontal">

  <afield label="Import Control Number" value="ie.ImportControlNumber"></afield>
  <afield label="Transport Document Number" value="ie.TransportDocumentNumber"></afield>
  <!--<afield label="MRNNotOnIVS" value="ie.MRNNotOnIVS" lookup="yesNo"/>-->
  <afield label="UCR" value="ie.UCR"></afield>

  <mfield label="Payment Value" value="ie.PaymentValue" currency-value="ie.PaymentCurrencyCode" input-currency="true"></mfield>

</div>