<fieldset>
    <legend>
        Imports/Exports Total {{importExportTotal(current.money.ImportExport)}} Allocated <span style="color: #cc0000;"> {{ importExportOutstanding(current.money, current.money.ImportExport, 'OVER! ', '+ Remaining: ') }}</span>
    </legend>
    <div id='Editable_Table_Grid'>
        <table class="table table-striped-custom table-bordered table-condensed">
            <thead>
                <tr>
                    <th width="40px">Seq</th>
                    <th>Allocated Amount</th>
                    <th ng-hide="current.money.IE_ICNHeading.hide">{{current.money.IE_ICNHeading.label}}</th>
                    <th ng-hide="current.money.IE_TDNHeading.hide">Transport Document Number (TDN)</th>
                    <th ng-hide="current.money.IE_UCRHeading.hide">Unique Consignment Reference (UCR)</th>
                    <!--<th ng-hide="current.money.IE_CCNHeading.hide">Customs Client Number (CCN)</th>-->
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="(ind,ie) in current.money.ImportExport"
                    ng-class="{'': currentImportExportInstance!=ind, 'selected-row': currentImportExportInstance==ind}">
                    <td width="40px">{{ind + 1}}</td>
                    <td>
                        <dfield value="ie.PaymentValue"></dfield>
                    </td>
                    <td ng-hide="ie.ImportControlNumber.hide">
                        <dfield value="ie.ImportControlNumber"></dfield>

                    </td>
                    <td ng-hide="ie.TransportDocumentNumber.hide">
                        <dfield value="ie.TransportDocumentNumber"></dfield>

                    </td>
                    <td ng-hide="ie.UCR.hide">
                        <dfield value="ie.UCR"></dfield>
                    </td>

                    <!--<td>-->
                        <!--<dfield value="ie.CustomsClientNumber" />-->
                    <!--</td>-->
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
