<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <label class="control-label FldLabel">Category Code/Subcode</label>

      <div>
        <b>{{current.money.CategoryCode.val}} {{current.money.CategorySubCode.val?'/ '+current.money.CategorySubCode.val:""}}</b>
      </div>
    </div>
    <afield label="Foreign value"
            value="{val: ('('+data.FlowCurrency.val +') '+current.money.ForeignValue.val)}"
            disable-field="true"></afield>
    <!--<mfield label="Foreign value" value="current.money.ForeignValue" currency-value="data.FlowCurrency"/>-->
    <afield label="Location country" value="current.money.LocationCountry" lookup="countries" label-prop="name"
            value-prop="code"
            squash-numerics="true"></afield>
    <afield label="SWIFT details" value="current.money.SWIFTDetails"></afield>
    <afield label="Money Transfer Agent Indicator"
            value="current.money.MoneyTransferAgentIndicator"
            lookup="moneyTransferAgents"></afield>
  </div>
  <div class="col-sm-4">
    <!--<mfield label="Rand value" value="current.money.RandValue" currency-value="{val:'ZAR'}"/>-->
    <afield label="Auth issuer" value="current.money[map('Regulator')+'Auth'].AuthIssuer" lookup="authIssuers"></afield>
    <afield label="SARB auth application number" value="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']"></afield>
    <afield label="SARB auth reference number" value="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></afield>
    <afield label="AD internal auth number date"
            value="current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"
            clearbtt="current.money.ADInternalAuthResponseCode"></afield>
    <afield label="AD internal auth number"
            value="current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"
            clearbtt="current.money.ADInternalAuthResponseCode"></afield>

    <!--<bfield value="current.money.ADInternalAuthResponseCode"-->
    <!--validation="ARM_Validate"-->
    <!--hiddenstate="{{current.money.ADInternalAuthResponseCode.hide}}"-->
    <!--view="no"/>-->
    <afield label="Ruling section" value="current.money[map('Regulator')+'Auth'].RulingsSection"></afield>
  </div>
  <div class="col-sm-4">
    <!--<afield label="Money Transfer Agent Indicator" value="current.money.MoneyTransferAgentIndicator" lookup="moneyTransferAgents"/>-->
    <afield label="Subject" value="current.money.AdHocRequirement.Subject" lookup="adhocSubjects"></afield>
    <afield label="Description" value="current.money.AdHocRequirement.Description"></afield>
    <afield label="Reason for 830" value="current.money.CannotCategorize"></afield>

    <afield label="Reversal Transaction Reference Number" value="current.money.ReversalTrnRefNumber"></afield>
    <afield label="Reversal Sequence" value="current.money.ReversalTrnSeqNumber"></afield>
  </div>
</div>




<fieldset ng-hide="current.money.LoanInterest.InterestType.hide">
  <legend>Loan details</legend>
  <div class="row">
    <div class="col-sm-4">
      <afield label="Loan reference number" value="current.money.LoanRefNumber"></afield>

      <afield label="Loan tenor type" value="current.money.LoanTenorType"
              lookup-values="[{value:'MATURITY DATE',label:'Maturity Date'},{value:'ON DEMAND',label:'On Demand'}]"/>
      <afield label="Maturity date" value="current.money.LoanTenorMaturityDate"></afield>
    </div>
    <div class="col-sm-4">
        <afield label="Interest rate" value="current.money.LoanInterestRate"></afield>
    </div>
  </div>

</fieldset>


