<div ng-hide="iePaste">
  <p>Please Paste Data Here:</p>
  <textarea class="form-control" id="pasteArea" rows=3 cols=80> </textarea>
  <a class='btn btn-custom-nbol btn-sm' ng-click="processPaste()">Process Pasted Data</a>
</div>
<table class="table table-condensed" ng-show="iePaste">
  <thead>
  <tr>
    <td><b>ImportControlNumber</b></td>
    <td><b>TransportDocumentNumber</b></td>
    <td><b>UCR</b></td>
    <!--<td><b>PaymentCurrencyCode</b></td>-->
    <td><b>PaymentValue</b></td>
  </tr>

  </thead>
  <tbody>
  <tr ng-repeat="ie in iePaste">

    <td>{{ie.ImportControlNumber}}</td>
    <td>{{ie.TransportDocumentNumber}}</td>
    <td>{{ie.UCR}}</td>
    <!--<td>{{ie.PaymentCurrencyCode}}</td>-->
    <td>{{ie.PaymentValue}}</td>

  </tr>
  </tbody>
</table>

<hr/>
<a class='btn btn-custom-nbol btn-sm' ng-click="AddPastedImportExportData(current.money, iePaste); close();">Add</a>
<a class='btn btn-custom-nbol btn-sm' ng-click="close();">Cancel</a>