<div ng-show="getThirdPartyType(current.money)=='Individual' || getThirdPartyType(current.money)=='Entity'">
  <div class="form-horizontal">
    <fieldset>
      <legend>Third party details</legend>
      <div ng-hide="getThirdPartyType(current.money)=='None'">
        <div class="row">
          <div class="col-sm-4">
            <div ng-show="getThirdPartyType(current.money)=='Entity'">
              <afield label="Legal entity name" value="current.money.ThirdParty.Entity.Name"></afield>
              <afield label="Tax number" value="current.money.ThirdParty.TaxNumber"></afield>
            </div>
            <div ng-show="getThirdPartyType(current.money)=='Individual'">
              <afield label="Name" value="current.money.ThirdParty.Individual.Name"></afield>
              <afield label="Identity number" value="current.money.ThirdParty.Individual.IDNumber"></afield>
              <afield label="Temporary resident permit number" value="current.money.ThirdParty.Individual.TempResPermitNumber"></afield>
              <afield label="Passport number" value="current.money.ThirdParty.Individual.PassportNumber"></afield>
            </div>
          </div>
          <div class="col-sm-4">
            <div ng-show="getThirdPartyType(current.money)=='Entity'">
              <afield label="Registration number" value="current.money.ThirdParty.Entity.RegistrationNumber"></afield>
              <afield label="VAT number" value="current.money.ThirdParty.VATNumber"></afield>
            </div>
            <div ng-show="getThirdPartyType(current.money)=='Individual'">
              <afield label="Surname" value="current.money.ThirdParty.Individual.Surname"></afield>
              <afield label="Gender" value="current.money.ThirdParty.Individual.Gender" lookup="gender"></afield>
              <afield label="Date of birth" value="current.money.ThirdParty.Individual.DateOfBirth"></afield>
              <afield label="Passport country" value="current.money.ThirdParty.Individual.PassportCountry" lookup="countries"
                      label-prop="name" value-prop="code" squash-numerics="true"></afield>
            </div>

          </div>
          <div class="col-sm-4">
            <afield label="Customs Client Number" value="current.money.ThirdParty.CustomsClientNumber"></afield>
            <afield ng-show="getThirdPartyType(current.money)=='Individual'" label="Tax number"
                    value="current.money.ThirdParty.TaxNumber"></afield>
            <afield ng-show="getThirdPartyType(current.money)=='Individual'" label="VAT number"
                    value="current.money.ThirdParty.VATNumber"></afield>
          </div>
        </div>

      </div>
    </fieldset>
  </div>
</div>