<div ng-hide="getThirdPartyType(current.money)=='None'">
  <div class="form-horizontal">

    <fieldset>
      <legend>Third party contact details</legend>
      <div class="row">
        <div class="col-sm-4">
          <afield label="Contact surname" value="current.money.ThirdParty.ContactDetails.ContactSurname"></afield>
          <afield label="Contact name" value="current.money.ThirdParty.ContactDetails.ContactName"></afield>
        </div>
        <div class="col-sm-4">
          <afield label="Email" value="current.money.ThirdParty.ContactDetails.Email"></afield>
          <afield label="Fax" value="current.money.ThirdParty.ContactDetails.Fax"></afield>
        </div>
        <div class="col-sm-4">
          <afield label="Telephone" value="current.money.ThirdParty.ContactDetails.Telephone"></afield>
        </div>
      </div>
    </fieldset>

  <fieldset>
    <legend>Third party street address</legend>
    <div class="row">
      <div class="col-sm-4">
        <afield label="Street address line 1" value="current.money.ThirdParty.StreetAddress.AddressLine1"></afield>
        <afield label="Street province" value="current.money.ThirdParty.StreetAddress.Province" lookup="provinces"
                label-prop="true"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Street address line 2" value="current.money.ThirdParty.StreetAddress.AddressLine2"></afield>
        <afield label="Street city" value="current.money.ThirdParty.StreetAddress.City"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Street suburb" value="current.money.ThirdParty.StreetAddress.Suburb"></afield>
        <afield label="Street postal code" value="current.money.ThirdParty.StreetAddress.PostalCode"></afield>
      </div>
    </div>
  </fieldset>

    <fieldset>
      <legend>Third party postal address</legend>
      <!--<div class="form-group">-->
        <!--<div class="col-lg-7">-->
          <!--<input class="form-control"-->
                 <!--ng-click="copyAddress(current.money.ThirdParty.StreetAddress,current.money.ThirdParty.PostalAddress)"-->
                 <!--type="button" value="Postal Address Same As Above"/>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-sm-4">
          <afield label="Postal address line 1" value="current.money.ThirdParty.PostalAddress.AddressLine1"></afield>
          <afield label="Postal province" value="current.money.ThirdParty.PostalAddress.Province" lookup="provinces"
                  label-prop="true"></afield>
        </div>
        <div class="col-sm-4">
          <afield label="Postal address line 2" value="current.money.ThirdParty.PostalAddress.AddressLine2"></afield>
          <afield label="Postal city" value="current.money.ThirdParty.PostalAddress.City"></afield>
        </div>
        <div class="col-sm-4">
          <afield label="Postal suburb" value="current.money.ThirdParty.PostalAddress.Suburb"></afield>
          <afield label="Postal code" value="current.money.ThirdParty.PostalAddress.PostalCode"></afield>
        </div>
      </div>
    </fieldset>
  </div>
</div>