<!--<lfield label="{{Flow==='IN' ? 'Country where the service was requested from or where merchandise was exported to' : 'Originating country of services or funds'}}"-->
<!--model="data.LocationCountry"-->
<!--lookup="countries"-->
<!--label-prop="name"-->
<!--value-prop="code"-->
<!--squash-numerics="true"-->
<!--is-show-override="false" -->
<!--tooltip-title="{{Flow==='IN' ? 'From which country did you receive these funds?' : ''}}" ></lfield>-->

<!--<sfield label="Account holder Status"-->
<!--model="data.AccountHolderStatus"-->
<!--lookup-values="['South African Resident','Non Resident','Foreign Temporary Resident']"-->
<!--is-show-override="true" ></sfield>-->

<!--Transaction-->
<datefield label="Date" model="data.ValueDate" is-show-override="true"></datefield>

<lfield label="Originating country" model="data.OriginatingCountry" lookup="countries" label-prop="name" value-prop="code"
  squash-numerics="true" is-show-override="true"></lfield>

<ifield label="Originating bank" model="data.OriginatingBank" is-show-override="true"></ifield>

<ifield label="Branch code" model="data.BranchCode" is-show-override="true"></ifield>

<ifield label="Branch name" model="data.BranchName" is-show-override="true"></ifield>

<!--<lfield label="Receiving country"-->
<!--model="data.ReceivingCountry"-->
<!--lookup="countries"-->
<!--label-prop="name"-->
<!--value-prop="code"-->
<!--squash-numerics="true"-->
<!--is-show-override="true" ></lfield>-->

<ifield label="Receiving bank" model="data.ReceivingBank" is-show-override="true"></ifield>

<ifield label="Corresponding bank" model="data.CorrespondentBank" is-show-override="true"></ifield>

<lfield label="Corresponding country" model="data.CorrespondentCountry" lookup="countries" label-prop="name" value-prop="code"
  squash-numerics="true" is-show-override="true"></lfield>

<ifield label="Hub code" model="data.HubCode" is-show-override="true"></ifield>
<ifield label="Hub name" model="data.HubName" is-show-override="true"></ifield>

<!--<ifield label="Account holder account number"-->
<!--model="Resident.AccountNumber"-->
<!--is-show-override="true" ></ifield>-->


<!--<lfield label="Account holder Street address country"-->
<!--model="data.Resident.Individual.StreetAddress.Country"-->
<!--lookup="countries"-->
<!--label-prop="name"-->
<!--value-prop="code"-->
<!--squash-numerics="true"-->
<!--is-show-override="true" ></lfield>-->



<!--<sfield label="{{data.NonResidentLabel.val}} Status"-->
<!--model="data.CounterpartyStatus"-->
<!--lookup-values="['South African Resident', 'Non Resident', 'Foreign Temporary Resident']"-->
<!--is-show-override="true" ></sfield>-->

<!-- <sfield label="{{data.NonResidentLabel.val}} account identifier" model="NonResident.AccountIdentifier" lookup="accountIdentifiersNonResident"
  is-show-override="true"></sfield>

<ifield label="{{data.NonResidentLabel.val}} account number" model="NonResident.AccountNumber" is-show-override="true"></ifield>

<span ng-show="data.NonResident.Individual">
  <ifield label="{{data.NonResidentLabel.val}} name" model="data.NonResident.Individual.Name" is-show-override="true"></ifield>
  <ifield label="{{data.NonResidentLabel.val}} surname" model="data.NonResident.Individual.Surname" is-show-override="true"></ifield>

  <sfield label="{{data.NonResidentLabel.val}} gender" model="data.NonResident.Individual.Gender" lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"
    is-show-override="true"></sfield>
  <ifield label="{{data.NonResidentLabel.val}} passport number" model="data.NonResident.Individual.PassportNumber" is-show-override="true"></ifield>
  <lfield label="{{data.NonResidentLabel.val}} passport country" model="data.NonResident.Individual.PassportCountry" lookup="countries"
    label-prop="name" value-prop="code" squash-numerics="true" is-show-override="true"></lfield>
  <rfield label="{{data.NonResidentLabel.val}} mutual party?" model="data.NonResident.Individual.IsMutualParty" lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
    is-show-override="true"></rfield>
</span>

<span ng-show="data.NonResident.Entity">
  <ifield label="{{data.NonResidentLabel.val}} legal entity name" model="data.NonResident.Entity.EntityName" is-show-override="true"></ifield>
  <ifield label="{{data.NonResidentLabel.val}} card merchant name" model="data.NonResident.Entity.CardMerchantName" is-show-override="true"></ifield>
  <ifield label="{{data.NonResidentLabel.val}} card merchant code" model="data.NonResident.Entity.CardMerchantCode" is-show-override="true"></ifield>

  <rfield label="{{data.NonResidentLabel.val}} is applicant (i.e. mutual party)?" model="data.NonResident.Entity.IsMutualParty"
    lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]" is-show-override="true"></rfield>
</span>

<span ng-hide="data.NonResident.Individual || data.NonResident.Entity">
  <sfield label="{{data.NonResidentLabel.val}} Exception" model="data.NonResident.Exception.ExceptionName" lookup="nonResidentExceptions"
    is-show-override="true"></sfield>
</span> -->

<!-- <legend>Contact details</legend> -->
<!-- <ifield label="{{data.NonResidentLabel.val}} address line 1" model="NonResident.Address.AddressLine1" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} address line 2" model="NonResident.Address.AddressLine2" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} suburb" model="NonResident.Address.Suburb" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} zip code" model="NonResident.Address.PostalCode" is-show-override="true"></ifield>

<ifield label="{{data.NonResidentLabel.val}} state" model="NonResident.Address.State" is-show-override="true"></ifield>

<ifield label="{{data.NonResidentLabel.val}} city" model="NonResident.Address.City" is-show-override="true"></ifield>

<lfield label="{{data.NonResidentLabel.val}} country" model="NonResident.Address.Country" lookup="countries" label-prop="name"
  value-prop="code" squash-numerics="true" is-show-override="true"></lfield>

<ifield label="Correspondent bank?" model="data.PaymentDetail.IsCorrespondentBank" is-show-override="true" lookup-values="[{value:'Y',label:'Yes'},{value:'N',label:'No'}]"></ifield>

<ifield label="Correspondent bank SWIFTBIC" model="data.PaymentDetail.CorrespondentBank.SWIFTBIC" is-show-override="true"></ifield>
<ifield label="Correspondent bank name" model="data.PaymentDetail.CorrespondentBank.BankName" is-show-override="true"></ifield>
<ifield label="Correspondent bank branch code" model="data.PaymentDetail.CorrespondentBank.BranchCode" is-show-override="true"></ifield>
<ifield label="Correspondent bank address" model="data.PaymentDetail.CorrespondentBank.Address" is-show-override="true"></ifield>
<ifield label="Correspondent bank city" model="data.PaymentDetail.CorrespondentBank.City" is-show-override="true"></ifield> -->