<div class="form-horizontal">
  <fieldset>
    <legend>Contact details</legend>
    <div class="row">
      <div class="col-sm-4">
        <ifield label="Contact surname" model="Resident.ContactDetails.ContactSurname"></ifield>
        <ifield label="Contact name" model="Resident.ContactDetails.ContactName"></ifield>
      </div>
      <div class="col-sm-4">
        <ifield label="Email" model="Resident.ContactDetails.Email"></ifield>
        <ifield label="Fax" model="Resident.ContactDetails.Fax"></ifield>
      </div>
      <div class="col-sm-4">
        <ifield label="Telephone" model="Resident.ContactDetails.Telephone"></ifield>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Contact street address</legend>
    <div class="row">
      <div class="col-sm-4">
        <ifield label="Street address line 1" model="Resident.StreetAddress.AddressLine1"></ifield>
        <lfield label="Street {{map('StateName')}}" model="Resident.StreetAddress.Province" lookup="provinces"
                label-prop="true"></lfield>
      </div>
      <div class="col-sm-4">
        <ifield label="Street address line 2" model="Resident.StreetAddress.AddressLine2"></ifield>
        <ifield label="Street city" model="Resident.StreetAddress.City"></ifield>
      </div>
      <div class="col-sm-4">
        <ifield label="Street suburb" model="Resident.StreetAddress.Suburb"></ifield>
        <ifield label="Street postal code" model="Resident.StreetAddress.PostalCode"></ifield>
      </div>
    </div>
  </fieldset>


  <fieldset>
    <legend>Contact postal address</legend>
    <div class="row form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <input class="form-control  copy-street-address"
               ng-click="copyAddress(Resident.StreetAddress,Resident.PostalAddress)"
               type="button" value="Postal Address Same As Street Address"
               ng-disabled="Resident.PostalAddress.AddressLine1.disabled">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ifield label="Postal address line 1" model="Resident.PostalAddress.AddressLine1"></ifield>
        <lfield label="Postal {{map('StateName')}}" model="Resident.PostalAddress.Province" lookup="provinces"
                label-prop="true"></lfield>
      </div>
      <div class="col-sm-4">
        <ifield label="Postal address line 2" model="Resident.PostalAddress.AddressLine2"></ifield>
        <ifield label="Postal city" model="Resident.PostalAddress.City"></ifield>
      </div>
      <div class="col-sm-4">
        <ifield label="Postal suburb" model="Resident.PostalAddress.Suburb"></ifield>
        <ifield label="Postal code" model="Resident.PostalAddress.PostalCode"></ifield>
      </div>
    </div>
  </fieldset>

</div>