<div id="SS_non_resident_modal_object_exception" class="form-horizontal">
    <div class="col-sm-4">
        <lfield label="Exception name" model="data.NonResident.Exception.ExceptionName" lookup="nonResidentExceptions"></lfield>
        <!---->
    </div>
    <!--<div class="col-sm-4">
        <lfield label="Country" model="data.NonResident.Exception.Country"
                lookup="countries"
                label-prop="name" value-prop="code" squash-numerics="true" />
    </div>-->
</div>