<div class="entity-type-header"
     ng-init="customData.OrderingCustomerName = customData.nonResidentTypeUndefined ? customData.snapShot.NonResident.Entity.EntityName : customData.OrderingCustomerName">

  <div ng-if="!customData.snapShot.NonResident || customData.nonResidentTypeUndefined"
       ng-init="data.NonResident.Type.val = nonResType = customData.nonResidentTypeUndefined ? 'none' : nonResType"
       class=" row form-inline"
       role="form">
    <div class="col-sm-12">
      <div class="form-group" style="display: inline">
        <span>Type: &nbsp;</span>
        <span ng-show="data.NonResident.Type.warning"
              class="bop-warning-nbol"></span>
        <select type="text"
                class="select-field form-control "
                ng-model="nonResType"
                ng-options="unitType for unitType in unitTypes"
                ng-change="updateNonResType(nonResType,true); data.NonResident.Type.val = nonResType"
                popover-placement="top"
                popover-trigger="mouseenter"
                ng-class="data.NonResident.Type.error?'has-warning':''"
                uib-popover="{{data.NonResident.Type.msg.join('\n')}}"
                popover-title="Issues with this field:"
                popover-append-to-body="true"
                style="display: inline; width:33%; padding: 0%;"></select>
      </div>
    </div>
  </div>

  <div ng-if="customData.snapShot.NonResident && !customData.nonResidentTypeUndefined"
       ng-init="">
    Type: &nbsp;{{(data.NonResident.Type.val = nonResType) ? data.NonResident.Type.val : data.NonResident.Type.val }}
  </div>

</div>

