<md-input-container class="md-block" flex ng-hide="(money.CategoryCode.hide && !money.CategoryCode.val) || (money.CategorySubCode.hide && !money.CategorySubCode.val)">
  <label>
    <abbr tooltip-placement="bottom" title tooltip-popup-close-delay='500' uib-tooltip="SARB Balance of payment category/subcategory code"
      tooltip-class="invBopTooltip">{{label ? label : 'BOP code'}}</abbr>
  </label>
  <span>
    <input ng-model="tempModel" ng-blur="handleChange()" typeahead-on-select="handleChange()" uib-typeahead="c.code as (c.code + ', ' + c.description) for c in (filteredLoookup = (getCategories() | lFieldFilter:'code':$viewValue))"
      typeahead-focus-first="true" typeahead-min-length="0" typeahead-append-to-body="true" typeahead-editable="false"
      typeahead-focus typeahead-select-on-exact="true" typeahead-select-on-blur="false" type="text" ng-disabled="$parent.isReadOnly() || (money.CategoryCode.disabled && money.CategorySubCode.disabled) || disableField"
      ng-class="!$parent.customData.msgHide && (money.CategoryCode.error||money.CategorySubCode.error) ? 'has-warning':''">


    <span ng-show="money.CategoryCode.busy||money.CategorySubCode.busy && !($parent.isReadOnly()||model.disabled)"
      class="bopBusy"></span>
  </span>

  <div ng-show="tempModel && money.CategoryCode.val" ng-init="limitChars = 45">
    <span ng-show="money.BoPCodeDescription.val.length <= (limitChars + 3)">
      {{money.BoPCodeDescription.val}}
    </span>
    <abbr ng-show="money.BoPCodeDescription.val.length > limitChars + 3" tooltip-placement=" bottom" title uib-tooltip="{{money.BoPCodeDescription.val}}"
      tooltip-popup-close-delay='500' tooltip-class="invBopTooltip">
      {{money.BoPCodeDescription.val.substr(0, limitChars)}}...
    </abbr>
  </div>
</md-input-container>

<md-input-container class="md-block" flex ng-show="!$parent.customData.msgHide && (money.CategoryCode.error||money.CategorySubCode.error)">
  <label></label>
  <p ng-message>
    <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(money.CategoryCode.msg.concat(money.CategorySubCode.msg))"><b>X</b>{{itm}}<br></span>
  </p>
</md-input-container>