
<div layout="column" class="md-block" flex="100" ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
      <br>
  <md-input-container class="md-block" flex="100"
       ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide"
       ng-init="dtPckrInit = dt ? dt : $parent.util.date.now()">
    <label>
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>{{label}}
</label>

<md-datepicker flex="100" ng-change="updateDate()" ng-model="date.val" ng-disabled="$parent.isReadOnly() || model.disabled" ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-warning':''"
  id="{{inputFldId()}}"></md-datepicker>

<!--<p ng-show="!$parent.customData.msgHide && (model.error || model.warning)">
              <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
          </p>-->

<p ng-message ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
  <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
</p>
<p ng-message ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
  <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
</p>
<p ng-message ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
  <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
</p>

<span ng-if="aux" ng-init="limitChars = 40">
      <span ng-show="aux.length <= (limitChars + 3)">
        {{aux}}
      </span>
<abbr ng-show="aux.length > limitChars + 3" tooltip-placement=" bottom" title uib-tooltip="{{aux}}" tooltip-popup-close-delay='500'
  tooltip-class="invBopTooltip">
        {{aux.substr(0, limitChars)}}...
      </abbr>
</span>
</md-input-container>

</div>