<form name="myForm" layout="column">
  <!-- <md-input-container> -->
  <div ng-if="model.event=='adhoc'">
    <md-input-container>
      <label>Description:</label> <input ng-model="model.msg" required />
    </md-input-container>
  </div>

  <div ng-if="model.event!='adhoc'" uib-popover="model.msg">
    info
  </div>

  <div ng-if="model.value">For {{ model.value }}</div>
  <md-input-container layout="row">
    <md-button
      ngf-select
      ng-model="model.file"
      name="file"
      accept="text/*,image/*,.pdf,.doc,.xls,.docx,.xlsx"
      ngf-max-size="10MB"
      required
      ngf-model-invalid="errorFile"
      >Choose file</md-button
    >

    <i ng-show="myForm.file.$error.required">*required</i>
  </md-input-container>
  <i ng-show="myForm.file.$error.maxSize"
    >File too large {{ errorFile.size / 1000000 | number: 1 }}MB: max 10M</i
  >

  <div>{{ model.file.name }}</div>
  <!--
    <img ng-show="myForm.file.$valid" ngf-thumbnail="model" class="thumb"> <md-button ng-click="picFile = null" ng-show="picFile">Remove</md-button>
  -->
  <md-input-container>
    <md-button
      class="md-title"
      ng-disabled="!myForm.$valid&&!model.file.msg"
      ng-click="uploadFile()"
      >Submit</md-button
    >
  </md-input-container>
  <md-progress-linear
    ng-show="model.file.progress >= 0"
    md-mode="determinate"
    value="{{model.file.progress}}"
  ></md-progress-linear>

  <!--
    <span class="progress" ng-show="model.progress >= 0">
      <div style="width:{{model.progress}}%" ng-bind="model.progress + '%'"></div>
    </span>
  -->
  <span ng-show="model.file.result">Upload Successful</span>
  <span class="err" ng-show="errorMsg">{{ errorMsg }}</span>
  <!-- </md-input-container> -->
</form>
