<div layout="column">
  <span ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
  <md-input-container class="md-block" flex
       ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">

    <label>
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
  <span ng-hide="tooltipTitle">{{label}}</span>
  <abbr ng-show="tooltipTitle" tooltip-placement="bottom" title uib-tooltip="{{tooltipTitle}}" tooltip-popup-close-delay='500'
    tooltip-class="invBopTooltip">{{label}}</abbr>
  </label>
  <span>
      <input
             ng-model="model.val"
             ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
             ng-change="update()"
             ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-warning':''"
             id="{{inputFldId()}}"
             maxlength="{{maxLen > 0 ? maxLen : 524288}}" >

      <span ng-show="model.busy && !($parent.isReadOnly()||model.disabled)" class="bopBusy"></span>

  <p ng-message ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
    <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
  </p>
  <p ng-message  ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
    <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
  </p>
  <p ng-message ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
    <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
  </p>
  </span>

  <span ng-show="aux" ng-init="limitChars = 40">
      <span ng-show="aux.length <= (limitChars + 3)">
        {{aux}}
      </span>
  <abbr ng-show="aux.length > limitChars + 3" tooltip-placement=" bottom" title uib-tooltip="{{aux}}" tooltip-popup-close-delay='500'
    tooltip-class="invBopTooltip">
        {{aux.substr(0, limitChars)}}...
      </abbr>
  </span>
  </md-input-container>

  </span>
</div>