
<div flex="100" layout="column" ng-show="!model.hide
&& !isShowOverride
|| (isShowOverride && $root.isModelInError(model))
|| alwaysShow">
<br>
  <md-input-container class="md-block" flex ng-show="($root.isModelInError(model)||alwaysShow) || !model.hide">
    <label>
<span ng-show="$parent.isFieldRequired(model.property) && !($root.isReadOnly()||model.disabled)"
      class="bopRequired"></span>
<span ng-hide="tooltipTitle">{{label}}</span>
<abbr ng-show="tooltipTitle"
      title
      tooltip-placement="bottom"
      uib-tooltip="{{tooltipTitle}}"
      tooltip-popup-close-delay='500'
      tooltip-class="invBopTooltip">{{label}}</abbr>
</label>

    <input ng-model="model.val" ng-focus="model.focus = false; model.focus = true; " ng-blur="model.focus = false;model.val = (!selected)
        ? (filteredLoookup.length != 1)
          ? ''
          : filteredLoookup.length == getLookup().length ? ''  : filteredLoookup[0].value
        : model.val;
        selected = false;
        update()" ng-change="update()" typeahead-on-select="update(); selected = true" uib-typeahead="l.value as (''+l.value+', '+l.label) for l in (filteredLoookup = (getLookup() | lFieldFilter:lookupVal:$viewValue))"
      typeahead-focus-first="true" typeahead-min-length="0" typeahead-append-to-body="false" typeahead-focus typeahead-select-on-exact="true"
      typeahead-select-on-blur="false" type="text" ng-disabled="$root.isReadOnly() || model.disabled" ng-class="!$root.customData.msgHide && (model.error || model.warning) ? 'has-warning' : ''"
      id="{{inputFldId()}}">

    <span ng-show="model.busy && !($root.isReadOnly()||model.disabled)" class="bopBusy"></span>


    <p ng-message ng-show="!$root.customData.msgHide && (model.error && !model.warning)">
      <span class="errorMsg" ng-repeat="itm in $root.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
    </p>
    <p ng-message ng-show="!$root.customData.msgHide && (model.error && model.warning)">
      <span class="errorMsg" ng-repeat="itm in $root.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
    </p>
    <p ng-message ng-show="!$root.customData.msgHide && (!model.error && model.warning)">
      <span ng-repeat="itm in $root.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
    </p>
  </md-input-container>
</div>