<div layout="column" ng-hide="model.hide&&(!model.val)" ng-class="{'has-error':model.error||currencyModel.error, 'has-warning' : model.warning && !($root.isReadOnly()||model.disabled)}">

  <md-input-container class="md-block" flex>
    <label ng-show="label">
<span ng-show="(model.mandatory)||(currencyModel.mandatory) && !($root.isReadOnly()||model.disabled)" class="bopRequired"></span>
{{label}}({{currencyModel.val}})</label>



    <input ng-model="model.val" type="text" ng-trim="false" ng-disabled="$parent.isReadOnly() || model.disabled" ng-change="update()"
      id="{{inputFldId()}}" 
      currency-mask
      production-qty>


    <div ng-message ng-show="(model.error && !model.warning)">
      <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
    </div>
    <div ng-message ng-show="(model.error && model.warning)">
      <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
    </div>
    <div ng-message ng-show="(!model.error && model.warning)">
      <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
    </div>

  </md-input-container>

</div>