<!--<div class="row" ng-hide='value.hide||(value.val==undefined)'>
  <div ng-hide='isMoneyField'>
    <div class="col-sm-3">
      {{label}}
    </div>
    <div class="col-sm-9">
      {{value.val}}
    </div>
  </div>
  <div ng-show='isMoneyField'>
    <div class="col-sm-3">
      {{label}}
    </div>
    <div class="col-sm-9">
      {{value.val | currency:currencyModel.val+" ":2}}
    </div>
  </div>
</div>-->

<span ng-show="!isShowOverride || (isShowOverride && $parent.isModelInError(value)) || alwaysShow">
    <div class="row fld"
         ng-show="($parent.isModelInError(value)||alwaysShow) || !value.hide">

        <span>
            <span ng-show="$parent.isFieldRequired(value.property) && !($parent.isReadOnly()||value.disabled)"
                  class="bopRequired"></span>
            {{label}}
        </span>
        <label ng-hide='isMoneyField'>
         {{value.val}}
        </label>
        <label ng-show='isMoneyField'>{{value.val | currency:currencyModel.val+" ":2}}</label>
    </div>

</span>