<span ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
    <div class="row fld"
         ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
        <label class="col-md-3 FldLabel">
            <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)"
                  class="bopRequired"></span>
            <span ng-hide="tooltipTitle">{{label}}</span>
            <abbr ng-show="tooltipTitle"
                  tooltip-placement="bottom"
                  title
                  uib-tooltip="{{tooltipTitle}}"
                  tooltip-popup-close-delay='500'
                  tooltip-class="invBopTooltip">{{label}}</abbr>
        </label>

        <span class="col-md-4">
            <label class="radio-inline"
                   ng-repeat="option in getLookup()">
                <input type="radio"
                       style="margin: 4px 30px 1px -20px; width: auto !important"
                       ng-model="model.val"
                       ng-change="update()"
                       name="{{inputFldId()}}"
                       ng-disabled="$parent.isReadOnly() || model.disabled"
                       ng-value="option.value"> {{option.label}}
            </label>

            <p ng-show="!$parent.customData.msgHide && (model.error || model.warning)">
                <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
            </p>
        </span>
    

      <span ng-show="aux"
            class="col-md-5"
            ng-init="limitChars = 1400">
        <span ng-show="aux.length <= (limitChars + 3)">
          {{aux}}
        </span>
        <abbr ng-show="aux.length > limitChars + 3"
              tooltip-placement=" bottom"
              title
              uib-tooltip="{{aux}}"
              tooltip-popup-close-delay='500'
              tooltip-class="invBopTooltip">
          {{aux.substr(0, limitChars)}}...
        </abbr>
      </span>
    </div>

    <div class="clear"></div>
</span>