<div layout="column" ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
  <md-input-container class="md-block" flex
       ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
    <label>
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)"
            class="bopRequired"></span>
      {{label}}
    </label>

      <md-select
              ng-model="model.val"
              type="text"
              ng-change="update()"
              ng-disabled="$parent.isReadOnly() || model.disabled"
              ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-warning':''"
              id="{{inputFldId()}}">
              <md-option value="">-- Unknown --</md-option>
              <md-option ng-repeat="option in getLookup()" ng-value="option.value">{{option.label}}</md-option>
      </md-select>
      <!--<p ng-show="!$parent.customData.msgHide && (model.error || model.warning)">
              <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
          </p>-->

      <p ng-message ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-message ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-message ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
        <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
      </p>
  </md-input-container>

</div>