<!--This is a table field-->

<div class="animate-hide ui-front"
     ng-hide="model.hide">

    <span ng-show="model.warning && !($parent.isReadOnly()||model.disabled)" class="bop-warning-nbol"></span>
    <input class="CHAR_P" ng-model="model.val" type="{{isNumberField?'number':'text'}}"
           ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
           ng-change="update()"
           ng-class="model.error?'has-warning':''"
           popover-placement="top"
           popover-trigger="mouseenter"
           popover="{{model.msg.join('\n')}}"
           popover-title="Issues with this field:">

</div>
<div class="clear"></div>