@import  (inline) "reg_rule_repo/sbTradeSuite/css/angular-material.min.css" ;

@import "node_modules/bootstrap/less/variables.less";
@import "node_modules/bootstrap/less/mixins.less";
@import "node_modules/bootstrap/less/dropdowns.less";

.errorMsg{
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    margin-top: 0px;
    color: rgb(221,44,0);
    padding-left: 5px;
}

.warning{
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    margin-top: 0px;
    color: #FF9800;
    padding-left: 5px;
}

.subheader{
	color: rgb(135, 135, 135);
}

.date-picker {
	&._md-datepicker-floating-label {
		&._md-datepicker-has-calendar-icon {
			> label {
				&:not(.md-no-float) {
					&:not(.md-container-ignore) {
						left  : 0px;
						right : 0;
					}
				}
			}
		}
	}

	md-datepicker {
		display : inline-block;
		padding : 0;
		width   : 100%;

		.md-datepicker-button {
			z-index: 1;
			position: absolute;
			right: -10px;
			top: 10px;
			pointer-events: auto !important;
		}

		.md-datepicker-input-container {
			display : flex;
			border-bottom-style: none;

			.md-datepicker-input {
				max-width : 100%;
				min-width : 100%;
				font-size : 100%;
			}

			.md-datepicker-triangle-button {
				display: none !important;
			}
		}
	}

	.md-input-messages-animation {
		.md-input-message-animation {
			margin-left : 0px;
		}
	}
}

ul.dropdown-menu[uib-typeahead-popup] {
	left: 0px !important;
	max-height: 150px;
    overflow-y: auto;
    max-width: -webkit-fill-available;
    overflow-x: hidden;
    top: 40% !important;
}

ul.dropdown-menu[uib-typeahead-popup] > li > a {
	text-decoration: none;
}

ul.dropdown-menu[uib-typeahead-popup] > .active > a,
ul.dropdown-menu[uib-typeahead-popup] > .active > a:hover,
ul.dropdown-menu[uib-typeahead-popup] > .active > a:focus {
	background-color: #e1e1e1;
	color: #333;
}


.md-subheader .md-subheader-inner {
    display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 16px;
}

.currency-code {
    z-index: 1;
    position: absolute;
    left: 5px;
    top: 8px;
}

.currency-padding{
	padding-left: 40px !important;
}

md-select {
    display: flex;
    margin: 0px 0 6px !important; 
}

.md-icon-button+.md-datepicker-input-container {
    margin-left: 0px; 
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body.md-default-theme, body, html.md-default-theme, html {
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
}

md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #828387;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #002477;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}