<div class="form-horizontal col-md-12">
  <span class="gridContainer">
    <mfield
      label="Allocated amount"
      model="ie.PaymentValue"
      currency-model="data.FlowCurrency"
      clearbtt="ie.IVSResponseCodes"
    ></mfield>
    <ifield
      label="Customs client number"
      model="ie.CustomsClientNumber"
      clearbtt="ie.IVSResponseCodes"
    ></ifield>
    <ifield
      label="{{money.advancedpayment.val ? 'Import control number' : 'Movement reference number (MRN)'}}"
      model="ie.ImportControlNumber"
      clearbtt="ie.IVSResponseCodes"
    ></ifield>
    <ifield
      label="Transport document number"
      model="ie.TransportDocumentNumber"
      clearbtt="ie.IVSResponseCodes"
    ></ifield>
    <ifield label=" UCR" model="ie.UCR"></ifield>
    <bfield
      label="Import verification system"
      model="ie.IVSResponseCodes"
      validation="IVS_Validate"
      hiddenstate="{{ie.IVSResponseCodes.hide}}"
      view="no"
    ></bfield>
  </span>
</div>
