  <span class="gridContainer">
    <lfield label="Location country" model="current.money.LocationCountry"
      ng-show="!current.money.LocationCountry.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" 
      lookup="countries" label-prop="name" value-prop="code" squash-numerics="true">
    </lfield>
    <sfield label="Money transfer agent indicator" model="money.MoneyTransferAgentIndicator" 
      ng-show="!money.MoneyTransferAgentIndicator.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents">
    </sfield>

    <ifield label="Reason for 830" model="money.CannotCategorize" ng-show="(isModelInError(model)||alwaysShow) || !money.CannotCategorize.hide"></ifield>

    <ifield label="SWIFT details" model="money.SWIFTDetails" ng-show="(isModelInError(model)||alwaysShow) || !money.SWIFTDetails.hide"></ifield>

    <sfield label="Strate reference number" model="money.StrateRefNumber" lookup-values="['ON MARKET', 'OFF MARKET']"
      ng-show="!money.StrateRefNumber.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents">
    </sfield>

    <ifield label="Loan reference number" model="money.LoanRefNumber" ng-show="(isModelInError(model)||alwaysShow) || !money.LoanRefNumber.hide"></ifield>

    <sfield label="Loan tenor" model="money.LoanTenorType" 
      ng-show="!money.LoanTenorType.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents"
      lookup-values="[{value:'MATURITY DATE',label:'Loan Expiry Date'}, {value:'ON DEMAND',label:'On Demand'}]">
    </sfield>

    <datefield label="Loan expiry date" model="money.LoanTenorMaturityDate"
      ng-show="!money.LoanTenorMaturityDate.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow">
    </datefield>

    <afield value="money.LoanTenor" ng-hide='money.LoanTenor.hide || money.LoanTenor.error'></afield>

    <ifield label="Loan interest rate" model="money.LoanInterestRate" ng-show="(isModelInError(model)||alwaysShow) || !money.LoanInterestRate.hide"></ifield>

    <sfield
      label="Floating rate base" model="money.LoanInterest.BaseRate"
      ng-show="!money.LoanInterest.BaseRate.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents"
      lookup-values="[
        {value:'FIXED',label:'Fixed'},
        {value:'BA',label:'Ba'},
        {value:'BASE',label:'Base'},
        {value:'BBSW',label:'Bbsw'},
        {value:'CIBOR',label:'Cibor'},
        {value:'EURIBOR',label:'Euribor'},
        {value:'HIBOR',label:'Hibor'},
        {value:'JIBAR',label:'Jibar'},
        {value:'LIBOR',label:'Libor'},
        {value:'OIBOR',label:'Oibor'},
        {value:'POLO',label:'Polo'},
        {value:'PRIBOR',label:'Pribor'},
        {value:'PRIME',label:'Prime'},
        {value:'REPO',label:'Repo'},
        {value:'TELBOR',label:'Telbor'},
        {value:'WIBOR',label:'Wibor'},
        {value:'INDEXED LINKED',label:'Other'}]"
    ></sfield>

    <sfield
      label="Loan interest base rate term" model="money.LoanInterest.Term"
      ng-show="!money.LoanInterest.Term.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents"
      lookup-values="[
        {value:'None',label:'None'},
        {value:'1 week',label:'1 week'},
        {value:'2 week',label:'2 week'},
        {value:'3 week',label:'3 week'},
        {value:'1 month',label:'1 month'},
        {value:'2 month',label:'2 month'},
        {value:'3 month',label:'3 month'},
        {value:'1 year',label:'1 year'},
        {value:'2 year',label:'2 year'},
        {value:'Other',label:'Other'}]"
    ></sfield>

    <sfield
      label="Plus/Minus" model="money.LoanInterest.PlusMinus"
      ng-show="!money.LoanInterest.PlusMinus.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents"
      lookup-values="[{value:'MINUS',label:'Minus'},{value:'PLUS',label:'Plus'}]"
    ></sfield>

    <ifield label="Margin or fixed rate (e.g. 1.25)" model="money.LoanInterest.Rate" ng-show="(isModelInError(model)||alwaysShow) || !money.LoanInterest.Rate.hide"></ifield>

    <ifield label="Reversal transaction reference number" model="money.ReversalTrnRefNumber" ng-show="(isModelInError(model)||alwaysShow) || !money.ReversalTrnRefNumber.hide"></ifield>

    <ifield label="Reversal sequence" model="money.ReversalTrnSeqNumber" ng-show="(isModelInError(model)||alwaysShow) || !money.ReversalTrnSeqNumber.hide"></ifield>

    <ifield label="BOPDIR transaction Reference" model="money.BOPDIRTrnReference" ng-show="(isModelInError(model)||alwaysShow) || !money.BOPDIRTrnReference.hide"></ifield>

    <ifield label="BOPDIR AD code" model="money.BOPDIRADCode" ng-show="(isModelInError(model)||alwaysShow) || !money.BOPDIRADCode.hide"></ifield>

    <sfield
      label="Card charge back" model="money.CardChargeBack" lookup="yesNo"
      ng-show="!money.CardChargeBack.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents">
    </sfield>

    <sfield
      label="Card indicator" model="money.CardIndicator" lookup="cardTypes"
      ng-show="!money.CardIndicator.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents">
    </sfield>

    <ifield label="Electronic commerce indicator" model="money.ElectronicCommerceIndicator" ng-show="(isModelInError(model)||alwaysShow) || !money.ElectronicCommerceIndicator.hide"></ifield>

    <sfield
      label="Card fraudulent transaction indicator" model="money.CardFraudulentTransactionIndicator" lookup="yesNo"
      ng-show="!money.CardFraudulentTransactionIndicator.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents">
    </sfield>

    <mfield
      label="Card holder purchases in NAD"
      ng-show="!money['ForeignCardHoldersPurchases' + map('LocalValue')].hide && !isShowOverride || (isShowOverride && isModelInError(model,isType=='ignoreIsAnyInError')) || alwaysShow"
      model="money['ForeignCardHoldersPurchases' + map('LocalValue')]"
      currency-model="{val:'NAD'}"
    ></mfield>

    <mfield
      label="Card holder withdrawals in NAD"
      ng-show="!money['ForeignCardHoldersCashWithdrawals' + map('LocalValue')].hide && !isShowOverride || (isShowOverride && isModelInError(model,isType=='ignoreIsAnyInError')) || alwaysShow"
      model="money['ForeignCardHoldersCashWithdrawals' + map('LocalValue')]"
      currency-model="{val:'NAD'}"
    ></mfield>

    <sfield
      label="Is this part of your FIA?" optional="long"
      lookup-values="[{value:'Y',label:'Yes - You will require a Tax Clearance Certificate Number'},{value:'N',label:'No - This amount is part of my Discretionary Allowance'}]"
      model="money.TaxClearanceCertificateIndicator" tooltip-title="'FIA stands for Foreign Investment Allowance.'"
      ng-show="!money.TaxClearanceCertificateIndicator.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" lookup="moneyTransferAgents">
    </sfield>
  </span>