<div ng-hide="getThirdPartyType(current.money)=='None'">
  <div class="form-horizontal paddingTop_25">
    <fieldset>
      <legend>Third party contact details</legend>
    </fieldset>
  </div>
  <span class="gridContainer">
    <ifield
      label="Contact surname"
      model="current.money.ThirdParty.ContactDetails.ContactSurname"
    ></ifield>
    <ifield
      label="Contact name"
      model="current.money.ThirdParty.ContactDetails.ContactName"
    ></ifield>
    <ifield
      label="Email"
      model="current.money.ThirdParty.ContactDetails.Email"
    ></ifield>
    <ifield
      label="Fax"
      model="current.money.ThirdParty.ContactDetails.Fax"
    ></ifield>
    <ifield
      label="Telephone"
      model="current.money.ThirdParty.ContactDetails.Telephone"
    ></ifield>
  </span>

  <div class="form-horizontal paddingTop_25">
    <fieldset>
      <legend>Third party street address</legend>
    </fieldset>
  </div>
    <span class="gridContainer">
      <ifield
        label="Street address line 1"
        model="current.money.ThirdParty.StreetAddress.AddressLine1"
      ></ifield>
      <lfield
        label="Street province"
        model="current.money.ThirdParty.StreetAddress.Province"
        lookup="provinces"
        label-prop="true"
      ></lfield>
      <ifield
        label="Street address line 2"
        model="current.money.ThirdParty.StreetAddress.AddressLine2"
      ></ifield>
      <ifield
        label="Street city"
        model="current.money.ThirdParty.StreetAddress.City"
      ></ifield>
      <ifield
        label="Street suburb"
        model="current.money.ThirdParty.StreetAddress.Suburb"
      ></ifield>
      <ifield
        label="Street postal code"
        model="current.money.ThirdParty.StreetAddress.PostalCode"
      ></ifield>
    </span>

    <div class="form-horizontal paddingTop_25">
      <fieldset>
        <legend>Third party postal address</legend>
      </fieldset>
    </div>
    <div class="row form-group">
      <div class="postalButton">
        <!-- <input class="form-control  copy-street-address normalButton" ng-click="copyAddress(current.money.ThirdParty.StreetAddress,current.money.ThirdParty.PostalAddress)"
          type="button" value="Postal Address Same As Street Address" /> -->
        <button  type="button" ng-click="copyAddress(current.money.ThirdParty.StreetAddress,current.money.ThirdParty.PostalAddress)" class="btn">
          Postal Address Same As Street Address
        </button>
      </div>
    </div>
    <div class="row">
      <div class="form-group" ng-show="current.money.allowAdhocBOPThirdParty.val">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="current.money.ThirdParty.sameAsPhysical.val" ng-change="revalidate()"/>
            Same as physical address
          </label>
        </div>
      </div>
      <span class="gridContainer">
        <ifield
          label="Postal address line 1"
          model="current.money.ThirdParty.PostalAddress.AddressLine1"
          disable-field="current.money.ThirdParty.sameAsPhysical.val"
        ></ifield>
        <lfield
          label="Postal province"
          model="current.money.ThirdParty.PostalAddress.Province"
          lookup="provinces"
          label-prop="true"
          disable-field="current.money.ThirdParty.sameAsPhysical.val"
        ></lfield>
        <ifield
          label="Postal address line 2"
          model="current.money.ThirdParty.PostalAddress.AddressLine2"
          disable-field="current.money.ThirdParty.sameAsPhysical.val"
        ></ifield>
        <ifield
          label="Postal city"
          model="current.money.ThirdParty.PostalAddress.City"
          disable-field="current.money.ThirdParty.sameAsPhysical.val"
        ></ifield>
        <ifield
          label="Postal suburb"
          model="current.money.ThirdParty.PostalAddress.Suburb"
          disable-field="current.money.ThirdParty.sameAsPhysical.val"
        ></ifield>
        <ifield
          label="Postal code"
          model="current.money.ThirdParty.PostalAddress.PostalCode"
          disable-field="current.money.ThirdParty.sameAsPhysical.val"
        ></ifield>
      </span>
    </div>

</div>
