<div class="col-md-12">
  <span ng-show="!money.Monetary.ThirdParty.hide && getThirdPartyType(money) != 'None'" class="gridContainer">
    <ifield
      label="Third Party Customs Client Number"
      model="money.ThirdParty.CustomsClientNumber"
      ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.CustomsClientNumber.hide">
    </ifield>

    <ifield
      label="Third Party Tax Number"
      model="money.ThirdParty.TaxNumber"
      ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.TaxNumber.hide"
    ></ifield>

    <ifield
      label="Third Party VAT Number"
      model="money.ThirdParty.VATNumber"
      ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.VATNumber.hide"
    ></ifield>
  </span>
  <span
    ng-show="!money.Monetary.ThirdParty.hide && getThirdPartyType(money) == 'Entity'" class="gridContainer"
  >
    <ifield
      label="Third Party Legal Name"
      model="money.ThirdParty.Entity.Name"
      ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.Entity.Name.hide"
    ></ifield>

    <ifield
      label="Third Party Registration Number"
      model="money.ThirdParty.Entity.RegistrationNumber"
      ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.Entity.RegistrationNumber.hide"
    ></ifield>
  </span>
  <span ng-show="!money.Monetary.ThirdParty.hide && getThirdPartyType(money) == 'Individual'">
    <div class="form-horizontal paddingTop_25" ng-hide="money.Monetary.ThirdParty.Heading.hide">
      <fieldset>
        <legend>{{money.Monetary.ThirdParty.Heading.val}}</legend>
      </fieldset>
    </div>
    <div class="clear"></div>

    <span class="gridContainer">
      <ifield
        label="Surname"
        model="money.ThirdParty.Individual.Surname"
        ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.Individual.Surname.hide"
      ></ifield>

      <ifield label="Name" model="money.ThirdParty.Individual.Name" ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.Individual.Name.hide"></ifield>

      <ifield
        label="Identity number"
        model="money.ThirdParty.Individual.IDNumber"
        ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.Individual.IDNumber.hide"
      ></ifield>

      <sfield
        label="Gender"
        model="money.ThirdParty.Individual.Gender"
        lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"
        ng-show="!money.ThirdParty.Individual.Gender.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow"
      ></sfield>

      <span ng-init="dobToday = util.date.addYear(-18)">
        <datefield
          label="Date of birth"
          model="money.ThirdParty.Individual.DateOfBirth"
          ng-show="!money.ThirdParty.Individual.DateOfBirth.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow"
          mode="year"
          dt="dobToday"
        ></datefield>
      </span>

      <ifield
        label="Temporary resident permit number"
        model="money.ThirdParty.Individual.TempResPermitNumber"
        ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.Individual.TempResPermitNumber.hide"
      ></ifield>

      <datefield
        label="Temporary resident permit expiry"
        model="money.ThirdParty.Individual.TempResExpiryDate"
        ng-show="!money.ThirdParty.Individual.TempResExpiryDate.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow"
      ></datefield>

      <ifield
        label="Passport number"
        model="money.ThirdParty.Individual.PassportNumber"
        ng-show="(isModelInError(model)||alwaysShow) || !money.ThirdParty.Individual.PassportNumber.hide"
      ></ifield>

      <lfield
        label="Passport country"
        model="money.ThirdParty.Individual.PassportCountry"
        ng-show="!money.ThirdParty.Individual.PassportCountry.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow" 
        lookup="countries"
        label-prop="name"
        value-prop="code"
        squash-numerics="true"
      ></lfield>

      <datefield
        label="Passport expiry date"
        model="money.ThirdParty.Individual.PassportExpiryDate"
        ng-show="!money.ThirdParty.Individual.PassportExpiryDate.hide && !isShowOverride || (isShowOverride && isModelInError(model)) || alwaysShow"
      ></datefield>
  </span>
  <div class="clear"></div>
  <br />
</div>
