<div layout-gt-sm="row" class="layout-gt-sm-row">
    <h2 class="md-title">
    Monetary Amounts
    </h2>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <mfield class="md-block flex-gt-sm" flex-gt-sm="" label="Foreign value" model="current.money.ForeignValue" currency-model="data.FlowCurrency"></mfield>
        
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <mfield class="md-block flex-gt-sm" flex-gt-sm="" label="{{map('LocalCurrencyName')}} value" model="current.money[map('LocalValue')]" currency-model="{val:map('LocalCurrency')}"></mfield>
          
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Location country" model="current.money.LocationCountry" lookup="countries" label-prop="name" value-prop="code"></sfield>
    
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="SWIFT details" model="current.money.SWIFTDetails"></ifield>  
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Money transfer agent indicator" model="current.money.MoneyTransferAgentIndicator" lookup="moneyTransferAgents"></sfield>
        
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Strate reference number" model="current.money.StrateRefNumber"></ifield>  
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="{{map('RegulatorPrefix')}} auth application number" model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']"></ifield>
        
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="{{map('RegulatorPrefix')}} auth reference number" model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield> 
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="{{map('DealerPrefix')}} internal auth number" model="current.money[map('Regulator')+'Auth'][map('DealerPrefix') + 'InternalAuthNumber']"></ifield>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <datefield class="md-block flex-gt-sm" flex-gt-sm="" label="{{map('DealerPrefix')}} internal auth number date" model="current.money[map('Regulator')+'Auth'][map('DealerPrefix') + 'InternalAuthNumberDate']"></datefield>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Ruling section" model="current.money[map('Regulator')+'Auth'].RulingsSection"></ifield>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Foreign card holders purchases {{map('LocalCurrencyName')}} value" model="current.money['ForeignCardHoldersPurchases'+map('LocalValue')]"></ifield>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="POS entry mode" model="current.money.POSEntryMode"></ifield>
       
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Card fraudulent transaction indicator" model="current.money.CardFraudulentTransactionIndicator" lookup="yesNo"></sfield>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Foreign card holders cash withdrawals {{map('LocalCurrencyName')}} value" model="current.money['ForeignCardHoldersCashWithdrawals'+map('LocalValue')]"></ifield>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
          <div flex="" hide-xs hide-sm>
                <!-- Spacer //-->
          </div>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Subject" model="current.money.AdHocRequirement.Subject" lookup="adhocSubjects"></sfield>
        
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Description" model="current.money.AdHocRequirement.Description"></ifield>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Cannot categorise" model="current.money.CannotCategorize"></ifield>
        
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Reversal transaction reference number" model="current.money.ReversalTrnRefNumber"></ifield>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Reversal sequence" model="current.money.ReversalTrnSeqNumber"></ifield>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Card charge back?" model="current.money.CardChargeBack" lookup="yesNo" ></sfield>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

        <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Card indicator" model="current.money.CardIndicator" lookup="cardTypes"></sfield>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Electronic commerce indicator" model="current.money.ElectronicCommerceIndicator"></ifield>
</div>



<!-- LOANS -->
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-hide="(current.money.LoanRefNumber.hide)
                                                                &&(current.money.LoanInterestRate.hide)
                                                                &&(current.money.LoanTenor.hide)
                                                                &&(!current.money.LoanRefNumber.val)
                                                                &&(!current.money.LoanInterestRate.val)
                                                                &&(!current.money.LoanTenor.val)">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Loan reference number" model="current.money.LoanRefNumber"></ifield>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Loan interest rate" model="current.money.LoanInterestRate"></ifield>
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row" ng-hide="(current.money.LoanRefNumber.hide)
                                                                &&(current.money.LoanInterestRate.hide)
                                                                &&(current.money.LoanTenor.hide)
                                                                &&(!current.money.LoanRefNumber.val)
                                                                &&(!current.money.LoanInterestRate.val)
                                                                &&(!current.money.LoanTenor.val)">

        <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Loan tenor" model="current.money.LoanTenor"></ifield>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
      
          <div flex="" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
</div>