<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Third Party Details
  </h2>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

  <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Third Party Type" model="current.money.ThirdPartyKind"
          lookup-values="['Individual','Entity']"
          update-fn="setAdhoc3rdPartyType"
          optional="no">
  </sfield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <div flex="" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="getThirdPartyType(current.money)=='Individual'">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Identity number" model="current.money.ThirdParty.Individual.IDNumber"></ifield>
  
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Temporary resident permit number" model="current.money.ThirdParty.Individual.TempResPermitNumber"></ifield>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="getThirdPartyType(current.money)=='Individual'">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Passport number" model="current.money.ThirdParty.Individual.PassportNumber"></ifield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <div flex="" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-hide="getThirdPartyType(current.money)=='None'">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Tax number" model="current.money.ThirdParty.TaxNumber"></ifield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <div flex="" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="getThirdPartyType(current.money)=='Entity'">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Legal entity name" model="current.money.ThirdParty.Entity.Name"></ifield>
  
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Registration number" model="current.money.ThirdParty.Entity.RegistrationNumber"></ifield>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="getThirdPartyType(current.money)=='Individual'">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Name" model="current.money.ThirdParty.Individual.Name"></ifield>
  
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Gender" model="current.money.ThirdParty.Individual.Gender" lookup="gender"></sfield>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="getThirdPartyType(current.money)=='Individual'">

  <datefield class="md-block flex-gt-sm" flex-gt-sm="" label="Date of birth" model="current.money.ThirdParty.Individual.DateOfBirth"></datefield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Passport country" model="current.money.ThirdParty.Individual.PassportCountry" lookup="countries"
  label-prop="name" value-prop="code"></sfield>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-show="getThirdPartyType(current.money)=='Individual'">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Surname" model="current.money.ThirdParty.Individual.Surname"></ifield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <div flex="" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

</div>
<div layout-gt-sm="row" class="layout-gt-sm-row" ng-hide="getThirdPartyType(current.money)=='None'">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Customs Client Number" model="current.money.ThirdParty.CustomsClientNumber"></ifield>
  
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="VAT number" model="current.money.ThirdParty.VATNumber"></ifield>

</div>