#BOPContainer{
  display: flex;
  margin: auto;
  justify-content: center;
}

* {
  box-shadow: none !important;
}

#BOPContainer a:disabled,
#BOPContainer a[disabled] {
  color: gray !important; 
  text-decoration: none;
}

#BOPContainer input:disabled,
#BOPContainer input[disabled] {
  color: gray !important; 
  text-decoration: none;
  background-color: red;
}

#BOPContainer .noGutter {
  margin: 0 !important;
  padding: 0 !important;
}

#BOPContainer .col,
#BOPContainer [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

#BOPContainer .paddingLeft_20 {
  padding-left: 20px;
}

#BOPContainer .gridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

#BOPContainer .gridContainer ifield:empty, #BOPContainer .gridContainer sfield:empty, #BOPContainer .gridContainer rfield:empty, #BOPContainer .gridContainer lfield:empty,  #BOPContainer .gridContainer datefield:empty {
  display: none;
}

#BOPContainer .paddingTop_25 {
  padding-top: 25px;
}

#BOPContainer .postalButton {
  display: flex;
  justify-content: center;
}

#BOPContainer .normalButton {
  border-width: 1px !important;
  border-radius: 5px !important;
  background-color: #F1EDEF !important;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3) !important;
  color: #0033aa !important;
  min-width: 129px !important;
}

#BOPContainer .accordianContainer {
  display: flex;
  justify-content: space-between;
}

#BOPContainer .accordianButtons {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

#BOPContainer .container-fluid {
  width: 1080px;
}

.modal-dialog {
  width: 900px !important;
}