<div id="SS_non_resident_modal_object_entity" class="form-horizontal">
  <div div class="col-sm-4">
    <ifield label="Legal entity name" model="data.NonResident.Entity.EntityName"></ifield>
    <ifield label="Card Merchant Name" model="data.NonResident.Entity.CardMerchantName"></ifield>
    <ifield label="Card Merchant Code" model="data.NonResident.Entity.CardMerchantCode"></ifield>
  </div>
</div>

