.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 21px;
  line-height: 1.3333333;
  border-radius: 7px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.btn-group-lg > .btn {
  line-height: 0;
}
/* ============================================================================
 * SSO RESPONSIVE OVERRIDES
 *
 * sso.less
 * ========================================================================= */
/*
 * TYPOGRAPHY
 * -------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1,
h2,
h3,
.headerText1 {
  color: #424242;
}
[data-toggle="inv-tooltip"],
[data-toggle="inv-tooltip"]:hover,
[data-toggle="inv-tooltip"]:active,
.accountList caption,
.accountList thead th {
  color: #424242;
}
/*
 * UI ICONS
 * -------------------------------------------------------------------------- */
.ui-profileIcon {
  background-size: 30px auto;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  padding-left: 32px;
}
/*
 * MESSAGES
 * -------------------------------------------------------------------------- */
.userLogout_Messages {
  display: inline-block;
  float: right;
  padding-top: 0px;
}
@media (max-width: 768px) {
  .userLogout_Messages {
    margin-bottom: 20px;
  }
}
.messagesDropdown {
  background-color: #fff;
  border: 5px solid #e5bc3d;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  list-style: none;
  margin-bottom: 10px;
  max-width: 360px;
  overflow: visible;
  position: absolute;
  right: 89px;
  top: 27px;
  z-index: 999;
}
/*
 * PERSONAL PORTFOLIO GRAPH
 * ------------------------------------------------------------------------- */
#personalPortfolioGraphContainer > div {
  border-bottom: 1px solid #d0d0d0;
}
#personalPortfolioGraphContainer > div:last-child {
  border-bottom: none;
}
#dashboardAccountsGraphDiv {
  height: 200px;
}
.personalPortfolioGraphLegend {
  margin-top: 10px;
  padding: 5px 15px 20px 0;
}
.personalPortfolioGraphLegend > div {
  height: 50px;
}
.ppGraphLegendItem {
  display: block;
  float: right;
  height: 45px;
  margin-left: 10px;
  width: 13px;
}
@media (max-width: 768px) {
  .ppGraphLegendItem {
    float: left;
    height: 26px;
    margin-top: 5px;
    margin-right: 5px;
    width: 26px;
  }
}
.ppGraphLegendItem.ppGraphLegendPersonalPortfolio {
  background-color: #6d97c1;
}
.ppGraphLegendItem.ppGraphLegendAssets {
  background-color: #b9cf96;
}
.ppGraphLegendItem.ppGraphLegendLiabilities {
  background-color: #e58a9e;
}
.ppGraphLegendTitle,
.ppGraphLegendText {
  font-size: 14px;
  text-align: right;
}
@media (max-width: 768px) {
  .ppGraphLegendTitle,
  .ppGraphLegendText {
    text-align: left;
  }
}
.ppGraphLegendTitle.ppGraphLegendPersonalPortfolio,
.ppGraphLegendText.ppGraphLegendPersonalPortfolio {
  font-size: 18px;
}
@media (max-width: 768px) {
  .ppGraphLegendTitle.ppGraphLegendPersonalPortfolio,
  .ppGraphLegendText.ppGraphLegendPersonalPortfolio {
    font-size: 16px;
  }
}
/*
 * NAVIGATION
 * ------------------------------------------------------------------------- */
.nav-tabs > li {
  margin-top: 0;
}
.nav-tabs > li:first-child {
  margin-left: 0;
}
/*
 * MESSAGES
 * ------------------------------------------------------------------------- */
.message h2,
.message > div:first-child {
  font-weight: bold;
  padding: 8px 8px;
  text-align: left;
}
.message > div:first-child {
  display: table;
  width: 682px;
}
.message form table {
  margin-bottom: none;
}
/*
 * CLIENT MESSAGE DROPDOWN TABLE
 * ------------------------------------------------------------------------- */
#clientMessagesDropdown table {
  table-layout: auto;
}
#clientMessagesDropdown > tbody tr:hover td {
  background-color: #8fb5d7;
  color: #fff;
}
#clientMessagesDropdown > tbody td span {
  white-space: normal;
}
/*
 * TABLES
 * ------------------------------------------------------------------------- */
table.accountList {
  line-height: 14px;
}
table.accountList table tbody td {
  padding-bottom: 7px;
}
table.accountList th {
  word-break: normal;
}
table.deviceRegistration {
  line-height: 14px;
}
table.deviceRegistration table tbody td {
  padding-bottom: 7px;
}
table.deviceRegistration th {
  word-break: normal;
}
table.deviceRegistration tr > th:first-child + th {
  width: 180px;
}
table.deviceRegistration tr > th:first-child + th:first-child + th {
  width: 110px;
}
table.securitySettings table tbody td {
  padding-bottom: 7px;
}
table > tbody > tr > td.deepLinksTD {
  padding: 0;
}
table > tbody > tr > td div.deepLinksDiv {
  background-color: #f1f1f1;
  border: none;
  padding: 5px;
}

