.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 21px;
  line-height: 1.3333333;
  border-radius: 7px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.btn-group-lg > .btn {
  line-height: 0;
}
/**********************
    Currency Flags Styles
***********************/
/*styles for round flag icons on show all currency dialog */
.currency-flags {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.currency-flags div {
  display: inline-block;
  width: 20px;
  height: 30px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.currency-flags div.GBP {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px 0;
}
.currency-flags div.AED {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px 0;
}
.currency-flags div.EUR {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -26px;
}
.currency-flags div.CZK {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -26px;
}
.currency-flags div.CHF {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -53px;
}
.currency-flags div.HKD {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -53px;
}
.currency-flags div.AUD {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -78px;
}
.currency-flags div.HUF {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -78px;
}
.currency-flags div.NZD {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -104px;
}
.currency-flags div.ILS {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -104px;
}
.currency-flags div.SEK {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -131px;
}
.currency-flags div.INR {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -131px;
}
.currency-flags div.ZAR {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -157px;
}
.currency-flags div.NOK {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -157px;
}
.currency-flags div.USD {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -183px;
}
.currency-flags div.PLN {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -183px;
}
.currency-flags div.JPY {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -209px;
}
.currency-flags div.THB {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -209px;
}
.currency-flags div.CAD {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -235px;
}
.currency-flags div.TRY {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -235px;
}
.currency-flags div.SGD {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -260px;
}
.currency-flags div.MUR {
  background: url("../desktop/img/fx-sprite.png") no-repeat -137px -260px;
}
.currency-flags div.DKK {
  background: url("../desktop/img/fx-sprite.png") no-repeat -116px -287px;
}
.ip-radio-button {
  display: inline-block;
}
.radio-button-skin .radio,
.radio-button-skin .radio-checked,
.radio-button-skin .ip-radio-button a.radio-fx {
  margin-bottom: 3px ;
}
.ip-radio-button .radio-text {
  padding: 0 40px 0 10px;
}
.inputsDiv .ip-button {
  width: 210px;
  line-height: 18px;
  float: left;
}
.inputsDiv .ip-dropDownButton {
  float: left;
  width: 460px;
}
.ip-ddList {
  width: 470px;
}
.ip-inputsDiv > div {
  margin-bottom: 10px;
}
.ip-inputsDiv input[type="text"] {
  width: 430px !important;
}
.manBenCont .ip-inputsDiv input[type="text"] {
  width: 500px !important;
}
.radio-button-skin .radio {
  vertical-align: middle;
  padding-top: 0px;
  background: url(../../sso/css-standalone/img/radioButtonSpriteSheet.png) no-repeat;
}
.radio-button-skin .radio-checked {
  vertical-align: middle;
  padding-top: 0px;
  background: url(../../sso/css-standalone/img/radioButtonSpriteSheet.png) -14px top no-repeat;
}
a.radio-fx span,
a.radio-fx {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  zoom: 1;
  *display: inline;
}
.radio-button-skin .radio,
.radio-button-skin .radio-checked,
.radio-button-skin a.radio-fx {
  width: 14px;
  height: 14px;
}
input {
  border-bottom: #e8e8e8 1px solid;
  border-right: #e8e8e8 1px solid;
  border-top: #cfcfcf 1px solid;
  border-left: #cfcfcf 1px solid;
  padding: 5px;
  line-height: 18px;
  background-color: #fbfbfb;
  font-size: 14px;
  width: 225px;
}
/**********************
    Accordion Styles
***********************/
ul.accordion {
  padding-left: 0;
  list-style: none;
}
ul.accordion > li {
  padding: 5px;
  overflow: auto;
}
ul.accordion > li > .content {
  display: none;
  padding: 20px 5px 5px 5px;
}
ul.accordion > li > .header {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #cfcfcf;
  padding: 15px;
  background: #f6f6f6;
}
.up-arrow:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  width: 0;
  height: 0;
  border-bottom: solid 7px #444;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}
.down-arrow:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  width: 0;
  height: 0;
  border-top: solid 7px #444;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}
ul.accordion > li.accordion-open > .header {
  cursor: auto;
}
ul.accordion > li.accordion-open > .content {
  display: block;
}
.pt10 {
  padding-top: 10px;
}
.bankSearchBox {
  padding: 10px;
  width: 630px;
}
#popContent {
  padding: 10px;
}
.errorText {
  display: block;
  color: red;
  font-size: 11px;
  margin-bottom: 30px !important;
  margin-top: 0px !important;
  height: 20px !important;
  line-height: 20px;
  padding-left: 180px;
}
.display_on {
  display: block;
}
.display_off {
  display: none;
}
.redCross {
  background: url("../../sso/desktop/img/delete.png") no-repeat;
  height: 16px;
  width: 16px;
  float: left;
  cursor: pointer;
  margin-top: 7px;
  margin-left: 5px;
}
.tableSearch {
  width: 175px !important;
  float: left;
}
.rowHover:hover {
  background-color: #dcebf1;
}
.ui-acc-type td {
  padding: 0px;
}
.accountTDSelected {
  background-color: #f1f1f1;
  border-right: 0px;
  border-top: 1px solid #d0d0d0 !important;
}
.accountTDDefault {
  border-top: 1px solid #f1f1f1 !important;
}
.clickPointer {
  cursor: pointer;
}
.marginLeft10px {
  margin-left: 10px;
}
.txtRight {
  text-align: right;
}
.txtLeft {
  text-align: left;
}
.vAlignMiddle {
  vertical-align: middle;
}
.marginRight {
  margin-right: 30px;
}
.marginTop4px {
  margin-top: 4px;
}
.marginTop10px {
  margin-top: 10px;
}
.fRight .lhContainer {
  float: right;
}
.flRight {
  float: right;
  margin-left: 3px;
}
.addBenDetails label {
  float: left;
  height: 30px;
  line-height: 30px;
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
}
.addBenItemWrapper input {
  width: 198px;
}
.addBenDetails div,
.addBenDetails label,
.addBenDetails input[type="text"] {
  float: left;
}
.addBenDropDown {
  width: 158px;
  height: 30px;
  line-height: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  float: left;
}
.addBenItemWrapper {
  width: 100%;
  height: 30px;
  float: left;
  margin-bottom: 10px;
}
.marginTop10px {
  margin-top: 10px;
}
.marginBottom20px {
  margin-bottom: 20px;
}
div.roundedBorder,
span.roundedBorder {
  border-radius: 3px;
  position: relative;
  border: 1px solid #d0d0d0;
}
div.dropShadowBorder {
  border-radius: 3px;
  position: relative;
}
.moreBeneficiaries {
  border-top: 1px solid #d0d0d0;
  margin-top: 0px;
  padding-top: 5px;
}
.accountDeepLinksTD {
  padding: 0px;
  background-color: #f1f1f1;
}
#lhm .selected td {
  color: #000;
}
#lhm .selected {
  background-color: #f1f1f1;
}
#lhmText {
  line-height: 1.5em;
  padding-bottom: 60px;
}
#lhm table tbody {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
#lhm table td {
  padding: 0px 0px 0px 4px;
  color: #437cc4;
  border: none;
}
#lhm table tr {
  cursor: pointer;
  border-bottom: 1px dotted #d0d0d0;
}
#lhmText .title {
  color: #424242;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}
.showMore {
  text-align: center;
  color: #437cc4;
  border-top: solid 1px #b7b7b7;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin: 0px;
}
.addBenFancyCont {
  min-height: 50px;
  border-bottom: 1px dotted #b7b7b7;
}
.addBenFancyCont label {
  vertical-align: top;
  width: 250px;
  padding-left: 10px;
}
.borderTopNone {
  border-top: none !important;
}
.p5 {
  padding: 5px 5px !important;
}
.manBenTable tr:nth-last-child(2) {
  border-bottom: solid 1px #b7b7b7;
}
.dArrMyBen {
  float: right;
  height: 36px;
}
.pR22 {
  padding-right: 22px;
}
.manBenSortHeaderCursor {
  cursor: pointer !important;
}
.manBenLastPaidSortUp {
  background: url('../../sso/css-standalone/img/arrowUp.png') 95% 66% no-repeat !important;
  cursor: pointer;
  background-color: #ececec !important;
}
.manBenLastPaidSortDown {
  background: url(../../sso/css-standalone/img/arrowDown.png) 95% 66% no-repeat !important;
  cursor: pointer;
  background-color: #ececec !important;
}
.manBenAddCategoryPM {
  padding: 10px !important;
  bottom: 0px !important;
  margin-left: 0px !important;
}
.manBenAddCategoryPM .lightGrey-cancel-button {
  float: right !important;
  margin-right: 5px !important;
}
.manBenAddCategoryPM .lightBlue-button {
  float: right !important;
}

