<md-card layout="column" ng-init="ieEmptyHandler(money)">
  <md-card-title>
    <md-card-title-text class="md-subheading">
      Imports/Exports
    </md-card-title-text>
    <md-card-title-text class="md-subheading errorMsg error-content">
      {{ importExportOutstanding(money, money.ImportExport, 'OVER! ', '+ Remaining: ', data.TransactionCurrency.val) }}
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <md-card ng-repeat="(ieIdx,ie) in money.ImportExport" ng-init="ie.statusOpen = true" is-open="ie.statusOpen">
      <md-card-title ng-switch="data.MonetaryAmount.length > 1">
        <md-card-title-text class="small" ng-switch-when="true">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="acc-hdr-el acc-hdr-ico">{{ind + 1}}.{{ieIdx + 1}}</span>
        </md-card-title-text>
        <md-card-title-text class="small" ng-switch-when="false">
          <span class="acc-hdr-el acc-hdr-ico">{{ieIdx + 1}}</span>
        </md-card-title-text>
      </md-card-title>



      <md-card-content>
        <mfield always-show="true" label="Allocated amount" model="ie.PaymentValue" currency-model="data.FlowCurrency" input-currency="{{ data.ZAREquivalent.val ? '(in ZAR equivalent)' : undefined }}"></mfield>
        <!-- N.B. SS20160318: the checksum validation for ZAREquivalent is on
            //"PaymentCurrencyCode" === "ZAR"
            //but business requirements is display transaction currency
    
            currency-model="ie.PaymentCurrencyCode"-->

        <ifield label="{{ie.ImportControlNumberLabel.val}}" model="ie.ImportControlNumber"></ifield>
        <ifield label=" Transport Document Number" model="ie.TransportDocumentNumber"></ifield>
        <ifield label=" UCR" model="ie.UCR"></ifield>
      </md-card-content>
      <md-card-actions>

        <!-- <i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
        <md-button class="md-raised md-warn" ng-click="removeImportExport(money, ie);">Remove {{data.Flow=="OUT"?"Import":"Export"}} entry</md-button>
      </md-card-actions>
    </md-card>
  </md-card-content>



  <md-card-actions>
    <span class="col-md-5">
          <md-button ng-click="addImportExport(money,true)" class='md-raised md-primary'>Add {{data.Flow=="OUT"?"Import":"Export"}} entry</md-button>
        </span>
  </md-card-actions>

</md-card>