
<!--<label>Contact Details</label>-->

<ifield label="Third Party Name" model="money.ThirdParty.ContactDetails.ContactName" ></ifield>
<ifield label="Third Party Surname" model="money.ThirdParty.ContactDetails.ContactSurname" ></ifield>
<ifield label="Third Party Telephone" model="money.ThirdParty.ContactDetails.Telephone" ></ifield>
<ifield label="Third Party Email" model="money.ThirdParty.ContactDetails.Email" ></ifield>
<ifield label="Third Party Fax" model="money.ThirdParty.ContactDetails.Fax" ></ifield>

<!--<label>Street Address</label>-->
<ifield label="Third Party Address Line 1" model="money.ThirdParty.StreetAddress.AddressLine1" ></ifield>
<ifield label="Third Party Address Line 2" model="money.ThirdParty.StreetAddress.AddressLine2" ></ifield>
<ifield label="Third Party Suburb" model="money.ThirdParty.StreetAddress.Suburb" ></ifield>
<ifield label="Third Party City" model="money.ThirdParty.StreetAddress.City" ></ifield>
<sfield label="Third Party Province" model="money.ThirdParty.StreetAddress.Province"
        lookup="provinces" ></sfield>
<ifield label="Third Party Postal Code" model="money.ThirdParty.StreetAddress.PostalCode" ></ifield>

<!--<label>Postal Address</label>-->
<ifield label="Third Party Address Line 1" model="money.ThirdParty.PostalAddress.AddressLine1" ></ifield>
<ifield label="Third Party Address Line 2" model="money.ThirdParty.PostalAddress.AddressLine2" ></ifield>
<ifield label="Third Party Suburb" model="money.ThirdParty.PostalAddress.Suburb" ></ifield>
<ifield label="Third Party City" model="money.ThirdParty.PostalAddress.City" ></ifield>
<sfield label="Third Party Province" model="money.ThirdParty.PostalAddress.Province" 
        lookup="provinces" ></sfield>
<ifield label="Third Party Postal Code" model="money.ThirdParty.PostalAddress.PostalCode" ></ifield>
