<ifield label="Third Party Customs Client Number" model="money.ThirdParty.CustomsClientNumber">
</ifield>

<ifield label="Third Party Tax Number" model="money.ThirdParty.TaxNumber"></ifield>

<ifield label="Third Party VAT Number" model="money.ThirdParty.VATNumber"></ifield>

<span ng-show="!money.ThirdParty.hide && getThirdPartyType(money) == 'Entity'">
    <ifield label="Third Party Legal Name" model="money.ThirdParty.Entity.Name" ></ifield>
    <ifield label="Third Party Registration Number" model="money.ThirdParty.Entity.RegistrationNumber" ></ifield>
</span>

<md-card ng-show="!money.ThirdParty.hide && getThirdPartyType(money) == 'Individual'">
        <md-card-header class="md-block" flex ng-hide="money.Monetary.ThirdParty.Heading.hide">
                <md-card-header-text class="md-title">{{money.Monetary.ThirdParty.Heading.val}}</md-card-header-text>
        </md-card-header>
        <md-card-content>
                <sfield label="Traveller status" model="money.TravelMode.TravellerStatus" lookup-values="[{label:'Applicant', value:'Account Holder'},
            {label:'South African Resident', value:'South African Resident'},
            {label:'Non Resident', value:'Non Resident'},
            {label:'Foreign Temporary Resident', value:'Foreign Temporary Resident'}]"></sfield>

                <ifield label="Travel temp res. permit number" model="money.Travel.TempResPermitNumber"></ifield>

                <datefield label="Departure date" model="money.TravelMode.DepartureDate"></datefield>

                <sfield label="Travel by" model="money.TravelMode.Mode" lookup-values="['AIR',
            'SEA',
            'ROAD',
            'RAIL']"></sfield>

                <lfield label="Destination country" model="money.TravelMode.DestinationCountry" lookup="countries" label-prop="name" value-prop="code"></lfield>

                <ifield label="Border post used to exit SA" model="money.TravelMode.BorderPost"></ifield>

                <ifield label="Ticket number" model="money.TravelMode.TicketNumber"></ifield>

                <ifield label="Surname" model="money.ThirdParty.Individual.Surname"></ifield>

                <ifield label="Name" model="money.ThirdParty.Individual.Name"></ifield>

                <ifield label="Identity number" model="money.ThirdParty.Individual.IDNumber"></ifield>

                <sfield label="Gender" model="money.ThirdParty.Individual.Gender" lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"></sfield>

                <span ng-init="dobToday = $root.util.date.addYear(-18)">
        <datefield label="Date of birth"
                   model="money.ThirdParty.Individual.DateOfBirth"
                   mode="year"
                   dt="dobToday" ></datefield>
    </span>

                <ifield label="Temporary resident permit number" model="money.ThirdParty.Individual.TempResPermitNumber"></ifield>

                <datefield label="Temporary resident permit expiry" model="money.ThirdParty.Individual.TempResExpiryDate"></datefield>

                <ifield label="Passport number" model="money.ThirdParty.Individual.PassportNumber"></ifield>
                <lfield label="Passport country" model="money.ThirdParty.Individual.PassportCountry" lookup="countries" label-prop="name"
                        value-prop="code" squash-numerics="true"></lfield>
                <datefield label="Passport expiry date" model="money.ThirdParty.Individual.PassportExpiryDate"></datefield>

                <ifield label="Travel surname" model="money.Travel.Surname"></ifield>
                <ifield label="Travel name" model="money.Travel.Name"></ifield>
                <ifield label="Travel ID number" model="money.Travel.IDNumber"></ifield>

                <span ng-init="dobToday = $root.util.date.addYear(-18)">
        <datefield label="Travel date of birth"
                   model="money.Travel.DateOfBirth"
                   mode="year"
                   dt="dobToday" ></datefield>
    </span>
        </md-card-content>

</md-card>