<ifield label="Address line 1" model="NonResident.Address.AddressLine1" always-show="true"></ifield>
<ifield label="Address line 2" model="NonResident.Address.AddressLine2" always-show="true"></ifield>
<ifield label="Suburb" model="NonResident.Address.Suburb" always-show="true"></ifield>
<ifield label="City" model="NonResident.Address.City" always-show="true"></ifield>
<ifield label="Province/State" model="NonResident.Address.State" always-show="true"></ifield>
<ifield label="Postal/Zip code" model="NonResident.Address.PostalCode" always-show="true"></ifield>
<lfield label="Country" model="NonResident.Address.Country" lookup="countries" label-prop="name" value-prop="code"
        squash-numerics="true" always-show="true"></lfield>
