<div class="row fld form-group">
    <label class="FldLabel col-md-3">
      <span class="bopRequired"></span>
      <span>Beneficiary type</span>
    </label>


    <span>
      <div class="col-sm-4 has-feedback">
        <input type="radio" id="accTypeIndividual" name="accType" ng-value="'Individual'" ng-model="nonResType" 
        ng-disabled="data.NonResident.Type.disabled"/>

        <input type="radio" id="accTypeEntity" ng-value="'Entity'" ng-model="nonResType" name="accType" 
        ng-disabled="data.NonResident.Type.disabled"/>

        <div class="btn-group btn-group-justified" role="group">
          <label class="btn btn-default" for="accTypeIndividual" ng-click="data.NonResident.Type.disabled?'':updateNonResType('Individual')"> 
            Individual
            <span class="form-control-feedback icon-investec-tick"></span>
          </label>

          <label class="btn btn-default" for="accTypeEntity" ng-click="data.NonResident.Type.disabled?'':updateNonResType('Entity')">
            Entity
            <span class="form-control-feedback icon-investec-tick"></span>
          </label>

        </div>
      </div>
    </span>
</div>



<div class="clear"></div>
</div>