<div uib-popover="{{model.msg.join('\n')}}" popover-placement="auto" popover-append-to-body="true" popover-trigger="'mouseenter'"
  popover-title="Issues with this field:" class="form-group" ng-hide="model.hide&&(!model.val)" ng-class="{'has-error':model.error, 'has-warning' : model.warning && !($root.isReadOnly()||model.disabled)}">
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)"
          class="bopRequired"></span>
    {{label}}</label>


  <input class="form-control LIST_P nbol-ico" ng-model="model.val" type="text" 
    uib-typeahead="l as ( l.value != l.label ? ('('+l.value+') - '+ l.label) : l.value ) for l in getLookup() | lFieldFilter:'value':$viewValue"
    typeahead-append-to-body="true" typeahead-on-select="updateListField(model.val)" ng-blur="updateListField(model.val)" ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
    typeahead-min-length="1"
    typeahead-focus
    id="{{inputFldId()}}" 
    typeahead-input-formatter="formatLabel(model)" 
    >

  <span ng-show="model.busy && !($root.isReadOnly()||model.disabled)" class="bopBusy"></span>
</div>