<div class="form-horizontal">
 

    <ifield label="Customs client number"
            model="ie.CustomsClientNumber"
            clearbtt="ie.IVSResponseCodes" 
            afterupdate="updateCCN"></ifield>

    <ifield label="{{money.advancedpayment.val ? 'Import control number' : 'Movement reference number (MRN)'}}"
            model="ie.ImportControlNumber"
            clearbtt="ie.IVSResponseCodes" ></ifield>

    <ifield label="Transport document number"
            model="ie.TransportDocumentNumber"
            clearbtt="ie.IVSResponseCodes" ></ifield>

    <ifield label="UCR"
            model="ie.UCR" ></ifield>

    <bfield label="Import verification system"
            model="ie.IVSResponseCodes"
            validation="IVS_Validate"
            hiddenstate="{{ie.IVSResponseCodes.hide}}"
            view="no" ></bfield>

               
    <mfield label="Allocated amount"
    model="ie.PaymentValue"
    currency-model="data.FlowCurrency"
    clearbtt="ie.IVSResponseCodes" ></mfield>
</div>