<div class="row align-top catMain">
  <div class="col-md-8">
    <ccfield current="{money:money}" label="Reason for payment (BOP) category" aux="Flow==='IN'" update="updateCC">
    </ccfield>
  </div>

  <div class="col-md-3">
    <mfield label="Category amount" model="money.ForeignValue" currency-model="data.FlowCurrency"
      tooltip-title="'The amount related to the reason for payment'"></mfield>

    <mfield label="Category amount" model="money[map('LocalValue')]" currency-model="{val:'ZAR'}"
      ng-class="{zarEquivalent: customData.inZAR}"
      input-currency="{{ customData.inZAR ? '(in ZAR equivalent)' : undefined }}"
      tooltip-title="'The amount related to the reason for payment'"></mfield>
  </div>
  <div class="col-md-1">
    <div ng-show="data.MonetaryAmount.length>1">
      <span ng-click="removeMonetaryAmount(money, null, 'modalBopFormConfirmDel');">
          <img class="remove-cc-icon" src="/sbg-forex/assets/images/icon-delete.png">
      </span>
      <span>
          <img class="expand-cc-icon" src="/sbg-forex/assets/images/icon-expand.png">
      </span>
    </div>


    
    <!-- <i class="material-icons"
      ng-class="{'keyboard_arrow_down': !money.isAccGrpOpen, 'keyboard_arrow_right': money.isAccGrpOpen}">more_vert</i> -->

  </div>
</div>

<div class="row" ng-show="current.money.CategoryCode.val == '106'">
  <span class="ccn-lu-106-message">
    If Category 106 is selected, Import Export details are required - unless a CCN number can be populated below which is flagged in respect of a Letter of Undertaking.
  </span>
</div>



<!-- <button class="btn btn-default" ng-click="showTabDialog($event)">Provide Additional Info</button> -->