<span ng-show="!money.ThirdParty.hide && getThirdPartyType(money)!='None'">

  <fieldset>
    <legend>Contact Details</legend>
    <ifield label="Name" model="money.ThirdParty.ContactDetails.ContactName"></ifield>
    <ifield label="Surname" model="money.ThirdParty.ContactDetails.ContactSurname"></ifield>
    <ifield label="Telephone" model="money.ThirdParty.ContactDetails.Telephone"></ifield>
    <ifield label="Email" model="money.ThirdParty.ContactDetails.Email"></ifield>
    <ifield label="Fax" model="money.ThirdParty.ContactDetails.Fax"></ifield>
  </fieldset>

  <fieldset>
    <legend>Street Address</legend>
    <ifield label="Address Line 1" model="money.ThirdParty.StreetAddress.AddressLine1"></ifield>
    <ifield label="Address Line 2" model="money.ThirdParty.StreetAddress.AddressLine2"></ifield>
    <ifield label="Suburb" model="money.ThirdParty.StreetAddress.Suburb"></ifield>
    <ifield label="City" model="money.ThirdParty.StreetAddress.City"></ifield>
    <sfield label="Province" model="money.ThirdParty.StreetAddress.Province" lookup="provinces"></sfield>
    <ifield label="Postal Code" model="money.ThirdParty.StreetAddress.PostalCode"></ifield>

  </fieldset>
  <fieldset>
    <legend>Postal Address</legend>
    <input class="form-control  copy-street-address"
    ng-click="copyAddress(money.ThirdParty.StreetAddress,money.ThirdParty.PostalAddress)"
    type="button" value="Postal Address Same As Street Address">
    <ifield label="Address Line 1" model="money.ThirdParty.PostalAddress.AddressLine1"></ifield>
    <ifield label="Address Line 2" model="money.ThirdParty.PostalAddress.AddressLine2"></ifield>
    <ifield label="Suburb" model="money.ThirdParty.PostalAddress.Suburb"></ifield>
    <ifield label="City" model="money.ThirdParty.PostalAddress.City"></ifield>
    <sfield label="Province" model="money.ThirdParty.PostalAddress.Province" lookup="provinces"></sfield>
    <ifield label="Postal Code" model="money.ThirdParty.PostalAddress.PostalCode"></ifield>
  </fieldset>
</span>