<fieldset  ng-show="!money.ThirdParty.hide && getThirdPartyType(money) != 'None'">

  <!-- 

    <sfield label="Traveller status" model="money.TravelMode.TravellerStatus" lookup-values="[{label:'Applicant', value:'Account Holder'},
        {label:'South African Resident', value:'South African Resident'},
        {label:'Non Resident', value:'Non Resident'},
        {label:'Foreign Temporary Resident', value:'Foreign Temporary Resident'}]"></sfield>

    <ifield label="Travel temp res. permit number" model="money.Travel.TempResPermitNumber"></ifield>

    <datefield label="Departure date" model="money.TravelMode.DepartureDate"></datefield>

    <sfield label="Travel by" model="money.TravelMode.Mode" lookup-values="['AIR',
              'SEA',
              'ROAD',
              'RAIL']"></sfield>

    <lfield label="Destination country" model="money.TravelMode.DestinationCountry" lookup="countries"
      label-prop="name" value-prop="code"></lfield>

    <ifield label="Border post used to exit SA" model="money.TravelMode.BorderPost"></ifield>

    <ifield label="Ticket number" model="money.TravelMode.TicketNumber"></ifield>


    <ifield label="Travel surname" model="money.Travel.Surname"></ifield>
    <ifield label="Travel name" model="money.Travel.Name"></ifield>
    <ifield label="Travel ID number" model="money.Travel.IDNumber"></ifield>

    <span ng-init="dobToday = $root.util.date.addYear(-18)">
      <datefield label="Travel date of birth" model="money.Travel.DateOfBirth" mode="year" dt="dobToday"></datefield>
    </span> 
  -->





    <span ng-show="!money.ThirdParty.hide && getThirdPartyType(money) != 'None'">
        <ifield label="Customs Client Number (Importer's code)" model="money.ThirdParty.CustomsClientNumber" afterupdate="updateCCN">
        </ifield>
      
        <ifield label="Tax Number" model="money.ThirdParty.TaxNumber"></ifield>
      
        <ifield label="VAT Number" model="money.ThirdParty.VATNumber"></ifield>
      </span>
      <span ng-show="!money.ThirdParty.hide && getThirdPartyType(money) == 'Entity'">
        <ifield label="Legal Name" model="money.ThirdParty.Entity.Name"></ifield>
        <ifield label="Registration Number" model="money.ThirdParty.Entity.RegistrationNumber"></ifield>
      </span>
      <span ng-show="!money.ThirdParty.hide && getThirdPartyType(money) == 'Individual'">
      
        <ifield label="Surname" model="money.ThirdParty.Individual.Surname"></ifield>
      
        <ifield label="Name" model="money.ThirdParty.Individual.Name"></ifield>
      
        <ifield label="Identity number" model="money.ThirdParty.Individual.IDNumber"></ifield>
      
        <sfield label="Gender" model="money.ThirdParty.Individual.Gender" lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"></sfield>
      
        <span ng-init="dobToday = $root.util.date.addYear(-18)">
          <datefield label="Date of birth" model="money.ThirdParty.Individual.DateOfBirth" mode="year" dt="dobToday"></datefield>
        </span>
      
        <ifield label="Temporary resident permit number" model="money.ThirdParty.Individual.TempResPermitNumber"></ifield>
      
        <datefield label="Temporary resident permit expiry" model="money.ThirdParty.Individual.TempResExpiryDate"></datefield>
      
        <ifield label="Passport number" model="money.ThirdParty.Individual.PassportNumber"></ifield>
        <lfield label="Passport country" model="money.ThirdParty.Individual.PassportCountry" lookup="countries"
          label-prop="name" value-prop="code" squash-numerics="true"></lfield>
        <datefield label="Passport expiry date" model="money.ThirdParty.Individual.PassportExpiryDate"></datefield>
      
      </span>


</fieldset>


