﻿<div class="form-group animate-hide ui-front"
     ng-class="{'has-error':model.error}"
     ng-hide="model.hide"
     popover-placement="auto"
     popover-trigger="mouseenter"
     uib-popover="{{ (model.pmsg ? model.pmsg : model.msg).join('\n\n\n\n') }}"
     popover-title="Issues with this field:"
     popover-append-to-body="true">
  <label class="FldLabel">{{label}}</label>

  <div>
    <span ng-show="pwarn()" class="bop-warning-nbol"></span>

      <button type="button" class="btn btn-custom-nbol btn-sm"
              ng-class="perror()?'invalid':'valid'"
              ng-init="model.clicked = false;"
              ng-click="model.clicked = true; update();"
              ng-disabled="model.busy || $root.isReadOnly() || model.disabled">{{ !isValid() ? (model.busy ? "Validating..." : "Validate") : "Valid"  }}</button>
      <input type="hidden"
             ng-model="model.val"
             ng-change="update()" />
    <span ng-show="isView">{{viewResponse()}}</span>
    <span ng-show="model.busy" class="bopBusy"></span>

  </div>
</div>