<div class="form-group ui-front lfield"
     ng-hide="money.CategoryCode.hide || money.CategorySubCode.hide">
  <label class="control-label FldLabel">Category Code/Subcode</label>
  <span ng-show="money.CategoryCode.warning||money.CategorySubCode.warning && !($root.isReadOnly()||model.disabled)"
        class="bop-warning-nbol"></span>
  <input class="form-control CHAR_P"
         type="text"
         ng-class="money.CategoryCode.error||money.CategorySubCode.error?'has-warning':''"
         ng-disabled="$root.isReadOnly() || model.disabled || disableField"
         ng-model="tempModel"
         typeahead-min-length="0"
         typeahead-on-select="handleChange()"
         ng-blur="handleChange()"
         placeholder="CODE/SUBCODE"
         popover-placement="right"
         popover-trigger="mouseenter"
         popover-title="Issues with this field:"
         popover-append-to-body="true"
         typeahead-append-to-body="false"
         typeahead-focus
         uib-typeahead="category as (category.code + ': ' + category.description + ' (' + category.section + ', ' + category.subsection + ')') for category in getCategories()| lFieldFilter:'code':$viewValue"
         uib-popover="{{money.CategoryCode.msg.concat(money.CategorySubCode.msg).join('\n')}}"
         typeahead-input-formatter="makeCCLabel(tempModel)"  />


  <span ng-show="money.CategoryCode.busy||money.CategorySubCode.busy && !($root.isReadOnly()||model.disabled)"
        class="bopBusy"></span>
</div>
