<div class="form-group animate-hide ui-front"
     ng-hide="model.hide">
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)"class="bopRequired"></span>
    {{label}}</label>
  <span ng-show="model.warning && !($root.isReadOnly()||model.disabled)" class="bop-warning-nbol"></span>
    <span class="input-group">
        <input class="form-control CHAR_P" type="text"
               uib-datepicker-popup="yyyy-MM-dd" is-open="Opened" close-text="Close"
               show-weeks="false"
               show-button-bar="false"
               ng-change="updateDate()"
               ng-model="date"
               ng-disabled="$root.isReadOnly() || model.disabled"
               ng-click="openDate($event)"
               ng-class="model.error?'has-warning':''"
               popover-placement="top"
               popover-trigger="mouseenter"
               popover-append-to-body="true"
               uib-popover="{{model.msg.join('\n')}}"
               popover-title="Issues with this field:"
               id="{{inputFldId()}}" />
        <span class=" input-group-btn date-picker-nbol"
              ng-hide="$root.isReadOnly()||model.disabled"
              ng-click="openDate($event)"></span>
    </span>

</div>
