<div class="form-group animate-hide ui-front"
     ng-hide="model.hide">
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)"
          class="bopRequired"></span>
    {{label}}</label>

  <div>
    <span ng-show="model.warning && !($root.isReadOnly()||model.disabled)" class="bop-warning-nbol"></span>
      <input class="form-control CHAR_P" ng-model="model.val" type="{{isNumberField?'number':'text'}}"
             ng-disabled="$root.isReadOnly() || model.disabled || disableField"
             ng-change="update()"
             ng-class="model.error?'has-warning':''"
             popover-placement="top"
             popover-trigger="mouseenter"
             uib-popover="{{model.msg.join('\n')}}"
             popover-title="Issues with this field:"
             popover-append-to-body="true"
             id="{{inputFldId()}}" />

    <span ng-show="model.busy && !($root.isReadOnly()||model.disabled)" class="bopBusy"></span>
  </div>
</div>