<div class="form-group animate-hide ui-front"
     ng-hide="model.hide">
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)"
          class="bopRequired"></span>
    {{label}}
  </label>
  <div class="lfield">
    <span ng-show="model.warning && !($root.isReadOnly()||model.disabled)"
          class="bop-warning-nbol"></span>

    <input class="form-control LIST_P nbol-ico"
           ng-model="model.val"
           type="text"
           ng-disabled="$root.isReadOnly() || model.disabled || disableField"
           ng-class="model.error?'has-warning':''"
           popover-placement="top"
           popover-trigger="mouseenter"
           uib-popover="{{model.msg.join('\n')}}"
           popover-title="Issues with this field:"
           popover-append-to-body="true"
           typeahead-on-select="update(model.val)"
           id="{{inputFldId()}}"
           ng-change="update(model.val)"
           typeahead-focus
           typeahead-append-to-body="false"
           uib-typeahead="l.value as ((l.label == l.value) ? l.label : '<b>'+l.value+'</b>, '+l.label) for l in getLookup() | lFieldFilter:'value':$viewValue | orderBy:'label'" />

    <span ng-show="model.busy && !($root.isReadOnly()||model.disabled)"
          class="bopBusy"></span>
  </div>
</div>


