<div class="form-group animate-hide ui-front"
     ng-hide="model.hide">
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory)||(currencyModel.mandatory) && !($root.isReadOnly()||model.disabled)" class="bopRequired"></span>
    {{label}}</label>
  <div class="fieldCol">
    <div class="input-group">
      <span ng-show="model.warning && !($root.isReadOnly()||model.disabled)" class="bop-warning-nbol"></span>
    <input class="form-control CHAR_P" ng-model="model.val" type="text" ng-change="update()"
           ng-disabled="$root.isReadOnly() || model.disabled"
           ng-class="model.error||currencyModel.error?'has-warning':''"
           popover-placement="top" popover-trigger="mouseenter"
           uib-popover="{{model.msg.concat(currencyModel.msg).join('\n')}}"
           popover-title="Issues with this field:"
           popover-append-to-body="true"
          id="{{inputFldId()}}"/>
        <span class="input-group-addon">
          <span>{{currencyModel.val}} {{model.val|currency:"":2}}</span>
        </span>

    </div>
  </div>
</div>