<div class="row" ng-hide='value.hide||(value.val==undefined)'>
  <div ng-hide='isMoneyField'>
    <div class="col-sm-3">
      {{label}}
    </div>
    <div class="col-sm-9">
      {{value.val}}
    </div>
  </div>
  <div ng-show='isMoneyField'>
    <div class="col-sm-3">
      {{label}}
    </div>
    <div class="col-sm-9">
      {{value.val | currency:currencyModel.val+" ":2}}
    </div>
  </div>
</div>
