<div class="form-group row animate-hide ui-front"
     ng-hide="model.hide">
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)"
          class="bopRequired"></span>
    {{label}}
  </label>
  <div>
    <span ng-show="model.warning && !($root.isReadOnly()||model.disabled)"
          class="bop-warning-nbol"></span>

    <select class="form-control select-field"
            ng-model="model.val"
            ng-options="option.value as option.label for option in getLookup()"
            type="text"
            ng-change="update(model.val)"
            ng-disabled="$root.isReadOnly() || model.disabled || disableField"
            ng-class="model.error?'has-warning':''"
            popover-placement="top"
            popover-trigger="mouseenter"
            uib-popover="{{model.msg.join('\n')}}"
            popover-title="Issues with this field:"
            popover-append-to-body="true"
            id="{{inputFldId()}}"
            ng-init="update(model.val);getLookup()">
      <option ng-if="isOptional" value="">-- Unknown --</option>
    </select>
  </div>
</div>