<sfield label="Account Identifier" model="NonResident.AccountIdentifier" lookup="accountIdentifiersNonResident" always-show="true"></sfield>
<ifield label="Account number" model="NonResident.AccountNumber" always-show="true"></ifield>
