<div class="row"
     ng-init="ieEmptyHandler(money)">
  <label class="col-md-3 FldLabel">Imports/Exports</label>
  <b class="col-md-5 errorMsg error-content">{{ importExportOutstanding(money, money.ImportExport, 'OVER! ', '+ Remaining: ', data.TransactionCurrency.val) }}</b>
</div>

<div class="row">
  <uib-accordion close-others="false">
    <div uib-accordion-group ng-repeat="(ieIdx,ie) in money.ImportExport"
                         ng-init="ie.statusOpen = true"
                         is-open="ie.statusOpen">
      <uib-accordion-heading>
        <span ng-switch="data.MonetaryAmount.length > 1">
          <span class="small"
                ng-switch-when="true">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="acc-hdr-el acc-hdr-ico">{{ind + 1}}.{{ieIdx + 1}}</span>
          </span>
          <span class="small"
                ng-switch-when="false">
            <span class="acc-hdr-el acc-hdr-ico">{{ieIdx + 1}}</span>
          </span>
        </span>

        <i class="glyphicon pull-right"
           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        <i class="glyphicon glyphicon-remove-circle pull-right"
           ng-click="removeImportExport(money, ie);">&nbsp;</i>
      </uib-accordion-heading>

      <div class="col-lg-12">
        <mfield always-show="true"
                label="Allocated amount"
                model="ie.PaymentValue"
                currency-model="data.FlowCurrency"
                input-currency="{{ data.ZAREquivalent.val ? '(in ZAR equivalent)' : undefined }}" ></mfield>
        <!-- N.B. SS20160318: the checksum validation for ZAREquivalent is on
        //"PaymentCurrencyCode" === "ZAR"
        //but business requirements is display transaction currency

        currency-model="ie.PaymentCurrencyCode"-->

        <ifield label="{{ie.ImportControlNumberLabel.val}}"
                model="ie.ImportControlNumber" ></ifield>
        <ifield label=" Transport Document Number"
                model="ie.TransportDocumentNumber" ></ifield>
        <ifield label=" UCR"
                model="ie.UCR" ></ifield>
      </div>
    </div>
  </uib-accordion>

</div>


<div class="row">
    <span class="col-md-5">
      <button ng-click="addImportExport(money,true)" class="btn btn-primary">Add</button>
    </span>
</div>


