
<ccfield current="{money:money}"
         label="Reason for payment"
         aux="Flow==='IN'" ng-hide="money.CategoryCode.val"></ccfield>

<mfield label="Reason amount"
        model="money.ForeignValue"
        currency-model="data.FlowCurrency"
        tooltip-title="'The amount related to the reason for payment'" ></mfield>

<mfield label="Reason amount"
        model="money.RandValue"
        currency-model="{val:'ZAR'}"
        input-currency="{{ data.ZAREquivalent.val ? '(in ZAR equivalent)' : undefined }}"
        tooltip-title="'The amount related to the reason for payment'" ></mfield>
