<div id="SS_resident_modal_object_exeption" class="form-horizontal">
    <div class="col-sm-4">
        <sfield label="Exception name" model="data.Resident.Exception.ExceptionName" lookup="residentExceptions"></sfield>
    </div>
    <div class="col-sm-4">
        <lfield label="Country" model="data.Resident.Exception.Country" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
    </div>
</div>