<div class="error-summary"
     ng-class="{
      bopError:!bopdata.isValid(),
      danger:!bopdata.isValid(),
      warning:(bopdata.isValid()&&bopdata.hasWarning()),
      bopWarning:(bopdata.isValid()&&bopdata.hasWarning())
      }">
  <a
      style="margin-top: -1em;"
      href=""
      ng-click="openErrors()"
      ng-hide="bopdata.isValid()&&!bopdata.hasWarning()"
      >
    <small>
      {{!bopdata.isValid()?'Invalid!':'Valid, but with warnings.'}} ({{bopdata.eventCount('ERROR')+bopdata.eventCount('WARNING')+bopdata.eventCount('FAILBUSY')}} issues found. Please click here to view
      errors and warnings.)
    </small>
  </a>

  <small
      ng-show="bopdata.isValid()&&!bopdata.hasWarning()">Valid with no errors or warnings.
  </small>


</div>