<div>{{JSON.stringify(tab)}}</div>
<div class="bop_form_container">
  <div class="pull-right">
    <span class="btn btn-primary btn-xs" uib-popover="{{bopFormVersion}}" popover-placement="left" popover-trigger="mouseenter">
    V
  </span>

  </div>
  <error-list></error-list>
  <uib-tabset active="tab">

    <uib-tab heading="Transaction Summary" id="transactionSummaryTab" index="0">
      <div ng-include="config.partialsPath+config.rootTemplate"></div>
    </uib-tab>

    <uib-tab heading="Transaction" index="1" id="transactionTab">
      <div ng-include="config.partialsPath+getDetailTemplate('Transaction')"></div>

    </uib-tab>

    <uib-tab heading="Resident" index="2" id="residentTab">

      <div ng-include="config.partialsPath+'resident/header.html'"></div>
      <uib-tabset active="$parent.$parent.tabResident">
        <uib-tab heading="General Details" index="0" id="generalDetailsResTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Resident','general')"></div>
        </uib-tab>
        <uib-tab heading="Account Details" index="1" ng-hide="resType=='Exception'" id="accountDetailsResTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Resident','account')"></div>
        </uib-tab>
        <uib-tab heading="Contact Details" index="2" ng-hide="resType=='Exception'||data.ReportingQualifier.val=='NON REPORTABLE'" id="contactDetailsResTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Resident','contact')"></div>
        </uib-tab>
      </uib-tabset>

    </uib-tab>


    <uib-tab heading="Non Resident" index="3" ng-if="data.NonResident" id="nonResidentTab">
      <div ng-include="config.partialsPath+'nonResident/header.html'"></div>


      <uib-tabset active="$parent.$parent.$parent.tabNonResident">
        <uib-tab heading="General Details" index="0" id="generalDetailsNonResTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('NonResident','general')"></div>
        </uib-tab>
        <uib-tab heading="Account Details" index="1" ng-hide="nonResType=='Exception'" id="accountDetailsNonResTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('NonResident','account')"></div>
        </uib-tab>
        <uib-tab heading="Contact Details" index="2" ng-hide="nonResType=='Exception'" id="contactDetailsNonResTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('NonResident','contact')"></div>
        </uib-tab>
      </uib-tabset>
    </uib-tab>


    <!--<uib-tab heading="Monetary Summary">-->

    <!--<div class="text-center">-->
    <!--<big>Monetary Summary</big>-->
    <!--</div>-->

    <!--<div ng-include="config.partialsPath+config.monetary_summary"></div>-->

    <!--</uib-tab>-->


    <uib-tab index="4" id="monetaryDetailTab">
      <uib-tab-heading >

        <span uib-dropdown class="dropdown" dropdown-append-to-body>
           <a href uib-dropdown-toggle id="btn-append-to-to-body" ng-click="openDetail('Money','general', data.MonetaryAmount[current.moneyInd])">
             Monetary Detail #{{current.moneyInd+1}}<span class="caret"></span>
        </a>

        <div ng-click="$event.stopPropagation()" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <button class="btn btn-primary btn-xs btn-block" ng-click="addMonetaryAmount()" ng-disabled="customData.readOnly" id="btnAddMonetary">
               Add New
             </button>
          <br>
          <table class="table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                <th>Seq</th>
                <th>Cat</th>
                <th>Amt</th>
                <th>Rem</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(ind, money) in data.MonetaryAmount" ng-click="setCurrentMoneyInd(ind)"
              ng-class="{info:(current.moneyInd==ind)}">
                <td>
                  {{money.SequenceNumber.val? (money.SequenceNumber.val) : ( ind+1)}}
                </td>
                <td>
                  {{money.Category.val?money.Category.val:"new"}}
                </td>
                <td>
                  {{money.ForeignValue.val | currency : data.FlowCurrency.val}}
                </td>
                <td>
                  <button class="btn btn-danger btn-xs btn-block" ng-disabled="(data.MonetaryAmount.length==1)||customData.readOnly" ng-click="removeMonetaryAmount(money, null, 'modalBopFormConfirmDel'); $event.stopPropagation();">
                     <span class="glyphicon glyphicon-minus-sign"></span>
                   </button>
                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td colspan="100%">
                  {{moneyTotal(data)}} Allocated <span style="color: #cc0000;">{{moneytOutstanding(data,'OVER! ', '+ Remaining:')}}</span>
                </td>
              </tr>
              <tr ng-if="customData.TotalDomesticAmount">
                <td colspan="100%">
                  {{totalRandValue(data) | currency : map('LocalCurrency') : 2}} Allocated
                  <span style="color: #cc0000;">
                     {{randOutstanding(data)>0?"+ Remaining:":(randOutstanding(data)<0?"OVER!":"")}}
                   {{randOutstanding(data)<0?-randOutstanding(data):randOutstanding(data)| currency : map('LocalCurrency') : 2}}
                 </span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        </span>

      </uib-tab-heading>


      <uib-tabset ng-if="current.money" active="$parent.$parent.$parent.tabMoney">
        <uib-tab heading="General Details" index="0" id="generalMonDetailsTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Money','general')"></div>
        </uib-tab>
        <uib-tab heading="Third Party Details" index="1" ng-hide="current.money.ThirdParty.hide" id="thirdPartyMonDetailsTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Money','thirdparty')"></div>
        </uib-tab>
        <uib-tab heading="Third Party Contact Details" index="2" ng-hide="getThirdPartyType(current.money)=='None'" id="thirdPartyContactMonDetailsTab">
          <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Money','contact')"></div>
        </uib-tab>
        <uib-tab heading="ImportExport Summary" index="3" ng-hide="current.money.ImportExport.hide" id="importExportSummaryMonTab">
          <div class="panel-body" ng-include="config.partialsPath+config.importexport_summary"></div>
        </uib-tab>
      </uib-tabset>
    </uib-tab>

  </uib-tabset>

</div>


<script type="text/ng-template"
id="modalBopFormConfirmDel.html">
<span class="inv-modal">
<div class="modal-header">
<button class="btn btn-default"
      type="button"
      ng-click="$ctrl.cancel()">
&times;
</button>
<b class="modal-title" id="modalIdLabel">Delete reason</b>
</div>

<div class="modal-body">

<p>
<div class="bopModDel"></div>
<b>Category</b> will be deleted from your list of reasons. Are you sure?
</p>
</div>

<div class="modal-footer">
<button class="btn"
      type="button"
      ng-click="$ctrl.cancel()">
Cancel
</button>
<button class="btn"
      type="button"
      ng-click="$ctrl.ok()">
Delete
</button>
</div>
</span>
</script>