<div class="row fld form-group">
  <label class="label col-md-3">
    <span class="bopRequired"></span>
    <span>Third Party Type</span>
  </label>

  <span>
    <div class="col-sm-4 has-feedback" ng-init="money.ThirdPartyType=getThirdPartyType(money)">

      <div role="group">
        <label class="radio-inline" for="thirdPartyTypeNone{{ind}}" ng-click="money.ThirdParty.Type.disabled?'':updateThirdPartyType(money, 'None')">
          <input type="radio" id="thirdPartyTypeNone{{ind}}" name="thirdPartyType{{ind}}" ng-value="'None'" ng-model="money.ThirdPartyType" ng-disabled="money.ThirdParty.Type.disabled"/> None
        </label>

        <label class="radio-inline" for="thirdPartyTypeIndividual{{ind}}" ng-click="money.ThirdParty.Type.disabled?'':updateThirdPartyType(money, 'Individual')">
          <input type="radio" id="thirdPartyTypeIndividual{{ind}}" name="thirdPartyType{{ind}}" ng-value="'Individual'" ng-model="money.ThirdPartyType" ng-disabled="money.ThirdParty.Type.disabled"
          />Individual
        </label>

        <label class="radio-inline" for="thirdPatyTypeEntity{{ind}}" ng-click="money.ThirdParty.Type.disabled?'':updateThirdPartyType(money, 'Entity')">
          <input type="radio" id="thirdPatyTypeEntity{{ind}}" ng-value="'Entity'" ng-model="money.ThirdPartyType" name="thirdPartyType{{ind}}" ng-disabled="money.ThirdParty.Type.disabled"/> Entity
        </label>

      </div>
    </div>
  </span>
</div>