<a ng-disabled="customData.readOnly" ng-click="addImportExport(current.money,true)" class='btn btn-custom-nbol btn-sm'> Add import/export amount</a>
<a ng-disabled="customData.readOnly" class='btn btn-sm btn-custom-nbol' ng-click="removeImportExport(current.money, current.money.ImportExport[currentImportExportInstance])">Remove selected</a>
<a ng-disabled="customData.readOnly" ng-click="openPasteMonetaryAmounts(current.money)" class='btn btn-custom-nbol btn-sm'>Paste from excel</a>
<div id='Editable_Table_Grid'>
    <table class="table table-striped-custom table-bordered table-condensed">
        <thead>
            <tr>
                <th colspan="100%">
                    Imports/Exports
                </th>
            </tr>
            <tr>
                <th width="40px">Seq</th>
                <th>{{current.money.IE_PaymentValueHeading.label}}</th>
                <th ng-hide="current.money.IE_ICNHeading.hide">{{current.money.IE_ICNHeading.label}}</th>
                <th ng-hide="current.money.IE_TDNHeading.hide">Transport Document Number (TDN)</th>
                <th ng-hide="current.money.IE_UCRHeading.hide">Unique Consignment Reference (UCR)</th>
                <th ng-hide="current.money.IE_MRNNotOnIVSHeading.hide">MRN Not On IVS</th>

                <!-- <th ng-hide="current.money.IE_PaymentValue.hide">Payment Value</th> -->
                <!-- <th ng-hide="current.money.IE_PaymentCurrencyCode.hide">Payment Currency Code</th> -->
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="(ind,ie) in current.money.ImportExport"
                ng-click="selectImportExportAmount(ind)"
                ng-class="{'': currentImportExportInstance!=ind, 'selected-row': currentImportExportInstance==ind}">
                <td width="40px">{{ind + 1}}</td>
                <td>
                    <mfield model="ie.PaymentValue"
                            currency-model="data.FlowCurrency"
                            is-number-field="true"></mfield>
                </td>
                <td ng-hide="ie.ImportControlNumber.hide">
                    <ifield model="ie.ImportControlNumber"></ifield>

                </td>
                <td ng-hide="ie.TransportDocumentNumber.hide">
                    <ifield model="ie.TransportDocumentNumber"></ifield>

                </td>
                <td ng-hide="ie.UCR.hide">
                    <ifield model="ie.UCR"></ifield>
                </td>
                <td ng-hide="ie.MRNNotOnIVS.hide">
                    <sfield model="ie.MRNNotOnIVS" lookup-values="['Y','N']"></sfield>
                </td>


                <!-- <td ng-hide="ie.PaymentValue.hide">
                  <mfield label="Payment value" model="ie.PaymentValue" currency-model="ie.PaymentCurrencyCode" input-currency="true"></mfield>
                </td> -->
                <!-- <td ng-hide="ie.PaymentCurrencyCode.hide">
                  <lfield label="Payment Currency" model="ie.PaymentCurrencyCode" lookup="currencies" label-prop="name" value-prop="code"></lfield>
                </td> -->

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <label class="col-sm-5 FldLabel"></label>
                    {{importExportTotal(current.money.ImportExport,current.money.IECurrencyCode.val)}} Allocated <span style="color: #cc0000;"> {{ importExportOutstanding(current.money, current.money.ImportExport, 'OVER! ', '+ Remaining: ',current.money.IECurrencyCode.val) }}</span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <sfield
        label="ImportExport Currency"
        model="current.money.IECurrencyCode"
        lookup="currencies"
        value-prop="code"
        label-prop="name"></sfield>
  </div>
</div>