<div ng-hide="getThirdPartyType(current.money)=='None'">
  <div class="form-horizontal">

   
    <fieldset>
      <legend>Third party contact details</legend>
      <div class="row">
        <div class="col-sm-4">
          <ifield label="Contact surname" model="current.money.ThirdParty.ContactDetails.ContactSurname"></ifield>
          <ifield label="Contact name" model="current.money.ThirdParty.ContactDetails.ContactName"></ifield>
        </div>
        <div class="col-sm-4">
          <ifield label="Email" model="current.money.ThirdParty.ContactDetails.Email"></ifield>
          <ifield label="Fax" model="current.money.ThirdParty.ContactDetails.Fax"></ifield>
        </div>
        <div class="col-sm-4">
          <ifield label="Telephone" model="current.money.ThirdParty.ContactDetails.Telephone"></ifield>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Third party street address</legend>

      <div class="row">
        <div class="col-sm-4">
          <ifield label="Street address line 1" model="current.money.ThirdParty.StreetAddress.AddressLine1"></ifield>
          <sfield label="Street {{map('StateName')}}" model="current.money.ThirdParty.StreetAddress.Province" lookup="provinces"
                  label-prop="true"></sfield>
        </div>
        <div class="col-sm-4">
          <ifield label="Street address line 2" model="current.money.ThirdParty.StreetAddress.AddressLine2"></ifield>
          <ifield label="Street city" model="current.money.ThirdParty.StreetAddress.City"></ifield>
        </div>
        <div class="col-sm-4">
          <ifield label="Street suburb" model="current.money.ThirdParty.StreetAddress.Suburb"></ifield>
          <ifield label="Street postal code" model="current.money.ThirdParty.StreetAddress.PostalCode"></ifield>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Third party postal address</legend>
      <!--
      <div class="row form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <input class="form-control  copy-street-address"
                 ng-click="copyAddress(current.money.ThirdParty.StreetAddress,current.money.ThirdParty.PostalAddress)"
                 type="button" value="Postal Address Same As Street Address"
                 ng-disabled="current.money.ThirdPartyAddrCopy.disabled">
        </div>
      </div>
      -->
      <div class="row">
        <div class="form-group" ng-show="current.money.allowAdhocBOPThirdParty.val">
          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       ng-model="current.money.ThirdParty.sameAsPhysical.val"
                       ng-change="revalidate()"
                    > Same as physical address
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <ifield label="Postal address line 1" model="current.money.ThirdParty.PostalAddress.AddressLine1"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
          <sfield label="Postal {{map('StateName')}}" model="current.money.ThirdParty.PostalAddress.Province" lookup="provinces"
                  label-prop="true"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></sfield>
        </div>
        <div class="col-sm-4">
          <ifield label="Postal address line 2" model="current.money.ThirdParty.PostalAddress.AddressLine2"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
          <ifield label="Postal city" model="current.money.ThirdParty.PostalAddress.City"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
        </div>
        <div class="col-sm-4">
          <ifield label="Postal suburb" model="current.money.ThirdParty.PostalAddress.Suburb"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
          <ifield label="Postal code" model="current.money.ThirdParty.PostalAddress.PostalCode"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
        </div>
      </div>
    </fieldset>
  </div>
</div>