<table id="SARB_Summary" class="table table-bordered table-condensed">
  <tr id="transaction_head" ng-click="openErrors()" ng-class="{danger:!bopdata.isValid(),warning:(bopdata.isValid()&&bopdata.hasWarning())}">
    <td>
      <div class="text-center">
        <div class="pull-left" id="smallLogo"></div>
        <big>Transaction</big>
        <span id='readOnlyIndicator' class="hide">(READ-ONLY)</span>
        <small class="text-info pull-right">Click on table below
          to edit details.
          <div id='ErrorFeedback'></div>

        </small>
      </div>
    </td>
  </tr>
  <tr>
    <td ng-include="config.partialsPath+config.transaction_summary"></td>
  </tr>
  <tr id="resident_table">
    <td>
      <table class="table table-bordered table-condensed">
        <tr class="summaryHeading">
          <td>
            <div class="text-center">
              <big>Account Holder</big>
              <small
                  class="text-info pull-right">Click on a row to
                edit details.
              </small>
            </div>
          </td>
        </tr>
        <tr>
          <td ng-include="config.partialsPath+config.resident_summary"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr id="non_resident_table">
    <td>
      <table class="table table-bordered table-condensed">
        <tr class="summaryHeading">
          <td>
            <div class="text-center">
              <big>
                <dfield value="data.NonResidentTitle"></dfield>
              </big>
              <small
                  class="text-info pull-right">Click on a row to
                edit details.
              </small>
            </div>
          </td>
        </tr>
        <tr>
          <td ng-include="config.partialsPath+config.non_resident_summary"></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr class="summaryHeading">
    <td>
      <div class="text-center">
        <big>Monetary Details</big>
        <small class="text-info pull-right">Click
          on a row to edit details.
        </small>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div ng-include="config.partialsPath+config.monetary_summary"></div>
    </td>
  </tr>

</table>

