<ifield label="Legal entity name" model="data.NonResident.Entity.EntityName" always-show="true"></ifield>
<ifield label="Card Merchant Name" model="data.NonResident.Entity.CardMerchantName" always-show="true"></ifield>
<ifield label="Card Merchant Code" model="data.NonResident.Entity.CardMerchantCode" always-show="true"></ifield>

