<div class="form-horizontal">

  <ifield label="Import control number" model="ie.ImportControlNumber"></ifield>
  <ifield label="Transport document number" model="ie.TransportDocumentNumber"></ifield>
  <!--<sfield label="MRNNotOnIVS" model="ie.MRNNotOnIVS" lookup="yesNo"></sfield>-->
  <ifield label="UCR" model="ie.UCR"></ifield>

  <mfield label="Payment value" model="ie.PaymentValue" currency-model="ie.PaymentCurrencyCode" input-currency="true"></mfield>

</div>