<div class="form-horizontal" role="form">

    <fieldset>
        <legend>Monetary details for selected</legend>
        <div class="row">
            <div class="col-sm-4">
                <ccfield current="current"></ccfield>

                <!--<ifield label="Category Code/Subcode" model="current.money.Category" disable-field="true"></ifield>-->
                <mfield label="Foreign value" model="current.money.ForeignValue" currency-model="data.FlowCurrency"></mfield>
                <mfield label="{{map('LocalCurrencyName')}} value" model="current.money[map('LocalValue')]" currency-model="{val:map('LocalCurrency')}"></mfield>
                
                <!--<mfield label="Foreign value" model="current.money.ForeignValue" currency-model="data.FlowCurrency"></mfield>-->
                <lfield label="Location country" model="current.money.LocationCountry" lookup="countries" label-prop="name" value-prop="code"
                    squash-numerics="true"></lfield>
                <ifield label="SWIFT details" model="current.money.SWIFTDetails"></ifield>

                <sfield label="Money transfer agent indicator" model="current.money.MoneyTransferAgentIndicator" lookup="moneyTransferAgents"></sfield>
                <ifield label="Strate reference number" model="current.money.StrateRefNumber"></ifield>

            
            </div>
            <div class="col-sm-4">
                <!--<mfield label="Rand value" model="current.money.RandValue" currency-model="{val:'ZAR'}"></mfield>-->
                <!--<sfield label="Auth issuer" model="current.money[map('Regulator')+'Auth'].AuthIssuer" lookup="authIssuers" label-prop="display"></sfield>-->

                <sfield label="Auth Facillitator" model="current.money[map('Regulator')+'Auth'].AuthFacilitator" lookup="facilitators"></sfield>
                <sfield label="Auth Issuer" model="current.money[map('Regulator')+'Auth'].AuthIssuer" update-fn="ChangeIssuer" lookup="issuers"></sfield>

                <ifield label="SARB auth application number" model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']"></ifield>
                <ifield label="SARB auth reference number" model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>
                <datefield label="SARB application date" model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate']"></datefield>

                <ifield label="AD internal auth number" model="current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"></ifield>

                <datefield label="AD internal auth number date" model="current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"></datefield>

                <ifield label="Ruling section" model="current.money[map('Regulator')+'Auth'].RulingsSection"></ifield>

                <ifield label="Foreign card holders purchases rand value" model="current.money.ForeignCardHoldersPurchasesRandValue"></ifield>

                <ifield label="POS entry mode" model="current.money.POSEntryMode"></ifield>

                <sfield label="Card fraudulent transaction indicator" model="current.money.CardFraudulentTransactionIndicator" lookup="yesNo"></sfield>
               
                <ifield label="Foreign card holders cash withdrawals rand value" model="current.money.ForeignCardHoldersCashWithdrawalsRandValue"></ifield>
                
            </div>
            <div class="col-sm-4">
                <sfield label="Subject" model="current.money.AdHocRequirement.Subject" lookup="adhocSubjects"></sfield>
                <ifield label="Description" model="current.money.AdHocRequirement.Description"></ifield>
                <ifield label="Cannot categorise" model="current.money.CannotCategorize"></ifield>
                <ifield label="Reversal transaction reference number" model="current.money.ReversalTrnRefNumber"></ifield>
                <ifield label="Reversal sequence" model="current.money.ReversalTrnSeqNumber"></ifield>

                <sfield label="Card charge back?" model="current.money.CardChargeBack" lookup="yesNo" ></sfield>

                <sfield label="Card indicator" model="current.money.CardIndicator" lookup="cardTypes"></sfield>

                <ifield label="Electronic commerce indicator" model="current.money.ElectronicCommerceIndicator"></ifield>


            </div>
        </div>

    </fieldset>

    <fieldset ng-hide="
    (current.money.LoanRefNumber.hide)
    &&(current.money.LoanInterestRate.hide)
    &&(current.money.LoanTenor.hide)
    &&(!current.money.LoanRefNumber.val)
    &&(!current.money.LoanInterestRate.val)
    &&(!current.money.LoanTenor.val)">
        <legend>
            Loan details
        </legend>
        <div class="row">
            <div class="col-sm-4">
                <ifield label="Loan reference number" model="current.money.LoanRefNumber"></ifield>
            </div>
            <div class="col-sm-4">
                <ifield label="Loan interest rate" model="current.money.LoanInterestRate"></ifield>
            </div>
            <div class="col-sm-4">
                <ifield label="Loan tenor" model="current.money.LoanTenor"></ifield>
            </div>
        </div>
        <div class="row" ng-if="setLoanRefFields()">
            <div class="col-sm-3">
                <sfield label="Loan interest base rate term" model="current.money.LoanInterest.Term" update-fn="composeLoanInterestRate" lookup="loanTerm"></sfield>
            </div>
            <div class="col-sm-3">
                <sfield label="Floating rate base" model="current.money.LoanInterest.BaseRate" update-fn="composeLoanInterestRate" lookup="loanBase" ></sfield>
            </div>
            <div class="col-sm-3">
                <sfield label="Plus/Minus" model="current.money.LoanInterest.PlusMinus" update-fn="composeLoanInterestRate" lookup="LoanSign" ></sfield>
            </div>
            <div class="col-sm-3">
                <ifield label="Margin or fixed rate (e.g. 1.25)" update-fn="composeLoanInterestRate" model="current.money.LoanInterest.Rate" ></ifield>
            </div>
        </div>
    </fieldset>

</div>