<div uib-popover="{{model.msg.join('\n')}}" popover-placement="auto" popover-append-to-body="true" popover-trigger="'mouseenter'"
  popover-title="Issues with this field:" class="form-group" ng-hide="model.hide&&(!model.val)&&(!isShowOverride)" ng-class="{'has-error':model.error, 'has-warning' : model.warning && !($root.isReadOnly()||model.disabled)}">
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)"
          class="bopRequired"></span>
    {{label}}</label>


  <input class="form-control CHAR_P" ng-model="model.val" type="{{isNumberField?'number':'text'}}" ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
    ng-change="update()" id="{{inputFldId()}}">

  <span ng-show="model.busy && !($root.isReadOnly()||model.disabled)" class="bopBusy"></span>

</div>