<div uib-popover="{{model.msg.join('\n')}}" popover-placement="auto" popover-append-to-body="true" popover-trigger="'mouseenter'"
  popover-title="Issues with this field:" class="form-group row"
     ng-hide="model.hide&&(!model.val)"
     ng-class="{'has-error':model.error, 'has-warning' : model.warning && !($root.isReadOnly()||model.disabled)}"
    >
  <label class="control-label FldLabel">
    <span ng-show="(model.mandatory) && !($root.isReadOnly()||model.disabled)"
          class="bopRequired"></span>
    {{label}}</label>

  <div>
    <div ng-show="!options[0].value">
      <select class="form-control select-field" ng-model="model.val"
              ng-options="option.value as option.label for option in getLookup()" type="text"
              ng-change="update(model.val)"
              ng-disabled="$parent.isReadOnly() || model.disabled"
              id="{{inputFldId()}}"
             >
        <option value="">-- Unknown --</option>
      </select>
    </div>
    <div ng-show="options[0].value"  popover-placement="auto" popover-trigger="'mouseenter'"
         uib-popover="{{model.msg.join('\n')}}"
         popover-title="Issues with this field:">
      <select class="form-control select-field" ng-model="model.val"
              ng-options="option.value as option.label for option in options" type="text"
              ng-change="update(model.val)"
              ng-disabled="$parent.isReadOnly() || model.disabled"
             >
        <option value="">-- Unknown --</option>
      </select>
    </div>
  </div>
</div>