<div>
  <div class="form-horizontal">
    <fieldset>
      <legend>Third party details</legend>
      <div>
        <div class="row">
          <div class="col-sm-4">
            <sfield label="Third Party Type" model="current.money.ThirdPartyKind"
                    lookup-values="['Individual','Entity']"
                    update-fn="setAdhoc3rdPartyType"
                    optional="no"></sfield>


            <div ng-show="getThirdPartyType(current.money)=='Individual'">
              <ifield label="Identity number" model="current.money.ThirdParty.Individual.IDNumber"></ifield>
              <ifield label="Temporary resident permit number"
                      model="current.money.ThirdParty.Individual.TempResPermitNumber"></ifield>
              <ifield label="Passport number" model="current.money.ThirdParty.Individual.PassportNumber"></ifield>
            </div>
            <div ng-hide="getThirdPartyType(current.money)=='None'">
              <ifield label="Tax number" model="current.money.ThirdParty.TaxNumber"></ifield>
            </div>
          </div>
          <div class="col-sm-4">
            <div ng-show="getThirdPartyType(current.money)=='Entity'">
              <ifield label="Legal entity name" model="current.money.ThirdParty.Entity.Name"></ifield>
              <ifield label="Registration number" model="current.money.ThirdParty.Entity.RegistrationNumber"></ifield>
            </div>
            <div ng-show="getThirdPartyType(current.money)=='Individual'">
              <ifield label="Name" model="current.money.ThirdParty.Individual.Name"></ifield>
              <sfield label="Gender" model="current.money.ThirdParty.Individual.Gender" lookup="gender"></sfield>
              <datefield label="Date of birth" model="current.money.ThirdParty.Individual.DateOfBirth"></datefield>
              <lfield label="Passport country" model="current.money.ThirdParty.Individual.PassportCountry" lookup="countries"
                      label-prop="name" value-prop="code" squash-numerics="true"></lfield>
            </div>

          </div>
          <div class="col-sm-4">
            <div ng-show="getThirdPartyType(current.money)=='Individual'">
              <ifield label="Surname" model="current.money.ThirdParty.Individual.Surname"></ifield>
            </div>
            <div ng-hide="getThirdPartyType(current.money)=='None'">
              <ifield label="Customs Client Number" model="current.money.ThirdParty.CustomsClientNumber"></ifield>
              <ifield label="VAT number" model="current.money.ThirdParty.VATNumber"></ifield>
            </div>
          </div>
        </div>

      </div>
    </fieldset>
  </div>
</div>