<h3 class="row" ng-init="ieEmptyHandler(money)">
  <span class="col-md-3">Imports/Exports</span>
  <b class="col-md-5 errorMsg error-content">{{ importExportOutstanding(money, money.ImportExport, 'OVER! ', '+ Remaining: ', data.FlowCurrency.val) }}</b>

</h3>
<p ng-messages ng-show="!$parent.customData.msgHide && (money.ImportExport.error || money.ImportExport.warning)">
  <span class="errorMsg" ng-repeat="itm in errMsgCopyOnly(money.ImportExport.msg)">
    <b>X</b>{{itm}}
    <br />
  </span>
</p>

<div class="row">
  <uib-accordion close-others="true" ng-class="inv-accordion">
    <div uib-accordion-group ng-repeat="(ieIdx,ie) in money.ImportExport" ng-init="ie.isOpen=true" is-open="ie.isOpen" class="panel-default">
      <uib-accordion-heading>
        <div class="row clearfix">
          <div class="col-md-7">
            <span ng-switch="data.MonetaryAmount.length > 1">
              <span ng-switch-when="true">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="acc-hdr-el acc-hdr-ico">{{ind + 1}}.{{ieIdx + 1}}</span>
              </span>
              <span ng-switch-when="false">
                <span class="acc-hdr-el acc-hdr-ico">{{ieIdx + 1}}</span>
              </span>
            </span>
          </div>
          <div class="col-md-5">
            <span class="pull-right arrow"></span>
            <i class="glyphicon icon-investec-delete-1 pull-right" ng-click="removeImportExport(money, ie);">&nbsp;</i>
          </div>
        </div>
      </uib-accordion-heading>

      <div class="col-lg-12">
        <mfield always-show="true" label="Allocated amount" model="ie.PaymentValue" currency-model="data.FlowCurrency"></mfield>
        <!-- N.B. SS20160318: the checksum validation for ZAREquivalent is on
        //"PaymentCurrencyCode" === "ZAR"
        //but business requirements is display transaction currency

        currency-model="ie.PaymentCurrencyCode"-->

        <ifield label="{{ie.ImportControlNumberLabel.val}}" model="ie.ImportControlNumber"></ifield>
        <ifield label=" Transport Document Number" model="ie.TransportDocumentNumber"></ifield>
        <ifield label=" UCR" model="ie.UCR"></ifield>
      </div>
    </div>
  </uib-accordion>

</div>

<div class="action-bar row">
  <div class="action-bar-default clearfix">
    <div class="col-xs-12 col-sm-8 action-bar-heading">
      <h4>Additional import/export</h4>
    </div>
    <div class="col-xs-12 col-sm-4 action-bar-buttons">
      <button class="btn btn-primary btn-block btn-mobile" type="button" ng-click="addImportExport(money,true)">
        Add
      </button>
    </div>
  </div>
</div>