<div ng-hide="getThirdPartyType(money)=='None'">
    
  <label>Contact Details</label>
  <ifield label="Name" model="money.ThirdParty.ContactDetails.ContactName"></ifield>
  <ifield label="Surname" model="money.ThirdParty.ContactDetails.ContactSurname"></ifield>
  <ifield label="Telephone" model="money.ThirdParty.ContactDetails.Telephone"></ifield>
  <ifield label="Email" model="money.ThirdParty.ContactDetails.Email"></ifield>
  <ifield label="Fax" model="money.ThirdParty.ContactDetails.Fax"></ifield>

  <label>Street Address</label>

  <ifield label="Address line 1" model="money.ThirdParty.StreetAddress.AddressLine1"></ifield>
  <ifield label="Address line 2" model="money.ThirdParty.StreetAddress.AddressLine2"></ifield>
  <ifield label="Suburb" model="money.ThirdParty.StreetAddress.Suburb"></ifield>
  <ifield label="City" model="money.ThirdParty.StreetAddress.City"></ifield>
  <sfield label="Province" model="money.ThirdParty.StreetAddress.Province" lookup="provinces"></sfield>
  <ifield label="Postal code" model="money.ThirdParty.StreetAddress.PostalCode"></ifield>

  <label>Postal Address</label>
  <ifield label="Address line 1" model="money.ThirdParty.PostalAddress.AddressLine1"></ifield>
  <ifield label="Address line 2" model="money.ThirdParty.PostalAddress.AddressLine2"></ifield>
  <ifield label="Suburb" model="money.ThirdParty.PostalAddress.Suburb"></ifield>
  <ifield label="City" model="money.ThirdParty.PostalAddress.City"></ifield>
  <sfield label="Province" model="money.ThirdParty.PostalAddress.Province" lookup="provinces"></sfield>
  <ifield label="Postal code" model="money.ThirdParty.PostalAddress.PostalCode"></ifield>

</div>
