<div class="row fld form-group">
  <label class="FldLabel col-md-3">
    <span class="bopRequired"></span>
    <span>Third Party Type</span>
  </label>

  <span>
    <div class="col-sm-4 has-feedback" ng-init="money.ThirdPartyType=getThirdPartyType(money)">
      <input type="radio" id="thirdPartyTypeNone{{ind}}" name="thirdPartyType{{ind}}" ng-value="'None'" ng-model="money.ThirdPartyType" ng-disabled="money.ThirdParty.Type.disabled"
      />
      <input type="radio" id="thirdPartyTypeIndividual{{ind}}" name="thirdPartyType{{ind}}" ng-value="'Individual'" ng-model="money.ThirdPartyType"
        ng-disabled="money.ThirdParty.Type.disabled" />
      <input type="radio" id="thirdPartyTypeEntity{{ind}}" ng-value="'Entity'" ng-model="money.ThirdPartyType" name="thirdPartyType{{ind}}" ng-disabled="money.ThirdParty.Type.disabled"
      />

      <div class="btn-group btn-group-justified" role="group">
        <label class="btn btn-default" for="thirdPartyTypeNone{{ind}}" ng-click="money.ThirdParty.Type.disabled?'':updateThirdPartyType(money, 'None')">
          None
          <span class="form-control-feedback icon-investec-tick"></span>
        </label>

        <label class="btn btn-default" for="thirdPartyTypeIndividual{{ind}}" ng-click="money.ThirdParty.Type.disabled?'':updateThirdPartyType(money, 'Individual')">
          Individual
          <span class="form-control-feedback icon-investec-tick"></span>
        </label>

        <label class="btn btn-default" for="thirdPartyTypeEntity{{ind}}" ng-click="money.ThirdParty.Type.disabled?'':updateThirdPartyType(money, 'Entity')">
          Entity
          <span class="form-control-feedback icon-investec-tick"></span>
        </label>

      </div>
    </div>
  </span>
</div>