

<!--<sfield label="Type" model="money.ThirdPartyKind"-->
<!--lookup-values="['Individual','Entity']"-->
<!--update-fn="setAdhoc3rdPartyType"-->
<!--optional="no"></sfield>-->

<div ng-include="config.partialsPath+'monetary/thirdpartytype.html'"></div>

<div ng-show="getThirdPartyType(money)=='Individual'">

  <ifield label="Temporary resident permit number" model="money.ThirdParty.Individual.TempResPermitNumber"></ifield>

  <datefield label="Temporary resident permit expiry" model="money.ThirdParty.Individual.TempResExpiryDate"></datefield>


  <ifield label="Identity number" model="money.ThirdParty.Individual.IDNumber"></ifield>
  <ifield label="Temporary resident permit number" model="money.ThirdParty.Individual.TempResPermitNumber"></ifield>
  <ifield label="Passport number" model="money.ThirdParty.Individual.PassportNumber"></ifield>
  <ifield label="Tax number" model="money.ThirdParty.TaxNumber"></ifield>
  <ifield label="Name" model="money.ThirdParty.Individual.Name"></ifield>
  <ifield label="Surname" model="money.ThirdParty.Individual.Surname"></ifield>
  <sfield label="Gender" model="money.ThirdParty.Individual.Gender" lookup="gender"></sfield>
  <datefield label="Date of birth" model="money.ThirdParty.Individual.DateOfBirth"></datefield>
  <lfield label="Passport country" model="money.ThirdParty.Individual.PassportCountry" lookup="countries" label-prop="name"
    value-prop="code" squash-numerics="true"></lfield>
  <datefield label="Passport expiry date" model="money.ThirdParty.Individual.PassportExpiryDate"></datefield>
  
</div>

<div ng-show="getThirdPartyType(money)=='Entity'">
  <ifield label="Legal entity name" model="money.ThirdParty.Entity.Name"></ifield>
  <ifield label="Registration number" model="money.ThirdParty.Entity.RegistrationNumber"></ifield>
  <ifield label="Tax number" model="money.ThirdParty.TaxNumber"></ifield>
  <ifield label="Customs Client Number (CCN)" model="money.ThirdParty.CustomsClientNumber"></ifield>
  <ifield label="VAT number" model="money.ThirdParty.VATNumber"></ifield>
</div>