{{importexport.TDNHeading.val}}
<div class="form-horizontal" role="form">
  <fieldset>
    <legend>Transaction details</legend>
  <div class="row">
    <div class="col-sm-4">
      <datefield label="Date" model="data.ValueDate" ></datefield>
      <lfield label="Originating country" model="data.OriginatingCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
      <lfield label="Corresponding country" model="data.CorrespondentCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
      <ifield label="Branch code" model="data.BranchCode" ></ifield>
      <ifield label="Branch name" model="data.BranchName" ></ifield>
    </div>
    <div class="col-sm-4">
      <lfield label="Currency" model="data.FlowCurrency" lookup="currencies" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
      <ifield label="Total value" model="data.TotalForeignValue"></ifield>
      <lfield label="Receiving country" model="data.ReceivingCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
      <ifield label="Hub code" model="data.HubCode" ></ifield>
      <ifield label="Hub name" model="data.HubName" ></ifield>
    </div>
    <div class="col-sm-4">
      <ifield label="Originating bank" model="data.OriginatingBank" ></ifield>
      <ifield label="Corresponding bank" model="data.CorrespondentBank" ></ifield>
      <ifield label="Receiving bank" model="data.ReceivingBank" ></ifield>
    </div>
  </div>
  





  </fieldset>
</div>