<a class="btn btn-sm"
   ng-init="isCollapsed=true"
   ng-click="isCollapsed = !isCollapsed">
  {{isCollapsed?'Show':'Hide'}} Instructions
</a>

<div uib-collapse="isCollapsed" class="alert alert-info" role="alert">
  <p>Transaction flow: {{Flow}}</p>

  <p>Your excel table needs have the following format:</p>

  <div class="well well-lg" ng-show="Flow=='OUT'">
    <table class="table">
      <thead>
      <tr>
        <th>
          GBP
        </th>
        <th>
          MRN
        </th>
        <th>
          TDN
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          200.20
        </td>
        <td>
          JHB201401127657811
        </td>
        <td>
          HGB4302
        </td>
      </tr>
      <tr>
        <td>
          54.32
        </td>
        <td>
          JHB201402016646299
        </td>
        <td>
          HGFS732
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="well well-lg" ng-show="Flow=='IN'">

    <table class="table">
      <thead>
      <tr>
        <th>
          GBP
        </th>
        <th>
          UCR
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          200.20
        </td>
        <td>
          9ZA123456789
        </td>
      </tr>
      <td>
        54.32
      </td>
      <td>
        9ZA123456780
      </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="alert alert-warning" role="alert">
    <strong>Note:</strong> The currency column heading needs to match the transaction currency.
  </div>
  <div class="alert alert-warning" role="alert" ng-show="Flow=='OUT'">
    <strong>Note:</strong> The MRN(Movement Reference Number) is also the Import Control Number.
  </div>

</div>
