<div ng-hide="getThirdPartyType(current.money)=='None'">
    <!-- <div class="form-horizontal"> -->

    <fieldset>
        <div class="form-group-header-spacer">
            <legend>Third party contact details</legend>
        </div>
        <div class="row">
            <ifield label="Contact surname" model="current.money.ThirdParty.ContactDetails.ContactSurname"></ifield>
            <ifield label="Contact name" model="current.money.ThirdParty.ContactDetails.ContactName"></ifield>
            <ifield label="Email" model="current.money.ThirdParty.ContactDetails.Email"></ifield>
            <ifield label="Fax" model="current.money.ThirdParty.ContactDetails.Fax"></ifield>
            <ifield label="Telephone" model="current.money.ThirdParty.ContactDetails.Telephone"></ifield>
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group-header-spacer">
            <legend>Third party street address</legend>
        </div>

        <div class="row">
            <ifield label="Street address line 1" model="current.money.ThirdParty.StreetAddress.AddressLine1"></ifield>
            <lfield label="Street province" model="current.money.ThirdParty.StreetAddress.Province" lookup="provinces"
                label-prop="true"></lfield>
            <ifield label="Street address line 2" model="current.money.ThirdParty.StreetAddress.AddressLine2"></ifield>
            <ifield label="Street city" model="current.money.ThirdParty.StreetAddress.City"></ifield>
            <ifield label="Street suburb" model="current.money.ThirdParty.StreetAddress.Suburb"></ifield>
            <ifield label="Street postal code" model="current.money.ThirdParty.StreetAddress.PostalCode"></ifield>
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group-header-spacer">
            <legend>Third party postal address</legend>
        </div>

        <div class="row">
            <div style="padding-left: 10px;">

                <label class="FldLabel col-md-3">Postal Address Same As Street Address</label>
                <div class="checkbox col-md-4">
                    <label>
                        <input type="checkbox" ng-model="current.money.ThirdParty.sameAsPhysical.val"
                            ng-change="copyAddress(current.money.ThirdParty.StreetAddress,current.money.ThirdParty.PostalAddress)">
                    </label>
                </div>
                
            </div>
        </div>
        <div class="row">
     
            <div class="form-group" ng-show="current.money.allowAdhocBOPThirdParty.val">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="current.money.ThirdParty.sameAsPhysical.val"
                                ng-change="revalidate()"> Same as physical address
                        </label>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-12"> -->
            <ifield label="Postal address line 1" model="current.money.ThirdParty.PostalAddress.AddressLine1"
                disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
            <lfield label="Postal province" model="current.money.ThirdParty.PostalAddress.Province" lookup="provinces"
                label-prop="true" disable-field="current.money.ThirdParty.sameAsPhysical.val">
            </lfield>
            <ifield label="Postal address line 2" model="current.money.ThirdParty.PostalAddress.AddressLine2"
                disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
            <ifield label="Postal city" model="current.money.ThirdParty.PostalAddress.City"
                disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
            <ifield label="Postal suburb" model="current.money.ThirdParty.PostalAddress.Suburb"
                disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
            <ifield label="Postal code" model="current.money.ThirdParty.PostalAddress.PostalCode"
                disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
            <!-- </div> -->
        </div>
    </fieldset>
    <!-- </div> -->
</div>