<div class="form-horizontal baseAccount form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-4">
                <ifield label="Account name" model="Resident.AccountName"></ifield>
            </div>
            <div class="col-sm-4">
                <sfield label="Account Identifier" model="Resident.AccountIdentifier" lookup="accountIdentifiersResident"></sfield>
            </div>
            <div class="col-sm-4">
                <ifield label="Account number" model="Resident.AccountNumber"></ifield>
            </div>
        </div>
</div>