<div id="SS_resident_modal_object_entity" class="form-horizontal" role="form">
  <div class="row">
    <div class="col-sm-4">
      <ifield label="Customer name" model="data.Resident.Entity.EntityName"></ifield>
      <lfield label="Institutional sector" model="data.Resident.Entity.InstitutionalSector"
              lookup="institutionalSectors" label-prop="description" value-prop="code" squash-numerics="false"></lfield>
    </div>
    <div class="col-sm-4">
      <ifield label="Customer trading name" model="data.Resident.Entity.TradingName"></ifield>
      <lfield label="Industrial classification" model="data.Resident.Entity.IndustrialClassification"
              lookup="industrialClassifications" label-prop="description" value-prop="code" squash-numerics="false"></lfield>

    </div>
    <div class="col-sm-4">
      <ifield label="Registration number" model="data.Resident.Entity.RegistrationNumber"></ifield>
      <ifield label="Tax number" model="data.Resident.Entity.TaxNumber"></ifield>
      <ifield label="VAT number" model="data.Resident.Entity.VATNumber"></ifield>
      <ifield label="Tax Clearance Certificate Indicator" model="data.Resident.Entity.TaxClearanceCertificateIndicator" ></ifield>
      <ifield label="Tax Clearance Certificate Reference" model="data.Resident.Entity.TaxClearanceCertificateReference" ></ifield>
    </div>
  </div>
</div>
