<ifield label="Name" model="data.NonResident.Individual.Name" always-show="true"></ifield>
<sfield label="Gender" model="data.NonResident.Individual.Gender" lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"  always-show="true"></sfield>
<ifield label="Surname" model="data.NonResident.Individual.Surname" always-show="true"></ifield>
<ifield label="Passport Number" model="data.NonResident.Individual.PassportNumber" always-show="true"></ifield>
<lfield label="Passport Country" model="data.NonResident.Individual.PassportCountry" lookup="countries"
        label-prop="name" value-prop="code" squash-numerics="true" always-show="true"></lfield>
