//@import  (inline) "reg_rule_repo/investecPL/css/patternLab/dist/css/bootstrap-theme.css" ;
//@import  (inline) "reg_rule_repo/investecPL/css/patternLab/dist/css/inv-bootstrap.css" ;
//@import  (inline) "reg_rule_repo/investecPL/css/jquery-ui-1.11.0.css" ;
@import  (inline) "reg_rule_repo/invBMP/css/app.css" ;
@import  (inline) "reg_rule_repo/invBMP/css/flow.css" ;
@import  (inline) "reg_rule_repo/invBMP/css/patternLab/dist/css/style.css" ;
//@import  (inline) "reg_rule_repo/investecPL/css/jquery-ui-1.10.3.custom.css" ;

.inv-dropdown .btn.dropdown-toggle.has-error {
  border-color: #ff3900;
}

.action-bar-default.clearfix {
 width: 99%;
 }

.bopSection {
 width: 99%;
 }

.row {
 width : 99%;
}

.row.fld.form-group{
  padding : 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inv-accordion .panel-group{

  .panel-heading {
    background: #f7f7f9;
    &:hover {
        background: #fff;
        outline: 1px solid #3b4c9e;
    }
  }


 .panel-heading[aria-selected="true"] {
    background: #ebf4fb;
    .panel-title{
      font-weight: bold;
    }
    .arrow {
      font-weight: normal;
      // -webkit-transform: rotate(135deg);
      // -ms-transform: rotate(135deg);
      // -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

  } 

  
}

//@import  (inline) "reg_rule_repo/investecPL/css/styleguide.min.css";
//@import  (inline) "reg_rule_repo/investecPL/css/prism-typeahead.min.css";
//@import  (inline) "reg_rule_repo/investecPL/css/pattern-scaffolding.css";
 