<div class="row fld form-group" ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
  <div 
       ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide"
       ng-init="dtPckrInit = dt ? dt : $parent.util.date.now()">
    <label class="col-md-3 FldLabel">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)" class="bopRequired"></span>
      <span ng-hide="tooltipTitle">{{label}}</span>
      <abbr ng-show="tooltipTitle"
            tooltip-placement="bottom"
            title
            uib-tooltip="{{tooltipTitle}}"
            tooltip-popup-close-delay='500'
            tooltip-class="BopTooltip">{{label}}</abbr>
    </label>

    <span class="col-md-4">
      <input class="CHAR_P form-control"
             type="text"
             uib-datepicker-popup="yyyy-MM-dd"
             datepicker-mode="mode ? mode : 'day'"
             max-date="max ? max : null"
             init-date="dtPckrInit"
             is-open="Opened"
             close-text="Close"
             show-weeks="false"
             show-button-bar="false"
             ng-change="updateDate()"
             ng-model="date"
             ng-disabled="$parent.isReadOnly() || model.disabled"
             ng-click="openDate($event)"
             ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-warning':''"
             id="{{inputFldId()}}" >

      <p ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
        <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
      </p>
    </span>

    <span ng-if="aux"
          class="col-md-5"
          ng-init="limitChars = 40">
      <span ng-show="aux.length <= (limitChars + 3)">
        {{aux}}
      </span>
      <abbr ng-show="aux.length > limitChars + 3"
            tooltip-placement=" bottom"
            title
            uib-tooltip="{{aux}}"
            tooltip-popup-close-delay='500'
            tooltip-class="BopTooltip">
        {{aux.substr(0, limitChars)}}...
      </abbr>
    </span>
  </div>

  <div class="clear"></div>
</div>