<div class="row fld form-group" ng-show="!model.hide
&& !isShowOverride
|| (isShowOverride && $parent.isModelInError(model))
|| alwaysShow">
<div >

<div ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
<label class="col-md-3 FldLabel">
  <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)"
        class="bopRequired"></span>
  <span ng-hide="tooltipTitle">{{label}}</span>
  <abbr ng-show="tooltipTitle"
        title
        tooltip-placement="bottom"
        uib-tooltip="{{tooltipTitle}}"
        tooltip-popup-close-delay='500'
        tooltip-class="BopTooltip">{{label}}</abbr>
</label>

<span class="col-md-4 has-feedback" 
     ng-class="!$parent.customData.msgHide && (model.error || model.warning) ? 'has-error' : ''">



  <input class="CHAR_P form-control"
  ng-model="model.val" type="text" uib-typeahead="l.value as ('<b>'+l.value+',</b> '+l.label) for l in getLookup() | lFieldFilter:'value':$viewValue"
  typeahead-on-select="update(model.val)" ng-change="update(model.val)" ng-disabled="$parent.isReadOnly() || model.disabled || disableField"
  id="{{inputFldId()}}" />

  <span ng-show="model.busy && !($parent.isReadOnly()||model.disabled)"
        class="bopBusy"></span>

  <p ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
    <span class="form-control-feedback icon-cross"></span>
  </p>

  <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
    <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br /></span>
  </p>
  <p ng-messages ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
    <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br /></span>
  </p>
  <p ng-messages ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
    <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br /></span>
  </p>

</span>

</div>


</div>
</div>
<div class="clear"></div>