
  <style type="text/css">
    @charset "UTF-8";

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
      display: none !important;
    }

    ng\:form {
      display: block;
    }

    .ng-animate-shim {
      visibility: hidden;
    }

    .ng-anchor {
      position: absolute;
    }
  </style>

  <style>
    .col-md-9.col-sm-4.col-xs-12 ul.inv-process-steps.steps4 > li > a {
      width: 192px;
    }
  </style>

  <link rel="stylesheet"
        href="styles/designs/sso/clientlibs-3rdparty-v20151127191033t.css"
        type="text/css"/>
  <link rel="stylesheet"
        href="styles/designs/uxp/clientlibs-v20151127105032t.css"
        type="text/css"/>
  <link rel="stylesheet"
        href="styles/clientlibs/3rdparty/slick-1.5.7.css"
        type="text/css"/>
  <link rel="stylesheet"
        href="styles/designs/sso/clientlibs-publish-v20151127191033t.css"
        type="text/css"/>

  <link rel="stylesheet"
        href="styles/designs/uxp/inv-bootstrap-dist-v20151127105032t.css"
        type="text/css"/>
  <link rel="stylesheet"
        href="styles/designs/internationalPayments/clientlibs-responsive/css.css"
        type="text/css"/>

  <link rel="stylesheet"
        href="styles/designs/sso/clientlibs-responsive.css"
        type="text/css"/>


  <title>International Payments</title>

  <link type="text/css" rel="stylesheet"
        href="styles/clientlibs/3rdparty/jquery-ui-1.11.0.css"/>

