.sm-bubble
{
  position: relative;
  height: 70px;
  padding: 0px;
  background-color: #f1f1f1;
  border: #d0d0d0 solid 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 24%;
  text-align: center;
}

.sm-bubble.active, .sm-bubble.active a {
	color: #fff;
}

.sm-bubble-6 {
	 width: 15%;
	 margin-right: 9px;

}

.sm-bubble-5 {
	 width: 18%;
	 margin-right: 10px;
}
.sm-bubble-4 {
	 width: 23%;
	 margin-right: 10px;
}
.sm-bubble-3 {
	 width: 32%;
}
.sm-bubble-2 {
	 width: 48%;
	 margin-right: 10px;
}

.sm-bubble:after
{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 45%;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #f1f1f1 transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.sm-bubble:before
{
  content: "";
  position: absolute;
  top: 70px;
  left: 45%;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #d0d0d0 transparent;
  display: block;
  width: 0;
  z-index: 0;
}
.sm-bubble a {
	text-decoration:none;
	color:#000;
	position: relative;
  	top: 40%;
}
.sm-bubble a, .sm-bubble a:focus {
  outline: none;
}
.apply-button, .grey-action-button {
	font-size: 14px;
	font-weight: 100;
	border-radius: 5px;
	padding: 6px 33px 6px 11px;
	width: auto;
	margin-right: 4px;
}

.apply-button {
	color: #fff;
	border: 1px solid #66BC29;
	background-color: #66BC29;
}
.grey-action-button {
	color: #000;
	border: 1px solid #b7b7b7;
	background-color: #ececec;
}

.apply-button:after, .grey-action-button:after
 {
	content: "";
	width: 0;
    height: 0;
    border-width: 3px 0 3px 3px;
	border-style: solid;
    vertical-align: middle;
    position: relative;
    top: 5px;
    display: inline-block;
    float: right;
    right: -24px;
}

.apply-button:after {
	border-color: transparent #fff;
}

.grey-action-button:after {
	border-color: transparent #000;
}

a.apply-button:hover {
	color: #fff;
}
.nav-tabs {
  border-bottom: 1px solid #d0d0d0;
  background-color: #f1f1f1;
}
ul.nav-tabs {
	padding: 0;
}
.nav {
  margin-left: 0;
  list-style: none;
}

.nav-tabs:before,  .nav-tabs:after {
  display: table;
  content: "";
  line-height: 0;
}

.nav-tabs>li {
  margin-bottom: -1px;
  margin-top: -1px;
  float: left;
}
.nav-tabs>li:first-child {
	margin-left: -1px;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  color: #555555;
  background-color: #ffffff;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs>li>a {
  line-height: 20px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  background-color: #f1f1f1;
  color: #000;
  text-decoration: none;
}
.nav-tabs>li:last-child>a {
	border-right: 1px solid #d0d0d0;
}

.nav-tabs>li>a {
  padding-right: 12px;
  padding-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 14px;
}

.nav>li>a {
  display: block;
  vertical-align: middle;
}
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #eeeeee;
  outline: none;
}

.tab-content {
  overflow: auto;
  min-height: 200px;
  clear: both;
  padding: 10px;
}
.tab-content>.tab-pane {
  display: none;
}
.tab-content>.active {
  display: block;
}
.tabbable:before, .tabbable:after {
  display: table;
  content: "";
  line-height: 0;
}

.tabbable:after {
  clear: both;
}

.nav-tabs:after {
  clear: both;
}
.inv-carousel .ic_controls {
    opacity: 0.5;
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: 9px;
    top: 10px;
    width: 10px;
    z-index: 1;
    background: url("clientlibs-v20151127105032t/img/controls.png") -12px 0px no-repeat;
}
.inv-carousel .ic_left_nav, .ic_right_nav {
    position: absolute;
    width: 32px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}

.inv-carousel .ic_right_nav {
    right: -32px;
    background: url("clientlibs-v20151127105032t/img/butt-carousel-right.png") no-repeat;
}

.inv-carousel .ic_left_nav {
    left: -32px;
    background: url("clientlibs-v20151127105032t/img/butt-carousel-left.png") no-repeat;
}

.inv-carousel .ic_wrapper {
    padding:0 32px;
    position:relative;
}

.inv-carousel .carousel_item {
    overflow:hidden;
    float:left;
    position:relative;
}

.inv-carousel {
    overflow:hidden;
    position:relative;
}
.inv-carousel .carousel-inner>.item {
    display: block;
    position: absolute;
    top: -9999px;
}

.inv-carousel .carousel-inner>.item.active {
	position: relative;
    top: 0;
}

div.line {
    border-top: 1px solid #d0d0d0;
    margin: 10px 0px;
}

.cb {
	clear: both;
}

.marginTop20px {
    margin-top: 20px;
}

.loading-box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 8010;
    width: auto;
    height: auto;
    display: block;
    background: rgba(255, 255, 255, .7) url("clientlibs-v20151127105032t/img/overlay_white.png") repeat;
}

.loading-box-skin {
    position: relative;
    background: #fff;
    color: #444;
    text-shadow: none;
    border: 1px solid silver;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    height:100%;
}

.loading-box-opened {
    height: 120px;
    position: fixed;
    top: 40%;
    left: 45%;
    opacity: 1;
    overflow: visible;
}

.loading-box-opened.small {
    width: 160px;
}

.loading-box-opened.medium {
    width: 250px;
}

.loading-box-opened .loading-box-skin {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.loading-box-skin .loading-text {
    position: relative;
    top: 15px;
    width: auto;
    text-align:center;
}
.loading-box-skin .ajaxloading.with-text {
    left: 39%;
    position: relative;
    top: 15%;
}

.loading-box-skin .ajaxloading {
    left: 39%;
    position: relative;
    top: 34%;
    height: 40px;
    width: 40px;
    background: transparent url('clientlibs-v20151127105032t/img/loading_inverse.gif') 50% 50% no-repeat;
    text-indent: -99999px;
}

.loading-inline {
    background: transparent url('clientlibs-v20151127105032t/img/loading_inverse.gif') 50% 50% no-repeat;
}

.loading-box-skin .loading-text-skin{
    padding:10px;
    text-align: center;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon span.addon {
    position: absolute;
    padding: 6px;
	line-height: 18px;
    pointer-events: none;
}

.SearchTextBoxIcon {
	display: inline-block;
	position: absolute;
	margin-left: -30px;
	width: 18px;
	height: 28px;
	background: transparent url('clientlibs-v20151127105032t/img/icon-search.png') 50% 50% no-repeat;
	z-index: 2;
	cursor: pointer;
	right: 12px;
	top: 5px;
}
.calendar-dropdown.row .col-md-4.month,
 .calendar-dropdown.row .col-md-4.year{
    padding-left: 0px;
}
.calendar-dropdown.row .col-md-4.month,
 .calendar-dropdown.row .col-md-4.day {
    padding-right: 5px;
 }

.calendar-dropdown.row .ui-selectmenu-open {
    max-height: 200px;
    overflow-y: auto;
}

.calendar-dropdown.row .ui-selectmenu-menu {
    margin: 0;
    top: 30px !important;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #cfcfcf;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #ececec;
  border-color: #cfcfcf;
}

.panel-heading {
  padding: 5px 10px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
}
.panel-body {
  padding: 10px;
}
.panel-body:before {
display: table;
  content: " ";

}
.panel-body:after {
clear:both;
	display: table;
  content: " ";
}
.panel-body:after, .panel-body:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-widget {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    background-color: #ffffff;
}

.ui-autocomplete-loading {
    background: white url('clientlibs-v20151127105032t/img/ajax-loader.gif') right center no-repeat;
}

.ui-autocomplete-loading::-webkit-search-cancel-button {
    display: none;
}

.ui-autocomplete-loading::-ms-clear {
    display: none;
}

.ui-datepicker {
	display: none;
	padding: 7px;
	width: auto;
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {
	margin-left: -2px;
	margin-top: -5px;
}

.ui-datepicker .ui-datepicker-title {
    font-size:14px;
}
.ui-datepicker th {
    color: #fff;
    background-color: #424242;
}

.ui-datepicker-calendar tr th {
    font-size:14px;

}

.ui-datepicker td.ui-datepicker-today{
    border: 0;
    background-color:#fff;
}

.ui-datepicker td.ui-datepicker-today.ui-state-disabled {
    border: 1px solid #d6d6d6;
}

.ui-datepicker td.ui-datepicker-today a{
    border: 1px solid #424242;
}

.ui-datepicker .selected-range-start, .ui-datepicker td.ui-datepicker-current-day {
	background-color: #8fb5d7;
	border:0;
}

.ui-datepicker .selected-range-start a, .ui-datepicker td.ui-datepicker-current-day a{
	color: #fff;
}

.ui-datepicker .selected-range{
	background-color: #dcebf1;
}

.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev{
	background: #ececec;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	top: -1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: -1px;
}
.ui-datepicker .ui-datepicker-next {
    right: -1px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: normal;
    color: #424242;
    font-size: 15px;
    text-align: center;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #ececec;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: none;
    color: #fff;
    background: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    color: #424242;
    background-color: #000000;
    background: 0;
}
.ui-icon-circle-triangle-e {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left:5px solid black;
    background-position: inherit;
}

.ui-icon-circle-triangle-w {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:5px solid #000000;
    background-position: inherit;
}

.ui-datepicker td.ui-datepicker-current-day a.ui-state-active,
 .ui-datepicker .selected-range-start a, .ui-datepicker td.ui-datepicker-current-day a.ui-state-hover {
   color: #212121;
}

.ui-datepicker table td {
	border: 1px solid #d6d6d6;
	padding: 0px;
	width: 29px;
    height: 29px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0;
    background: none;
}
.ui-datepicker td span,.ui-datepicker td a {
    padding: 5px;
}

.ui-widget-header {
    color: #424242;
    border : 0px;
    background: none;
}

.ui-autocomplete .ui-state-focus {
	background: none;
	background-color: #dcebf1;
	border-top: 0px;
    border-bottom: 0px;
}
.ui-autocomplete .ui-menu-item {
    line-height: 18px;
    padding: 4px;
}
.ui-selectmenu-menu {
    margin: 1px;
}
.ui-selectmenu-button {
    background: #fbfbfb;
}
.ui-selectmenu-button.ui-state-default {
    border: 1px solid #cfcfcf;
}
.ui-selectmenu-menu .ui-state-focus, .ui-selectmenu-menu .ui-state-default {
    border: 1px solid #b7b7b7;
    color: #424242;
    background: #8fb5d7;
    font-weight: normal;
}
.ui-selectmenu-menu .ui-state-focus,
 .ui-selectmenu-menu .selected-option.ui-state-focus {
    color: #fff;
}

.ui-selectmenu-menu .ui-menu-item,
 .ui-selectmenu-button span.ui-selectmenu-text{
    line-height: 18px;
    padding: 7px 5px;
}
.ui-selectmenu-menu  .ui-menu-item {
	border-bottom: 1px solid #cfcfcf;
}
.ui-selectmenu-menu  .ui-menu-item:last-child {
    border-bottom: none;
}
.ui-selectmenu-menu .selected-option {
    color: #888;
    font-style: italic;
}
.ui-widget-content {
    border: 1px solid #cfcfcf;
}

#wrapper form .ui-selectmenu-button {
    display: inline-table;
}
.ui-front {
    z-index: 8010;
}
.ui-selectmenu-menu .ui-widget-content{
   border-top:0;
}
.ui-selectmenu-button:focus{
   outline: none;
}


@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ngdialog-overlay {
  position: fixed;
  background-color: rgba(255,255,255,.7);
  background: url("clientlibs-v20151127105032t/img/overlay_white.png") repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}

body.ngdialog-open {
  overflow: hidden;
}
@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: #f0f0f0;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.ngdialog-theme-default .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}
.ngdialog.ngdialog-theme-investec {
    padding-bottom: 160px;
    padding-top: 160px;
}

.ngdialog.ngdialog-theme-investec.ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-flyout .5s;
    animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-investec .ngdialog-content {
    border: 1px solid silver;
    webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #ffffff;
    border-radius: 8px;
    color: #444;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    position: relative;
}

.ngdialog.ngdialog-theme-investec.info .ngdialog-content {
     max-width: 350px;
}

.ngdialog.ngdialog-theme-investec.medium .ngdialog-content {
     max-width: 500px;
}

.ngdialog.ngdialog-theme-investec.large .ngdialog-content {
     max-width: 700px;
}

.ngdialog.ngdialog-theme-investec .ngdialog-content > h2 {
    text-align: left;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #b7b7b7;
    text-transform: none;
    margin-bottom: 10px;
}

.ngdialog.ngdialog-theme-investec .ngdialog-close {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
}

.ngdialog.ngdialog-theme-investec .ngdialog-close:before {
    background: #f1f1f1;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    color: #818181;
    content: '\00D7';
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    padding: 2px 3px 2px 3px;
    z-index: 100;
}

.ngdialog.ngdialog-theme-investec .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-investec .ngdialog-close:active:before {
    color: #777;
}

.ngdialog.ngdialog-theme-investec .ngdialog-message {
    text-align: left;
    width: 70%;
    float: left;
    margin-left: 10px;
    padding: 1px;
}

.ngdialog.ngdialog-theme-investec .ngdialog-message > h2 {
    margin: 0;
    text-transform: none;
 }

.ngdialog.ngdialog-theme-investec .ngdialog-message > p {
    margin: 0;
}

.ngdialog.ngdialog-theme-investec .ngdialog-input {
    margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-investec .ngdialog-input textarea,
.ngdialog.ngdialog-theme-investec .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-investec .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-investec .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-investec .ngdialog-input input[type="url"] {
    background: #fff;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%;
}

.ngdialog.ngdialog-theme-investec .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-investec .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-investec .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-investec .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-investec .ngdialog-input input[type="url"]:focus {
    -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
    box-shadow: inset 0 0 0 2px #8dbdf1;
    outline: none;
}

.ngdialog.ngdialog-theme-investec .ngdialog-buttons {
    *zoom: 1;
    padding: 10px;
    border-top: 1px solid #ececec;
    margin-top: 10px;
    text-align: center;
}

.ngdialog.ngdialog-theme-investec .ngdialog-buttons.right-aligned {
    text-align: right;
}

.ngdialog.ngdialog-theme-investec .ngdialog-buttons:after {
    content: '';
    display: table;
    clear: both;
}

.ngdialog.ngdialog-theme-investec .ngdialog-button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase;
}

.ngdialog.ngdialog-theme-investec .ngdialog-button:focus {
    -webkit-animation: ngdialog-pulse 1.1s infinite;
    animation: ngdialog-pulse 1.1s infinite;
    outline: none;
}

@media (max-width: 568px) {
    .ngdialog.ngdialog-theme-investec .ngdialog-button:focus {
        -webkit-animation: none;
        animation: none;
    }
}

.ngdialog.ngdialog-theme-investec .ngdialog-button.ngdialog-button-primary {
    background: #3288e6;
    color: #fff;
}

.ngdialog.ngdialog-theme-investec .ngdialog-button.ngdialog-button-secondary {
    background: #e0e0e0;
    color: #777;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ang-autocomplete{
  width: 100%;
  position: relative;
}

.ang-autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.ang-autocomplete ul{
  position: absolute;
  left: 0;
  padding-left: 0;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.ang-autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
  font-style: italic;
  color: #888;
  height: 100%;
}

.ang-autocomplete li.active{
  width: 100%;
  background-color: #ef7622;
  color: #fff;
  cursor: pointer;
}

.ang-autocomplete .highlight {
 font-style: normal;
 color: #424242;
}

.ang-autocomplete li.active .highlight { color: #fff; font-weight: bold; }

.ang-autocomplete .input-group {
  width: 100%;
}
.ang-autocomplete .input-group.Loading,
 .ang-autocomplete .input-group input.Loading:focus{
  border-right: none;
}

.ang-autocomplete .input-group input.Loading:focus + span.input-group-addon{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.ie8 .left-inner-addon INPUT[type="text"] {
    position:static;
}

.ie8 .left-inner-addon INPUT.prefixed {
    padding-left: 10px;
}
