
Please click on an error/warning to be directed to the tab containing the error/warning
<table class="table table-bordered table-hover table-condensed">
  <tr><th>Type</th><th>Field</th><th>Error Message</th></tr>
  <tr ng-repeat="error in errors" ng-click="focusOnField(error)">
    <td>
      <b class="{{error.type=='ERROR'?'bopError':(error.type=='WARNING'?'bopWarning':'')}}"></b>
    </td>
    <td>
      <span class="{{error.pClass}}">{{error.fieldName}}</span>
    </td>
    <td>
      {{error.msg}}
    </td>
  </tr>
</table>