<div class="form-horizontal baseAccount form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-4">
                <afield label="Account name" value="Resident.AccountName"></afield>
            </div>
            <div class="col-sm-4">
                <afield label="Account Identifier" value="Resident.AccountIdentifier" lookup="accountIdentifiersResident"></afield>
            </div>
            <div class="col-sm-4">
                <afield label="Account number" value="Resident.AccountNumber"></afield>
            </div>
        </div>
</div>