<div class="form-horizontal" ng-hide="data.ReportingQualifier.val=='NON REPORTABLE'">
  <fieldset>
    <legend>Contact details</legend>
    <div class="row">
      <div class="col-sm-4">
        <afield label="Contact surname" value="Resident.ContactDetails.ContactSurname"></afield>
        <afield label="Contact name" value="Resident.ContactDetails.ContactName"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Email" value="Resident.ContactDetails.Email"></afield>
        <afield label="Fax" value="Resident.ContactDetails.Fax"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Telephone" value="Resident.ContactDetails.Telephone"></afield>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Contact street address</legend>
    <div class="row">
      <div class="col-sm-4">
        <afield label="Street address line 1" value="Resident.StreetAddress.AddressLine1"></afield>
        <afield label="Street province" value="Resident.StreetAddress.Province" lookup="provinces" label-prop="true"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Street address line 2" value="Resident.StreetAddress.AddressLine2"></afield>
        <afield label="Street city" value="Resident.StreetAddress.City"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Street suburb" value="Resident.StreetAddress.Suburb"></afield>
        <afield label="Street postal code" value="Resident.StreetAddress.PostalCode"></afield>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Contact postal address</legend>
    <div class="row">
      <div class="col-sm-4">
        <afield label="Postal address line 1" value="Resident.PostalAddress.AddressLine1"></afield>
        <afield label="Postal province" value="Resident.PostalAddress.Province" lookup="provinces" label-prop="true"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Postal address line 2" value="Resident.PostalAddress.AddressLine2"></afield>
        <afield label="Postal city" value="Resident.PostalAddress.City"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Postal suburb" value="Resident.PostalAddress.Suburb"></afield>
        <afield label="Postal code" value="Resident.PostalAddress.PostalCode"></afield>
      </div>
    </div>
  </fieldset>

</div>