<div id="SS_resident_modal_object_entity" class="form-horizontal" role="form">
  <div class="row">
    <div class="col-sm-4">
      <afield label="Customer name" value="data.Resident.Entity.EntityName"></afield>
      <afield label="Institutional sector" value="data.Resident.Entity.InstitutionalSector"
              lookup="institutionalSectors" label-prop="description" value-prop="code" squash-numerics="false"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Customer trading name" value="data.Resident.Entity.TradingName"></afield>
      <afield label="Industrial classification" value="data.Resident.Entity.IndustrialClassification"
              lookup="industrialClassifications" label-prop="description" value-prop="code" squash-numerics="false"></afield>

    </div>
    <div class="col-sm-4">
      <afield label="Registration number" value="data.Resident.Entity.RegistrationNumber"></afield>
      <afield label="Tax number" value="data.Resident.Entity.TaxNumber"></afield>
      <afield label="VAT number" value="data.Resident.Entity.VATNumber"></afield>
      <afield label="Tax Clearance Certificate Indicator" value="data.Resident.Entity.TaxClearanceCertificateIndicator"></afield>
      <afield label="Tax Clearance Certificate Reference" value="data.Resident.Entity.TaxClearanceCertificateReference"></afield>
    </div>
  </div>
</div>
