<div id="SS_resident_modal_object_exeption" class="form-horizontal">
  <afield label="Exception name" value="data.Resident.Exception.ExceptionName" lookup="residentExceptions"></afield>
  <afield label="Country" value="data.Resident.Exception.Country" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></afield>
</div>