<div class="entity-type-header form-inline">
    <!--Type &nbsp;<select-->
    <!--ng-value="resType"-->
    <!--ng-options="unitType for unitType in unitTypes"-->
    <!--ng-change="updateResType(resType)">-->
    Type: &nbsp;{{resType}}
</select>
</div>