<div id="SS_resident_modal_object_indiv" class="form-horizontal">

  <div class="row">
    <div class="col-sm-4">
      <afield label="Surname" value="data.Resident.Individual.Surname"></afield>
      <afield label="Gender" value="data.Resident.Individual.Gender" lookup="gender"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Name" value="data.Resident.Individual.Name"></afield>
      <afield label="Date of Birth" value="data.Resident.Individual.DateOfBirth"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Identity Number" value="data.Resident.Individual.IDNumber"></afield>
      <afield label="Tax number" value="data.Resident.Individual.TaxNumber"></afield>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <afield label="Tax clearance certificate indicator"
              value="data.Resident.Individual.TaxClearanceCertificateIndicator" lookup="yesNo"></afield>
      <afield label="Tax clearance certificate reference"
              value="data.Resident.Individual.TaxClearanceCertificateReference"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Beneficiary ID1" value="data.Resident.Individual.BeneficiaryID1"></afield>
      <afield label="Beneficiary ID2" value="data.Resident.Individual.BeneficiaryID2"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Beneficiary ID3" value="data.Resident.Individual.BeneficiaryID3"></afield>
      <afield label="Beneficiary ID4" value="data.Resident.Individual.BeneficiaryID4"></afield>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      <afield label="VAT number" value="data.Resident.Individual.VATNumber"></afield>
      <afield label="Temporary Resident Permit Number" value="data.Resident.Individual.TempResPermitNumber"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Foreign Identity Number" value="data.Resident.Individual.ForeignIDNumber"></afield>
      <afield label="Foreign Identity Country" value="data.Resident.Individual.ForeignIDCountry" lookup="countries"
              label-prop="name" value-prop="code" squash-numerics="true"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Passport Number" value="data.Resident.Individual.PassportNumber"></afield>
      <afield label="Passport Country" value="data.Resident.Individual.PassportCountry" lookup="countries"
              label-prop="name" value-prop="code" squash-numerics="true"></afield>
    </div>

  </div>
</div>