<div class="container">
  <div class="panel panel-default" ng-show="customData.errorListShow">
    <error-list></error-list>
  </div>
  <md-content layout-padding style="display: contents !important;">  
    <div layout-gt-sm="row" class="layout-gt-sm-row">
      <ifield
        ng-if="getResidentEntityType() =='Individual'"
        class="md-block flex-gt-sm"
        flex-gt-sm=""
        label="Customs client number"
        model="data.Resident.Individual.CustomsClientNumber"
      ></ifield>
      <ifield
        ng-if="getResidentEntityType() =='Entity'"
        class="md-block flex-gt-sm"
        flex-gt-sm=""
        label="Customs client number"
        model="data.Resident.Entity.CustomsClientNumber"
      ></ifield>

      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>

      <div class="md-block flex-gt-sm" flex-gt-sm="">
      </div>
    </div>
    <div layout-gt-sm="row" class="layout-gt-sm-row">
      <ccfield
        class="md-block flex-gt-sm ccfield"
        flex-gt-sm=""
        label="BOP code"
        current="current"
        flex="50"
      ></ccfield>

      <div flex="5" hide-xs hide-sm>
        <!-- Spacer //-->
      </div>

      <md-input-container class="md-block flex-gt-sm" ng-show="shouldDisplayDescription()">
        <label>Category description</label>
        <input value="{{getDescription()}}" disabled></input>
      </md-input-container>
    </div>

    <div ng-if="shouldDisplayTradeSuiteFields()">

      <!-- <div ng-if="data.customData.DisplayExtra" layout-gt-sm="row" class="layout-gt-sm-row"></div> -->
      <!-- <div ng-if="isFieldInError('Resident.Individual.TaxNumber') || isFieldInError('Resident.Entity.TaxNumber') || isFieldInError('Resident.Individual.VATNumber') || isFieldInError('Resident.Entity.VATNumber')" layout-gt-sm="row" class="layout-gt-sm-row"> -->
      <!-- ng-if="(hasFieldValue('transaction.MonetaryAmount.0.CategoryCode') && (hasFieldValue('transaction.Resident.Entity.CustomsClientNumber') || hasFieldValue('transaction.Resident.Individual.CustomsClientNumber')))" -->
      <div layout-gt-sm="row" class="layout-gt-sm-row">
        <md-content style="overflow: visible">
          <h2 class="md-title">
            Additional information
          </h2>
          <p style="font-size: 14px; color: grey;">
            We need the following additional details for this BOP code
          </p>
        </md-content>
      </div>

      <div layout-gt-sm="row">
        <ifield
          class="md-block flex-gt-sm"
          flex-gt-sm=""
          label="{{current.money.ImportExport[0].ImportControlNumberLabel.val}}"
          model="current.money.ImportExport[0].ImportControlNumber"
        ></ifield>
      
        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>
    
        <!-- <mfield class="md-block flex-gt-sm" flex-gt-sm="" label="Total invoice value" model="data.TotalForeignValue" currency-model="data.FlowCurrency"></mfield> -->
        <ifield
          class="md-block flex-gt-sm"
          flex-gt-sm=""
          label="Transport document number"
          model="current.money.ImportExport[0].TransportDocumentNumber"
        ></ifield>

      </div>

      <div layout-gt-sm="row" class="layout-gt-sm-row">
        <ifield
          ng-show="getResidentEntityType() =='Individual'"
          ng-disabled="(!isFieldInError('Resident.Individual.TaxNumber'))"
          class="md-block flex-gt-sm"
          flex-gt-sm=""
          label="Account holder tax number"
          model="data.Resident.Individual.TaxNumber"
        ></ifield>
        <ifield
          ng-show="getResidentEntityType() =='Entity'"
          ng-disabled="(!isFieldInError('Resident.Entity.TaxNumber'))"
          class="md-block flex-gt-sm"
          flex-gt-sm=""
          label="Account holder tax number"
          model="data.Resident.Entity.TaxNumber"
        ></ifield>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <ifield
          ng-show="getResidentEntityType() =='Individual'"
          ng-disabled="(!isFieldInError('Resident.Individual.VATNumber'))"
          class="md-block flex-gt-sm"
          flex-gt-sm=""
          label="Account holder VAT number"
          model="data.Resident.Individual.VATNumber"
        ></ifield>
        <ifield
          ng-show="getResidentEntityType() =='Entity'"
          ng-disabled="(!isFieldInError('Resident.Entity.VATNumber'))"
          class="md-block flex-gt-sm"
          flex-gt-sm=""
          label="Account holder VAT number"
          model="data.Resident.Entity.VATNumber"
        ></ifield>
      </div>
      
      <!-- <div layout-gt-sm="row" class="layout-gt-sm-row" ng-hide="!(current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber'].error || current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber'].error || current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate'].error)">
        <div style="align-items: center; display: flex;">
          <p style="font-size: 14px; color: red;">
            The section below must be completed in order to proceed
          </p>
        </div>
      </div> -->
      <div layout-gt-sm="row" class="layout-gt-sm-row">
        <div style="align-items: center; display: flex;">
         
          <p style="font-size: 14px;">
            Have you received specific exchange control dispensation?
          </p>
          <label class="switch" style="margin-left: 20px;">
            <input type="checkbox" id="togBtn" ng-model="ExchangeControlCheck" ng-init="checked=false">
            <div class="slider round">
            <span class="on">Yes</span>
              <span class="off">No</span>
            </div>
          </label>
        </div>
      </div>

      <div ng-if="ExchangeControlCheck">
        <div layout-gt-sm="row" class="layout-gt-sm-row">
          <md-content style="overflow: visible">
            <h2 class="md-title">
              Specific exchange control authorisation
            </h2>
            <p style="font-size: 14px; color: grey;">
              The South African Reserve Bank can in certain circumstances grant special dispensation, 
              for example, waiving the submission of documents or allowing for 3rd party payments, among others. 
              This authorisation can be obtained via an Authorised Dealer (Standard Bank or another bank). 
              If you have received such authorisation, we are required to report these authorisation details 
              to the South African Reserve Bank and provide documentary proof when processing your payment
            </p>
            <p style="font-size: 14px; color: grey;">
              Please provide the necessary details below
            </p>
          </md-content>
        </div>

        <div layout-gt-sm="row" class="layout-gt-sm-row">
          <sfield
            class="md-block flex-gt-sm"
            flex-gt-sm=""
            label="Authorisation facilitator"
            model="current.money[map('Regulator')+'Auth'].AuthFacilitator"
            lookup="facilitators"
            blur="resetIssuer()"
          ></sfield>

          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
  
          <sfield
            class="md-block flex-gt-sm"
            flex-gt-sm=""
            label="Authorisation issuer"
            model="current.money[map('Regulator')+'Auth'].AuthIssuer"
            lookup="issuers"
          ></sfield>
        </div>

        <div ng-if="shouldDisplayRegulator() == 'Standard Bank' || shouldDisplayRegulator() == 'Another Bank'">
          <div layout-gt-sm="row" class="layout-gt-sm-row">
            <ifield
              class="md-block flex-gt-sm"
              flex-gt-sm=""
              label="Internal auth number"
              model="current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"
            ></ifield>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
    
            <datefield
              class="md-block date-picker"
              flex-gt-sm
              label="Internal auth number date"
              model="current.money[map('Regulator')+'Auth'][map('DealerPrefix') + 'InternalAuthNumberDate']"
            >
            </datefield>
          </div>
        </div>

        <div ng-if="shouldDisplayRegulator() == 'SARB'">
          <div layout-gt-sm="row" class="layout-gt-sm-row">
            <ifield
              class="md-block flex-gt-sm"
              flex-gt-sm=""
              label="SARB auth number"
              model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']"
            ></ifield>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <ifield
              class="md-block flex-gt-sm"
            flex-gt-sm
            label="SARB auth reference"
            model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"
            >
            </ifield>
          </div>
        </div>
      </div>

      <!-- HIDDEN FIELDS -->

      <!-- Uncomment the relevant sections and amend the logic of when to display
      when the project moves over to phase 2, or if they decide that they want
      the display of fields in error back again -->

      <!-- TRANSACTION -->
      <!-- <div ng-if="isSectionInError('Transaction')" ng-include="config.partialsPath+config.transaction"></div> -->

      <!-- MONETARY -->
      <!-- <div ng-if="isSectionInError('Transaction') || isSectionInError('Money', 'general')" ng-include="config.partialsPath+config.monetary"></div> -->

      <!-- RESIDENT -->
      <!-- <div ng-if="isSectionInError('Resident', 'general') && getResidentEntityType() =='Individual'" ng-include="config.partialsPath+config.resident_individual"></div> -->
      <!-- <div ng-if="isSectionInError('Resident', 'general') && getResidentEntityType() =='Entity'" ng-include="config.partialsPath+config.resident_entity"></div> -->
      <!-- <div ng-if="isSectionInError('Resident', 'account')" ng-include="config.partialsPath+config.resident_account"></div> -->
      <!-- <div ng-if="isSectionInError('Resident', 'contact')" ng-include="config.partialsPath+config.resident_address"></div> -->

      <!-- NON-RESIDENT -->
      <!-- <div ng-if="isSectionInError('NonResident', 'general') && getNonResidentEntityType() =='Individual'" ng-include="config.partialsPath+config.non_resident_individual"></div> -->
      <!-- <div ng-if="isSectionInError('NonResident', 'general') && getNonResidentEntityType() =='Entity'" ng-include="config.partialsPath+config.non_resident_entity"></div> -->
      <!-- <div ng-if="isSectionInError('NonResident', 'account')" ng-include="config.partialsPath+config.non_resident_account"></div> -->
      <!-- <div ng-if="isSectionInError('NonResident', 'contact')" ng-include="config.partialsPath+config.non_resident_address"></div> -->

      <!-- THIRDPARTY -->
      <!-- <div ng-if="isSectionInError('Money', 'thirdparty')" ng-include="config.partialsPath+config.thirdparty"></div> -->
    </div>
  </md-content>
</div>
