<div class="row fld form-group">
  <label class="label col-md-3">
    <span class="bopRequired"></span>
    <span>Beneficiary type</span>
  </label>
  <span>
    <div class="col-sm-4 has-feedback">

      <div role="group">
        <label class="radio-inline" for="accTypeIndividual" ng-click="data.NonResident.Type.disabled?'':updateNonResType('Individual')">
          <input type="radio" id="accTypeIndividual" name="accType" ng-value="'Individual'" ng-model="nonResType" ng-disabled="data.NonResident.Type.disabled"/> Individual
          <span class="form-control-feedback icon-investec-tick"></span>
        </label>

        <label class="radio-inline" for="accTypeEntity" ng-click="data.NonResident.Type.disabled?'':updateNonResType('Entity')">
          <input type="radio" id="accTypeEntity" ng-value="'Entity'" ng-model="nonResType" name="accType" ng-disabled="data.NonResident.Type.disabled"/> Entity
          <span class="form-control-feedback icon-investec-tick"></span>
        </label>

      </div>
    </div>
  </span>
</div>

<div class="clear"></div>
</div>