
<ccfield current="{money:money}"
         label="{{Flow==='IN' ? 'Reason for receipt' : 'Reason for payment'}}"
         aux="Flow==='IN'" ></ccfield>

<mfield label="Reason amount"
        model="money.ForeignValue"
        currency-model="data.FlowCurrency"
        tooltip-title="Flow==='IN' ? 'The amount related to the reason for receipt' : 'The amount related to the reason for payment'" ></mfield>

<mfield label="Reason amount"
        model="money.RandValue"
        currency-model="{val:'ZAR'}"
        input-currency="{{ data.ZAREquivalent.val ? '(in ZAR equivalent)' : undefined }}"
        tooltip-title="Flow==='IN' ? 'The amount related to the reason for receipt' : 'The amount related to the reason for payment'" ></mfield>
