<table class="table table-hover table-condensed">
    <!--<thead>
         <tr>
             <th>#</th>
             <th>Amounts</th>
             <th>BOP codes</th>
             <th><a ng-click="addMonetaryAmount()"
    class='btn btn-primary btn-small pull-right'>+</a></th>
         </tr>
     </thead>-->
    <tbody>
        <tr ng-hide="currentMoneyInd==ind"
            ng-repeat="(ind,money) in data.MonetaryAmount"
            ng-click="openDetail('Money','general',money)">

            <td>
                <span>{{ind + 1}}</span>
                <span>
                    <dfield value="money.CategoryCode" ></dfield>
                    {{money.CategorySubCode.val ? '/ ' + money.CategorySubCode.val : ""}}

                    <dfield value="data.FlowCurrency" ></dfield>
                    <dfield value="money.ForeignValue" is-money-field="true" ></dfield>
                    <dfield value="money.RandValue" is-money-field="true" ></dfield>
                </span>
                <a class='btn pull-right' ng-click="removeMonetaryAmount(money, ie)">-</a>
            </td>
        </tr>
    </tbody>
</table>



