.ng-hide {
  display: none !important;
}

.isIconActive {
  transform: rotateZ(45deg);
  transition: transform 0.2s;
}

.form-group.ng-hide {
  display: none;
}

.uploadForm label {
  position: relative !important;
  right: -2px !important;
  top: 11px !important;
}

.uploadForm input {
  position: relative !important;
  right: -2px !important;
  top: 11px !important;
}

#BOPContainer ul.dropdown-menu[uib-typeahead-popup] {
  max-height: 150px;
  overflow-y: auto;
  width: 95% !important;
  overflow-x: hidden;
}

[uib-typeahead-popup].dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

error-list {
  margin-bottom: 12px !important;
}

.fileIcon {
  position: absolute;
  right: 192px;
  top: 108px;
}

.bop-form-declaration-section {
  padding-left: 46px;
}

.fileLabelName {
  position: absolute;
  right: 58px;
  top: 111px;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: none;
  margin-left: -40px;
}

.panel-heading .subheading {
  width: 100%;
  height: 61px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #222222;
}

.ai-subheading,
.doc-subheading1 {
  width: 100%;
  height: 61px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #222222;
}

.doc-subheading2 {
  width: 100%;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}

.panel-footer {
  border-style: none;
  border-color: transparent;
  background-color: transparent;
}

.thirdPartyKind {
  position: relative;
  left: 6px;
  top: 6px;
}

.panel-default {
  background-color: transparent;
  border-color: transparent;
  border-style: none;
  width: 90%;
}

.panel-default > .panel-heading {
  color: #222222;
  background-color: transparent;
  border-color: transparent;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  margin-bottom: -20px;
  margin-top: -40px;
  padding-left: 40px;
}

#BOPContainer .panel-group .panel {
  padding: 20px;
  background-color: transparent;
  display: inline;
}

#BOPContainer .panel-group .panel-heading + .panel-collapse > .panel-body,
#BOPContainer .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top-style: none;
  border-top-color: transparent;
  background-color: transparent;
  border-color: transparent;
}

#BOPContainer .panel-group .panel-heading + .panel-collapse > .panel-body,
#BOPContainer .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top-style: none;
  border-top-color: transparent;
  background-color: transparent;
}

#BOPContainer .panel-open .panel-body,
#BOPContainer .panel-open {
  border: 0;
  background: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 12px !important;
  font-family: 'Roboto', sans-serif !important;
}

#BOPContainer .errorMsg {
  margin-bottom: 0px !important;
}

.invoiceclass {
  margin-left: 10px;
}

.reasonHeading {
  margin-left: 25px;
  margin-bottom: 10px;
}

#BOPContainer mfield input {
  text-align: right;
  border-left: none;
  padding-right: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

#BOPContainer input[type='text'],
#BOPContainer input[type='password'],
#BOPContainer input[type='number'] select {
  color: #444444;
  width: 100% !important;
  height: 33px;
  padding-right: 16px;
  padding-left: 16px;
}

.input-group {
  width: 300px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  width: 570px;
}

.checkbox input[type='checkbox'] {
  visibility: hidden;
}

.checkbox label {
  width: 100%;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0033aa;
  position: absolute;
  left: 1px;
  bottom: 3px;
}

.checkbox label .material-icons {
  color: #0033aa;
  position: absolute;
  left: -9px;
  bottom: -1px;
}

select.form-control:not([size]):not([multiple]) {
  height: 35px !important;
  padding-left: 12px !important;
}

#BOPContainer .control-label {
  border-bottom: none !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #767676 !important;
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

subheader {
  color: #444444;
  background-color: transparent;
  border-color: transparent;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
}

.glyphicon {
  color: #0033aa;
  top: 1px;
  position: relative !important;
  display: inline-block !important;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#BOPContainer .pull-right {
  color: #0033aa !important;
  float: right !important;
  position: absolute !important;
  right: 2px !important;
  margin-right: 20px !important;
  margin-top: 28px !important;
}

.uib-datepicker-popup.dropdown-menu {
  width: 292px !important;
  height: 240px !important;
}

#BOPContainer .uib-daypicker .pull-right {
  display: inline-block !important;
  margin: 0px !important;
  position: initial !important;
}

#BOPContainer .uib-monthpicker .pull-right {
  display: inline-block !important;
  margin: 0px !important;
  position: initial !important;
}

#BOPContainer .uib-yearpicker .pull-right {
  display: inline-block !important;
  margin: 0px !important;
  position: initial !important;
}

abbr[data-original-title],
abbr[title] {
  border-bottom: none !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #767676 !important;
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.uploadForm .progress {
  height: 5px;
}

.total {
  margin-top: -20px !important;
  height: 60px;
  background-color: #f2f5fb;
  padding-top: 24px;
  padding-bottom: 8px;
  margin-left: -54px !important;
  margin-right: -60px !important;
  position: absolute;
  bottom: 70px;
  width: 100%;
  margin-bottom: 12px !important;
}

.btn-add-cc {
  color: #0033aa !important;
  background-color: #ffffff !important;
  border-style: none !important;
  float: right !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-family: Roboto !important;
  position: absolute;
  margin-top: 48px !important;
  margin-bottom: 30px !important;
  padding-top: 60px;
  bottom: 0;
  right: 0;
  margin-right: 24px !important;
}

.btn-add-cc:hover {
  color: #0033aa !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-style: none !important;
}

.btn-add-cc:focus {
  outline: none !important;
}

.btn-add-ie {
  padding-top: 16px !important;
  margin-left: -9px !important;
  color: #0033aa !important;
  background-color: transparent !important;
  border: none !important;
  border-style: none !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-family: Roboto !important;
  position: absolute !important;
  left: 14px !important;
  top: -50px !important;
  width: 200px;
  cursor: pointer;
}

.btn-add-ie:focus {
  outline: none !important;
}

.btn-add-doc {
  color: #0033aa !important;
  background-color: transparent;
  border-style: none !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-family: Roboto !important;
  margin-bottom: 16px !important;
  position: relative;
  bottom: 0px;
  left: -17px;
  width: 170px;
  cursor: pointer;
}

.btn-add-ie:hover {
  color: #0033aa !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-style: none !important;
}

.btn-add-doc:hover {
  color: #0033aa !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  border-style: none !important;
}

.btn-add-doc:focus {
  outline: none !important;
}

.btn-remove-ie {
  background-color: transparent !important;
  border-style: none !important;
  border-color: #ffffff !important;
  position: relative;
  float: right;
  top: 27px;
  left: 84px;
  width: 0px;
  height: 0px;
  cursor: pointer;
}

#BOPContainer .circleBorder {
  border-color: #0033aa !important;
  border: 1px solid #0033aa;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-right: 12px;
  padding-bottom: 22px;
  padding-top: 1px;
  padding-left: 2px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0033aa;
  border-style: none !important;
}

#BOPContainer .circleBorderReason {
  border-color: #0033aa !important;
  border: 1px solid #0033aa;
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-right: 12px;
  padding-top: 2px !important;
  padding-left: 2px;
  margin-right: 14px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0033aa;
  border-style: none !important;
  margin-bottom: -12px !important;
}

#BOPContainer .circleBorder:hover {
  border-color: #0033aa !important;
  border: 1px solid #0033aa;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-right: 12px;
  padding-bottom: 22px;
  padding-top: 1px;
  padding-left: 2px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0033aa;
  border-style: none !important;
}

#BOPContainer .circleBorderReason:hover {
  border-color: #0033aa !important;
  border: 1px solid #0033aa;
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-right: 12px;
  padding-top: 2px !important;
  padding-left: 2px;
  margin-right: 14px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0033aa;
  border-style: none !important;
  margin-bottom: -12px !important;
}

#BOPContainer .circleBorderDoc {
  border-color: #0033aa !important;
  border: 1px solid #0033aa;
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-right: 12px;
  padding-top: 2px !important;
  padding-left: 2px;
  margin-right: 14px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0033aa;
  border-style: none !important;
  margin-bottom: -12px !important;
}

.headline {
  display: table-cell;
}

.totalTitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #222222;
  position: absolute;
  right: 295px;
  width: 136px;
}

.totalValue {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #222222;
  position: absolute;
  right: -48px;
  top: 20px;
}

.totalValue sub {
  position: relative;
  right: 107px;
  top: 14px;
}

.additionalInformation {
  width: 58%;
}

.accordianBody {
  margin-left: -22px !important;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
}

.invoiceclass {
  margin-left: 3px !important;
  margin-bottom: 15px;
}

.taxHolderClass {
  margin-left: -12px !important;
}

.panel-body {
  background-color: #ffffff !important;
}

.ieRow {
  position: relative !important;
  top: -28px !important;
}

.btn-ie-span {
  position: absolute;
  padding-top: 3px !important;
}

.btn-add-cc-span {
  padding-top: 4px !important;
  margin-right: 40px !important;
  margin-bottom: 12px !important;
  float: right !important;
}

.btn-add-cc-div {
  margin-left: -20px !important;
  cursor: pointer;
}

.fileList {
  border-radius: 2px !important;
  background-color: #f6f6f6 !important;
  display: inline-flex !important;
  padding: 40px !important;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
  height: 150px !important;
  width: 230px !important;
  position: relative;
}

.panel-upload-doc {
  display: inline-block !important;
  width: 100% !important;
  position: relative;
  top: 12px;
  left: -12px;
}

.docListClass {
  width: 100% !important;
  height: 17px !important;
  opacity: 0.3 !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.15 !important;
  letter-spacing: normal !important;
  color: #444444 !important;
  margin-left: -18px !important;
  padding-bottom: 40px !important;
  position: absolute;
  bottom: 95px;;
}

.uploadField {
  margin-left: 2px !important;
  width: 140px;
  height: 17px !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.34 !important;
  letter-spacing: normal !important;
  color: #444444 !important;
  position: absolute;
  left: 29px;
  bottom: -5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uploadButtonLink {
  position: absolute !important;
  width: 100% !important;
  height: 16px !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  background-color: transparent !important;
  color: #0033aa !important;
  border-style: none !important;
  float: right !important;
  top: 60px !important;
  right: -155px;
}

.tryAgainLink{
  position: absolute;
  right: 30px;
  top: 50px;
  height: 16px !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  background-color: transparent !important;
  color: #0033aa !important;
  border-style: none !important;
  float: right !important;
}

.fileErrorLink {
  position: absolute;
  right: 30px;
  top: 50px;
  height: 16px !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  background-color: transparent !important;
  color: #0033aa !important;
  border-style: none !important;
  float: right !important;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-top: 19px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.checkbox-inline, .radio-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
}

.err .material-icons {
  position: absolute;
  top: -30px;
  left: 85px;
  color: #e70011;
}

.err {
  text-align: center;
  position: relative;
  left: 20px;
}

.ie-error {
  position: absolute;
  right: 16px;
  top: -211px;
}

.extraDesc {
  display: none !important;
}

.addDocsIcon {
  position: absolute !important;
}

.addDocsText {
  padding-top: 4px !important;
  padding-left: 32px !important;
  padding-bottom: 4px !important;
}

.remove-cc-icon {
  width: 15px !important;
  height: 22px !important;
  position: absolute;
  left: 100px;
  top: 27px;
}

.expand-cc-icon {
  width: 7px !important;
  height: 24px !important;
  position: absolute;
  left: 144px;
  top: 26px;
}

.remove-ie-icon {
  color: #0033aa !important;
  width: 16px !important;
  height: 23px !important;
  cursor: pointer;
}

.btn-del-cc-icon {
  position: absolute !important;
}

.circleBorderRemove {
  padding: 1px;
}

.heading {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
  margin-bottom: -2px !important;
}

.uploadForm {
  position: relative !important;
  background-color: transparent;
  margin-left: -48px;
}

.removeFile {
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}

.removeFile .material-icons {
  color: #0033aa;
  background-color: #ffffff;
}

.docSuccess {
  width: 136px;
  height: 17px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: #444444;
  opacity: 1.3 !important;
}

.divCustomsClientNumber {
  padding-top: 24px !important;
}

.divAccountHolderTaxNumber {
  margin-top: -28px !important;
}

.bopMonetaryAmountClass {
  min-width: 100% !important;
}

.requiredDocsHeading {
  padding-top: 12px !important;
  margin-bottom: -8px !important;
}

.importExportErrorMsgTop {
  display: inline-block;
  position: absolute !important;
}

.importExportErrorMsgBottom {
  display: inline-block;
  position: absolute !important;
}

.catMain {
  min-width: 88% !important;
}

.requiredDocuments {
  width: 75%;
}
