input {
    /* background: linear-gradient(to bottom, rgba(255,255,255,0) 96%,gray 4%) !important;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 96%,gray 4%) !important; */
    background-position: -200px 0 !important;
    background-repeat: no-repeat !important;
    background-size: 200px 100% !important;
    border: none !important;
    border-bottom: solid 1px gray !important;
    display: block;
    padding: 10px 0 !important;
    transition: all .3s cubic-bezier(.64, .09, .08, 1) !important;
    width: 200px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

select, .input-group-addon{
    border: none !important;
    border-bottom: solid 2px gray !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

input[type="checkbox"] {
    display: none !important;
}

.checkbox label {
    width: 100%;
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0033aa;
    position: absolute;
    left: 1px;
    bottom: 3px;
}
  
.checkbox label .material-icons {
    color: #0033aa;
    position: absolute;
    left: -9px;
    bottom: -1px;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 19px;
    margin-left: 0px;
    margin-bottom: 20px;
}
  
.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}

.isIconActive {
    transform: rotateZ(45deg);
    transition: transform 0.2s;
}

mfield input{
    text-align: left !important;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.flexContainer{
    display: flex;
    align-items: center;
}

.postalAddressSlider{
  padding-left:20px;
}