<div class="removeFile" ng-show="model.showDelete && (model.file.success || (model.event == 'adhoc'))">
    <i class="material-icons" ng-click="removeDocument(model);">highlight_off</i>
  </div>

<form name="myForm" layout="column" class="uploadForm">
  <!-- <md-input-container> -->

  <!-- <div ng-if="model.event=='adhoc'">
    <div class="form-group">
      <label>Description:</label> <input ng-model="model.msg" required />
    </div>
  </div> -->

  <!-- <div ng-if="model.event!='adhoc'" uib-popover="model.msg">
    info
  </div> -->

  <div class="uploadField" ng-if="model.value && !(errorMsg || myForm.file.$error.maxSize)">Upload for {{ model.value }}</div>

  <div class="err" ng-show="errorMsg || myForm.file.$error.maxSize">
      <i class="material-icons" ng-show="errorMsg" title="{{errorMsg}}">cached</i>
      <div ng-show="errorMsg">
        There was a problem uploading this document
      </div>

      <i class="material-icons" ng-show="myForm.file.$error.maxSize">info</i>
      <div ng-show="myForm.file.$error.maxSize">
        The file you're trying to upload exceeds the 4Mb limit
          <!-- File too large {{ errorFile.size / 1000000 | number: 1 }}MB: max 10M -->
      </div>
    </div>


  <div class="form-group" layout="row">
    <button
      ng-class="{
        tryAgainLink:!!errorMsg, 
        fileErrorLink: !!myForm.file.$error.maxSize, 
        uploadButtonLink: !(errorMsg || myForm.file.$error.maxSize)
      }"
      ngf-select="uploadFile()"
      ng-model="model.file"
      name="file"
      accept=".jpg,.jpeg,.png,.pdf"
      ngf-max-size="6MB"
      required
      ngf-model-invalid="errorFile"
      ng-hide="model.uploading||model.file.success"
      > {{(errorMsg?'TRY AGAIN':(myForm.file.$error.maxSize?'UPLOAD AGAIN':'UPLOAD'))}}
    </button>

    <!-- <i class="fileRequired" ng-show="myForm.file.$error.required">*required</i> -->
  </div>
  


  <!--
    <img ng-show="myForm.file.$valid" ngf-thumbnail="model" class="thumb"> <md-button ng-click="picFile = null" ng-show="picFile">Remove</md-button>
  -->
  <!-- <div class="form-group">
    <button
      class="title"
      ng-disabled="!myForm.$valid&&!model.file.msg"
      ng-click="uploadFile()"
      >Submit</button
    >
  </div> -->
  <uib-progressbar
    ng-if="model.file && (Number(model.file.progress) >= 0)"
    md-mode="determinate"
    value="{{model.file.progress}}"
  ></uib-progressbar>


  <!--
    <span class="progress" ng-show="model.progress >= 0">
      <div style="width:{{model.progress}}%" ng-bind="model.progress + '%'"></div>
    </span>
  -->

  <!-- <span ng-show="model.file.result">Upload Successful</span> -->

  

 
  <!-- </md-input-container> -->
</form>

<div ng-show="model.file && model.file.success">
    <span class="fileIcon"><img src="/sbg-forex/assets/images/file-icon.png"></span>
    <span class="fileLabelName" >{{ model.file.name }}</span>
</div>