@import "node_modules/bootstrap/less/bootstrap.less";

//@icon-font-path: "fonts/";

@icon-font-path: "../../../node_modules/bootstrap/fonts/";
//@media
//(-webkit-min-device-pixel-ratio: 2),
//(min-resolution: 192dpi) {
//  /* Retina-specific stuff here */
//  body {
//    transform: scale(0.5,0.5);
//  }
//}

  .modal-dialog {
    width: 98%;
  }

.bop_form_container{

  .waiting * {
    cursor: progress;
  }

  .dropdown-menu {
    font-size: 11px;
    max-height: 200px;
    overflow-y: auto;

    li a {
      white-space: normal;
      padding-left: 43px;
      text-indent: -40px;
    }
  }

  //////////css-tricks.com//////////////
  .gradient (@color1: #eee, @color2: white) {
    background-color: @color1;
    background: -webkit-gradient(linear, left top, left bottom, from(@color1), to(@color2));
    background: -webkit-linear-gradient(top, @color1, @color2);
    background: -moz-linear-gradient(top, @color1, @color2);
    background: -ms-linear-gradient(top, @color1, @color2);
    background: -o-linear-gradient(top, @color1, @color2);
  }

  .gradient-dir(@direction: top, @color1: #eee, @color2: white) {
    background-color: @color1;
    background: -webkit-gradient(linear, left top, left bottom, from(@color1), to(@color2));
    background: -webkit-linear-gradient(@direction, @color1, @color2);
    background: -moz-linear-gradient(@direction, @color1, @color2);
    background: -ms-linear-gradient(@direction, @color1, @color2);
    background: -o-linear-gradient(@direction, @color1, @color2);
  }

  .gradient(@color1,@color2,@color3) {
    background-color: @color1;
    background: -webkit-gradient(linear, left top, left bottom, from(@color1), to(@color2), to(@color3));
    background: -webkit-linear-gradient(top, @color1, @color2,@color3);
    background: -moz-linear-gradient(top, @color1, @color2,@color3);
    background: -ms-linear-gradient(top, @color1, @color2,@color3);
    background: -o-linear-gradient(top, @color1, @color2,@color3);
  }

  .repeatingGradient(@color1,@color2,@color3) {
    background-color: @color1;
    background: -webkit-repeating-gradient(linear, left top, left bottom, from(@color1), to(@color2), to(@color3));
    background: -webkit-repeating-linear-gradient(@color1, @color2,@color3);
    background: -moz-repeating-linear-gradient(@color1, @color2,@color3);
    background: -ms-repeating-linear-gradient(@color1, @color2,@color3);
    background: -o-repeating-linear-gradient(@color1, @color2,@color3);
    background: repeating-linear-gradient(@color1, @color2,@color3);
  }

  // .select-field-background-with-arrow(@image,@color1,@color2,@color3) {
  //   background-image: url(@image), -webkit-gradient(linear, left top, left bottom, from(@color1), to(@color2), to(@color3));
  //   background-image: url(@image), -webkit-linear-gradient(top, @color1, @color2,@color3);
  //   background-image: url(@image), -moz-linear-gradient(top, @color1, @color2,@color3);
  //   background-image: url(@image), -ms-linear-gradient(top, @color1, @color2,@color3);
  //   background-image: url(@image), -o-linear-gradient(top, @color1, @color2,@color3);
  // }

  @error-color : #FFCCCC;

  .select-field-background-with-arrow(@image,@color1) {
    background-image: url(@image);
    background-color: @error-color;
  }

  .background-red-on-error() {
    input.has-warning, input:focus.has-warning {
      background-color: @error-color;
    }
    select.has-warning {
      .select-field-background-with-arrow('images/down_arrow_s_field.png', red);
    }

  }

  .vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  //////////////////// Standard Bank Colours ////////////////////

  //Primary Colour Palette
  @sbg-blue: #0033A1;
  @sbg-prograss-blue: #00A1E0;
  @sbg-stature-blue: #0A2240;
  @sbg-white: #FFFFFF;

  //Secondary Colour Palette
  @sbg-green: rgb(0, 175, 67);
  @sbg-yellow: #FFB81D;
  @sbg-yellow-20: lighten(@sbg-yellow, 80%);
  @sbg-orange: #FF681D;
  @sbg-plum: #AA0050;

  // @error-title-color: .gradient(@sbg-yellow, @sbg-yellow-20);
  //Secondary color palette not complete ->> add others if needed.

  //////////////////////
  // Over writing bootsrap colours
  @state-danger-text: @sbg-plum;
  @state-warning-text: @sbg-yellow;

  .btn-danger {
    background-color: @sbg-plum;
    border-color: @sbg-plum;
  }

  .btn-success {
    background-color: @sbg-green;
    border-color: @sbg-green;

  }

  @table-column: 1px;
  @table-column-colour: lightgrey;
  @selected-row-colour: #CCE5FF;
  @body-background-colour: rgb(256, 256, 256);
  @even-row-colour: rgb(243, 246, 245);
  @action-button-inside-border: #899dda;
  @action-button-outside-border: #24456a;
  @input-field-border: 1px solid rgb(171, 173, 179);
  @disabled-button-background: rgb(244, 244, 244);
  @bob-table-border-color: rgb(130, 135, 144);
  @bop-table-border-size-style-color: 1px solid @bob-table-border-color;
  @disabled-field-outside-border-color: rgb(171, 173, 179);
  @tab-border-color: #d6d6d6;
  @tab-content-color : @body-background-colour;
  @nbol-date-picker-background-colour: rgb(249, 254, 254);
  @nbol-date-picker-date-border-color: #B7D2E6;

  .popover, .popover-title {
    font-size: 11px;
    background-color: #bbbbbb;
  }

  .popover-title {
    font-weight: bold;
  }

  .tooltip-inner {
    //z-index: 100;
    //border: 2px black solid;
    background-color: #ffe;
    color: black;
    border-color: #333;
  }

  .FldLabel {
    font-weight: normal;
    font-size: 11px;
    padding-left: 2px;
    padding-right: 5px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    .text-overflow();
  }

  input {
    height: inherit;
  }

  datefield {
    // .input-group {
    //   width: 74%;
    //   .form-control {
    //     position: static;
    //     float: inherit;
    //     width: 100%;
    //   }
    //   .input-group-btn {
    //     width: 1%;
    //   }
    // }
    .bop-warning-nbol {
      width: 73%;
    }
    .input-group {
      width: 75%;
      .form-control {
        width: 100%;
        position: initial;
      }

      .input-group-btn {
        display: table-cell;
        width: 1%;
      }

    }
  }

  #transactionTab, #accountDetailsTab, #monetaryDetailsTab, #beneficiaryDetailsTab {
    background-color: @tab-content-color;
  }

    //font-family: Tahoma;
    font-size: 11px;
    padding: 0px 10px 0px 10px;
    background-color: @body-background-colour;
    line-height: 1.2;
    font-size: 11px;
    // color: white;

  p {
    line-height: inherit;
  }

  fieldset {
    background: transparent;
    position: relative;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 25px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 3em;
    padding-right: 0.75em;
    border: 1px solid #ffffff;
    border-radius: 5px;
    legend {
      .text-overflow();
      bottom: 1px;
      margin-left: -25px;
      position: relative;
      font-weight: bold;
      font-size: inherit;
      border: none;
      width: inherit;
      margin-bottom: 1px;
      background: @body-background-colour;
    }
    fieldset {
      margin-right: 18px;
      border-radius: 5px;
      margin-left: -13px;
      legend {
        .text-overflow();
        margin-left: -28px;
        font-weight: normal;
      }
    }
  }

  fieldset:before {
    background-color: transparent;
    position: absolute;
    content: '';
    top: 4px;
    left: -2px;
    right: -2px;
    bottom: 0px;
    border-radius: 5px;
    border: 1px solid #d5dfe5;
    box-shadow: none;
  }

  .ui-menu {
    max-height: 400px;
    overflow-y: auto;
  }

  lfield, ifield, datefield, ccfield {
    .row {
      margin-bottom: 10px;
    }
  }

  #BopAuth .row:hover {
    background: lightgrey;
  }

  .bopWarning, .bopError, .bopSuccess /*, .bopRequired*/
  {
    background-size: contain;
    padding-left: 17px;
    background-position: left top;
    background-repeat: no-repeat;
    vertical-align: sub;
    margin-left: 5px;
  }

  .bopError {
    background-image: url('images/error.png');
  }

  .bopWarning {
    background-image: url('images/warningScaled.png');

  }

  .bopBusy {
    background-image: url('images/busy_spinner.gif');
    display: inline;
    background-size: contain;
    padding-left: 13px;
    padding-top: 0px;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
    top: -17px;
    left: 75%;

  }

  .bopSuccess {
    background-image: url('images/CalendarPicker.png');
  }

  .bopRequired:after {
    content: "*";
    float: right;
  }

  .bopPencil {
    background-image: url('images/nbol_pencil.png');
    background-size: contain;
    padding-left: 13px;
    background-repeat: no-repeat;
    position: relative;
    right: 3px;
  }

  .key {
    margin-right: 3px;
    float: right;
    position: relative;
    bottom: 14px;
  }

  .nbol-pencil {
    background-image: url('images/nbol_pencil.png');
    background-size: contain;
    padding-left: 13px;
    background-repeat: no-repeat;
    position: relative;
    right: -1px;
    top: -1px;
  }

  .nbol-caret {
    background-image: url('images/caret.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1px;
    padding-left: 12px;
    position: relative;
    left: 3px;
    top: 1px;
  }

  .indent {
    padding: 5px;
    border: 1px solid grey;
    margin-left: 10px;
    margin-top: 5px;
  }

  .input-group-addon, .input-group-btn {
    //padding: 2px 9px;
    padding: 0px;
    font-size: 11px;
    width: auto;
    .btn {
      padding: 2px;
      font-size: inherit;
    }
  }

  .input-group-addon {
    border: @input-field-border;
    border-left-width: 0px;
  }

  .animate-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
    &.ng-hide {
      opacity: 0;
    }
  }

  .btn-custom-nbol {
    color: black;
    margin-right: 2px;
    margin-bottom: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    border-radius: 2px;
    .gradient(#ededed 42%, #ddd 42%, #ccc);
    border: 1px solid #FCFCFC;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      border-radius: 3px;
      border: 1px solid rgb(171, 173, 179);

    }

    &:hover {
      position: relative;
      .gradient(#fdfaf1, #eadb80);
    }

    &:disabled {
      opacity: inherit;
      color: rgb(131, 131, 131);
      position: relative;
      border-radius: 2px;
      background: @disabled-button-background;
      border: 1px solid #FCFCFC
    }

    &:disabled:after {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      border-radius: 3px;
      border: 1px solid rgb(173, 178, 181);
      opacity: inherit;
    }
  }

  .invalid {
    background: none;
    background-color: @error-color;
  }

  .valid {
    background: none;
    background-color: green;
  }

  .panel-heading, .panel-default > .panel-heading, .panel-group .panel-heading {
    padding: 4px 6px;
    background: linear-gradient(rgb(246, 246, 238), rgb(214, 215, 173));
  }

  .nav-tabs {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
    border-bottom: 1px solid @tab-border-color;
    > li.active {
      > a, > a:hover, > a:focus {
        font-weight: bold;
        color: rgb(11, 11, 11);
        cursor: default;
        background: @body-background-colour;
        border: 1px solid  @tab-border-color;
        border-bottom: 1px solid @body-background-colour;
      }
      > a:after, > a:hover:after, > a:focus:after {
        content: '';
        display: block;
        top: 0px;
        right: 0px;
        position: absolute;
        border-top: 3px solid @action-button-outside-border;
        width: 100%
      }
      > a a {
        color: black;
      }
    }
    > li {
      > a, > a:focus {
        padding: 4px 6px;
        margin-right: 6px;
        color: black;
        .gradient(#f6f6ee, @tab-border-color);
        // border-radius: 0px;
        border-bottom-color: @tab-border-color;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: @tab-border-color;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: @tab-border-color;
      }
      > a:hover {
        padding: 4px 6px;
        margin-right: 6px;
        color: black;
        .gradient(#f7f2d5, #eadb80);
        //  border-radius: 0px;
        border: 1px solid @tab-border-color;
      }
      > a a {
        color: black;
      }

    }
  }

  .tab-content {
    //margin-right:32px;
    width: 100%;
    float: left;
  }

  ul.nav-stacked {
    width: 20%;
    float: left;
  }

  .modal-content {
    background-color: white
  }

  .modal-header {
    background: @sbg-blue;
    h3 {
      color: white;
      display: block;
      font-size: 1.17em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
      margin-top: -2px;
      margin-bottom: -4px;
    }
  }

  .form-control {
    border: @input-field-border;
    padding: 0px 12px;
    height: 22px;
    // display: initial;
    line-height: inherit;
    width: 75%;
    //border-radius: 0px;
    box-shadow: none;
    color: black;
    font-size: 11px;
  }

  .form-control[disabled] {
    height: 20px;
    outline: 1px solid @disabled-field-outside-border-color;
    border: 1px solid rgb(252, 252, 252);
    background-color: rgb(244, 244, 244);
    color: rgb(109, 109, 109);
  }

  .form-control:focus {
    border: 1px solid #abadb3;
    outline: none;
    box-shadow: none;
  }

  .form-horizontal .control-label {
    text-align: inherit;
    padding-top: inherit;
    height: 16px;
  }

  .panel {
    background-color: #F6F6EE;
  }

  .column {
    padding: 20px;
  }

  .leftColumn {
    width: 30%;
  }

  .summaryHeading {
    background: #def;
    font-size: 12px;
  }

  //#non_resident_table, #resident_table,
  .summaryTable {
    table {
      width: 100%;
      td {
        padding: 4px 5px
      }
    }
  }

  #smallLogo {
    background: transparent url('images/sbg.png') no-repeat;
    background-size: 22%;
    width: 142px;
    height: 33px;
    margin: 0;
    padding: 0;
  }

  img {
    border: 0;
  }

  .ui-widget {
    font-size: 85%;
  }

  .ui-autocomplete {
    max-width: 80%;
  }

  label {
    margin-bottom: 0px;
  }

  .table-striped-custom > tbody {
    background-color: white;
    > tr:nth-child(odd) {
      > td {
        background-color: #ffffff;
      }
    }
    > tr:nth-child(even) {
      > td {
        background-color: @even-row-colour;
      }
    }
    > tr.selected-row {
      > td {
        background-color: @selected-row-colour;
      }
    }
  }

  .table-bordered {
    thead > tr > th {
      border: none;
    }
  }

  .table {
    border-collapse: inherit;
    margin-bottom: 10px;
    font-size: 100%;
    border: @bop-table-border-size-style-color;
    thead {
      border-bottom: 0px solid darkgrey;
      tr {
        th {
          .text-overflow();
          padding: 0px 7px;
          vertical-align: middle;
          border-bottom: none;
          // .gradient( #c4ddfd,#98bbd9);
          .gradient(lighten(@sbg-prograss-blue,50%), lighten(@sbg-blue,50%));
          color: #555;
          // border-right: @table-column solid rgb(77, 107, 135);
          // border-left: 1px solid rgb(157, 220, 255);
          border-right: @table-column solid lighten(@sbg-blue,50%);
          border-left: 1px solid lighten(@sbg-prograss-blue,50%);
        }
        th:first-child {
          border-left: 1px solid rgb(157, 220, 255);
        }
      }
    }
    th, td {
      height: 23px;
      vertical-align: middle;
    }
    tbody {

      tr {
        td {
          padding: 0px 7px;
          vertical-align: middle;
          border-right: @table-column solid @table-column-colour;
          border-left: none;
          border-top: none;
        }
        //td:first-child {
        //  background-color: @even-row-colour;
        //}
        td:last-child {
          border-right: none;
        }
      }
      tr:last-child td {
        border-bottom: @bop-table-border-size-style-color;
      }
    }
    tfoot {
      tr {
        td {
          border: 1px solid black;
          padding: 0px 7px;
          vertical-align: middle;
        }
      }
    }
  }

  .nbol-ico {
    background-position: 98% center;
    background-repeat: no-repeat;

    //padding: .2em 0 .2em 1em;
    //width: auto;

    /*Box sizing forces input width rather than increase due to the padding*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }

  mfield {
    span {
      display: inline;
    }
    .input-group {
      width: 75%;
      .form-control {
        width: 100%;
        position: initial;
      }

      .input-group-addon {
        display: table-cell;
        padding: 3px;
        margin-bottom: 10px;
        //The width is set to this otherwise the addon to the mfield takes up uneccessary space.
        width: 1%;
      }

    }
  }

  bfield {

    .btn:focus, .btn:active:focus {
      outline: 0px;
    }
    .bop-warning-nbol {
      top: 0px;
      right: 0.5%;

    }
    .bopBusy {
      top: 0px;
      left: 0px;
    }
  }

  ifield[disable-field="true"], ccfield[disable-field="true"] {

    .bop-warning-nbol, .bopBusy, .bopPencil, .bopError, .bopRequired {
      display: none;
    }

  }

  #Editable_Table_Grid {
    //display: block;
    //max-height: 300px;
    //overflow-y: auto;

    thead {
      tr {
        th {
          white-space: normal;
          padding-left: 30px;
          text-indent: -24px;
          &:last-child {
            padding-left: inherit;
            text-indent: inherit;
          }
        }
      }
    }

    tbody {
      td {
        line-height: 0px;
        margin: 0px;
        padding: 0px;
        div.form-group {
          padding: 0px;
          margin: 0px;
          .bopRequired {
            display: none;
          }
          input {
            border: none;
            background: none;
            width: 100%;
            line-height: 1.2; //FIN-1165 - Previous Initial did not work for IE9
          }
          //.background-red-on-error();
          input:focus {
            background: white;
          }
          .bop-warning-nbol {
            display: none;
          }
          .bopBusy {
            display: none;
          }
        }

        div.has-error, div.has-warning {
          border : 1px solid @sbg-yellow;
          border-radius: 4px;
        }
        div.has-error{
          border-color: @sbg-plum !important;
        }
        //div.has-error {
        //  // background-color: @error-color;
        //  background-color: @sbg-plum !important;
        //}
        //div.has-warning {
        //  // background-color: @error-color;
        //  background-color: @sbg-yellow;
        //}
        .btn-custom-nbol {
          margin-bottom: 0px;
          width: 100%;
        }
      }
      td.category-description {
        overflow: hidden;
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

  }

  .modal-body {
    th {
      color: white;
      background-color: @sbg-blue;
    }
  }

  .modal-close-button {
    text-align: right;
    button {
      background-repeat: no-repeat;
      padding: 0.5em;
    }
  }

  .error-summary {
    // border: 1.8px solid #dbdc8e;
    border: @sbg-white;
    margin-bottom: 15px;
    padding-right: 1em;
    padding-top: 4px;
    padding-bottom: 5px;
    // background-color: @error-title-color;
    &.warning {

      .gradient-dir(60deg, tint(@sbg-yellow, 30%), tint(@sbg-yellow, 90%));
    }
    //&.success {
    background-color: white;
    // .gradient-dir(60deg, tint(@sbg-green, 30%),tint(@sbg-green, 80%));
    //}
    &.danger {

      .gradient-dir(60deg, tint(@sbg-plum, 30%), tint(@sbg-plum, 80%));
    }
    border-radius: 4px;
    a {
      color: black;
    }
  }

  .copy-street-address {
    margin-left: -15px;
  }

  afield {
    label.FldLabel {
      display: block;
    }
    b {
      display: block;
      height: 1em;
    }
    margin: 1em;
  }

  .modal-footer {
    .modal-button {
      text-align: center;
    }
  }

  .windowsCloseButton[class] {
    float: right;
    background-size: contain;
    padding-left: 17px;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 15px;
    background-size: cover;
    background-image: url('images/windows-close-button.png');
  }

  .navigation-bar {
    margin-bottom: 100px;
  }

  .entity-type-header {
    margin-left: -7px;
    margin-bottom: 10px;
  }

  .date-picker-nbol {
    background-image: url("images/datepickerScaled.png");
    background-size: contain;
    padding-left: 17px;
    background-position: left top;
    background-repeat: no-repeat;
    top: 1px;
    left: 6px;
  }

  .bop-warning-nbol {
    background-image: url("images/warningScaled.png");
    background-size: contain;
    padding-left: 16px;
    background-position: left top;
    background-repeat: no-repeat;
    // float: left;
    height: 13px;
    margin-top: 4px;
  }

  .monetary-summary-table-heading {
    th:nth-child(1) {
      width: 2%;
    }
    th:nth-child(2) {
      width: 15%;
    }

    th:nth-child(4) {
      width: 22%;
    }
    th:nth-child(5) {
      width: 22%;
    }
  }

  .background-red-on-error();

  .nbol-date-picker-day, .nbol-date-picker-day:focus,
  .nbol-date-picker-month, .nbol-date-picker-month:focus,
  .nbol-date-picker-year, .nbol-date-picker-year:focus {
    outline: none;
    thead {
      button:disabled {
        opacity: inherit;
      }
    }
    .btn-sm, .btn-group-sm > .btn {
      padding: 2px 5px;
      font-size: 10px;
      line-height: inherit;
      //border-radius: 3px;
    }
    tbody {
      border: 1px solid black;
      background-color: @nbol-date-picker-background-colour;
      tr.day-heading {
        .gradient(rgb(211, 231, 246), rgb(174, 214, 246));
        button:disabled {
          opacity: inherit;
          margin: 4px 0px;
          border-color: @nbol-date-picker-date-border-color;
          //border-radius: 0px;
          background: none;
          padding-left: 9px;
          padding-right: 9px;
          span {
            color: #0B4780;
            font-weight: bold;
          }
        }
      }
      td, td:focus {
        outline: none;
      }
      td:last-child {
        border-right: 1px solid black;
      }
      button {
        margin: 4px;
        //border-radius: 0px;
        border-color: 1px solid @nbol-date-picker-date-border-color;
        background-color: @nbol-date-picker-background-colour;
        span {
          font-size: 10px;
          color: #0B4780;
          font-weight: bold;
        }
      }
      button:disabled {
        opacity: inherit;
        span {
          color: transparent;
        }
      }
      .btn-info.active, .btn-default.active, .btn-default:focus,
      button:focus, button:active {
        outline: none;
        //border-radius: 0px;
        background-color: @nbol-date-picker-background-colour;
        border: 2px solid black;
        color: #0B4780;
      }
    }
  }

  .nbol-date-picker-month {
    tbody {
      button {
        width: 90%;
        padding: 0px 3px;
      }
    }
  }

  .nbol-date-picker-year {
    tbody {
      button {
        padding: 0px 3px;
      }
    }
  }

  .nbol-date-picker-popup {
    border: 1px solid #0E5AF5;
    .gradient(#0E5AF5, #0A3ADB 10%, #082DCC 20%);
    padding: 12px 2px 2px 2px;
    .nbol-date-picker-heading {
      position: relative;
      top: -6px;
      margin-bottom: 0px;
      left: 5px;
      font-size: 14px;
      color: white;
      text-shadow: 1px 2px black;
    }
  }

  .nbol-date-picker {
    text-align: center;
    padding: 2px 2px 9px 2px;
    border: @input-field-border;
    background-color: @nbol-date-picker-background-colour;
    th {
      button {
        //border-radius: 0px;
        border-color: 1px solid @nbol-date-picker-date-border-color;
        background-color: @nbol-date-picker-background-colour;
        span {
          color: #0B4780;
          font-weight: bold;
        }
        margin-bottom: 10px;
      }
      .btn-info.active, .btn-default.active, .btn-default:focus,
      button:focus, button:active {
        outline: none;
        //border-radius: 0px;
        background-color: @nbol-date-picker-background-colour;
        border: 2px solid black;
        color: #0B4780;
      }
    }
    .selected-date {
      color: black;
      display: inline;
      position: relative;
      bottom: -9px;
      border: 1px solid #b7d2e6;
      padding: 1px 9px;

    }
    .nbol-date-picker-today {
      padding: 0px 7px 0px 7px;
      position: relative;
      top: 4px;
      font-size: 11px;
      border: 1px solid @nbol-date-picker-date-border-color;
    }
  }

  /**
  * Start: Data type control
  */
  .FLOAT_M, .AMT_M, .INT_M,
  .FLOAT_O, .AMT_O, .INT_O,
  .FLOAT_P, .AMT_P, .INT_P,
  .TIME_M, .CHAR_M, .DATE_M, .SEARCH_M,
  .TIME_O, .CHAR_O, .DATE_O, .SEARCH_O,
  .TIME_P, .CHAR_P, .DATE_P, .SEARCH_P, .LIST_P {
    background-color: white;
    text-align: left;
    left: 5px;
    position: static;
  }

  .FLOAT_M, .AMT_M, .INT_M {
    text-align: right;
  }

  .FLOAT_O, .AMT_O, .INT_O {
    background-color: white;
    text-align: right;
  }

  .FLOAT_P, .AMT_P, .INT_P {
    background-color: white;
    text-align: right;
  }

  .TIME_M, .CHAR_M, .DATE_M, .SEARCH_M {
    background-color: white;
  }

  .TIME_O, .CHAR_O, .DATE_O, .SEARCH_O {
    background-color: white;
  }

  .TIME_P, .CHAR_P, .DATE_P, .SEARCH_P, .LIST_P {
    background-color: white;
  }

  //.ng-touched[popover~="ERROR"]{
  //  background-color:red;
  //}
  .LIST_P {
    background-image: url('images/down_arrow_s_field.png');
    background-color: white;
    border-color: @input-field-border;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .LIST_P[disabled] {
    background-image: none;
  }
}


//.select-field {
//  // border-radius: 2px;
//  -webkit-appearance: none;
//  padding: 0.5%;
//  .select-field-background-with-arrow('images/down_arrow_s_field.png', #ededed 42%, #ddd 42%, #ccc);
//  //background-image: url('images/down_arrow_s_field.png'), linear-gradient();
//  //border-color: #c0c0c0;
//  background-position: 98% center;
//  background-repeat: no-repeat;
//  //  outline: 1px solid rgb(171, 173, 179);
//  //  border: 1px solid rgb(252, 252, 252);
//  height: 20px;
//}
//
//.select-field[disabled] {
//  // outline: 1px solid rgb(171, 173, 179);
//  //  border: 1px solid rgb(252, 252, 252);
//  background: rgb(244, 244, 244);
//  background-image: none;
//  background-position: 98% center;
//  background-repeat: no-repeat;
//  color: rgb(109, 109, 109);
//  padding: 0px;
//  line-height: 10px;
//}
