<div class="form-horizontal baseAccount form-horizontal" role="form">
  <div class="row">
    <div class="col-sm-4">
      <ifield label="Account name" model="Resident.AccountName" />
    </div>
    <div class="col-sm-4">
      <lfield label="Account Identifier" model="Resident.AccountIdentifier" lookup="accountIdentifiersResident" />
    </div>
    <div class="col-sm-4">
      <ifield label="Account number" model="Resident.AccountNumber" />
    </div>
  </div>
</div>