<div class="form-horizontal" ng-hide="data.ReportingQualifier.val=='NON REPORTABLE'">
  <fieldset>
    <legend>Contact details</legend>
    <div class="row">
      <div class="col-sm-4">
        <ifield label="Contact surname" model="Resident.ContactDetails.ContactSurname"/>
        <ifield label="Contact name" model="Resident.ContactDetails.ContactName"/>
      </div>
      <div class="col-sm-4">
        <ifield label="Email" model="Resident.ContactDetails.Email"/>
        <ifield label="Fax" model="Resident.ContactDetails.Fax"/>
      </div>
      <div class="col-sm-4">
        <ifield label="Telephone" model="Resident.ContactDetails.Telephone"/>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Contact street address</legend>
    <div class="row">
      <div class="col-sm-4">
        <ifield label="Street address line 1" model="Resident.StreetAddress.AddressLine1"/>
        <lfield label="Street province" model="Resident.StreetAddress.Province" lookup="provinces" label-prop="true"/>
      </div>
      <div class="col-sm-4">
        <ifield label="Street address line 2" model="Resident.StreetAddress.AddressLine2"/>
        <ifield label="Street city" model="Resident.StreetAddress.City"/>
      </div>
      <div class="col-sm-4">
        <ifield label="Street suburb" model="Resident.StreetAddress.Suburb"/>
        <ifield label="Street postal code" model="Resident.StreetAddress.PostalCode"/>
      </div>
    </div>
  </fieldset>



  <fieldset>
  <legend>Contact postal address</legend>
    <!--<div class="form-group">-->
      <!--<div class="col-lg-7">-->
        <!--<input class="form-control  copy-street-address" ng-click="copyAddress(Resident.StreetAddress,Resident.PostalAddress)"-->
               <!--type="button" value="Postal Address Same As Street Address"/>-->
      <!--</div>-->
    <!--</div>-->
  <div class="row">
    <div class="col-sm-4">
      <ifield label="Postal address line 1" model="Resident.PostalAddress.AddressLine1"/>
      <lfield label="Postal province" model="Resident.PostalAddress.Province" lookup="provinces" label-prop="true"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Postal address line 2" model="Resident.PostalAddress.AddressLine2"/>
      <ifield label="Postal city" model="Resident.PostalAddress.City"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Postal suburb" model="Resident.PostalAddress.Suburb"/>
      <ifield label="Postal code" model="Resident.PostalAddress.PostalCode"/>
    </div>
  </div>
  </fieldset>

</div>