<div id="SS_resident_modal_object_entity" class="form-horizontal" role="form">
  <div class="row">
    <div class="col-sm-4">
      <!--<ifield label="Customs Client Number" model="data.Resident.Entity.CustomsClientNumber"/>-->
      
      <ifield label="Customer name" model="data.Resident.Entity.EntityName"/>
      <lfield label="Institutional sector" model="data.Resident.Entity.InstitutionalSector"
              lookup="institutionalSectors" label-prop="description" value-prop="code" squash-numerics="false"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Customer trading name" model="data.Resident.Entity.TradingName"/>
      <lfield label="Industrial classification" model="data.Resident.Entity.IndustrialClassification"
              lookup="industrialClassifications" label-prop="description" value-prop="code" squash-numerics="false"/>

    </div>
    <div class="col-sm-4">
      <ifield label="Registration number" model="data.Resident.Entity.RegistrationNumber"/>
      <ifield label="Tax number" model="data.Resident.Entity.TaxNumber"/>
      <ifield label="VAT number" model="data.Resident.Entity.VATNumber"/>
      <lfield label="Tax clearance certificate indicator"
              model="data.Resident.Entity.TaxClearanceCertificateIndicator" lookup="yesNo"/>
      <ifield label="Tax Clearance Certificate Reference" model="data.Resident.Entity.TaxClearanceCertificateReference" />
    </div>
  </div>
</div>
