<div id="SS_resident_modal_object_indiv" class="form-horizontal">

  <div class="row">
    <div class="col-sm-4">
      <ifield label="Surname" model="data.Resident.Individual.Surname"/>
      <lfield label="Gender" model="data.Resident.Individual.Gender" lookup="gender"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Name" model="data.Resident.Individual.Name"/>
      <datefield label="Date of Birth" model="data.Resident.Individual.DateOfBirth"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Identity Number" model="data.Resident.Individual.IDNumber"/>
      <ifield label="Tax number" model="data.Resident.Individual.TaxNumber"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <!--<ifield label="Customs Client Number" model="data.Resident.Individual.CustomsClientNumber"/>-->

      <lfield label="Tax clearance certificate indicator"
              model="data.Resident.Individual.TaxClearanceCertificateIndicator" lookup="yesNo"/>
      <ifield label="Tax clearance certificate reference"
              model="data.Resident.Individual.TaxClearanceCertificateReference"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Beneficiary ID1" model="data.Resident.Individual.BeneficiaryID1"/>
      <ifield label="Beneficiary ID2" model="data.Resident.Individual.BeneficiaryID2"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Beneficiary ID3" model="data.Resident.Individual.BeneficiaryID3"/>
      <ifield label="Beneficiary ID4" model="data.Resident.Individual.BeneficiaryID4"/>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      <ifield label="VAT number" model="data.Resident.Individual.VATNumber"/>
      <ifield label="Temporary Resident Permit Number" model="data.Resident.Individual.TempResPermitNumber"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Foreign Identity Number" model="data.Resident.Individual.ForeignIDNumber"/>
      <lfield label="Foreign Identity Country" model="data.Resident.Individual.ForeignIDCountry" lookup="countries"
              label-prop="name" value-prop="code" squash-numerics="true"/>
    </div>
    <div class="col-sm-4">
      <ifield label="Passport Number" model="data.Resident.Individual.PassportNumber"/>
      <lfield label="Passport Country" model="data.Resident.Individual.PassportCountry" lookup="countries"
              label-prop="name" value-prop="code" squash-numerics="true"/>
    </div>

  </div>
</div>