<div class="baseAccount form-horizontal">
  <div class="col-sm-4">
    <sfield label="Account Identifier" model="NonResident.AccountIdentifier" lookup="accountIdentifiersNonResident"></sfield>
    <ifield label="Account number" model="NonResident.AccountNumber"></ifield>
  </div>
</div>