<div id="SS_non_resident_modal_object_indiv" class="form-horizontal">
      <div class="col-sm-4">
        <ifield label="Name" model="data.NonResident.Individual.Name"></ifield>
        <sfield label="Gender" model="data.NonResident.Individual.Gender" lookup="gender"></sfield>
      </div>
      <div class="col-sm-4">
        <ifield label="Surname" model="data.NonResident.Individual.Surname"></ifield>
        <ifield label="Passport Number" model="data.NonResident.Individual.PassportNumber"></ifield>
        <lfield label="Passport Country" model="data.NonResident.Individual.PassportCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
      </div>
</div>
