<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Type</th>
    <th>Field</th>
    <th>Error Message</th>
    <th>Error Code</th>
  </tr>
  <tr ng-repeat="error in errors" ng-click="focusOnField(error)">
    <td>
      <b class="{{error.pClass}}">{{error.type}}</b>
    </td>
    <td>
      <b class="{{error.pClass}}">{{error.fieldName}}</b>
    </td>
    <td>
      {{error.msg}}
    </td>
    <td>
      {{error.obj.code}}
    </td>
  </tr>
</table>