<table
    class="table table-bordered table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th>Seq</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Description
      <button id="AddMoneyButton" ng-click="addMonetaryAmount()"
              ng-disabled="customData.readOnly"
              class='btn btn-primary btn-small pull-right'>Add monetary
        amount <i class="glyphicon glyphicon-plus-sign"></i>
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="moneyRow" ng-repeat="(ind, money) in data.MonetaryAmount" ng-click="openDetail('Money','general',money)"
      ng-class="{danger:isSectionInError('Money','general',money)}">
    <td>
      {{money.SequenceNumber.val? (money.SequenceNumber.val) : ( ind+1)}}
    </td>
    <td>
      <dfield value="money.CategoryCode"></dfield>
      {{money.CategorySubCode.val?'/ '+money.CategorySubCode.val:""}}
    </td>
    <td>
      {{money.ForeignValue.val | currency:data.FlowCurrency.val+" ":2}}
      {{money[map('LocalValue')].val?
      "("+(money[map('LocalValue')].val | currency: map('LocalCurrency')+" ":2)+")"
      :""
      }}
    </td>
    <td>
      <button class="btn btn-small pull-right"
              ng-disabled="(data.MonetaryAmount.length==1)||customData.readOnly"
              ng-click="removeMonetaryAmount(money, null, 'modalBopFormConfirmDel'); $event.stopPropagation();"
          >
        Remove <i class="glyphicon glyphicon-minus-sign"></i>
      </button>
      <table
          class="table table-bordered table-striped table-hover table-condensed monetaryAmountSummary">
        <tr class="form-group"
            ng-hide="money.Description.hide"
            ng-disabled="money.Description.disable">
          <td class="leftColumn">Description</td>
          <td>{{money.Description.val}}</td>
        </tr>
        <tr class="form-group"
            ng-hide="!money.ThirdParty.data.ThirdParty"
            ng-disabled="money.ThirdParty.disable"
            ng-click="openDetail('Money','thirdparty',money); $event.stopPropagation();"
            ng-class="{danger:isSectionInError('Money','thirdparty',money)}">
          <td>ThirdParty</td>
          <td>{{money.ThirdPartyDescription.val}}</td>
        </tr>
        <tr class="form-group"
            ng-hide="!money.ThirdParty.data.ThirdParty"
            ng-disabled="money.ThirdPartyContact.disable"
            ng-click="openDetail('Money','contact',money); $event.stopPropagation();"
            ng-class="{danger:isSectionInError('Money','contact',money)}">
          <td>ThirdPartyContact</td>
          <td>{{money.ThirdPartyContact.val}}</td>
        </tr>
        <tr class="form-group"
            ng-hide="money.ImportExport.hide"
            ng-disabled="money.ImportExport.disable"
            ng-click="openImportExportSummary(money); $event.stopPropagation();"
            ng-class="{danger:isSectionInError('ImportExport','general',money)}">
          <td>ImportExport</td>
          <td>{{money.ImportExport.val}}</td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="100%">
      <label class="col-sm-5 FldLabel"></label>
      {{moneyTotal(data)}} Allocated <span
        style="color: #cc0000;">{{moneytOutstanding(data,'OVER! ', '+ Remaining:')}}</span>
    </td>
  </tr>
  <tr ng-if="customData.TotalDomesticAmount">
    <td colspan="100%">
      <label class="col-sm-5 FldLabel"></label>
      {{totalRandValue(data) | currency : map('LocalCurrency') +' ' : 2}} Allocated
                   <span
                       style="color: #cc0000;">
                     {{randOutstanding(data)>0?"+ Remaining:":(randOutstanding(data)<0?"OVER!":"")}}
                   {{(randOutstanding(data)<0)?(-randOutstanding(data)):(randOutstanding(data))| currency : map('LocalCurrency') + ' ' : 2}}
                 </span>
    </td>
  </tr>
  </tfoot>
</table>


