select {
	height: 30px;
	background: #ebecee;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin-right:5px;
	margin-top: 0px;
	margin-bottom: 5px;
	
}

select.mediumpopupSelect {
	height: 30px;
	background: #ebecee;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin-right:5px;
	margin-top: 0px;
	margin-bottom: 5px;
}

select::-ms-expand {
    display: none;
}

select:focus {
    background: #ebecee;
    background-position: right 10px top 50%;
}


.profileSwitcherSelect {
    height: 30px;
	background: #ebecee;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	margin-right:5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tabButton{
	margin-top: -15px;
}

input[type="checkbox"].divRegistrationCheckBox {
	border: none;
	background: none;
}

.dataTables_length label select {
	background: #fff;
	background-size: 10px 10px;
	background-position-x: 50px;
}

select[name="InterestPaymentType"], select[name="AccountsToView"], select[name="ProfileID"], select[name="Account"] {
	height: 30px;
	background: #ebecee;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin-right:5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a .tabButton{
	width: 100%;	
}

.tabButton{
	width: 100%;
}

.tabButton:hover{
	width: 100%;
}

dd.checkbox .notifyMe {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 16px;
	width: 16px;
	margin-top: 9px;
	background-color: white;
	border: 0px;
}

dd input[type="checkbox"]  {
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    background: #ffffff;
    height:16px;	
    width: 16px;
}

input.checkbox {
	margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
	width: 16px;
	background-color: white;
	border: 0px;
}

dd input[type="radio"].divRegistrationRadioButton {
    display:inline-block;
    float:left;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    vertical-align:middle;
    height:25px;
    background-color: white;
	border: none;
}

#sltDate, #sltMonth, #sltYear {
	padding-right: 10px;
}

#DateofBirth_Year {
	padding-right: 5px;
}

#DateofBirth_Month {
	padding-right: 5px;
}

#DateofBirth {
	padding-right: 5px;
}

input[type="text"] {
	line-height: 30px !important;
}
