/*Style overrides for IE9*/

.tabFirstLevel    {
    border:10px;
    background: white none;
}

select {
	height: 30px;
	background: #ebecee;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin-right:5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

select::-ms-expand {
    display: none;
}

select:focus {
    background: #ebecee;
    background-position: right 10px top 50%;
}

.profileSwitcherSelect {
    height: 30px;
	background: #ebecee;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 14px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	margin-right:5px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.dataTables_length label select {
	background: #fff;
	background-size: 10px 10px;
	background-position-x: 50px;
}

