<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <!--transaction-->
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Reason for payment</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <mfield label="Total currency amount" model="data.TotalForeignValue" currency-model="data.FlowCurrency" parallel-model="data.MonetaryAmount && data.MonetaryAmount.length == 1
                 ? (data.TransactionCurrency.val == map('LocalCurrency') ? data.MonetaryAmount[0][map('RandValue')] : data.MonetaryAmount[0].ForeignValue)
                 : undefined" always-show="true" tooltip-title="data.TtlForeignValueTooltip.val" input-currency="true" ng-init="data.ForeignValueRatesInZAR.val = util.customData().currencyToZARRates"></mfield>


        <md-input-container class="md-block">
          <p ng-message class="errorMsg"> {{moneytOutstanding(data, 'Over by ', 'Under by ', data.ZAREquivalent.val ? data.ZAREquivalent.val : null, data.TransactionCurrency.val)}}</p>
        </md-input-container>

        <md-list class="md-dense" flex>
          <md-subheader class="md-no-sticky">Categories</md-subheader>
          <md-list-item class="md-3-line" ng-repeat="(ind, money) in data.MonetaryAmount" ng-click="null">
            <div class="md-list-item-text" layout="row">
              <span>{{ind + 1}} - </span>

              <span>{{money.CategoryCode.val}}{{money.CategorySubCode.val ? '/ ' + money.CategorySubCode.val : ""}} - </span>
              <!-- <p>{{ money.ForeignValue.val }}</p> -->
              <dfield value="data.TransactionCurrency"></dfield>
                <dfield value="money.ForeignValue" is-money-field="true"></dfield>
                <dfield value="money[map('RandValue')]" is-money-field="true"></dfield>
            </div>
          </md-list-item>

        </md-list>


        <md-card-actions>
          <md-button type="button" ng-click="addMonetaryAmount({
                              CategoryCode: null,
                              CategorySubCode: null,
                              ImportExport: [],
                              ThirdParty: { Individual: {} }
                            })" class="md-raised md-primary">
            Add reason
          </md-button>
        </md-card-actions>



      </md-card-content>
    </md-card>

    <!-- </div>

  <div flex-xs flex-gt-xs="50" layout="row"> -->
    <!--additional info (All fields)-->
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Additional information</span>
          <span class="md-subheading">Please verify the following detail(s) are not missing and are up to date.</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div ng-include="config.partialsPath + 'allFields.html'"></div>

      </md-card-content>
    </md-card>

  </div>

  <div flex-xs flex-gt-xs="50" layout="column">

    <md-card ng-repeat="(ind, money) in data.MonetaryAmount">
      <md-card-title>
        
        <md-card-title-text>
          Monetary Details
          <span class="md-subheading">
            <span class="acc-hdr-el acc-hdr-ico">{{ind + 1}}</span>

            <span>
              <b class="acc-hdr-el">
                <dfield value="money.CategoryCode"></dfield>
                <span ng-hide="money.CategoryCode.val">***</span> {{money.CategorySubCode.val ? '/ ' + money.CategorySubCode.val : ""}}
              </b>
            </span>

            <span>
              <b class="acc-hdr-el">
                <dfield value="data.TransactionCurrency"></dfield>
                <dfield value="money.ForeignValue" is-
                money-field="true"></dfield>
                <dfield value="money[map('RandValue')]" is-money-field="true"></dfield>
              </b>
            </span>
            <span>
              <b class="acc-hdr-el">
                <dfield value="money.ThirdPartyContactLabel"></dfield>
              </b>
            </span>
          </span>
        </md-card-title-text>
      </md-card-title>


      <md-card-content>

        <div layout="column" md-block flex="100" ng-include="config.partialsPath + 'monetary/primary.html'">primary fields...</div>

        <div layout="column" md-block flex="100" ng-include="config.partialsPath + getDetailTemplate('Money','general')"></div>

        <div layout="column" md-block flex="100" ng-include="config.partialsPath + 'monetary/thirdparty.html'">3rd party fields...</div>

        <div layout="column" md-block flex="100" ng-include="config.partialsPath + 'monetary/thirdparty_contact.html'">3rd party contact fields...</div>

        <div layout="column" md-block flex="100" ng-include="config.partialsPath + config.importexport_summary" ng-hide="money.ImportExport.hide"></div>

        <ifield label="Auth Ruling Section" model="money[map('Regulator')+'Auth'].RulingsSection"></ifield>

        <ifield label="Auth Application Number" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"></ifield>
        <datefield label="Auth ApplicationDate" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"></datefield>

        <div layout-gt-xs="row" ng-hide="money[map('Regulator')+'Auth'].IsSARBAuth.hide">
          <label>
            SARB Auth Application
          </label>
          <span>
            <input type="checkbox" ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val" ng-change="revalidate()" style="width: auto;" ng-true-value="'Y'">
            <span ng-show="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].val && money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].val || money[map('Regulator')+'Auth'].IsSARBAuth.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error">
              Keep?
            </span> (optional)
          </span>
        </div>

        <ifield label="SARB Auth Reference Number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>

        <fieldset ng-show="money[map('Regulator')+'Auth'].IsSARBAuth.val || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error">

          <ifield label="SARB Auth Number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']" aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error ? '' : '(optional)' }}"></ifield>
          <span ng-init="maxAuthDate = util.date.now()">
            <datefield label="SARB Auth Date" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate']" max="maxAuthDate" aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error ? '' : '(optional)' }}"></datefield>
          </span>
        </fieldset>


      </md-card-content>

      <md-card-actions>
        <md-button class="md-title" ng-click="removeMonetaryAmount(money, ie);">➖ Remove reason</md-button>
      </md-card-actions>

    </md-card>

  </div>
  <!--monetary-->




  <!--ad hoc-->
  <!-- <div layout-gt-xs="row">
  <div>
    <rfield label="Confirm rate"
            model="data.RateConfirmation"
            lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
            tooltip-title="'Confirm your rate prior to dealing?'" ></rfield>

    <rfield label="Include fees?"
            model="data.FeesIncluded"
            lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
            tooltip-title="'Does the amount entered include the Investec fees?'" ></rfield>

    <sfield label="Charge allocation"
            model="data.PaymentDetail.Charges"
            lookup-values="['SHA - Charges are shared by the beneficiary and applicant', 'OUR - All charges including offshore charges are paid by the applicant']" ></sfield>
  </div>
</div> -->




</md-content>


<script type="text/ng-template" id="modalBopFormConfirmDel.html">
  <span class="inv-modal">
    <div class="modal-header">
      <button class="btn btn-default"
              type="button"
              ng-click="modalCancel()">
        &times;
      </button>
      <b class="modal-title" id="modalIdLabel">Delete reason</b>
    </div>

    <div class="modal-body">

      <p>
        <div class="bopModDel"></div>
        <b>Category</b> will be deleted from your list of reasons. Are you sure?
      </p>
    </div>

    <div class="modal-footer">
      <button class="btn"
              type="button"
              ng-click="modalCancel()">
        Cancel
      </button>
      <button class="btn"
              type="button"
              ng-click="modalOk()">
        Delete
      </button>
    </div>
  </span>
</script>