<!-- <rfield label="{{Flow==='IN' ? 'Is the source of your funds from your SA foreign currency account (FCA/CFC)?' : 'Foreign currency account?'}}"
        model="data.IsInvestecFCA" lookup-values="[{value:'Y',label:'Yes'},{value:'N',label:'No'}]" is-show-override="!(data.InvestecFCA.error || Flow==='IN')"
        layout="{{Flow==='IN' ? 'short' : null}}"></rfield>

<ifield label="{{Flow==='IN' ? 'FCA/CFC number to be debited' : 'Foreign currency account number'}}" model="data.InvestecFCA"></ifield>


<lfield label="{{Flow==='IN' ? 'Source' : 'Destination'}} of funds" model="data.LocationCountry" lookup="countries" label-prop="name"
        value-prop="code" squash-numerics="true" is-show-override="false" tooltip-title="{{Flow==='IN' ? 'From which country did you receive these funds?' : ''}}"></lfield> -->

<sfield label="Account holder Status" model="data.AccountHolderStatus" lookup-values="['South African Resident','Non Resident','Foreign Temporary Resident']"
        is-show-override="true"></sfield>

<!--Transaction-->
<datefield label="date" model="data.ValueDate" is-show-override="true"></datefield>

<lfield label="Originating country" model="data.OriginatingCountry" lookup="countries" label-prop="name" value-prop="code"
        squash-numerics="true" is-show-override="true"></lfield>
<ifield label="Originating bank" model="data.OriginatingBank" is-show-override="true"></ifield>

<ifield label="Branch code" model="data.BranchCode" is-show-override="true"></ifield>

<ifield label="Branch name" model="data.BranchName" is-show-override="true"></ifield>

<lfield label="Receiving country" model="data.ReceivingCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"
        is-show-override="true"></lfield>

<ifield label="Receiving bank" model="data.ReceivingBank" is-show-override="true"></ifield>

<ifield label="Corresponding bank" model="data.CorrespondentBank" is-show-override="true"></ifield>

<lfield label="Corresponding country" model="data.CorrespondentCountry" lookup="countries" label-prop="name" value-prop="code"
        squash-numerics="true" is-show-override="true"></lfield>

<ifield label="Hub code" model="data.HubCode" is-show-override="true"></ifield>
<ifield label="Hub name" model="data.HubName" is-show-override="true"></ifield>

<ifield label="Account holder account number" model="Resident.AccountNumber" is-show-override="true"></ifield>

<span ng-show="data.Resident.Type.val == 'Entity'">
    <ifield label="Account holder name" model="data.Resident.Entity.EntityName"
            is-show-override="true" ></ifield>

    <lfield label="Institutional sector"
            model="data.Resident.Entity.InstitutionalSector"
            lookup="institutionalSectors"
            label-prop="description"
            value-prop="code"
            squash-numerics="false"
            is-show-override="true" ></lfield>

    <ifield label="Account holder trading name"
            model="data.Resident.Entity.TradingName"
            is-show-override="true" ></ifield>

    <lfield label="Account holder Industrial classification"
            model="data.Resident.Entity.IndustrialClassification"
            lookup="industrialClassifications"
            label-prop="description"
            value-prop="code"
            squash-numerics="false"
            is-show-override="true" ></lfield>

    <ifield label="Account holder Registration number"
            model="data.Resident.Entity.RegistrationNumber"
            is-show-override="true" ></ifield>

    <ifield label="Account holder tax number"
            model="data.Resident.Entity.TaxNumber" ></ifield>

    <ifield label="Account holder VAT number"
            model="data.Resident.Entity.VATNumber" ></ifield>

    <ifield label="Customs client number"
            model="data.Resident.Entity.CustomsClientNumber"
            max-len="8" ></ifield>

    <sfield label="Tax Clearance Certificate?"
            lookup="yesNo"
            model="data.Resident.Entity.TaxClearanceCertificateIndicator"
            is-show-override="true" ></sfield>

    <ifield label="Tax Clearance Certificate number"
            model="data.Resident.Entity.TaxClearanceCertificateReference"
            is-show-override="true"
            placeholder="e.g. 0700/3/2016/A000033069"
            max-len="30" ></ifield>


    <lfield label="Street address country"
            model="data.Resident.Entity.StreetAddress.Country"
            lookup="countries"
            label-prop="name"
            value-prop="code"
            squash-numerics="true"
            is-show-override="true" ></lfield>

    <!-- <span ng-hide="data.Resident.Entity.StreetAddress.Mandate.hide">
      <div class="row fld">
        <label class="col-md-3 FldLabel">
          <span>Foreign address mandate</span>
</label>

<div class="col-md-9 col-lg-9">
        &nbsp;<input type="checkbox" style="width: auto;" ng-model="data.Resident.Entity.StreetAddress.Mandate.val" ng-change="revalidate()"
                ng-true-value="'ACCEPT'" name="Resident.Entity.StreetAddress.Mandate" ng-disabled="$root.isReadOnly() || data.Resident.Entity.StreetAddress.Mandate.disabled">        Yes, I accept
        <p ng-show="!$root.customData.msgHide && (data.Resident.Entity.StreetAddress.Mandate.error || data.Resident.Individual.Entity.Mandate.warning)">
                <span class="errorMsg" ng-repeat="itm in $root.errMsgCopyOnly(data.Resident.Entity.StreetAddress.Mandate.msg)"><b>X</b>{{itm}}<br></span>
        </p>
</div>
</div>


<div class="clear"></div>
</span> -->

<ifield label="Street address 1" model="data.Resident.Entity.StreetAddress.AddressLine1" is-show-override="true"></ifield>
<ifield label="Street address 2" model="data.Resident.Entity.StreetAddress.AddressLine2" is-show-override="true"></ifield>

<ifield label="Street address suburb" model="data.Resident.Entity.StreetAddress.Suburb" is-show-override="customData.snapShot.Resident.Entity.StreetAddress.Suburb"></ifield>

<ifield label="Street address city" model="data.Resident.Entity.StreetAddress.City" is-show-override="true"></ifield>

<ifield label="Street address postal code" model="data.Resident.Entity.StreetAddress.PostalCode" is-show-override="customData.snapShot.Resident.Entity.StreetAddress.PostalCode"></ifield>

<sfield label="Street address province" model="data.Resident.Entity.StreetAddress.Province" lookup="provinces" label-prop="true"
        is-show-override="customData.snapShot.Resident.Entity.StreetAddress.Province"></sfield>


<ifield label="Postal address 1" model="data.Resident.Entity.PostalAddress.AddressLine1" is-show-override="true"></ifield>
<ifield label="Postal address 2" model="data.Resident.Entity.PostalAddress.AddressLine2" is-show-override="true"></ifield>
<ifield label="Postal address suburb" model="data.Resident.Entity.PostalAddress.Suburb" is-show-override="true"></ifield>
<ifield label="Postal address city" model="data.Resident.Entity.PostalAddress.City" is-show-override="true"></ifield>
<ifield label="Postal address postal code" model="data.Resident.Entity.PostalAddress.PostalCode" is-show-override="true"></ifield>

<sfield label="Postal address province" model="data.Resident.Entity.PostalAddress.Province" lookup="provinces" label-prop="true"
        is-show-override="true"></sfield>


<ifield label="Contact first name" model="data.Resident.Entity.ContactDetails.ContactName" is-show-override="true"></ifield>
<ifield label="Contact surname" model="data.Resident.Entity.ContactDetails.ContactSurname" is-show-override="true"></ifield>
<ifield label="Contact email" model="data.Resident.Entity.ContactDetails.Email" is-show-override="true"></ifield>
<ifield label="Contact telephone" model="data.Resident.Entity.ContactDetails.Telephone" is-show-override="true"></ifield>
<ifield label="Contact fax" model="data.Resident.Entity.ContactDetails.Fax" is-show-override="true"></ifield>
</span>

<span ng-show="data.Resident.Type.val == 'Individual'">
    <ifield label="Account holder name" model="data.Resident.Individual.Name"
            is-show-override="true" ></ifield>
    <ifield label="Account holder surname" model="data.Resident.Individual.Surname"
            is-show-override="true" ></ifield>


    <ifield label="Account holder identity number"
            model="data.Resident.Individual.IDNumber"
            is-show-override="true" ></ifield>

    <sfield label="Account holder gender" model="data.Resident.Individual.Gender"
            lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"
            is-show-override="true" ></sfield>

    <span ng-init="dobToday = $root.util.date.addYear(-18)">
      <datefield label="Account holder date of Birth"
                 model="data.Resident.Individual.DateOfBirth"
                 mode="year"
                 dt="dobToday"
                 is-show-override="true" ></datefield>
    </span>

<ifield label="Account holder tax number" model="data.Resident.Individual.TaxNumber" is-show-override="true"></ifield>
<ifield label="Customs client number" model="data.Resident.Individual.CustomsClientNumber" max-len="8"></ifield>

<sfield label="Tax Clearance Certificate?" lookup="yesNo" model="data.Resident.Individual.TaxClearanceCertificateIndicator"
        is-show-override="true"></sfield>

<ifield label="Tax Clearance Certificate number" model="data.Resident.Individual.TaxClearanceCertificateReference" placeholder="e.g. 0700/3/2016/A000033069"
        max-len="30" is-show-override="true"></ifield>

<ifield label="Account holder beneficiary ID1" model="data.Resident.Individual.BeneficiaryID1" is-show-override="true"></ifield>
<ifield label="Account holder beneficiary ID2" model="data.Resident.Individual.BeneficiaryID2" is-show-override="true"></ifield>
<ifield label="Account holder beneficiary ID3" model="data.Resident.Individual.BeneficiaryID3" is-show-override="true"></ifield>
<ifield label="Account holder beneficiary ID4" model="data.Resident.Individual.BeneficiaryID4" is-show-override="true"></ifield>
<ifield label="Account holder VAT number" model="data.Resident.Individual.VATNumber" is-show-override="true"></ifield>
<ifield label="Account holder temporary resident permit number" model="data.Resident.Individual.TempResPermitNumber" is-show-override="true"></ifield>
<datefield label="Account holder temporary resident permit expiry" model="data.Resident.Individual.TempResExpiryDate" is-show-override="true"></datefield>
<ifield label="Account holder foreign identity number" model="data.Resident.Individual.ForeignIDNumber" is-show-override="true"></ifield>
<lfield label="Account holder foreign identity country" model="data.Resident.Individual.ForeignIDCountry" lookup="countries"
        label-prop="name" value-prop="code" squash-numerics="true" is-show-override="true"></lfield>

<ifield label="Passport number" model="data.Resident.Individual.PassportNumber"></ifield>

<lfield label="Passport country" model="data.Resident.Individual.PassportCountry" lookup="countries" label-prop="name" value-prop="code"
        squash-numerics="true"></lfield>

<datefield label="Passport expiry date" model="data.Resident.Individual.PassportExpiryDate"></datefield>

<lfield label="Street address country" model="data.Resident.Individual.StreetAddress.Country" lookup="countries" label-prop="name"
        value-prop="code" squash-numerics="true" is-show-override="true"></lfield>

<!-- <span ng-hide="data.Resident.Individual.StreetAddress.Mandate.hide">
      <div class="row fld">
        <div>
          <label class="col-md-3 FldLabel">
            <span>Foreign address mandate</span>
          </label>

          <div class="col-md-9 col-lg-9">
            &nbsp;<input type="checkbox"
                         style="width: auto;"
                         ng-model="data.Resident.Individual.StreetAddress.Mandate.val"
                         ng-change="revalidate()"
                         ng-true-value="'ACCEPT'"
                         name="Resident.Individual.StreetAddress.Mandate"
                         ng-disabled="$root.isReadOnly() || data.Resident.Individual.StreetAddress.Mandate.disabled"> Yes, I accept
            <p ng-show="!$root.customData.msgHide && (data.Resident.Individual.StreetAddress.Mandate.error || data.Resident.Individual.StreetAddress.Mandate.warning)">
              <span class="errorMsg" ng-repeat="itm in $root.errMsgCopyOnly(data.Resident.Individual.StreetAddress.Mandate.msg)"><b>X</b>{{itm}}<br></span>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-lg-3">&nbsp;</div>
        <div class="col-md-9 col-lg-9">{{FTRAddressMandate}}</div>
      </div>
      <div class="clear"></div>
    </span>

    <ifield label="Street address 1"
            model="data.Resident.Individual.StreetAddress.AddressLine1"
            is-show-override="true" ></ifield>

    <ifield label="Street address 2"
            model="data.Resident.Individual.StreetAddress.AddressLine2"
            is-show-override="true" ></ifield>

    <ifield label="Street address suburb"
            model="data.Resident.Individual.StreetAddress.Suburb"
            is-show-override="customData.snapShot.Resident.Individual.StreetAddress.Suburb" ></ifield>

    <ifield label="Street address city"
            model="data.Resident.Individual.StreetAddress.City"
            is-show-override="true" ></ifield>

    <ifield label="Street address postal code"
            model="data.Resident.Individual.StreetAddress.PostalCode"
            is-show-override="customData.snapShot.Resident.Individual.StreetAddress.PostalCode" ></ifield>

    <sfield label="Street address province"
            model="data.Resident.Individual.StreetAddress.Province"
            lookup="provinces"
            label-prop="true"
            is-show-override="customData.snapShot.Resident.Individual.StreetAddress.Province" ></sfield>

    <ifield label="Postal address 1"
            model="data.Resident.Individual.PostalAddress.AddressLine1"
            is-show-override="true" ></ifield>
    <ifield label="Postal address 2"
            model="data.Resident.Individual.PostalAddress.AddressLine2"
            is-show-override="true" ></ifield>
    <ifield label="Postal address suburb"
            model="data.Resident.Individual.PostalAddress.Suburb"
            is-show-override="true" ></ifield>
    <ifield label="Postal address city"
            model="data.Resident.Individual.PostalAddress.City"
            is-show-override="true" ></ifield>
    <ifield label="Postal address postal code"
            model="data.Resident.Individual.PostalAddress.PostalCode"
            is-show-override="true" ></ifield>

    <sfield label="Postal address province"
            model="data.Resident.Individual.PostalAddress.Province"
            lookup="provinces"
            label-prop="true"
            is-show-override="true" ></sfield>

    <ifield label="Contact first name"
            model="data.Resident.Individual.ContactDetails.ContactName"
            is-show-override="true" ></ifield>
    <ifield label="Contact surname"
            model="data.Resident.Individual.ContactDetails.ContactSurname"
            is-show-override="true" ></ifield>
    <ifield label="Contact email"
            model="data.Resident.Individual.ContactDetails.Email"
            is-show-override="true" ></ifield>
    <ifield label="Contact telephone"
            model="data.Resident.Individual.ContactDetails.Telephone"
            is-show-override="true" ></ifield>
    <ifield label="Contact fax"
            model="data.Resident.Individual.ContactDetails.Fax"
            is-show-override="true" ></ifield>
  </span> -->


<sfield label="{{data.NonResidentLabel.val}} Status" model="data.CounterpartyStatus" lookup-values="['South African Resident', 'Non Resident', 'Foreign Temporary Resident']"
        is-show-override="true"></sfield>

<sfield label="{{data.NonResidentLabel.val}} account identifier" model="NonResident.AccountIdentifier" lookup="accountIdentifiersNonResident"
        is-show-override="true"></sfield>

<ifield label="{{data.NonResidentLabel.val}} account number" model="NonResident.AccountNumber" is-show-override="true"></ifield>

<span ng-show="data.NonResident.Individual">
    <ifield label="{{data.NonResidentLabel.val}} name" model="data.NonResident.Individual.Name"
            is-show-override="true" ></ifield>
    <ifield label="{{data.NonResidentLabel.val}} surname" model="data.NonResident.Individual.Surname"
            is-show-override="true" ></ifield>
            
    <sfield label="{{data.NonResidentLabel.val}} gender" model="data.NonResident.Individual.Gender"
            lookup-values="[{value:'M',label:'Male'},{value:'F',label:'Female'}]"
            is-show-override="true" ></sfield>
    <ifield label="{{data.NonResidentLabel.val}} Passport number" model="data.NonResident.Individual.PassportNumber"
            is-show-override="true" ></ifield>
    <lfield label="{{data.NonResidentLabel.val}} Passport country"
            model="data.NonResident.Individual.PassportCountry"
            lookup="countries"
            label-prop="name"
            value-prop="code"
            squash-numerics="true"
            is-show-override="true" ></lfield>
    <rfield label="{{data.NonResidentLabel.val}} Mutual Party?"
            model="data.NonResident.Individual.IsMutualParty"
            lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
            is-show-override="true" ></rfield>
  </span>

<span ng-show="data.NonResident.Entity">
    <ifield label="{{data.NonResidentLabel.val}} Legal entity name" model="data.NonResident.Entity.EntityName"
            is-show-override="true" ></ifield>
    <ifield label="{{data.NonResidentLabel.val}} Card Merchant name"
            model="data.NonResident.Entity.CardMerchantName"
            is-show-override="true" ></ifield>
    <ifield label="{{data.NonResidentLabel.val}} Card Merchant code"
            model="data.NonResident.Entity.CardMerchantCode"
            is-show-override="true" ></ifield>

    <rfield label="{{data.NonResidentLabel.val}} is applicant (i.e. mutual party)?"
            model="data.NonResident.Entity.IsMutualParty"
            lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
            is-show-override="true" ></rfield>
  </span>

<span ng-hide="data.NonResident.Individual || data.NonResident.Entity">
    <sfield label="{{data.NonResidentLabel.val}} Exception"
            model="data.NonResident.Exception.ExceptionName"
            lookup="nonResidentExceptions"
            is-show-override="true" ></sfield>
  </span>

<!--<legend>Contact details</legend>-->
<ifield label="{{data.NonResidentLabel.val}} address line 1" model="NonResident.Address.AddressLine1" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} address line 2" model="NonResident.Address.AddressLine2" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} suburb" model="NonResident.Address.Suburb" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} Zip code" model="NonResident.Address.PostalCode" is-show-override="true"></ifield>

<ifield label="{{data.NonResidentLabel.val}} state" model="NonResident.Address.State" is-show-override="true"></ifield>

<ifield label="{{data.NonResidentLabel.val}} city" model="NonResident.Address.City" is-show-override="true"></ifield>

<lfield label="{{data.NonResidentLabel.val}} country" model="NonResident.Address.Country" lookup="countries" label-prop="name"
        value-prop="code" squash-numerics="true" is-show-override="true"></lfield>


<ifield label="SWIFT" model="data.PaymentDetail.SWIFTDetails" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} SWIFTBIC" model="data.PaymentDetail.BeneficiaryBank.SWIFTBIC" is-show-override="!data.PaymentDetail.BeneficiaryBank.SWIFTBIC.hide"></ifield>
<ifield label="{{data.NonResidentLabel.val}} Bank name" model="data.PaymentDetail.BeneficiaryBank.BankName" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} Branch code" model="data.PaymentDetail.BeneficiaryBank.BranchCode" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} address" model="data.PaymentDetail.BeneficiaryBank.Address" is-show-override="true"></ifield>
<ifield label="{{data.NonResidentLabel.val}} city" model="data.PaymentDetail.BeneficiaryBank.City" is-show-override="true"></ifield>

<ifield label="Correspondent Bank?" model="data.PaymentDetail.IsCorrespondentBank" is-show-override="true" lookup-values="[{value:'Y',label:'Yes'},{value:'N',label:'No'}]"></ifield>

<ifield label="Correspondent Bank SWIFTBIC" model="data.PaymentDetail.CorrespondentBank.SWIFTBIC" is-show-override="!data.PaymentDetail.CorrespondentBank.SWIFTBIC.hide"></ifield>
<ifield label="Correspondent Bank name" model="data.PaymentDetail.CorrespondentBank.BankName" is-show-override="true"></ifield>
<ifield label="Correspondent Bank Branch code" model="data.PaymentDetail.CorrespondentBank.BranchCode" is-show-override="true"></ifield>
<ifield label="Correspondent Bank address" model="data.PaymentDetail.CorrespondentBank.Address" is-show-override="true"></ifield>
<ifield label="Correspondent Bank city" model="data.PaymentDetail.CorrespondentBank.City" is-show-override="true"></ifield>
</span>