<div class="container">
  <div>
    <div class="panel panel-default" ng-show="customData.errorListShow">
      <error-list></error-list>
    </div>
    <!--transaction-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div>
          <span class="title">Reason for payment (BOP)</span>
        </div>
      </div>
      <hr/>

      <div class="panel-body">

        <subheader class="subheader">Please confirm your reason for payment and provide any additional details
          where necessary.</subheader>
        <uib-accordion close-others="true">
          <div uib-accordion-group ng-repeat="(ind, money) in data.MonetaryAmount" is-open="money.isAccGrpOpen" >
            <uib-accordion-heading layout-margin>
              <div ng-click="money.isAccGrpOpen ? $event.stopPropagation() || $event.preventDefault():setCurrentMoneyInd(ind)">
                <div class="reasonHeading">
                  Reason for payment selected
                  <span class="errorMsg" ng-if="!customData.msgHide && (
                     isSectionInError('Money', 'general', money)
                  || isSectionInError('Money', 'importExport', money)
                  || isSectionInError('Money', 'thirdparty', money)
                  || isSectionInError('Money', 'contact', money)
                  || isSectionInError('Money', 'contactStreet', money)
                  || isSectionInError('Money', 'contactPostal', money))">There are issues with this reason for payment {{money.isAccGrpOpen?'':'(expand for details)'}}</span>
                </div>
                <div class="moneyRow" ng-include="config.partialsPath + 'monetary/primary.html'">primary
                  fields...</div>
    
              </div>
            </uib-accordion-heading>
            <div class="accordianBody">
              <div class="row">
                <div class="col-md-8" ng-hide="money[map('Regulator')+'Auth'].IsSARBAuth.hide && !(money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber'].error || money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber'].error || money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate'].error)">
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" ng-model="money.haveAuth.val" ng-click="clearAuth(money)">
                              <i class="material-icons add-reason-circle-border" ng-class="{isIconActive:money.haveAuth.val}">add_circle_outline </i>
                              Add authorisation details (if required)
                          </label>
                        </div>
                        <div class="errorMsg" ng-show="!customData.msgHide && (money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber'].error || money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber'].error || money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate'].error)">
                          Authorisation is required.
                        </div>
                </div>
              </div>
              <div class="row" ng-show="money.haveAuth.val">
                <div class="col-md-8" ng-hide="money[map('Regulator')+'Auth'].IsSARBAuth.hide">
                  <!-- <label>
                    Choose an authorisation type: &nbsp;&nbsp;
                  </label> -->
                  <div class="btn-group">
                    <sfield label="Authorisation Issuer" model="money[map('Regulator')+'Auth'].AuthIssuer" lookup="AuthIssuers"></sfield>
                    <rfield label="Select authorisation type" model="money[map('Regulator')+'Auth'].IsSARBAuth" lookup-values="[{value:'Y',label:'SARB'},{value:'', label: 'Authorised Dealer (AD)'}]">
                      
                    </rfield>

                    <!-- <label>
                      <input type="radio" ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val" value="Y" ng-change="revalidate()">{{map('Regulator')}}
                    </label>
                    <label>
                      <input type="radio" ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val" value="" ng-change="revalidate()">
                      Authorised Dealer ({{map('DealerPrefix')}}) -->
                      <!-- {{map('DealerPrefix')}} -->
                    <!-- </label> -->

                    <!-- <label class="btn btn-primary" ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val" uib-btn-radio="'Y'">{{map('Regulator')}}</label>
                          <label class="btn btn-primary" ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val" uib-btn-radio="">{{map('DealerPrefix')}}</label> -->

                  </div>

                </div>
              </div>
              <div class="row" ng-show="money.haveAuth.val">

               <!-- || (money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber'].error || money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber'].error || money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate'].error)"> -->

                <div class="col-md-8">

                  <ifield label="Auth Ruling Section" model="money[map('Regulator')+'Auth'].RulingsSection"></ifield>

                  <fieldset ng-show="money[map('Regulator')+'Auth'].IsSARBAuth.val == 'Y'">
                     <!-- || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber'].error"> -->
                    <ifield label="SARB Auth Reference Number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>
                    <ifield label="SARB Auth Application Number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']"></ifield>
                    <!-- <span ng-init="maxAuthDate = util.date.now()">
                      <datefield label="SARB Auth Date" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate']" max="maxAuthDate" aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error ? '' : '(optional)' }}"></datefield>
                    </span> -->
                  </fieldset>

                  <fieldset ng-show="money[map('Regulator')+'Auth'].IsSARBAuth.val == ''"> 
                    <!-- || money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber'].error || money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate'].error"> -->
                    <ifield label="Internal Auth Number" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"></ifield>
                    <datefield label="Internal Auth Number Date" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"></datefield>
                  </fieldset>


                </div>
              </div>

              <!-- <div class="row">
                <div class="col-md-8 additionalDetails">
                  Additional details
                </div>
              </div>   -->
              <div class="row">

                <div class="col-md-8">

                  <div class="moneyGeneral" ng-include="config.partialsPath + getDetailTemplate('Money','general')"></div>

                </div>
              </div>

                  <div class="ieRow" ng-include="config.partialsPath + config.importexport_summary" ng-hide="money.ImportExport.hide"></div>

              <div class="row">

                <div class="col-md-8">

                  <fieldset ng-hide="money.ThirdPartyKind.hide">
                      <div class="checkbox">
                          <label ng-class="{danger:isSectionInError('Money','thirdparty',money)}">
                              <input type="checkbox" ng-model="have3rdParty" ng-change="setAdhoc3rdPartyType(money.ThirdPartyKind,null); revalidate();">
                              <i class="material-icons add-reason-circle-border" ng-class="{isIconActive:have3rdParty}">add_circle_outline </i>
                              Add third-party details (if required)
                          </label>
                        </div>

                    <div class="errorMsg" ng-if="!customData.msgHide && (
                      money.ThirdParty.Entity.error
                    || money.ThirdParty.Individual.error
                    || isSectionInError('Money', 'thirdparty', money)
                    || isSectionInError('Money', 'contact', money)
                    || isSectionInError('Money', 'contactStreet', money)
                    || isSectionInError('Money', 'contactPostal', money))">Third-Party Details are required or there are errors.</div>
                    <div ng-show="have3rdParty">
                      <rfield class="thirdPartyKind" label="Select third-party type" model="money.ThirdPartyKind" lookup-values="['Individual','Entity']"
                        update-fn="setAdhoc3rdPartyType" optional="yes"></rfield>

                      <div ng-include="config.partialsPath + 'monetary/thirdparty.html'">3rd
                        party fields...</div>

                      <div ng-include="config.partialsPath + 'monetary/thirdparty_contact.html'">3rd
                        party contact fields...</div>
                    </div>
                  </fieldset>
                </div>

              </div>

            </div>
          </div>

        </uib-accordion>

        <div class="btn-add-cc-div">
          <div class="btn-add-cc" ng-click="addMonetaryAmount({
                CategoryCode: null,
                CategorySubCode: null,
                ImportExport: []
              });">
            <span class="circleBorderReason">
              <i class="material-icons add-reason-circle-border">
                add_circle_outline
              </i>
            </span>
            <span class="btn-add-cc-span">
              Add another reason for payment
            </span>
          </div>
        </div>
        <div class="clearfix"></div>
        <div>
            
          <div class="title total row">
            <div class="col-md-9 totalTitle">Total amount</div>
            <div class="col-md-3 totalValue" ng-hide="customData.inZAR">{{(data.TotalForeignValue.val| currency:data.FlowCurrency.val+" ":2).replace(',',' ')}}
            </div>
            <div class="col-md-3 totalValue zarEquivalent" ng-show="customData.inZAR">{{(data.ZAREquivalent.val| currency:'ZAR ':2).replace(',',' ')}} <sub>(in ZAR equivalent)</sub>
            </div>
          </div>
          <div class="totalError errorMsg row" ng-repeat="msg in errMsgCopyOnly(data.TotalForeignValue.msg)">
              <div class="col-md-offset-9 col-md-3">
                {{msg}}
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>




    <div class="panel panel-default additionalInformation" ng-show="hasAdditionalInfo()">
      <div class="panel-heading">
        <div>
          <span class="headline">Additional information</span>
          <span class="ai-subheading">Please verify the following detail(s) are not missing and are up to date.</span>
        </div>
      </div>
      <div class="panel-body">
        <div ng-include="config.partialsPath + 'allFields.html'" id="allFields"></div>

      </div>
    </div>

    <div class="panel panel-default requiredDocuments">
       <!-- ng-if="hasRequiredDocs()"> -->
      <div class="panel-heading">
        <div>
          <div class="heading">Required documents<sup>*</sup></div>
          <div class="doc-subheading1">Make sure that your documentation is legible and saved in one of the following formats: PDF, PNG, or JPEG and no bigger than 4MB per document</div>
          <div class="doc-subheading2"><sup>*</sup> You can upload your documents one at a time, or as a single document</div>
        </div>
      </div>
      <div class="panel-body panel-upload-doc">
        <div class="errorMsg" ng-if="(!customData.msgHide)&&hasRequiredDocs()&&!hasUploadedDoc()">
          Error: You need to upload at least one file.
        </div>

        <div ng-repeat="doc in getRequiredDocuments()" layout="column" class="fileList"
          ng-mouseover="doc.showDelete = true;"
          ng-mouseleave="doc.showDelete = false;">
          <div class="docListClass" ng-show="!(doc.errorMsg || doc.hasError)" ng-class="{docSuccess:(doc.file&&doc.file.success)}">{{doc.code}}</div>

          <ffield model="doc"></ffield>

        </div>
        <div></div>

      </div>
      <div class="panel-footer">

        <div class="btn-add-doc" ng-click="addDocument()">
          <div class="addDocsIcon">
            <i class="material-icons">add_circle_outline</i>
          </div>
          <div class="addDocsText">
              Add more documents
          </div>

        </div>
      </div>
    </div>




</div>



<script type="text/ng-template" id="modalBopFormConfirmDel.html">
  <span class="inv-modal">
<div class="modal-header">
<button class="btn btn-default"
      type="button"
      ng-click="$ctrl.cancel()">
&times;
</button>
<b class="modal-title" id="modalIdLabel">Delete reason</b>
</div>

<div class="modal-body">

<p>
<div class="bopModDel"></div>
<b>Category</b> will be deleted from your list of reasons. Are you sure?
</p>
</div>

<div class="modal-footer">
<button class="btn"
      type="button"
      ng-click="$ctrl.cancel()">
Cancel
</button>
<button class="btn"
      type="button"
      ng-click="$ctrl.ok()">
Delete
</button>
</div>
</span>
</script>