<div class="baseAccount form-horizontal">
  <div class="col-sm-4">
    <afield label="Account Identifier" value="NonResident.AccountIdentifier"></afield>
    <afield label="Account number" value="NonResident.AccountNumber"></afield>
  </div>
</div>