<div class="form-horizontal">
<fieldset>
  <legend>Contact details</legend>
  <div class="row">
    <div class="col-sm-4">
      <afield label="Address line 1" value="NonResident.Address.AddressLine1"></afield>
      <afield label="Suburb" value="NonResident.Address.Suburb"></afield>
      <afield label="Zip code" value="NonResident.Address.PostalCode"></afield>
    </div>
    <div class="col-sm-4">

      <afield label="Address line 2" value="NonResident.Address.AddressLine2"></afield>
      <afield label="State" value="NonResident.Address.State"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="City" value="NonResident.Address.City"></afield>
      <afield label="Country" value="NonResident.Address.Country" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></afield>
    </div>
  </div>
</fieldset>

</div>