<div id="SS_non_resident_modal_object_entity" class="form-horizontal">
  <div div class="col-sm-4">
    <afield label="Legal entity name" value="data.NonResident.Entity.EntityName"></afield>
    <afield label="Card Merchant Name" value="data.NonResident.Entity.CardMerchantName"></afield>
    <afield label="Card Merchant Code" value="data.NonResident.Entity.CardMerchantCode"></afield>
  </div>
</div>

