<div id="SS_non_resident_modal_object_exception" class="form-horizontal">

  <afield label="Exception name" value="data.NonResident.Exception.ExceptionName" lookup="nonResidentExceptions"></afield>

</div>