<div class="entity-type-header form-inline">
    <!--Type &nbsp;<select-->
    <!--ng-value="nonResType"-->
    <!--ng-options="unitType for unitType in unitTypes"-->
    <!--ng-change="updateNonResType(nonResType)">-->
    Type: &nbsp;{{nonResType}}

</select>
</div>