<div id="SS_non_resident_modal_object_indiv" class="form-horizontal">
      <div class="col-sm-4">
        <afield label="Name" value="data.NonResident.Individual.Name"></afield>
        <afield label="Gender" value="data.NonResident.Individual.Gender" lookup="gender"></afield>
      </div>
      <div class="col-sm-4">
        <afield label="Surname" value="data.NonResident.Individual.Surname"></afield>
        <afield label="Passport Number" value="data.NonResident.Individual.PassportNumber"></afield>
        <afield label="Passport Country" value="data.NonResident.Individual.PassportCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></afield>
      </div>
</div>
