<!--<div class="row"
         ng-hide="!($parent.isModelInError(model)||alwaysShow) || model.hide">
        <label class="col-md-3 FldLabel">
      
        </label>
    </div>
    <div class="clear"></div>-->
<span ng-class='{danger: value.danger, success: value.success}'>
    <span ng-hide='isMoneyField'>
        {{value.val}}
    </span>
    <span ng-show='isMoneyField'>
        {{value.val | currency:currencyModel.val+" ":2}}
    </span>
</span>
