<!--<div class="row" ng-hide='value.hide||(value.val==undefined)'>
  <div ng-hide='isMoneyField'>
    <div class="col-sm-3">
      {{label}}
    </div>
    <div class="col-sm-9">
      {{value.val}}
    </div>
  </div>
  <div ng-show='isMoneyField'>
    <div class="col-sm-3">
      {{label}}
    </div>
    <div class="col-sm-9">
      {{value.val | currency:currencyModel.val+" ":2}}
    </div>
  </div>
</div>-->

<div class="row fld" ng-show="!isShowOverride || (isShowOverride && $parent.isModelInError(value)) || alwaysShow">
  <div 
       ng-show="($parent.isModelInError(value)||alwaysShow) || !value.hide">

    <span class="col-md-3 FldLabel">
      <span ng-show="$parent.isFieldRequired(value.property) && !($parent.isReadOnly()||value.disabled)"
            class="bopRequired"></span>
      {{label}}
    </span>
    <label class="col-md-4 FldLabel"
           ng-hide='isMoneyField'>
      {{value.val}}
    </label>
    <label class="col-md-4 FldLabel"
           ng-show='isMoneyField'>{{value.val | currency:currencyModel.val+" ":2}}</label>
  </div>
  <div class="clear"></div>

</div>