.ng-hide {
    display: none !important;
}

.form-group.ng-hide {
    display: none;
}

#BOPContainer ul.dropdown-menu[uib-typeahead-popup] {
    max-height: 150px;
    overflow-y: auto;
    width: 95% !important;
    overflow-x: hidden;
}

[uib-typeahead-popup].dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


error-list {
    display: none;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: none;
    margin-left: -40px;
}

.panel-footer {
    border-style: none;
    border-color: transparent;
    background-color: transparent;
}

.panel-default {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    width: 90%;
}

.panel-default>.panel-heading {
    color: #222222;
    background-color: transparent;
    border-color: transparent;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    margin-bottom: -20px;
    margin-top: -40px;
    padding-left: 54px;
}

#BOPContainer .panel-group .panel {
    padding: 20px;
    background-color: transparent;
    display: inline;
}

#BOPContainer .panel-group .panel-heading+.panel-collapse>.panel-body,
#BOPContainer .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top-style: none;
    border-top-color: transparent;
    background-color: transparent;
    border-color: transparent;
}

#BOPContainer .panel-group .panel-heading+.panel-collapse>.panel-body,
#BOPContainer .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top-style: none;
    border-top-color: transparent;
    background-color: transparent;
}

#BOPContainer .panel-open .panel-body,
#BOPContainer .panel-open {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
}

#BOPContainer mfield input {
    text-align: right;
    border-left: none;
    padding-right: 16px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

#BOPContainer input[type=text],
#BOPContainer input[type=password],
#BOPContainer input[type=number] select {
    color: #444444;
    width: 100% !important;
    height: 33px;
    padding-right: 16px;
    padding-left: 16px;
}

#BOPContainer .control-label {
    border-bottom: none !important;
    font-family: Roboto !important;
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #767676 !important;
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

subheader {
    color: #444444;
    background-color: transparent;
    border-color: transparent;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}

.glyphicon {
    background-color: red;
    position: relative;
    top: 1px;
    display: none;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pull-right {
    float: right !important;
    display: none;
}

abbr[data-original-title],
abbr[title] {
    border-bottom: none !important;
    font-family: Roboto !important;
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #767676 !important;
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

.total {
    margin-top: -20px !important;
    height: 60px;
    background-color: #f2f5fb;
    padding-top: 24px;
    padding-bottom: 8px;
    margin-left: -54px !important;
    margin-right: -60px !important;
    position: absolute;
    bottom: 70px;
    width: 100%;
    margin-bottom: 12px !important;
}

.btn-add-cc {
    color: #0033aa !important;
    background-color: #FFFFFF !important;
    border-style: none !important;
    float: right !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-family: Roboto !important;
    position: absolute;
    margin-top: 48px !important;
    margin-bottom: 30px !important;
    padding-top: 60px;
    bottom: 0;
    right: 0;
    margin-right: 24px !important;
}

.btn-add-cc:hover {
    color: #0033aa !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border-style: none !important;
}

.btn-add-cc:focus {
    outline: none !important;
}

.btn-add-ie {
    padding-top: 16px !important;
    margin-left: -24px !important;
    color: #0033aa !important;
    background-color: #ffffff !important;
    border-style: none !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-family: Roboto !important;
}

.btn-add-ie:focus {
    outline: none !important;
}

.btn-add-doc {
    color: #0033aa !important;
    background-color: #ffffff !important;
    border-style: none !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-family: Roboto !important;
    margin-bottom: 16px !important;
}

.btn-add-ie:hover {
    color: #0033aa !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border-style: none !important;
}

.btn-add-doc:hover {
    color: #0033aa !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border-style: none !important;
}

.btn-add-doc:focus {
    outline: none !important;
}

.btn-remove-ie {
    background-color: transparent !important;
    border-style: none !important;
    border-color: #ffffff !important;
    position: relative;
    float: right;
    top: -70px;
    left: 50px;
}

#BOPContainer .circleBorder {
    border-color: #0033aa !important;
    border: 1px solid #0033aa;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-right: 12px;
    padding-bottom: 22px;
    padding-top: 1px;
    padding-left: 2px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0033aa;
    border-style: none !important;
}

#BOPContainer .circleBorderReason {
    border-color: #0033aa !important;
    border: 1px solid #0033aa;
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-right: 12px;
    padding-top: 2px !important;
    padding-left: 2px;
    margin-right: 14px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0033aa;
    border-style: none !important;
    margin-bottom: -12px !important;
}

#BOPContainer .row {
    display: flex !important;
}

#BOPContainer .circleBorder:hover {
    border-color: #0033aa !important;
    border: 1px solid #0033aa;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-right: 12px;
    padding-bottom: 22px;
    padding-top: 1px;
    padding-left: 2px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0033aa;
    border-style: none !important;
}

#BOPContainer .circleBorderReason:hover {
    border-color: #0033aa !important;
    border: 1px solid #0033aa;
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-right: 12px;
    padding-top: 2px !important;
    padding-left: 2px;
    margin-right: 14px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0033aa;
    border-style: none !important;
    margin-bottom: -12px !important;
}

#BOPContainer .circleBorderDoc {
    border-color: #0033aa !important;
    border: 1px solid #0033aa;
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-right: 12px;
    padding-top: 2px !important;
    padding-left: 2px;
    margin-right: 14px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0033aa;
    border-style: none !important;
    margin-bottom: -12px !important;
}

.headline {
    display: none;
}

.subheading {
    display: none;
}

.totalTitle {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #222222;
    text-align: right !important
}

.totalValue {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #222222;
}

.accordianBody {
    margin-left: -22px !important;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}

.invoiceclass {
    margin-left: -2px !important;
    width: 100% !important;
}

.taxHolderClass {
    margin-left: -12px !important;
}

.panel-body {
    background-color: #FFFFFF !important;
}

.btn-ie-span {
    position: absolute;
    padding-top: 3px !important;
}

.btn-add-cc-span {
    padding-top: 4px !important;
    margin-right: 40px !important;
    margin-bottom: 12px !important;
    float: right !important;
}

.btn-add-cc-div {
    margin-left: -20px !important;
}

.fileList {
    border-radius: 2px !important;
    background-color: #f6f6f6 !important;
    display: inline-flex !important;
    padding: 40px !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
    margin-top: 4px !important;
    margin-right: 20px !important;
    height: 150px !important;
    width: 190px !important;
}

.panel-upload-doc {
    display: inline-block !important;
    width: 100% !important
}

.docListClass {
    width: 46px !important;
    height: 17px !important;
    opacity: 0.3 !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.15 !important;
    letter-spacing: normal !important;
    color: #444444 !important;
    margin-top: -24px !important;
    margin-left: -18px !important;
    padding-bottom: 40px !important;
}

.uploadButtonLink {
    position: absolute !important;
    width: 54px !important;
    height: 16px !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    background-color: transparent !important;
    color: #0033aa !important;
    border-style: none !important;
    float: right !important;
    padding-left: 24px !important;
    margin-left: 80px !important;
    top: 70px !important;
}

.extraDesc {
    display: none !important;
}

.addDocsIcon {
    position: absolute !important;
}

.addDocsText {
    padding-top: 4px !important;
    padding-left: 32px !important;
    padding-bottom: 4px !important;
}

.remove-cc-icon {
    color: #0033aa !important;
}

.remove-ie-icon {
    color: #0033aa !important;
}

.btn-del-cc-icon {
    position: absolute !important;
}

.circleBorderRemove {
    padding: 1px;
}

.btn-remove-cc {
    position: relative;
    float: right;
    border-style: none !important;
    border-color: transparent !important;
    background-color: transparent !important;
    top: -70px !important;
    left: 245px !important;
}

.heading {
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    margin-bottom: -2px !important;
}

.uploadForm {
    position: relative !important;
    background-color: transparent;
    margin-left: -50px;
    padding-top: 10px;
    margin-right: 12px;
    padding-right: 12px;
}

.divCustomsClientNumber {
    padding-top: 24px !important;
}

.divAccountHolderTaxNumber {
    margin-top: -28px !important;
}

.bopMonetaryAmountClass {
    min-width: 100% !important;
}

.requiredDocsHeading {
    padding-top: 12px !important;
    margin-bottom: -8px !important;
}

.importExportErrorMsgTop {
    display: inline-block;
    position: absolute !important;
}

.importExportErrorMsgBottom {
    display: inline-block;
    position: absolute !important;
}
