<div class="form-group">
  <pfield label="Foreign Currency And Amount" value="data.TotalForeignValue" is-money-field="true"
          currency-model="data.FlowCurrency"/>
  <pfield label="Date" value="data.ValueDate"/>
</div>
<div class="form-group">
  <pfield label="Branch Code" value="data.BranchCode"/>
  <pfield label="Branch Name" value="data.BranchName"/>
  <pfield label="Hub Code" value="data.HubCode"/>
  <pfield label="Hub Name" value="data.HubName"/>
</div>
<div class="form-group">
  <pfield label="Originating Bank" value="data.OriginatingBank"/>
  <pfield label="Originating Country" value="data.OriginatingCountry"/>
  <pfield label="Corresponding Bank" value="data.CorrespondentBank"/>
  <pfield label="Corresponding Country" value="data.CorrespondentCountry"/>
  <pfield label="Receiving Bank" value="data.ReceivingBank"/>
  <pfield label="Receiving Country" value="data.ReceivingCountry"/>
</div>