<div class="well" ng-repeat="(MoneyInd,money) in data.MonetaryAmount">
  <b><big>Monetary Transaction #{{MoneyInd + 1}}</big></b>

  <div class="bobAuthMonetaryRow">
    <div class="form-group">
      <pfield label="Foreign Currency And Amount" value="money.ForeignValue" is-money-field="true"
              currency-model="data.FlowCurrency" />
      <pfield label="Bop Category" value="money.CategoryCode" />
      <pfield label="Bop Subcategory" value="money.CategorySubCode" />
    </div>
    <div class="form-group">
      <pfield label="SWIFT Details" value="money.SWIFTDetails" />
      <pfield label="Strate Reference Number" value="money.StrateRefNumber" />
    </div>
    <div class="form-group">
      <pfield label="Reason for 830" value="money.CannotCategorize" />
      <pfield label="Loan Reference Number" value="money.LoanRefNumber" />
      <pfield label="Loan Tenor" value="money.LoanTenor" />
      <pfield label="Loan Tenor Type" value="money.LoanTenorType" />
      <pfield label="Maturity Date" value="money.LoanTenorMaturityDate" />
      <pfield label="Interest Rate Type" value="money.LoanInterest.InterestType" />
      <pfield label="Index" value="money.LoanInterest.Index" />

      <pfield label="Plus/Minus" value="money.LoanInterest.PlusMinus" />
      <pfield label="Rate" value="money.LoanInterest.Rate" />
    </div>
    <div class="form-group">
      <pfield label="Ruling Section" value="money[map('Regulator')+'Auth'].RulingsSection" />
      <pfield label="AD Internal Auth Number" value="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']" />
      <pfield label="AD Internal Auth Number Date" value="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']" />
      <pfield label="SARB Auth Application Number" value="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']" />
      <pfield label="SARB Auth Reference Number" value="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']" />
      <pfield label="Subject" value="money.AdHocRequirement.Subject" lookup="adhocSubjects" />
      <pfield label="Description" value="money.AdHocRequirement.Description" />
      <pfield label="Location Country" value="money.LocationCountry" lookup="countries" label-prop="name"
              value-prop="code"
              squash-numerics="true" />
    </div>
    <div class="form-group">
      <div ng-show="money.ImportExport.length">
        <big><b>Import Export Details</b></big>
      </div>
      <div class="indent" ng-repeat="ie in money.ImportExport">
        <pfield label="Import Control Number" value="ie.ImportControlNumber" />
        <pfield label="Transport Document Number" value="ie.TransportDocumentNumber" />
        <pfield label="UCR" value="ie.UCR" />
        <pfield label="Payment Value" value="ie.PaymentValue" is-money-field="true"
                currency-model="ie.PaymentCurrencyCode" />
      </div>
    </div>
    <div class="form-group">
      <pfield label="Surname" value="money.ThirdParty.Individual.Surname" />
      <pfield label="Name" value="money.ThirdParty.Individual.Name" />
      <pfield label="Gender" value="money.ThirdParty.Individual.Gender" lookup="gender" />
      <pfield label="Identity Number" value="money.ThirdParty.Individual.IDNumber" />
      <pfield label="Date of Birth" value="money.ThirdParty.Individual.DateOfBirth" />
      <pfield label="Temporary Resident Permit Number" value="money.ThirdParty.Individual.TempResPermitNumber" />
      <pfield label="Passport Number" value="money.ThirdParty.Individual.PassportNumber" />
      <pfield label="Passport Country" value="money.ThirdParty.Individual.PassportCountry" lookup="countries"
              label-prop="name" value-prop="code" squash-numerics="true" />
    </div>
    <div class="form-group">
      <pfield label="Legal Entity Name" value="money.ThirdParty.Entity.Name" />
      <pfield label="Registration Number" value="money.ThirdParty.Entity.RegistrationNumber" />
      <pfield label="Customs Client Number" value="money.ThirdParty.CustomsClientNumber" />
      <pfield label="Tax Number" value="money.ThirdParty.TaxNumber" />
      <pfield label="VAT Number" value="money.ThirdParty.VATNumber" />
    </div>
    <div class="form-group">
      <pfield label="Contact Surname" value="money.ThirdParty.ContactDetails.ContactSurname" />
      <pfield label="Contact Name" value="money.ThirdParty.ContactDetails.ContactName" />
      <pfield label="Email" value="money.ThirdParty.ContactDetails.Email" />
      <pfield label="Fax" value="money.ThirdParty.ContactDetails.Fax" />
      <pfield label="Telephone" value="money.ThirdParty.ContactDetails.Telephone" />
    </div>
    <div class="form-group">
      <pfield label="Street Address Line 1" value="money.ThirdParty.StreetAddress.AddressLine1" />
      <pfield label="Street Address Line 2" value="money.ThirdParty.StreetAddress.AddressLine2" />
      <pfield label="Street Suburb" value="money.ThirdParty.StreetAddress.Suburb" />
      <pfield label="Street City" value="money.ThirdParty.StreetAddress.City" />
      <pfield label="Street Province" value="money.ThirdParty.StreetAddress.Province" lookup="provinces"
              label-prop="true" />
      <pfield label="Street Postal Code" value="money.ThirdParty.StreetAddress.PostalCode" />
    </div>
    <div class="form-group">
      <pfield label="Postal Address Line 1" value="money.ThirdParty.PostalAddress.AddressLine1" />
      <pfield label="Postal Address Line 2" value="money.ThirdParty.PostalAddress.AddressLine2" />
      <pfield label="Postal Suburb" value="money.ThirdParty.PostalAddress.Suburb" />
      <pfield label="Postal City" value="money.ThirdParty.PostalAddress.City" />
      <pfield label="Postal Province" value="money.ThirdParty.PostalAddress.Province" lookup="provinces"
              label-prop="true" />
      <pfield label="Postal Code" value="money.ThirdParty.PostalAddress.PostalCode" />
    </div>
  </div>
</div>