<div class="form-group">
  <div class="row" ng-hide='value.hide'>
    <div class="col-sm-3">
      Type
    </div>
    <div class="col-sm-9">
      {{nonResType}}
    </div>
  </div>
  <pfield label="Account Number" value="NonResident.AccountNumber"/>
  <pfield label="Surname" value="data.NonResident.Individual.Surname"/>
  <pfield label="Name" value="data.NonResident.Individual.Name"/>
  <pfield label="Legal Entity Name" value="data.NonResident.Entity.EntityName"/>
</div>
<div class="form-group">
  <pfield label="Address Line 1" value="NonResident.Address.AddressLine1"/>
  <pfield label="Address Line 2" value="NonResident.Address.AddressLine2"/>
  <pfield label="Suburb" value="NonResident.Address.Suburb"/>
  <pfield label="City" value="NonResident.Address.City"/>
  <pfield label="State" value="NonResident.Address.State"/>
  <pfield label="Zip Code" value="NonResident.Address.PostalCode"/>
  <pfield label="Country" value="NonResident.Address.Country" squash-numerics="true"/>
</div>
