<div class="form-group">
  <div class="row" ng-hide='value.hide'>
    <div class="col-sm-3">
      Type
    </div>
    <div class="col-sm-9">
      {{resType}}
    </div>
  </div>
  <pfield label="Account Number" value="Resident.AccountNumber"/>
  <pfield label="Customs Client Number" value="data.Resident.Individual.CustomsClientNumber"/>
  <pfield label="Tax Number" value="data.Resident.Individual.TaxNumber"/>
  <pfield label="VAT Number" value="data.Resident.Individual.VATNumber"/>
  <pfield label="Tax Clearance Certificate Indicator"
          value="data.Resident.Individual.TaxClearanceCertificateIndicator"/>
  <pfield label="Tax Clearance Certificate Reference"
          value="data.Resident.Individual.TaxClearanceCertificateReference"/>
</div>
<div class="form-group">
  <pfield label="Beneficiary ID1" value="data.Resident.Individual.BeneficiaryID1"/>
  <pfield label="Beneficiary ID2" value="data.Resident.Individual.BeneficiaryID2"/>
  <pfield label="Beneficiary ID3" value="data.Resident.Individual.BeneficiaryID3"/>
  <pfield label="Beneficiary ID4" value="data.Resident.Individual.BeneficiaryID4"/>
</div>
<div class="form-group">
  <pfield label="Contact Surname" value="Resident.ContactDetails.ContactSurname"/>
  <pfield label="Contact Name" value="Resident.ContactDetails.ContactName"/>
  <pfield label="Email" value="Resident.ContactDetails.Email"/>
  <pfield label="Fax" value="Resident.ContactDetails.Fax"/>
  <pfield label="Telephone" value="Resident.ContactDetails.Telephone"/>
</div>
<div class="form-group">
  <pfield label="Street Address Line 1" value="Resident.StreetAddress.AddressLine1"/>
  <pfield label="Street Address Line 2" value="Resident.StreetAddress.AddressLine2"/>
  <pfield label="Street Suburb" value="Resident.StreetAddress.Suburb"/>
  <pfield label="Street City" value="Resident.StreetAddress.City"/>
  <pfield label="Street Province" value="Resident.StreetAddress.Province"/>
  <pfield label="Street Postal Code" value="Resident.StreetAddress.PostalCode"/>
</div>
<div class="form-group">
  <pfield label="Postal Address Line 1" value="Resident.PostalAddress.AddressLine1"/>
  <pfield label="Postal Address Line 2" value="Resident.PostalAddress.AddressLine2"/>
  <pfield label="Postal Suburb" value="Resident.PostalAddress.Suburb"/>
  <pfield label="Postal City" value="Resident.PostalAddress.City"/>
  <pfield label="Postal Province" value="Resident.PostalAddress.Province"/>
  <pfield label="Postal Code" value="Resident.PostalAddress.PostalCode"/>
</div>
<div class="form-group">
  <pfield label="Legal Entity Name" value="data.Resident.Entity.EntityName"/>
  <pfield label="Trading Name" value="data.Resident.Entity.TradingName"/>
  <pfield label="Registration Number" value="data.Resident.Entity.RegistrationNumber"/>
  <pfield label="Institutional Sector" value="data.Resident.Entity.InstitutionalSector" squash-numerics="false"/>
  <pfield label="Industrial Classification" value="data.Resident.Entity.IndustrialClassification"
          squash-numerics="false"/>
  <pfield label="Customs Client Number" value="data.Resident.Entity.CustomsClientNumber"/>
</div>
<div class="form-group">
  <pfield label="Tax Number" value="data.Resident.Entity.TaxNumber"/>
  <pfield label="VAT Number" value="data.Resident.Entity.VATNumber"/>
  <pfield label="Tax Clearance Certificate Indicator" value="data.Resident.Entity.TaxClearanceCertificateIndicator"/>
  <pfield label="Tax Clearance Certificate Reference" value="data.Resident.Entity.TaxClearanceCertificateReference"/>
</div>
