<button ng-click="PrintAuth()">Print Bop Transaction</button>
<table id="BopAuth" class=" table table-condensed BopAuthTable">


    <!--<tr id="transaction_head">-->
        <!--<td>-->
            <!--<table class="table  table-condensed">-->
                <tr>
                    <td>
                        <div class="text-left">
                            <big><b>Transaction</b></big>
                        </div>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td ng-include="config.partialsPath+'bobAuthTransaction.html'"></td>
                </tr>
                </tr>
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->


    <!--<tr id="resident_table">-->
        <!--<td>-->
            <!--<table class="table  table-condensed">-->
                <tr >
                    <td>
                        <div class="text-left">
                            <big><b>Account Holder</b></big>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td ng-include="config.partialsPath+'bobAuthAccountHolder.html'"></td>
                </tr>
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->


    <!--<tr id="non_resident_table">-->
        <!--<td>-->
            <!--<table class="table table-condensed">-->
                <tr>
                    <td>
                        <div class="text-left">
                            <big>
                                <b><dfield value="data.NonResidentTitle"/></b>
                            </big>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td ng-include="config.partialsPath+'bobAuthRemitter.html'"></td>
                </tr>
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->

    <!--<tr id="monetary_table">-->
        <!--<td>-->
            <!--<table class="table table-condensed">-->
                <tr>
                    <td>
                        <div class="text-Left">
                            <big><b>Monetary Details</b></big>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td ng-include="config.partialsPath+'bobAuthMonetary.html'"></td>
                </tr>
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->

</table>
