<div class="form-horizontal"
     role="form"
     ng-show="!(data.Resident.Individual.CustomsClientNumber.hide && data.Resident.Entity.CustomsClientNumber.hide)">

  <fieldset>
    <legend></legend>
    <div class="row">
      <div class="col-sm-4">
        <ifield label="Account holder Customs Client Number"
                model="data.Resident.Individual.CustomsClientNumber"
                clearbtt="data.CCNResponseCode"
                change="clearLUClient"/>
        <ifield label="Account holder Customs Client Number"
                model="data.Resident.Entity.CustomsClientNumber"
                clearbtt="data.CCNResponseCode"
                change="clearLUClient"/>
      </div>
      <div class="col-sm-2">
        <bfield model="data.CCNResponseCode"
                validation="CCN_Validate"
                hiddenstate="{{data.CCNResponseCode.hide}}"
                view="no"/>
      </div>
    </div>
  </fieldset>
</div>

<button ng-disabled="customData.exCon && data.MonetaryAmount && data.MonetaryAmount.length > 0"
        ng-class="{'invalid':data.MonetaryAmount.length < 1 }"
        class='btn-custom-nbol btn btn-sm'
        ng-click="customData.exCon && data.MonetaryAmount && data.MonetaryAmount.length > 0
   ? void()
   : addMonetaryAmount();">
  Add monetary amount
</button>

<button class='btn btn-sm btn-custom-nbol'
        ng-disabled="data.MonetaryAmount.length < 1
        || (customData.dispensation.length > (current.moneyInd) && customData.dispensation[current.moneyInd].category== data.MonetaryAmount[current.moneyInd].Category.val)"
        ng-click="removeMonetaryAmount(data.MonetaryAmount[current.moneyInd])">
  Remove selected
</button>
<div style="overflow: auto; max-height: 300px;">
  <table class="table-striped-custom  table table-bordered" id="Editable_Table_Grid">
    <thead class="monetary-summary-table-heading" fix-head>
    <tr>
      <th width="40px">Seq</th>
      <th><span class="bopRequired"/><span class="bopPencil"/>Category code</th>
      <th>Description</th>
      <th><span class="bopRequired"/><span class="bopPencil"/>Foreign value</th>
      <th>Foreign currency</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(ind,money) in data.MonetaryAmount"
        ng-click="openDetail('Money','general',money);"
        ng-class="{'': current.moneyInd!=ind, 'selected-row': current.moneyInd==ind}">
      <td width="40px">
        {{ind + 1}}
      </td>
      <td>
        <ccfield money="money" update="nBolCCUpdater"/>
      </td>
      <td class="category-description" uib-popover="{{money.Description.val}}" popover-trigger="mouseenter"
          popover-placement="top"
          popover-append-to-body="true">
        <dfield ng-show="money.CategoryCode.val" value="money.Description"/>
      </td>
      <td>
        <ifield model="money.ForeignValue"
                clearbtt="money.ADInternalAuthResponseCode"/>
      </td>
      <td>
        <dfield value="data.FlowCurrency"/>
      </td>
    </tr>
    </tbody>
    <!--<tfoot>-->
    <!--<tr>-->
      <!--<td colspan="100%">-->
        <!--<label class="col-sm-5 FldLabel"></label>-->
        <!--{{moneyTotal(data)}} Allocated <span style="color: #cc0000;">{{moneytOutstanding(data,'OVER! ', '+ Remaining:')}}</span>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tfoot>-->
  </table>
</div>
<div style="width:100%;border:1px black solid;text-align: center;height:2em;margin-bottom: 10px;">
   <span style="vertical-align: middle;"> {{moneyTotal(data)}} Allocated <span style="color: #cc0000;">{{moneytOutstanding(data,'OVER! ', '+ Remaining:')}}</span>
     </span>
</div>
