<table class="table table-hover table-bordered table-condensed"
       ng-class="{danger:data.Resident.error}">
  <tr ng-click="openDetail('Resident','general')">
    <td class="col-lg-3">{{resType}}</td>
    <td><dfield value="data.Resident.Description"/></td>
  </tr>
  <tr ng-click="openDetail('Resident','account')" class="form-group" ng-hide="data.Resident.Account.hide"
      ng-class="{danger:data.Resident.Account.error}">
    <td>Account</td>
    <td><dfield value="data.Resident.AccountDescription"/></td>
  </tr>
  <tr ng-click="openDetail('Resident','contact')" class="form-group" ng-hide="data.Resident.ContactDetails.hide"
      ng-class="{danger:data.Resident.ContactDetails.error}">
    <td>ContactDetails</td>
    <td>
      <dfield value="data.Resident.ContactDetailsDescription"/>
    </td>
  </tr>

</table>



