<uib-tabset vertical="true" >

  <uib-tab heading="Transaction Summary">
    <div  ng-include="config.partialsPath+config.rootTemplate"/>
  </uib-tab>

  <uib-tab heading="Account Holder" active="tab.Resident.active" ng-click="openDetail('Resident','general')">
    <div ng-include="config.partialsPath+'resident/header.html'"/>

    <accordion>
      <accordion-group heading="General Details" is-open="tab.Resident.general">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Resident','general')"/>
      </accordion-group>
      <accordion-group heading="Account Details" is-open="tab.Resident.account" ng-hide="data.Resident.Account.hide">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Resident','account')"/>
      </accordion-group>
      <accordion-group heading="Contact Details" is-open="tab.Resident.contact" ng-hide="data.Resident.ContactDetails.hide">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Resident','contact')"/>
      </accordion-group>
    </accordion>

  </uib-tab>


  <uib-tab heading="Remitter Details" active="tab.NonResident.active"  ng-click="openDetail('NonResident','general')">
    <div ng-include="config.partialsPath+'nonResident/header.html'"/>


    <accordion>
      <accordion-group heading="General Details" is-open="tab.NonResident.general">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('NonResident','general')"/>
      </accordion-group>
      <accordion-group heading="Account Details" is-open="tab.NonResident.account" ng-hide="data.NonResident.Account.hide">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('NonResident','account')"/>
      </accordion-group>
      <accordion-group heading="Contact Details" is-open="tab.NonResident.contact" ng-hide="data.NonResident.Address.hide">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('NonResident','contact')"/>
      </accordion-group>
    </accordion>
  </uib-tab>



  <uib-tab heading="Monetary Summary">

    <div ng-include="config.partialsPath+config.monetary_summary"></div>

  </uib-tab>


  <uib-tab active="tab.Money.active" ng-click="openDetail('Money','general',data.MonetaryAmount[current.moneyInd])">
    <tab-heading>

        <span class="dropdown" >
           <a  class="dropdown-toggle">
             Monetary Detail #{{current.moneyInd}}<span class="caret"></span>
           </a>

           <ul class="dropdown-menu">
             <li ng-repeat="(ind, money) in data.MonetaryAmount">
               <a ng-click="setCurrentMoneyInd(ind)" >{{ind}}</a>
             </li>
           </ul>
        </span>

    </tab-heading>


    <accordion ng-repeat="(ind, money) in data.MonetaryAmount" ng-show="current.moneyInd==ind">
      <accordion-group heading="General Details" ng-init="tab.Money.general = true" is-open="tab.Money.general">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Money','general')"/>
      </accordion-group>
      <accordion-group heading="Third Party Details" is-open="tab.Money.thirdparty">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Money','thirdparty')"/>
      </accordion-group>
      <accordion-group heading="Third Party Contact Details" is-open="tab.Money.contact">
        <div class="panel-body" ng-include="config.partialsPath+getDetailTemplate('Money','contact')"/>
      </accordion-group>
      <accordion-group heading="ImportExport Summary" is-open="tab.Money.importExport">
        <div class="panel-body" ng-include="config.partialsPath+config.importexport_summary"/>
      </accordion-group>
    </accordion>
  </uib-tab>




</uib-tabset>




