<div class="key" ng-show="tab.Money.active">
  <b>Note:&nbsp;</b>'<span class="nbol-caret" />'&nbsp;denotes mandatory fields&nbsp;<span class="nbol-pencil" />&nbsp;denotes editable column
</div>
<error-list open-detail="openDetail"></error-list>
<uib-tabset active="tab" >

  <uib-tab heading="Transaction details" index="0">
    <div id="transactionTab" ng-include="config.partialsPath+getDetailTemplate('Transaction')"></div>
  </uib-tab>

  <uib-tab heading="Account holder details" index="1">
    <div id="accountDetailsTab">
      <fieldset>
        <legend>Account details</legend>
        <div ng-include="config.partialsPath+'resident/header.html'"></div>
        <div ng-show="resType!='Exception'">
          <fieldset>
            <legend>Account details</legend>
            <div ng-include="config.partialsPath+getDetailTemplate('Resident','account')"></div>
            <div ng-include="config.partialsPath+getDetailTemplate('Resident','general')"></div>
          </fieldset>
          <div ng-include="config.partialsPath+getDetailTemplate('Resident','contact')"></div>
        </div>
        <div ng-show="resType=='Exception'">
          <fieldset>
            <legend>Account details</legend>
            <div ng-include="config.partialsPath+getDetailTemplate('Resident','general')"></div>
          </fieldset>
        </div>
      </fieldset>
    </div>
  </uib-tab>

  <uib-tab heading="Beneficiary details" index="2">
    <div id="foo">
      <fieldset>
        <legend>{{data.NonResidentTitle.val}}</legend>

        <div ng-include="config.partialsPath+'nonResident/header.html'"></div>

        <div ng-show="nonResType!='Exception'">
          <fieldset>
            <legend>Account details</legend>
            <div class="row">
              <div ng-include="config.partialsPath+getDetailTemplate('NonResident','general')"></div>

              <div ng-include="config.partialsPath+getDetailTemplate('NonResident','account')"></div>

            </div>
          </fieldset>
          <div ng-include="config.partialsPath+getDetailTemplate('NonResident','contact')"></div>
        </div>

        <div ng-show="nonResType=='Exception'">
          <fieldset>
            <legend>Account details</legend>
            <div ng-include="config.partialsPath+getDetailTemplate('NonResident','general')"></div>
          </fieldset>
        </div>

      </fieldset>
    </div>

  </uib-tab>

  <uib-tab heading="Monetary details"
           index="4">

    <div id="monetaryDetailsTab">
      <div ng-include="config.partialsPath+config.monetary_summary"></div>

      <div ng-if="current.money">
        <div ng-include="config.partialsPath+getDetailTemplate('Money','general')"></div>

        <div ng-include="config.partialsPath+config.importexport_summary"
             ng-hide="current.money.ImportExport.hide"></div>
        <fieldset ng-hide="current.money.ThirdParty.hide">
          <legend>Third party</legend>
          <div class="form-horizontal">
            <div class="row">

              <div class="col-sm-4">
                <sfield label="Select 3rd Party:" 
                        model="current.money.ThirdParty" 
                        lookup="thirdparties"
                        label-prop="value"  
                        value-prop="thirdParty" 
                        update-fn="setAdhoc3rdParty">
                </sfield>
              </div>

              <div class="col-sm-1">
                <a class="btn btn-sm btn-custom-nbol ng-scope" ng-click="clearThirdParty(current.money.ThirdParty)">Clear</a>
              </div>

              <div class="col-sm-4" ng-hide="current.money.allowAdhocBOPThirdParty.val">
                <span ng-show="current.money.ThirdParty.error">Your third party details are in error. Please contact Standard Bank.</span>
              </div>

            </div>
          </div>

          <div ng-include="config.partialsPath+getDetailTemplate('Money','thirdparty')"></div>
          <div ng-include="config.partialsPath+getDetailTemplate('Money','contact')"></div>

          <div class="checkbox"
               ng-show="current.money.allowAdhocBOPThirdParty.val
               && (customData.allowSaveOfAdhocThirdParty==true || customData.allowSaveOfAdhocThirdParty=='true')
               && (current.money.CategoryCode.val!=256)">
            <label>
              <input type="checkbox"
                     ng-model="current.money.saveAdhocBOPThirdParty.val"
                     ng-click="revalidate()">Save this as predefined 3rd party?
            </label>
          </div>

        </fieldset>
      </div>
    </div>

  </uib-tab>

</uib-tabset>