//@import  (inline) "reg_rule_repo/investecPL/css/patternLab/dist/css/bootstrap-theme.css" ;
//@import (inline) "reg_rule_repo/invUXP/css/patternLab/dist/css/inv-bootstrap.css";
//@import  (inline) "reg_rule_repo/investecPL/css/jquery-ui-1.11.0.css" ;
@import (inline) "reg_rule_repo/invUXP/css/app.css";
@import (inline) "reg_rule_repo/invUXP/css/flow.css";
//@import  (inline) "reg_rule_repo/investecPL/css/patternLab/dist/css/style.css" ;
//@import  (inline) "reg_rule_repo/investecPL/css/jquery-ui-1.10.3.custom.css" ;

//@import  (inline) "reg_rule_repo/investecPL/css/styleguide.min.css";
//@import  (inline) "reg_rule_repo/investecPL/css/prism-typeahead.min.css";
//@import  (inline) "reg_rule_repo/investecPL/css/pattern-scaffolding.css";
@font-face {
  font-family: "investec";
  src: url("fonts/investec.eot");
  src: url("fonts/investec.eot#iefix") format("embedded-opentype"),
    url("fonts/investec.woff") format("woff"),
    url("fonts/investec.ttf") format("truetype"),
    url("fonts/investec.svg#investec") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* '\f006c' */
.icon-investec-tick:before {
  content: "󰁰";
}
/* '\f0070' */
.icon-investec-cross:before {
  content: "󰁱";
}

.round-flag {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-top: -3px;
  vertical-align: middle;
  background-image: url("img/flags/round-currency-flags.png");
}
.round-flag.round-flag-sa,
.round-flag.round-flag-zar,
.round-flag.round-flag-zaf,
.round-flag.round-flag-za {
  background-position: 0 0;
}
.round-flag.round-flag-uk,
.round-flag.round-flag-gbp,
.round-flag.round-flag-gb {
  background-position: -21px 0;
}
.round-flag.round-flag-usa,
.round-flag.round-flag-usd,
.round-flag.round-flag-us {
  background-position: 0 -21px;
}
.round-flag.round-flag-eu,
.round-flag.round-flag-eur,
.round-flag.round-flag-es {
  background-position: -21px -21px;
}
.round-flag.round-flag-aus,
.round-flag.round-flag-aud,
.round-flag.round-flag-au {
  background-position: 0 -42px;
}
.round-flag.round-flag-sw,
.round-flag.round-flag-chf,
.round-flag.round-flag-ch {
  background-position: -21px -42px;
}
.round-flag.round-flag-can,
.round-flag.round-flag-cad,
.round-flag.round-flag-ca {
  background-position: 0 -63px;
}
.round-flag.round-flag-dnk,
.round-flag.round-flag-dkk,
.round-flag.round-flag-dk {
  background-position: -21px -63px;
}
.round-flag.round-flag-hk,
.round-flag.round-flag-hkd,
.round-flag.round-flag-hkg {
  background-position: 0 -84px;
}
.round-flag.round-flag-jp,
.round-flag.round-flag-jpy,
.round-flag.round-flag-jpn {
  background-position: -21px -84px;
}
.round-flag.round-flag-mu,
.round-flag.round-flag-mur,
.round-flag.round-flag-mus {
  background-position: 0 -105px;
}
.round-flag.round-flag-nz,
.round-flag.round-flag-nzd,
.round-flag.round-flag-nzl {
  background-position: -21px -105px;
}
.round-flag.round-flag-no,
.round-flag.round-flag-nok,
.round-flag.round-flag-nor {
  background-position: 0 -126px;
}
.round-flag.round-flag-il,
.round-flag.round-flag-ils,
.round-flag.round-flag-isr {
  background-position: -21px -126px;
}
.round-flag.round-flag-sg,
.round-flag.round-flag-sgd,
.round-flag.round-flag-sgp {
  background-position: 0 -147px;
}
.round-flag.round-flag-se,
.round-flag.round-flag-sek,
.round-flag.round-flag-swe {
  background-position: -21px -147px;
}
.round-flag.round-flag-cn,
.round-flag.round-flag-cny,
.round-flag.round-flag-chn {
  background-position: 0 -168px;
}
.round-flag.round-flag-bw,
.round-flag.round-flag-bwp,
.round-flag.round-flag-bwa {
  background-position: -21px -168px;
}
.round-flag.round-flag-sk,
.round-flag.round-flag-svk {
  background-position: 0 -189px;
}
.round-flag.round-flag-hu,
.round-flag.round-flag-huf,
.round-flag.round-flag-hun {
  background-position: -21px -189px;
}
.round-flag.round-flag-ke,
.round-flag.round-flag-kes,
.round-flag.round-flag-ken {
  background-position: 0 -210px;
}
.round-flag.round-flag-mw,
.round-flag.round-flag-mwk,
.round-flag.round-flag-mwi {
  background-position: -21px -210px;
}
.round-flag.round-flag-mx,
.round-flag.round-flag-mxn,
.round-flag.round-flag-mex {
  background-position: 0 -231px;
}
.round-flag.round-flag-my,
.round-flag.round-flag-myr,
.round-flag.round-flag-mys {
  background-position: -21px -231px;
}
.round-flag.round-flag-ae,
.round-flag.round-flag-aed,
.round-flag.round-flag-are {
  background-position: 0 -252px;
}
.round-flag.round-flag-zm,
.round-flag.round-flag-zmw,
.round-flag.round-flag-zmb {
  background-position: -21px -252px;
}
.round-flag.round-flag-th,
.round-flag.round-flag-thb,
.round-flag.round-flag-tha {
  background-position: 0 -273px;
}
.round-flag.round-flag-pl,
.round-flag.round-flag-pln,
.round-flag.round-flag-pol {
  background-position: -21px -273px;
}
.round-flag.round-flag-tr,
.round-flag.round-flag-try,
.round-flag.round-flag-tur {
  background-position: 0 -294px;
}
.round-flag.round-flag-ugx,
.round-flag.round-flag-ug {
  background-position: -21px -294px;
}
.round-flag.round-flag-tzs,
.round-flag.round-flag-tz {
  background-position: 0 -315px;
}
.round-flag.round-flag-ghs,
.round-flag.round-flag-gh {
  background-position: -21px -315px;
}
.round-flag.round-flag-ngn,
.round-flag.round-flag-ng {
  background-position: 0 -336px;
}

.inv-form .form-group {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.inv-form .form-group:hover {
  background: #f7fbfd;
}

.inv-form .form-group [type="radio"] {
  position: absolute;
  opacity: 0;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.inv-form .form-group [type="radio"]:checked ~ .btn-group .btn-default {
  background: #eee;
}

.inv-form .form-group [type="radio"] + .btn-group .btn.btn-default {
  color: #00204e;
  border-color: #b7b7b7;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.inv-form .form-group [type="radio"] + .btn-group .btn {
  height: 34px;
  padding: 7px 42.5px 7px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  white-space: normal;
  cursor: pointer;
  background: #fff;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border-radius: 0px;
}

.inv-form .form-group [type="radio"] + .btn-group .btn .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: -webkit-calc(34px - 2);
  height: calc(34px - 2);
  line-height: -webkit-calc(34px - 2);
  line-height: calc(34px - 2);
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
.btn [class^="icon-investec-"],
.btn [class*=" icon-investec-"] {
  position: relative;
  top: 2px;
  margin-right: 6px;
  font-size: 20px;
  line-height: 1px;
}
.inv-form .form-control-feedback {
  right: 10px;
  font-size: 16px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.inv-form
  .form-group
  [type="radio"]:nth-child(1):checked
  ~ .btn-group
  .btn-default:nth-child(1),
.inv-form
  .form-group
  [type="radio"]:nth-child(2):checked
  ~ .btn-group
  .btn-default:nth-child(2),
.inv-form
  .form-group
  [type="radio"]:nth-child(3):checked
  ~ .btn-group
  .btn-default:nth-child(3),
.inv-form
  .form-group
  [type="radio"]:nth-child(4):checked
  ~ .btn-group
  .btn-default:nth-child(4) {
  background: #fff;
  border-color: #5cb85c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.inv-form .form-group [type="radio"] + .btn-group .btn.btn-default {
  color: #00204e;
  border-color: #b7b7b7;
}
.inv-form .form-group [type="radio"]:checked ~ .btn-group .btn-default {
  background: #eee;
}
.inv-form .form-group [type="radio"]:checked ~ .btn-group .btn-default {
  background: #eee;
}
.inv-form .form-group [type="radio"] + .btn-group .btn.btn-default {
  color: #00204e;
  border-color: #b7b7b7;
}
.inv-form .form-group [type="radio"] + .btn-group .btn {
  height: 34px;
  padding: 7px 42.5px 7px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  white-space: normal;
  cursor: pointer;
  background: #fff;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.inv-form .form-group [type="radio"] + .btn-group .btn {
  height: 34px;
  padding: 7px 42.5px 7px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  white-space: normal;
  cursor: pointer;
  background: #fff;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.inv-form
  .form-group
  [type="radio"]:nth-child(1):checked
  ~ .btn-group
  .btn-default:nth-child(1)
  .form-control-feedback,
.inv-form
  .form-group
  [type="radio"]:nth-child(2):checked
  ~ .btn-group
  .btn-default:nth-child(2)
  .form-control-feedback,
.inv-form
  .form-group
  [type="radio"]:nth-child(3):checked
  ~ .btn-group
  .btn-default:nth-child(3)
  .form-control-feedback,
.inv-form
  .form-group
  [type="radio"]:nth-child(4):checked
  ~ .btn-group
  .btn-default:nth-child(4)
  .form-control-feedback {
  color: #5cb85c;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.inv-form .form-group [type="radio"] + .btn-group .btn .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: -webkit-calc(32px);
  height: calc(32px);
  line-height: -webkit-calc(32px);
  line-height: calc(32px);
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
.inv-form .form-group [type="radio"] + .btn-group .btn .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: -webkit-calc(34px - 2);
  height: calc(34px - 2);
  line-height: -webkit-calc(34px - 2);
  line-height: calc(34px - 2);
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
.inv-form .form-control-feedback {
  right: 10px;
  font-size: 16px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.btn [class^="icon-investec-"],
.btn [class*=" icon-investec-"] {
  position: relative;
  top: 2px;
  margin-right: 6px;
  font-size: 20px;
  line-height: 1px;
}
.btn [class^="icon-investec-"],
.btn [class*=" icon-investec-"] {
  position: relative;
  top: 2px;
  margin-right: 6px;
  font-size: 20px;
  line-height: 1px;
}
.inv-form .form-control-feedback {
  right: 10px;
  font-size: 16px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.icon-investec-tick:before {
  content: "󰁰";
}

[class^="icon-investec-"]:before,
[class*=" icon-investec-"]:before {
  display: inline-block;
  font-family: "investec";
  font-style: normal;
  font-weight: normal;
  /* opacity: .8; */
  font-variant: normal;
  line-height: 1em;
  color: inherit;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.inv-form .form-control-tooltip {
  position: absolute;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  max-height: 30px;
  margin-top: 17px;
  -webkit-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.inv-form .form-control-tooltip:before {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  pointer-events: none;
  content: "?";
  background: #fff;
  border: 1px solid #00204e;
  border-radius: 50%;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.inv-form .form-control-tooltip .form-control-tooltip-body {
  padding: 10px;
  margin-left: 15px;
  font-size: 12px;
  background: #dcebf1;
  border: 1px solid #00204e;
  -webkit-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.inv-form .form-control-tooltip .form-control-tooltip-body p {
  margin-bottom: 0;
  font-weight: bold;
}

.inv-form .form-control-tooltip:hover {
  max-height: 1000px;
}

.inv-form .form-control-tooltip:hover:before {
  color: transparent;
  background: #dcebf1;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 0;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: rotate(45deg) scale(0.6);
  -ms-transform: rotate(45deg) scale(0.6);
  -o-transform: rotate(45deg) scale(0.6);
  transform: rotate(45deg) scale(0.6);
}

.inv-form .form-control-tooltip:hover .form-control-tooltip-body {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.inv-form {
  .form-control-tooltip {
    ul,
    ol {
      padding: 0px 12px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  color: #00204e;
  .form-control,
  .input-group-addon {
    border-radius: 0px;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"], select {
    color: #00204e;
    width: 100% !important;
    height: 34px;
  }

  input:focus,
  select{
    cursor: pointer;
    &:focus {
      border-color: #00204e;
    }
  }
}
