//@import  (inline) "reg_rule_repo/investecPL/css/patternLab/dist/css/bootstrap-theme.css" ;
//@import  (inline) "reg_rule_repo/investecPL/css/patternLab/dist/css/inv-bootstrap.css" ;
//@import  (inline) "reg_rule_repo/investecPL/css/jquery-ui-1.11.0.css" ;
@import  (inline) "reg_rule_repo/invBMP/css/app.css" ;
@import  (inline) "reg_rule_repo/invBMP/css/flow.css" ;
@import  (inline) "reg_rule_repo/invBMP/css/patternLab/dist/css/style.css" ;
//@import  (inline) "reg_rule_repo/investecPL/css/jquery-ui-1.10.3.custom.css" ;

@inv-primary : #00204e;
@inv-brand-primary: #485dc5;
@inv-gray-light: #f7f7f9;
@inv-gray: #d0d0d0;
@inv-dark-grey: #666666;
@inv-gray-darker: #424242;
@inv-btn-hover: #3d4c9e;
@inv-btn-disabled: #c8ceed;
@inv-color-success:#5cb85c;
@inv-color-info:#5bc0de;
@inv-color-warning:#f0ad4e;
@inv-color-error: #ff3900;
@inv-color-light-green: #f5f8ef;
@inv-color-light-red:#ffebe5;
@inv-color-light-blue: #ebf4fb;

body {
  margin: 6px 20px;
}

.btn {
  padding: 0px 20px;
  font-size: 14px;
}

.inv-modal {
  .modal-header{
    font-size: 14px;
    padding: 10px;
    background-color: @inv-primary;
    color: white;
  }
  .modal-body {
    font-size: 12px;
  }
}

.inv-form {
  font-size: 12px;

  p {
    margin: 0px;
  }

  h3 {
    font-size: 12px;
    padding: 10px;
    background-color: @inv-brand-primary;
    color: white;
    b {
      margin: 0px;
    }
  }

  ul.dropdown-menu{
    background-color: white;
    color: @inv-primary;
    top: initial !important;
    &:focus {
      border-color: @inv-primary;
    }
    font-size: 12px;
    border-color: @inv-gray;
    li{  
      border-bottom: 1px solid @inv-gray;
      &:hover{
        background-color: @inv-color-light-blue;
      }
      a {
        background-color: white;
      }
    }
    & > .active > a {
      &:hover {
        background-color: @inv-color-light-blue;
      }
      background-color: @inv-color-light-blue;
    }
  }

  input{
    color: @inv-primary;
    font-size:12px;
  }

  .form-group [type=radio] + .btn-group .btn {
    font-size: 12px;
  }

  .form-group select.form-control {
    font-size: 12px;
  }

  .icon-investec-delete-1 {
    font-size: 25px;
    margin-top: -10px;
  }
  
  h4 {
    font-size: 14px;
    margin: 0;
  }
  
  label {
    font-weight: normal;
    font-size: 12px;
    color:@inv-primary;
    margin-left:10px;
    &.btn{
      font-size:12px;
    }
  }
  
  input[type=text], input[type=password], input[type=number], input[type=radio] select {
    height: 36px;
    &:focus {
      border-color: @inv-primary;
    }
  }
  
  ::placeholder, ::-ms-input-placeholder{
    font-size: 12px;
    color: @inv-gray;
    text-align: middle;
  }
  
  .row.fld.form-group {
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
  }

  .row.fld.mfield.form-group{
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
  }

  .form-control-feedback {
    transform: scale(1, 1);
    transition: 0.25s;
    right: 0px;
    font-size: 16px;
    top: 2px;
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body{
    background-color: white;
  }

  .panel-default {
    & > .panel-heading {

      border: 1px solid @inv-gray;
      background: @inv-gray-light;
      font-family: Arial, Helvetica, sans-serif;
      color: @inv-primary;
      font-size: 12px;
    }
    .panel-body{
      border-color: @inv-gray;
      border-style: solid;
    }
  }
  .form-group:hover{
    background-color: @inv-color-light-blue;
  }

  .errorMsg{
    color:@inv-color-error;
    font-size: 12px;
    margin: 0px;
  }

  .panel-heading{

    .errorAsterix{
      font-size: 24px;
      margin: -6px 0px;
      position: absolute;
    }
  }


  

  .inv-dropdown .btn.dropdown-toggle.has-error {
    border-color:@inv-color-error;
  }



  .action-bar-default.clearfix {
  width: 100%;
  padding: 20px 10px;
  }

  .bopSection {
  width: 99%;
  }

  .row {
  width : 99%;
  }
}
// .fld{
//   &:hover{
//     background-color: @inv-color-light-blue;
//   }
// }

.inv-accordion .panel-group{

  .panel-heading {
    .arrow{
      position: relative;
      top: -5px;
    }
    padding: 10px 10px;
    .panel-title{
      font-size: 12px;
      font-weight: normal;
      & > a > span {
        position: relative;
        top: 5px;
      }
    }
    background: #f7f7f9;
    &:hover {
        background: @inv-color-light-blue;
        outline: 1px solid @inv-btn-hover;
    }
  }


 .panel-heading[aria-selected="true"] {
    outline: 1px solid @inv-brand-primary;
    .panel-title{
      font-weight: bold;
    }
    .arrow {
      font-weight: normal;
      // -webkit-transform: rotate(135deg);
      // -ms-transform: rotate(135deg);
      // -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

  } 

  
}

//@import  (inline) "reg_rule_repo/investecPL/css/styleguide.min.css";
//@import  (inline) "reg_rule_repo/investecPL/css/prism-typeahead.min.css";
//@import  (inline) "reg_rule_repo/investecPL/css/pattern-scaffolding.css";
 