<div class="form-group animate-hide ui-front"
     ng-class="{'has-error':model.error}"
     ng-hide="model.hide">
  <div>
    <button class="btn btn-custom-nbol btn-sm"
            ng-class="perror() || model.error ? 'invalid' : 'valid'"
            ng-init="model.clicked = false;"
            ng-click="model.clicked = true; update()"
            ng-disabled="(model.busy) || $parent.isReadOnly() || model.disabled"
            popover-placement="top"
            popover-trigger="mouseenter"
            popover="{{ (model.pmsg ? model.pmsg : model.msg).join('\n\n\n\n') }}"
            popover-title="Issues with this field:">
        {{ !isValid() ? (model.busy ? "Validating..." : "Validate") : "Valid"  }}
    </button>
    <input type="hidden"
           ng-model="model.val"
           ng-change="update()"/>

  </div>
</div>