<div class="row fld form-group"
     ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
    <div ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">
      <label class="FldLabel"
             ng-class="{
           'col-md-3':!layout,
           'col-md-10':layout=='short'
           }">
        <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)"
              class="bopRequired"></span>
        <span>{{label}}</span>
      </label>
       
      <span>
        <div class="col-sm-4 has-feedback">
          <input type="radio"
                 id="{{inputFldId()}}{{option.label}}"
                 ng-model="model.val"
                 ng-change="update(model.val)"
                 value="{{option.label}}"
                 ng-disabled="$parent.isReadOnly() || model.disabled"
                 ng-value="option.value"
                 name="{{inputFldId()}}"
                 ng-repeat="option in getLookup()" />

          <div class="btn-group btn-group-justified" role="group">
            <label class="btn btn-default" for="{{inputFldId()}}{{option.label}}"  ng-repeat="option in getLookup()">
              {{option.label}}
              <span class="form-control-feedback icon-investec-tick"></span>
            </label>
          </div>
        </div>
      </span>

      <span class="col-md-5"
            ng-hide="!aux || layout=='short'"
            ng-init="limitChars = 1400">
        <span ng-show="aux.length <= (limitChars + 3)">
          {{aux}}
        </span>
        <abbr ng-show="aux.length > limitChars + 3"
              tooltip-placement=" bottom"
              title
              uib-tooltip="{{aux}}"
              tooltip-popup-close-delay='500'
              tooltip-class="invBopTooltip">
          {{aux.substr(0, limitChars)}}...
        </abbr>
      </span>

      <div   ng-show="tooltipTitle.length > 0"   class="col-sm-3 hidden-xs">
        <div class="form-control-tooltip">
          <div class="form-control-tooltip-body">
            <p>{{label}}</p>
            {{tooltipTitle}}
          </div>
        </div>
      </div>

    </div>
  <div class="clear"></div>
</div>
