<span ng-show="!model.hide
      && !isShowOverride
      || (isShowOverride && $parent.isModelInError(model))
      || alwaysShow">
  <div class="row fld form-group"
       ng-show="($parent.isModelInError(model)||alwaysShow) || !model.hide">

    <!--<pre><code>{{model.property}}; isModelInError:{{$parent.isModelInError(model)}}</code></pre>-->

    <label class="col-md-3 FldLabel">
      <span ng-show="$parent.isFieldRequired(model.property) && !($parent.isReadOnly()||model.disabled)"
            class="bopRequired"></span>
      {{label}}
    </label>

    <span ng-class="{'col-sm-12 col-xs-12 col-md-4':optional!='long','col-sm-12 col-xs-12 col-md-8 col-lg-7':optional=='long'}">
      <select class="CHAR_P dropdown-panel form-control"
              ng-model="model.val"
              ng-options="option.value as option.label for option in getLookup()" type="text"
              ng-change="update()"
              ng-disabled="$parent.isReadOnly() || model.disabled"
              ng-class="!$parent.customData.msgHide && (model.error || model.warning)?'has-warning':''"
              id="{{inputFldId()}}">
        <option value="">-- Unknown --</option>
      </select>
 

      <p ng-show="!$parent.customData.msgHide && (model.error && !model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (model.error && model.warning)">
        <span class="errorMsg" ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>X</b>{{itm}}<br></span>
      </p>
      <p ng-show="!$parent.customData.msgHide && (!model.error && model.warning)">
        <span ng-repeat="itm in $parent.errMsgCopyOnly(model.msg)"><b>Warning</b>: {{itm}}<br></span>
      </p>
    </span>
  </div>

  <div class="clear"></div>
</span>