{{importexport.TDNHeading.val}}
<div class="form-horizontal" role="form">
  <fieldset>
    <legend>Transaction details</legend>
  <div class="row">
    <div class="col-sm-4">
      <afield label="Date" value="data.ValueDate"></afield>
      <afield label="Originating country" value="data.OriginatingCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></afield>
      <afield label="Corresponding country" value="data.CorrespondentCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></afield>
      <afield label="Branch code" value="data.BranchCode"></afield>
      <afield label="Branch name" value="data.BranchName"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Currency" value="data.FlowCurrency" lookup="currencies" label-prop="name" value-prop="code" squash-numerics="true"></afield>
      <afield label="Total value" value="data.TotalForeignValue"></afield>
      <afield label="Receiving country" value="data.ReceivingCountry" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></afield>
      <afield label="Hub code" value="data.HubCode"></afield>
      <afield label="Hub name" value="data.HubName"></afield>
    </div>
    <div class="col-sm-4">
      <afield label="Originating bank" value="data.OriginatingBank"></afield>
      <afield label="Corresponding bank" value="data.CorrespondentBank"></afield>
      <afield label="Receiving bank" value="data.ReceivingBank"></afield>
    </div>
  </div>
  </fieldset>
</div>