﻿<div class="form-group animate-hide ui-front"
     ng-class="{'has-error':model.error}"
     ng-hide="model.hide">
  <label class="FldLabel">{{label}}</label>

  <div>
    <span ng-show="pwarn()" class="bop-warning-nbol"></span>
      <md-button  class="md-raised md-primary"
                  ng-class="perror()?'invalid':'valid'"
                  ng-init="model.clicked = false;"
                  ng-click="model.clicked = true; update();"
                  ng-disabled="model.busy || $parent.isReadOnly() || model.disabled"
                  popover-placement="top"
                  popover-trigger="mouseenter"
                  popover="{{ (model.pmsg ? model.pmsg : model.msg).join('\n\n\n\n') }}"
                  popover-title="Issues with this field:">
          {{ !isValid() ? (model.busy ? "Validating..." : "Validate") : "Valid"  }}
      </md-button>
      <input type="hidden"
              ng-model="model.val"
              ng-change="update()">
    <span ng-show="isView">{{viewResponse()}}</span>
    <span ng-show="model.busy" class="bopBusy"></span>
  </div>
</div>
  