<md-input-container class="md-block flex-gt-sm" flex-gt-sm="" ng-if="(!current.money.CategoryCode.hide) || (!current.money.CategorySubCode.hide)">
    <label>{{label}}</label>
    <input  ng-model="$parent.tempModel"
            class="text-truncate"
            uib-typeahead="category as (category.code + ': ' + category.description + ' (' + category.section + ', ' + category.subsection + ')') for category in getCategories()| lFieldFilter:'code':$viewValue"
            typeahead-min-length="0"
            typeahead-on-select="handleChange()"
            ng-blur="handleChange()"
            typeahead-focus
            type="text"
            ng-disabled="$parent.$parent.isReadOnly() || model.disabled || disableField"
            typeahead-input-formatter="makeCCLabel($parent.tempModel)">
    <span ng-show="!$parent.$parent.customData.msgHide && (current.money.CategoryCode.error||current.money.CategorySubCode.error)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(current.money.CategoryCode.msg.concat(current.money.CategorySubCode.msg))">{{itm}}<br></span>
</md-input-container>
