<md-input-container class="md-block date-picker" flex-gt-sm ng-if="(!model.hide && !isShowOverride) || model.error">

          <label>{{label}}</label>
          <md-datepicker  aria-label="Enter date"
                          ng-change="updateToDate(model.val)"
                          ng-blur="updateToDate(model.val)"
                          ng-model="model.val"
                          ng-disabled="$parent.$parent.isReadOnly() || model.disabled"
                          id="{{inputFldId()}}">
          </md-datepicker>
          <span ng-if="!$parent.$parent.customData.msgHide && (model.error && !model.warning)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
          <span ng-if="!$parent.$parent.customData.msgHide && (model.error && model.warning)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
          <span ng-if="!$parent.$parent.customData.msgHide && (!model.error && model.warning)" class="warning" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>

</md-input-container>  