
<md-input-container class="md-block flex-gt-sm" flex-gt-sm="" ng-if="(!model.hide && !isShowOverride) || model.error">
  <label>{{label}}</label>
  <input  ng-model="model.val"
          ng-disabled="$parent.$parent.isReadOnly() || model.disabled || disableField"
          ng-change="update()"
          id="{{inputFldId()}}"
          maxlength="{{maxLen > 0 ? maxLen : 524288}}"
          type="{{ isType ? isType : 'text'}}"
          ng-blur="afterupdate(scope)">
    <span ng-show="!$parent.$parent.customData.msgHide && (model.error && !model.warning)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
    <span ng-show="!$parent.$parent.customData.msgHide && (model.error && model.warning)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
    <span ng-show="!$parent.$parent.customData.msgHide && (!model.error && model.warning)" class="warning" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
</md-input-container>