
<md-input-container class="md-block flex-gt-sm" flex-gt-sm="" ng-if="(!model.hide && !isShowOverride) || model.error">
  <label>{{label}}</label>
  <span class="currency-code" ng-show="model.val">
    <span>{{currencyModel.val}}</span>
  </span>
  <input class="currency-padding"
         ng-model="model.val"
         type="text"
         ng-change="update()"
         ng-disabled="$parent.$parent.isReadOnly() || model.disabled"
         id="{{inputFldId()}}"
         name="{{inputFldId()}}"
         currency-mask
         production-qty/>
    <span ng-show="!$parent.$parent.customData.msgHide && (model.error && !model.warning)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
    <span ng-show="!$parent.$parent.customData.msgHide && (model.error && model.warning)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
    <span ng-show="!$parent.$parent.customData.msgHide && (!model.error && model.warning)" class="warning" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
</md-input-container>