<md-input-container class="md-block flex-gt-sm" flex-gt-sm=""
        ng-if="(!model.hide && !isShowOverride) || model.error">
  <label>{{label}}</label>
  <md-select  ng-model="model.val"
              ng-change="update(model.val)"
              ng-disabled="$parent.$parent.isReadOnly() || model.disabled"
              id="{{inputFldId()}}">
      <md-option ng-show="'{{label}}' != 'Authorisation issuer'"><em>-- None --</em></md-option>
      <md-option ng-repeat="option in getLookup()" ng-value="option.value">
        {{option.label}}
      </md-option>
  </md-select>
  <span ng-show="!$parent.$parent.customData.msgHide && (model.error && !model.warning)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
  <span ng-show="!$parent.$parent.customData.msgHide && (model.error && model.warning)" class="errorMsg" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
  <span ng-show="!$parent.$parent.customData.msgHide && (!model.error && model.warning)" class="warning" ng-repeat="itm in $parent.$parent.errMsgCopyOnly(model.msg)">{{itm}}<br></span>
</md-input-container>