<div class="form-horizontal" role="form">

    <fieldset>
        <legend>Monetary details for selected</legend>
        <div class="row">
            <div class="col-sm-4">
                <ccfield current="current"></ccfield>

                <!--<ifield label="Category Code/Subcode" model="current.money.Category" disable-field="true"></ifield>-->
                <mfield label="Foreign value" model="current.money.ForeignValue" currency-model="data.FlowCurrency"></mfield>
                <mfield label="{{map('LocalCurrencyName')}} value" model="current.money[map('LocalValue')]" currency-model="{val:map('LocalCurrency')}"></mfield>
                
                <!-- 
                    Removed the domestic currency code field
                    * This value is set in the channel package.js as LocalCurrency and will default to the specified value
                    * No validations of mappings were done on this field
                
                    <lfield label="Domestic currency code" model="current.money.DomesticCurrencyCode" lookup="currencies" label-prop="name" value-prop="code"></lfield>
                -->

                <!--<mfield label="Foreign value" model="current.money.ForeignValue" currency-model="data.FlowCurrency"></mfield>-->
                <lfield label="Location country" model="current.money.LocationCountry" lookup="countries" label-prop="name" value-prop="code"
                    squash-numerics="true"></lfield>
                <ifield label="SWIFT details" model="current.money.SWIFTDetails"></ifield>

                <sfield label="Money transfer agent indicator" model="current.money.MoneyTransferAgentIndicator" lookup="moneyTransferAgents"></sfield>
                <ifield label="Strate reference number" model="current.money.StrateRefNumber"></ifield>

            
            </div>
            <div class="col-sm-4">
                <!--<mfield label="{{LocalCurrencyName}} value" model="current.money[map('LocalValue')]" currency-model="{val:map('LocalCurrency')}"></mfield>-->
                <!--<sfield label="Auth issuer" model="current.money[map('RegulatorPrefix')+'Auth'].AuthIssuer" lookup="authIssuers" label-prop="display"></sfield>-->

                <ifield label="{{map('RegulatorPrefix')}} auth application number" model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']"></ifield>
                <ifield label="{{map('RegulatorPrefix')}} auth reference number" model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>


                <ifield label="{{map('DealerPrefix')}} internal auth number" model="current.money[map('Regulator')+'Auth'][map('DealerPrefix') + 'InternalAuthNumber']"></ifield>

                <datefield label="{{map('DealerPrefix')}} internal auth number date" model="current.money[map('Regulator')+'Auth'][map('DealerPrefix') + 'InternalAuthNumberDate']"></datefield>

                <ifield label="Ruling section" model="current.money[map('Regulator')+'Auth'].RulingsSection"></ifield>

                <ifield label="Foreign card holders purchases {{map('LocalCurrencyName')}} value" model="current.money['ForeignCardHoldersPurchases'+map('LocalValue')]"></ifield>

                <ifield label="POS entry mode" model="current.money.POSEntryMode"></ifield>

                <sfield label="Card fraudulent transaction indicator" model="current.money.CardFraudulentTransactionIndicator" lookup="yesNo"></sfield>
               
                <ifield label="Foreign card holders cash withdrawals {{map('LocalCurrencyName')}} value" model="current.money['ForeignCardHoldersCashWithdrawals'+map('LocalValue')]"></ifield>
                
            </div>
            <div class="col-sm-4">
                <sfield label="Subject" model="current.money.AdHocRequirement.Subject" lookup="adhocSubjects"></sfield>
                <ifield label="Description" model="current.money.AdHocRequirement.Description"></ifield>
                <ifield label="Cannot categorise" model="current.money.CannotCategorize"></ifield>
                <ifield label="Reversal transaction reference number" model="current.money.ReversalTrnRefNumber"></ifield>
                <ifield label="Reversal sequence" model="current.money.ReversalTrnSeqNumber"></ifield>

                <sfield label="Card charge back?" model="current.money.CardChargeBack" lookup="yesNo" ></sfield>

                <sfield label="Card indicator" model="current.money.CardIndicator" lookup="cardTypes"></sfield>

                <ifield label="Electronic commerce indicator" model="current.money.ElectronicCommerceIndicator"></ifield>


            </div>
        </div>

    </fieldset>

    <fieldset ng-hide="
    (current.money.LoanRefNumber.hide)
    &&(current.money.LoanInterestRate.hide)
    &&(current.money.LoanTenor.hide)
    &&(!current.money.LoanRefNumber.val)
    &&(!current.money.LoanInterestRate.val)
    &&(!current.money.LoanTenor.val)">
        <legend>
            Loan details
        </legend>
        <div class="row">
            <div class="col-sm-4">
                <ifield label="Loan reference number" model="current.money.LoanRefNumber"></ifield>
            </div>
            <div class="col-sm-4">
                <ifield label="Loan interest rate" model="current.money.LoanInterestRate"></ifield>
            </div>
            <div class="col-sm-4">
                <ifield label="Loan tenor" model="current.money.LoanTenor"></ifield>

            </div>
        </div>



    </fieldset>

</div>