<div class="form-horizontal">
<fieldset>
  <legend>Contact details</legend>
  <div class="row">
    <div class="col-sm-4">
      <ifield label="Address line 1" model="NonResident.Address.AddressLine1"></ifield>
      <ifield label="Suburb" model="NonResident.Address.Suburb"></ifield>
      <ifield label="Zip code" model="NonResident.Address.PostalCode"></ifield>
    </div>
    <div class="col-sm-4">

      <ifield label="Address line 2" model="NonResident.Address.AddressLine2"></ifield>
      <ifield label="State" model="NonResident.Address.State"></ifield>
    </div>
    <div class="col-sm-4">
      <ifield label="City" model="NonResident.Address.City"></ifield>
      <lfield label="Country" model="NonResident.Address.Country" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
    </div>
  </div>
</fieldset>

</div>