<div id="SS_resident_modal_object_exeption" class="form-horizontal">
  <sfield label="Exception name" model="data.Resident.Exception.ExceptionName" lookup="residentExceptions"></sfield>
  <lfield label="Country" model="data.Resident.Exception.Country" lookup="countries" label-prop="name" value-prop="code" squash-numerics="true"></lfield>
</div>