<div class="form-horizontal">

  <ifield label="Import Control Number" model="ie.ImportControlNumber"></ifield>
  <ifield label="Transport Document Number" model="ie.TransportDocumentNumber"></ifield>
  <ifield label="UCR" model="ie.UCR"></ifield>
  <mfield label="Payment Value" model="ie.PaymentValue" currency-model="ie.PaymentCurrencyCode" input-currency="true"></mfield>

</div>