<div>
  <div>
    <button ng-click="addImportExport(current.money,true)"
            class='btn btn-custom-nbol btn-sm'
            ng-class="{'invalid':current.money.ImportExport.length < 1 }">
      Add import/export amount
    </button>
    <button class='btn btn-sm btn-custom-nbol'
            ng-click="removeImportExport(current.money, current.money.ImportExport[currentImportExportInstance])"
            ng-disabled="current.money.ImportExport.length < 1">
      Remove selected
    </button>
    <button ng-click="openPasteMonetaryAmounts(current.money)"
            class='btn btn-custom-nbol btn-sm'>
      Paste from excel
    </button>
  </div>
  <div id='Editable_Table_Grid' style="overflow: auto; max-height: 300px;">
    <table class="table table-striped-custom table-bordered table-condensed" >
      <thead>
      <tr>
        <th colspan="100%">&nbsp;<span class="bopRequired"/> Imports/Exports</th>
      </tr>
      <tr>
        <th width="40px">Seq</th>
        <th><span class="bopRequired"/><span class="bopPencil"/>Allocated Amount</th>
        <th ng-hide="current.money.IE_ICNHeading.hide"><span class="bopRequired"/><span class="bopPencil"/>{{current.money.IE_ICNHeading.label}}
        </th>
        <th ng-hide="current.money.IE_TDNHeading.hide"><span class="bopRequired"/><span class="bopPencil"/>Transport
          Document Number (TDN)
        </th>
        <th ng-hide="current.money.IE_UCRHeading.hide"><span class="bopRequired"/><span class="bopPencil"/>Unique
          Consignment Reference (UCR)
        </th>
        <!--<th ng-hide="current.money.IE_CCNHeading.hide"><span class="bopRequired" /><span class="bopPencil" />Customs Client Number (CCN)</th>-->
        <th ng-hide="current.money.IE_ValidationStatus.hide">
          <!--Validation Status-->

          <div class="row">
            <div class="col-md-10">Validation Status</div>
            <div class="col-ms-2">
              <span
                  uib-popover="To enable the 'Validate' button, make sure the Account holder Customs Client Number has been validated. Note: The validation is done on the Third party CCN if provided, otherwise on the Account holder CCN"
                  popover-placement="left"
                  popover-trigger="mouseenter"
                  popover-title="Requirement: "
                  class="glyphicon glyphicon-question-sign"></span>
            </div>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="(ind,ie) in current.money.ImportExport"
          ng-click="selectImportExportAmount(ind)"
          ng-class="{'': currentImportExportInstance!=ind, 'selected-row': currentImportExportInstance==ind}">
        <td width="40px">{{ind + 1}}</td>
        <td>
          <ifield model="ie.PaymentValue"
                  currency-model="data.FlowCurrency"
                  is-number-field="true"></ifield>
        </td>
        <td ng-hide="ie.ImportControlNumber.hide">
          <ifield model="ie.ImportControlNumber"
                  clearbtt="ie.IVSResponseCodes"></ifield>

        </td>
        <td ng-hide="ie.TransportDocumentNumber.hide">
          <ifield model="ie.TransportDocumentNumber"
                  clearbtt="ie.IVSResponseCodes"></ifield>

        </td>
        <td ng-hide="ie.UCR.hide">
          <ifield model="ie.UCR"></ifield>
        </td>

        <td ng-hide="current.money.IE_ValidationStatus.hide">
          <bfield label="Import Verification System"
                  model="ie.IVSResponseCodes"
                  validation="IVS_Validate"
                  hiddenstate="{{ie.IVSResponseCodes.hide}}"
                  templateurl="bfieldTable.html"></bfield>
        </td>
      </tr>
      </tbody>
      <!--<tfoot>-->
      <!--<tr>-->
      <!--<td colspan="100%">-->
      <!--<label class="col-sm-5 FldLabel"></label>-->
      <!--{{importExportTotal(current.money.ImportExport)}} Allocated <span style="color: #cc0000;"> {{ importExportOutstanding(current.money, current.money.ImportExport, 'OVER! ', '+ Remaining: ') }}</span>-->
      <!--</td>-->
      <!--</tr>-->
      <!--</tfoot>-->
    </table>
  </div>
  <div style="width:100%;border:1px black solid;text-align: center;height:2em;margin-bottom: 10px;">
   <span style="vertical-align: middle;">
     {{importExportTotal(current.money.ImportExport)}} Allocated <span style="color: #cc0000;"> {{ importExportOutstanding(current.money, current.money.ImportExport, 'OVER! ', '+ Remaining: ') }}</span>
     </span>
  </div>
</div>
