<div class="form-horizontal"
     role="form"
     ng-init="loanInterestIndeces = [
      {value:'BASE', label:'Base'},
     {value:'JIBAR', label:'Jibar'},
     {value:'01 JIBAR', label:'Jibar - 1 Month'},
     {value:'02 JIBAR', label:'Jibar - 2 Month'},
     {value:'03 JIBAR', label:'Jibar - 3 Month'},
     {value:'04 JIBAR', label:'Jibar - 4 Month'},
     {value:'05 JIBAR', label:'Jibar - 5 Month'},
     {value:'06 JIBAR', label:'Jibar - 6 Month'},
     {value:'07 JIBAR', label:'Jibar - 7 Month'},
     {value:'08 JIBAR', label:'Jibar - 8 Month'},
     {value:'09 JIBAR', label:'Jibar - 9 Month'},
     {value:'10 JIBAR', label:'Jibar - 10 Month'},
     {value:'11 JIBAR', label:'Jibar - 11 Month'},
     {value:'12 JIBAR',label:'Jibar - 12 Month'},

     {value:'LIBOR', label:'Libor'},
     {value:'01 LIBOR', label:'Libor - 1 Month'},
     {value:'02 LIBOR', label:'Libor - 2 Month'},
     {value:'03 LIBOR', label:'Libor - 3 Month'},
     {value:'04 LIBOR', label:'Libor - 4 Month'},
     {value:'05 LIBOR', label:'Libor - 5 Month'},
     {value:'06 LIBOR', label:'Libor - 6 Month'},
     {value:'07 LIBOR', label:'Libor - 7 Month'},
     {value:'08 LIBOR', label:'Libor - 8 Month'},
     {value:'09 LIBOR', label:'Libor - 9 Month'},
     {value:'10 LIBOR', label:'Libor - 10 Month'},
     {value:'11 LIBOR', label:'Libor - 11 Month'},
     {value:'12 LIBOR',label:'Libor - 12 Month'}
     ]">
  <fieldset>
    <legend>Monetary details for selected</legend>
    <div class="row">
      <div class="col-sm-4">
        <!--<ifield label="ForeignValueAuthAgg"
                model="current.money.ForeignValueAuthAgg" />-->

        <ifield label="Category Code/Subcode" model="current.money.Category" disable-field="true"></ifield>
        <ifield label="Foreign value" model="current.money.ForeignValue" disable-field="true"></ifield>
        <lfield label="Location country" model="current.money.LocationCountry" lookup="countries" label-prop="name"
                value-prop="code"
                squash-numerics="true"></lfield>
        <ifield label="SWIFT details" model="current.money.SWIFTDetails"></ifield>
        <lfield label="Money Transfer Agent Indicator"
                model="current.money.MoneyTransferAgentIndicator"
                lookup="moneyTransferAgents"></lfield>
      </div>
      <div class="col-sm-4">
        <sfield label="Auth issuer" model="current.money[map('Regulator')+'Auth'].AuthIssuer" lookup="authIssuers" label-prop="display"></sfield>

        <ifield label="SARB auth application number"
                model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']"
                clearbtt="current.money.LoanRefNumberResponseCode"></ifield>
                
        <ifield label="SARB auth reference number" model="current.money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>

        <datefield label="AD internal auth number date"
                   model="current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"
                   clearbtt="current.money.ADInternalAuthResponseCode"></datefield>
        <ifield label="AD internal auth number"
                model="current.money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"
                clearbtt="current.money.ADInternalAuthResponseCode"></ifield>

        <bfield model="current.money.ADInternalAuthResponseCode"
                validation="ARM_Validate"
                hiddenstate="{{current.money.ADInternalAuthResponseCode.hide}}"
                clearbtt="current.money.LoanRefNumberResponseCode"
                view="no"></bfield>

        <ifield label="Ruling section" model="current.money[map('Regulator')+'Auth'].RulingsSection"></ifield>
      </div>
      <div class="col-sm-4">
        <sfield label="Subject" model="current.money.AdHocRequirement.Subject" lookup="adhocSubjects"></sfield>
        <ifield label="Description" model="current.money.AdHocRequirement.Description"></ifield>
        <ifield label="Reason for 830" model="current.money.CannotCategorize"></ifield>
        <ifield label="Reversal Transaction Reference Number" model="current.money.ReversalTrnRefNumber"></ifield>
        <ifield label="Reversal Sequence" model="current.money.ReversalTrnSeqNumber"></ifield>
      </div>
    </div>
  </fieldset>

  <fieldset ng-hide="current.money.LoanRefNumber.hide">
    <legend>
      Loan details
    </legend>
    <div class="row">
      <div class="col-sm-4">
        <ifield label="Loan reference number"
                model="current.money.LoanRefNumber"
                clearbtt="current.money.LoanRefNumberResponseCode"></ifield>
      </div>
      <div class="col-sm-4">
        <bfield model="current.money.LoanRefNumberResponseCode"
                validation="LoanRef_Validate"
                hiddenstate="{{current.money.LoanRefNumberResponseCode.hide}}"
                view="no"></bfield>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ifield label="Rate"
                model="current.money.LoanInterest.Rate"></ifield>
      </div>
      <div class="col-sm-4">
        <lfield label="Loan tenor type"
                model="current.money.LoanTenorType"
                lookup-values="[
                        {value:'MATURITY DATE',label:'Maturity Date'},
                        {value:'ON DEMAND',label:'On Demand'}]"></lfield>
      </div>
      <div class="col-sm-4">
        <datefield label="Maturity date"
                   model="current.money.LoanTenorMaturityDate"></datefield>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <lfield label="Interest rate type"
                model="current.money.LoanInterest.InterestType"
                lookup-values="[{value:'FIXED',label:'Fixed'},{value:'INDEXED LINKED',label:'Linked to Index'}]"></lfield>

      </div>
      <div class="col-sm-4">
        <lfield label="Index"
                model="current.money.LoanInterest.Index"
                lookup-values="loanInterestIndeces"></lfield>

      </div>
      <div class="col-sm-4">
        <lfield label="Plus/Minus"
                model="current.money.LoanInterest.PlusMinus"
                lookup-values="[{value:'MINUS',label:'Minus'},{value:'PLUS',label:'Plus'}]"></lfield>

      </div>
    </div>


  </fieldset>

</div>
