<div ng-hide="iePaste">
    <div ng-include="config.partialsPath+'monetary/pasteImportExportInstructions.html'"></div>
    <p>Please Paste Data Here:</p>
    <textarea class="form-control" id="pasteArea" rows=3 cols=80> </textarea>
    <a class='btn btn-custom-nbol btn-sm' ng-click="processPaste(data.FlowCurrency.val)">Process Pasted Data</a>
</div>
<table class="table table-condensed" ng-show="iePaste">
    <thead>
        <tr>
            <th>Allocated Amount</th>
            <th ng-hide="current.money.IE_ICNHeading.hide">{{current.money.IE_ICNHeading.label}}</th>
            <th ng-hide="current.money.IE_TDNHeading.hide">Transport Document Number (TDN)</th>
            <th ng-hide="current.money.IE_UCRHeading.hide">Unique Consignment Reference (UCR)</th>
            <!--<th ng-hide="current.money.IE_CCNHeading.hide">Customs Client Number (CCN)</th>-->
        </tr>

    </thead>
    <tbody>
        <tr ng-repeat="ie in iePaste">
            <td>{{ie.PaymentValue}}</td>

            <td ng-hide="current.money.IE_ICNHeading.hide">{{ie.ImportControlNumber}}</td>
            <td ng-hide="current.money.IE_TDNHeading.hide">{{ie.TransportDocumentNumber}}</td>
            <td ng-hide="current.money.IE_UCRHeading.hide">{{ie.UCR}}</td>
            <!--<td ng-hide="current.money.IE_CCNHeading.hide">{{ie.CustomsClientNumber}}</td>-->

        </tr>
    </tbody>
</table>

<hr />
<a class='btn btn-custom-nbol btn-sm' ng-click="AddPastedImportExportData(current.money, iePaste); close();">Add</a>
<a class='btn btn-custom-nbol btn-sm' ng-click="close();">Cancel</a>