<a class="btn btn-sm"
   ng-init="isCollapsed=true"
   ng-click="isCollapsed = !isCollapsed">
  {{isCollapsed?'Show':'Hide'}} Instructions
</a>

<div uib-collapse="isCollapsed" class="alert alert-info" role="alert">
  <p>Transaction flow: {{Flow}}</p>

  <p>Your excel table needs have the following format:</p>

  <div class="well well-lg">
    <table class="table">
      <thead>
      <tr>
        <th>
          {{data.FlowCurrency.val}}
        </th>

        <th ng-hide="current.money.IE_ICNHeading.hide">{{current.money.IE_ICNHeading.label}}</th>
        <th ng-hide="current.money.IE_TDNHeading.hide">Transport Document Number (TDN)</th>
        <th ng-hide="current.money.IE_UCRHeading.hide">Unique Consignment Reference (UCR)</th>
        <!--<th ng-hide="current.money.IE_CCNHeading.hide">Customs Client Number (CCN)</th>-->
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          123412.34
        </td>
        <td ng-hide="current.money.IE_ICNHeading.hide">
          12341234
        </td>
        <td ng-hide="current.money.IE_TDNHeading.hide">
          12341234
        </td>
        <td ng-hide="current.money.IE_UCRHeading.hide">
          12341234
        </td>
        <!--<td ng-hide="current.money.IE_CCNHeading.hide">-->
          <!--12341234-->
        <!--</td>-->
      </tr>
      <tr>
        <td>
          123412.34
        </td>
        <td ng-hide="current.money.IE_ICNHeading.hide">
          12341234
        </td>
        <td ng-hide="current.money.IE_TDNHeading.hide">
          12341234
        </td>
        <td ng-hide="current.money.IE_UCRHeading.hide">
          12341234
        </td>
        <!--<td ng-hide="current.money.IE_CCNHeading.hide">-->
          <!--12341234-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>

  </div>


  <div class="alert alert-warning" role="alert">
    <strong>Note:</strong> The currency column heading needs to match the transaction currency.
  </div>
  <div class="alert alert-warning" role="alert" ng-show="Flow=='OUT'">
    <strong>Note:</strong>
    The <strong>MRN (Movement Reference Number)</strong>
    is also the <strong>Import Control Number</strong> and the <strong>Invoice Number</strong>.
  </div>

</div>
