<div ng-hide="getThirdPartyType(current.money)=='None'">
  <div class="form-horizontal">

    <fieldset>
      <legend>Third party contact details</legend>
      <div class="row">
        <div class="col-sm-4">
          <ifield label="Contact surname" model="current.money.ThirdParty.ContactDetails.ContactSurname"></ifield>
          <ifield label="Contact name" model="current.money.ThirdParty.ContactDetails.ContactName"></ifield>
        </div>
        <div class="col-sm-4">
          <ifield label="Email" model="current.money.ThirdParty.ContactDetails.Email"></ifield>
          <ifield label="Fax" model="current.money.ThirdParty.ContactDetails.Fax"></ifield>
        </div>
        <div class="col-sm-4">
          <ifield label="Telephone" model="current.money.ThirdParty.ContactDetails.Telephone"></ifield>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Third party street address</legend>

      <div class="row">
        <div class="col-sm-4">
          <ifield label="Address line 1" model="current.money.ThirdParty.StreetAddress.AddressLine1"></ifield>
          <lfield label="Province" model="current.money.ThirdParty.StreetAddress.Province" lookup="provinces"
                  label-prop="true"></lfield>
        </div>
        <div class="col-sm-4">
          <ifield label="Address line 2" model="current.money.ThirdParty.StreetAddress.AddressLine2"></ifield>
          <ifield label="City" model="current.money.ThirdParty.StreetAddress.City"></ifield>
        </div>
        <div class="col-sm-4">
          <ifield label="Suburb" model="current.money.ThirdParty.StreetAddress.Suburb"></ifield>
          <ifield label="Postal code" model="current.money.ThirdParty.StreetAddress.PostalCode"></ifield>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Third party postal address</legend>

      <div class="row">
        <div class="form-group" ng-show="current.money.allowAdhocBOPThirdParty.val">
          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       ng-model="current.money.ThirdParty.sameAsPhysical.val"
                       ng-change="copyAddress(current.money.ThirdParty.StreetAddress,current.money.ThirdParty.PostalAddress)"
                    > Same as physical address
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <ifield label="Address line 1" model="current.money.ThirdParty.PostalAddress.AddressLine1"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
          <lfield label="Province" model="current.money.ThirdParty.PostalAddress.Province" lookup="provinces"
                  label-prop="true"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></lfield>
        </div>
        <div class="col-sm-4">
          <ifield label="Address line 2" model="current.money.ThirdParty.PostalAddress.AddressLine2"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
          <ifield label="City" model="current.money.ThirdParty.PostalAddress.City"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
        </div>
        <div class="col-sm-4">
          <ifield label="Suburb" model="current.money.ThirdParty.PostalAddress.Suburb"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
          <ifield label="Code" model="current.money.ThirdParty.PostalAddress.PostalCode"
                  disable-field="current.money.ThirdParty.sameAsPhysical.val"></ifield>
        </div>
      </div>
    </fieldset>
  </div>
</div>