<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Resident account details
  </h2>
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Account Name" model="Resident.AccountName"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Account Identifier" model="Resident.AccountIdentifier" lookup="accountIdentifiersResident"></sfield>
    
  </div>

<div layout-gt-sm="row" class="layout-gt-sm-row">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Card Number" model="Resident.CardNumber"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Supplementary Card Indicator" model="Resident.SupplementaryCardIndicator" lookup="yesNo"></sfield>
    
  </div>

  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Account Number" model="data.NonResident.Individual.AccountNumber"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <div flex="" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
    
  </div>

