<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Resident address details
  </h2>
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h5 class="subheader">
    Resident contact details
  </h5>
</div>
<div layout-gt-sm="row" class="layout-gt-sm-row">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Contact Name" model="Resident.ContactDetails.ContactName"></ifield>
  
  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Contact Surname" model="Resident.ContactDetails.ContactSurname"></ifield>
  
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Contact Email" model="Resident.ContactDetails.Email"></ifield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Fax" model="Resident.ContactDetails.Fax"></ifield>
  
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">

  <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Contact Telephone" model="Resident.ContactDetails.Telephone"></ifield>

  <div flex="5" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>

  <div flex="" hide-xs hide-sm>
    <!-- Spacer //-->
  </div>
  
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h5 class="subheader">
    Resident postal address
  </h5>
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Address Line 1" model="Resident.PostalAddress.AddressLine1"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Address Line 2" model="Resident.PostalAddress.AddressLine2"></ifield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Suburb" model="Resident.PostalAddress.Suburb"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Postal Code" model="Resident.PostalAddress.PostalCode"></ifield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="City" model="Resident.PostalAddress.City"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Province" model="Resident.PostalAddress.Province" lookup="provinces"></sfield>

  </div>

  <div layout-gt-sm="row" class="layout-gt-sm-row">
    <h5 class="subheader">
      Resident street address
    </h5>
  </div>

  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Address Line 1" model="Resident.StreetAddress.AddressLine1"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Address Line 2" model="Resident.StreetAddress.AddressLine2"></ifield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Suburb" model="Resident.StreetAddress.Suburb"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Postal Code" model="Resident.StreetAddress.PostalCode"></ifield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="City" model="Resident.StreetAddress.City"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Province" model="Resident.StreetAddress.Province" lookup="provinces"></sfield>

  </div>
