<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Resident entity details
  </h2>
</div>

<div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Entity Name" model="data.Resident.Entity.EntityName"></ifield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label-prop="description" value-prop="code" label="Industrial classification" model="data.Resident.Entity.IndustrialClassification" lookup="industrialClassifications"></sfield>

  </div>

  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label-prop="description" value-prop="code" label="Institutional sector" model="data.Resident.Entity.InstitutionalSector" lookup="institutionalSectors"></sfield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Trading Name" model="data.Resident.Entity.TradingName"></ifield>
    
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Registration Number" model="data.Resident.Entity.RegistrationNumber"></ifield>
    

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <div flex="" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
    
  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Tax clearance certificate indicator" model="data.Resident.Entity.TaxClearanceCertificateIndicator" lookup="yesNo"></sfield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Tax Clearance Certificate Reference" model="data.Resident.Entity.TaxClearanceCertificateReference" ></ifield>
    
  </div>