<div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Exception name" model="data.Resident.Exception.ExceptionName" lookup="residentExceptions"></sfield>
  
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>
  
    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Country" model="data.Resident.Exception.Country" lookup="countries" label-prop="name" value-prop="code"></sfield>
    
  </div>