<div layout-gt-sm="row" class="layout-gt-sm-row">
  <h2 class="md-title">
    Resident individual details
  </h2>
</div>

  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Surname" model="data.Resident.Individual.Surname"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Gender" model="data.Resident.Individual.Gender" lookup="gender"></sfield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Name" model="data.Resident.Individual.Name"></ifield>
         
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <datefield class="md-block flex-gt-sm" flex-gt-sm="" label="Date of Birth" model="data.Resident.Individual.DateOfBirth"></datefield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Identity Number" model="data.Resident.Individual.IDNumber"></ifield>
          
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Tax number" model="data.Resident.Individual.TaxNumber"></ifield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="VAT number" model="data.Resident.Individual.VATNumber"></ifield>
              
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Temporary Resident Permit Number" model="data.Resident.Individual.TempResPermitNumber"></ifield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Foreign Identity Number" model="data.Resident.Individual.ForeignIDNumber"></ifield>
    
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Foreign Identity Country" model="data.Resident.Individual.ForeignIDCountry" lookup="countries"
    label-prop="name" value-prop="code"></sfield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Passport Number" model="data.Resident.Individual.PassportNumber"></ifield>
  
    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Passport Country" model="data.Resident.Individual.PassportCountry" lookup="countries"
    label-prop="name" value-prop="code"></sfield>

  </div>
  <div layout-gt-sm="row" class="layout-gt-sm-row">

    <sfield class="md-block flex-gt-sm" flex-gt-sm="" label="Tax clearance certificate indicator"
    model="data.Resident.Individual.TaxClearanceCertificateIndicator" lookup="yesNo"></sfield>

    <div flex="5" hide-xs hide-sm>
      <!-- Spacer //-->
    </div>

    <ifield class="md-block flex-gt-sm" flex-gt-sm="" label="Tax clearance certificate reference"
    model="data.Resident.Individual.TaxClearanceCertificateReference"></ifield>

  </div>