<style>
  .reversal-modal-header {
    color: #1976D2;
    padding-left: 40px;
    margin: 0;
    margin-top: 30px;
  }

  .headingText {
    font-size: 30px;
  }

  .modal-dialog {
    display: flex;
    justify-content: center;
    width: 60%;
  }

  .modal-content {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    height: 550px;
  }

  .modalContainer {
    position: relative;
    height: 100%;
  }

  .modal-footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    border: none !important;
  }

</style>
<div class="modalContainer">
  <div class="reversal-modal-header">
    <div class="headingText">
      <span ng-if="heading"><b class="text-capitalize">{{heading}}</b></span>
      <span ng-if="header" ng-include="header"></span>
    </div>
  </div>
  <div class="modal-body" ng-include="body"></div>
  <div class="modal-footer" ng-include="footer"></div>
</div>