<style>
  .footerBack {
    font-size: 14pt;
  }

  .footerNext {
    font-size: 14pt;
  }

  .stepperLink:hover {
    cursor: pointer;
  }

  .stepperLink {
    font-weight: 600;
  }

  a[disabled] {
    pointer-events: none;
    color: grey;
    font-weight: 600;
  }

  .finalButton[disabled] {
    pointer-events: none;
    background-color: grey;
    font-weight: 600;
    border: none;
  }

  .arrowLeft {
    padding-right: 5px;
  }

  .arrowRight {
    padding-left: 5px;
  }

  .buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .bottomPadding {
    padding-bottom: 10px;
  }

</style>
<div ng-if="$parent.currentSection == 'search'" class="buttonsContainer">
  <div></div>
  <div class="footerNext bottomPadding">
    <a class="stepperLink" ng-disabled="!$parent.trnRefrencesList.length > 0" ng-click="showSection('transaction')">NEXT<span class="glyphicon glyphicon-chevron-right arrowRight"></span></a>
  </div>
</div>
<div ng-if="$parent.currentSection == 'transaction'" class="buttonsContainer">
  <div class="footerBack bottomPadding">
    <a class="stepperLink" ng-click="showSection('search'); clearChoices()"><span class="glyphicon glyphicon-chevron-left leftArrow"></span>BACK</a>
  </div>
  <div class="footerNext bottomPadding">
    <a class="stepperLink" ng-disabled="!$parent.hasSelectedTrn" ng-click="showSection('monetaries'); getMonetaryExtData()">NEXT<span class="glyphicon glyphicon-chevron-right arrowRight"></span></a>
  </div>
</div>
<div ng-if="$parent.currentSection == 'monetaries'" class="buttonsContainer">
  <div class="footerBack">
    <a class="stepperLink" ng-click="showSection('transaction'); clearChoices()"><span class="glyphicon glyphicon-chevron-left leftArrow"></span>BACK</a>
  </div>
  <div class="footerNext">
    <button class="finalButton" ng-disabled="!$parent.canSave" ng-click="saveMonetaryAmounts()">SAVE</button>
  </div>
</div>
<!-- <div class="footerBack">
  <a class="stepperLink" ng-click="showSection('search')">GO BACK</a>
</div>
<div class="footerNext">
  <a class="stepperLink" ng-disabled="!$parent.trnRefrencesList.length > 0" ng-click="showSection('transaction')">NEXT STEP: CHOOSE TRANSACTION</a>
</div> -->