<style>
.getOriginalBtnContainer {
  color: #fff;
  background-color: #1976D2;
  border-color: #1976D2;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 0.5;
  border-radius: 3px;
  width: 78%;
  margin-left: -13px;
  border-radius: 10px 10px 10px 10px;
}

.getOriginalBtnContainer:hover {
  background-color: #2a6294;
}

.inv-modal .modal-content{
    height: 250px;
}

.inv-modal .modal-footer {
    display: flex;
    justify-content: space-evenly;
}

.inv-modal .modal-header {
    border: none;
}

.inv-modal .headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inv-modal .modal-footer {
    bottom: 15px;
}

.inv-modal .deleteModalBody {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.inv-modal .deleteModalHeading {
    color: #1976D2;
    font-weight: 600;
}

.deleteBtn {
    background-color: #1976D2;
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    font-weight: 600;
    border: 1px solid #1976D2;
}

.cancelBtn {
    background-color: #eb643b;
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    font-weight: 600;
    border: 1px solid #eb643b;
}


</style>

<button ng-click="showReversalModal()" class="getOriginalBtnContainer">Get Original Transaction</button>


<script type="text/ng-template" id="modalBopFormConfirmMultipleDel.html">
    <span class="inv-modal">
        <div class="modal-header">
            <div class="headerBox">
                <h3 class="deleteModalHeading">Delete Monetaries<h3>
                <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()"> &times;</button>
            </div>
        </div>

        <div class="modal-body deleteModalBody">
            <label c>MonetaryAmounts will be deleted. Are you sure?</label>
        </div>

        <div class="modal-footer">
            <button class="btn cancelBtn"
                type="button"
                ng-click="$ctrl.cancel()">
                    Cancel
            </button>

            <button class="btn deleteBtn"
                type="button"
                ng-click="$ctrl.ok()">
                    Delete
            </button>
        </div>
    </span>
</script>