<div class="inv-form content">



  <div class="row" ng-show="util.customData().errorList">
    <error-list open-detail="openDetail"></error-list>
  </div>
  <div>
    <div class="row">
      <div class="bopSection col-lg-12">
        {{Flow === 'IN'?'To':'From'}} account &nbsp;
        <span>
          <b>{{data.Resident.Description.val}} - {{Resident.AccountNumber.val}}</b>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="bopSection col-lg-12">
        {{Flow === 'IN'?'From':'To'}} account &nbsp;
        <span>
          <b>{{data.NonResident.Description.val}} - {{NonResident.AccountNumber.val}}</b>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <ifield label="Beneficiary reference" model="data.PaymentDetail.SWIFTDetails" tooltip-title="'The information sent to the beneficiary as reference for the payment'"
          always-show="true"></ifield>

      </div>
    </div>

  </div>

  <!--transaction-->
  <div class="row">
    <div class="col-md-12">

      <mfield label="Currency" model="data.TotalForeignValue" is-type="ignoreIsAnyInError" currency-model="data.FlowCurrency" currency-only="true"
        ng-show="(Flow === 'IN') ? true : undefined" tooltip-title="'The currency you received the funds in'"></mfield>

      <mfield label="Total currency amount" model="data.TotalForeignValue" is-type="ignoreIsAnyInError" currency-model="data.FlowCurrency"
        parallel-model="data.MonetaryAmount && data.MonetaryAmount.length == 1
                 ? (data.TransactionCurrency.val == 'ZAR' ? data.MonetaryAmount[0].RandValue : data.MonetaryAmount[0].ForeignValue)
                 : undefined" always-show="true" tooltip-title="data.TtlForeignValueTooltip.val" input-currency="{{(Flow === 'IN') ? undefined : true }}"
        ng-init="data.ForeignValueRatesInZAR.val = util.customData().currencyToZARRates"></mfield>

      <mfield ng-hide="(Flow === 'IN')" label="Or ZAR equivalent " model="data.ZAREquivalent" is-type="ignoreIsAnyInError" tooltip-title="data.ZarEquivalentTooltip.val"
        currency-model="data.ZAREquivalentCurrency" parallel-model="data.MonetaryAmount && data.MonetaryAmount.length == 1
                 ? data.MonetaryAmount[0].RandValue : undefined"></mfield>

      <afield value="data.TransactionTotal"></afield>
    </div>
  </div>

  <!-- <p class="row">&nbsp;</p> -->

  <!--monetary-->
  <!--<div class="row"
     ng-hide="data.MonetaryAmount && data.MonetaryAmount.length <= 1">-->
  <!-- bopSection col-lg-12 -->
  <!--<div class="action-bar-default">
    <b>Balance of payment (BoP) details1122 + {{money.isAccGrpOpen }} <span class="errorMsg"> {{moneytOutstanding(data, 'Over by ', 'Under by ', data.ZAREquivalent.val ? data.ZAREquivalent.val : null, data.TransactionCurrency.val)}}</span></b>
  </div>
</div>-->

  <div class="row">
    <!-- <uib-accordion close-others="true"
                 ng-class="thing">

    <div class="action-bar">
      <div class="action-bar-default clearfix">
        <div class="col-xs-12 col-sm-8 action-bar-heading">
          <h4>Balance of payment (BoP) details</h4> 
          <span class="errorMsg"
                style="font-weight: bold">
            {{moneytOutstanding(data, 'Over by ', 'Under by ', data.ZAREquivalent.val ? data.ZAREquivalent.val : null, data.TransactionCurrency.val)}}
          </span>
        </div>
      </div>
    </div>  -->


    <!-- <div uib-accordion-group ng-repeat="(ind, money) in data.MonetaryAmount"
                         is-open="money.isAccGrpOpen">
      <uib-accordion-heading>
        <div ng-switch="money.isAccGrpOpen && data.MonetaryAmount && data.MonetaryAmount.length <= 1">
  
          <div class="row action-bar-default clearfix {{money.isAccGrpOpen ? 'panel-header-open-color' :'panel-header-close-color'}} "
               
               ng-switch-default
               ng-click="ignore = (money.isAccGrpOpen ? $event.stopPropagation() : undefined) + (money.isAccGrpOpen ? $event.preventDefault() : undefined)">
           
            <div class="col-md-7">
              <span class="acc-hdr-el acc-hdr-ico helpme ">{{ind + 1}}</span>

              <b class="acc-hdr-el ">
                <dfield value="money.CategoryCode" ></dfield>
                <span ng-hide="money.CategoryCode.val">***</span>
                {{money.CategorySubCode.val ? '/ ' + money.CategorySubCode.val : ""}}
              </b>
            
              <b class="acc-hdr-el">
                <dfield value="data.TransactionCurrency" ></dfield>
                <dfield value="money.ForeignValue" is-money-field="true" ></dfield>
                <dfield value="money.RandValue" is-money-field="true" ></dfield>
              </b>
              <b class="acc-hdr-el">
                <dfield value="money.ThirdPartyContactLabel" ></dfield>
              </b>
            </div> -->

    <!--Icons on the far right...-->
    <!-- <div class="col-md-5">
              <i class="glyphicon pull-right icon-investec-plus"
                 ng-class="{'inv-uncollapased-accordian': !money.isAccGrpOpen, 'inv-collapased-accordian': money.isAccGrpOpen}"></i>
           
            <i class="glyphicon  icon-investec-delete-1 pull-right"
                 ng-click="$event.stopPropagation();$event.preventDefault();removeMonetaryAmount(money, ie, 'modalBopFormConfirmDel');">&nbsp;</i>
              
            </div>
          </div>
        </div>
      </uib-accordion-heading> -->

    <!-- <div class="col-md-12"> -->

    <div ng-include="config.partialsPath + 'monetary/primary.html'">primary fields...</div>

    <div ng-include="config.partialsPath + getDetailTemplate('Money','general')"></div>

    <div ng-include="config.partialsPath + 'monetary/thirdparty.html'">3rd party fields...</div>

    <div ng-include="config.partialsPath + 'monetary/thirdparty_contact.html'">3rd party contact fields...</div>

    <div ng-include="config.partialsPath + config.importexport_summary" ng-hide="money.ImportExport.hide"></div>

    <!--<ifield label="Auth Ruling Section" model="money[map('Regulator')+'Auth'].RulingsSection" >-->

    <ifield label="Auth Application Number" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"></ifield>
    <datefield label="Auth ApplicationDate" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"></datefield>

    <div class="row fld" ng-hide="money[map('Regulator')+'Auth'].IsSARBAuth.hide">
      <label class="col-md-3">
        <abbr tooltip-placement="bottom" title uib-tooltip="Please complete this section if you have pre-authorisation by the South African Reserve Bank (SARB) for this transaction"
          tooltip-popup-close-delay='500' tooltip-class="invBopTooltip">SARB auth application</abbr>

      </label>
      <div class="col-md-4 form-group form-group-checkbox-only clearfix no-hover ">
        <!--<input type="checkbox"
                   ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val"
                   ng-change="revalidate()"
                   style="width: auto;"
                   ng-true-value="'Y'" >
            <span ng-show="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].val && money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].val || money[map('Regulator')+'Auth'].IsSARBAuth.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error"
                  lbl>Keep?</span> (optionalss)-->

        <input type="checkbox" id="{{'terms'+'_'+ind}}" name="checkbox-set" ng-model="money[map('Regulator')+'Auth'].IsSARBAuth.val" ng-change="revalidate()"
          style="width: auto;" ng-true-value="'Y'">
        <div class="btn-group" role="group">
          <label class="btn btn-default single-checkbox" for="{{'terms'+'_'+ind}}">
            <span class="icon-investec-tick"></span>
            <span ng-show="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].val && money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].val || money[map('Regulator')+'Auth'].IsSARBAuth.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error"
              lbl>Keep?</span> (optional)
          </label>
        </div>
      </div>
    </div>


    <ifield label="SARB auth reference number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>

    <fieldset ng-show="money[map('Regulator')+'Auth'].IsSARBAuth.val || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error">

      <ifield label="SARB auth number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']" tooltip-title="'The number found on your SARB approval document'"
        aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error ? '' : '(optional)' }}"></ifield>
      <span ng-init="maxAuthDate = util.date.now()">
        <datefield label="SARB auth date" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate']" max="maxAuthDate" tooltip-title="'The date of your approval on the SARB document'"
          aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error ? '' : '(optional)' }}"></datefield>
      </span>
    </fieldset>
    <!-- </div>
    </div>

  </uib-accordion> -->

    <!--<div class="bopSection col-lg-12">
      <button type="button"
              ng-click="addMonetaryAmount({
                              CategoryCode: null,
                              CategorySubCode: null,
                              ImportExport: [],
                              ThirdParty: { Individual: {} }
                            })"
              class='btn btn-primary'>
        Add additional reason
      </button>
    </div>
  </div>-->

    <p class="row">&nbsp;</p>

    <div class="action-bar">
      <div class="action-bar-default clearfix">
        <div class="col-xs-12 col-sm-8 action-bar-heading">
          <h4>Additional Reasons</h4>
        </div>
        <div class="col-xs-12 col-sm-4 action-bar-buttons">
          <button class="btn btn-primary btn-block btn-mobile" type="button" ng-click="addMonetaryAmount({
                            CategoryCode: null,
                            CategorySubCode: null,
                            ImportExport: [],
                            ThirdParty: { Individual: {} }
                          })">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row">&nbsp;</div>-->
  <!--ad hoc-->
  <div class="row">
    <div class="col-md-12">
      <rfield label="Confirm rate" model="data.RateConfirmation" lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
        tooltip-title="Flow === 'IN' ? 'Do you want to confirm your rate before we allocate the funds into your account?' : 'Confirm your rate before your international payment is made?'"></rfield>

      <rfield label="Include fees?" model="data.FeesIncluded" lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
        tooltip-title="'Does the amount entered include the Investec fees?'"></rfield>

      <sfield label="Charge allocation" model="data.PaymentDetail.Charges" lookup-values="['SHA - Charges are shared by the beneficiary and applicant', 'OUR - All charges including offshore charges are paid by the applicant']"></sfield>
    </div>
  </div>

  <div class="row">&nbsp;</div>
  <!--additional info (All fields)-->
  <div>
    <!--<div ng-show="$root.anyInError() || !(data.LocationCountry.hide || data.IsInvestecFCA.hide)">-->
    <div class="row">
      <!--<div class="bopSection col-lg-12">
      <b>Additional information</b>
    </div>-->
      <div class="action-bar">
        <div class="action-bar-default clearfix">
          <div class="col-xs-12 col-sm-8 action-bar-heading">
            <h4>Additional Information</h4>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-lg-12">
        <span ng-hide="Flow==='IN'">Please verify the following detail(s) are not missing and are up to date. Please supply us with the required relevant
          information.
        </span>
        <span ng-show="Flow==='IN'">Please verify the following detail(s) and supply us with the required information below.</span>
      </div>
    </div>
  </div>

  <div ng-include="config.partialsPath + 'allFields.html'"></div>

  <div class="clear"></div>


  <script type="text/ng-template" id="modalBopFormConfirmDel.html">
<span class="inv-modal">
<div class="modal-header">
<button class="btn btn-default"
      type="button"
      ng-click="$ctrl.cancel()">
&times;
</button>
<b class="modal-title" id="modalIdLabel">Delete reason</b>
</div>

<div class="modal-body">

<p>
<div class="bopModDel"></div>
<b>Category</b> will be deleted from your list of reasons. Are you sure?
</p>
</div>

<div class="modal-footer">
<button class="btn"
      type="button"
      ng-click="$ctrl.cancel()">
Cancel
</button>
<button class="btn"
      type="button"
      ng-click="$ctrl.ok()">
Delete
</button>
</div>
</span>
</script>

  <!--modal-->
  <script type="text/ng-template" id="modalBopFormCurrency.html" modal-window-class="inv-modal bopMod" modal-size="xl">
  <div class="modal-header">
    <button class="close"
            type="button"
            ng-click="$parent.modalCancel()">
      <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="modal-title" id="modalIdLabel">Payment currency selector</h4>
  </div>

  <div class="modal-body row form-group">
    <div class="col-md-12">
      <p>Please select the reference currency from the list below:</p>
      <div class="col-md-6 inv-dropdown currency-converter"
           ng-repeat="c in modParent.getCurrencies() | filterInArray:$parent.customData.currencyFilter:'code'">
        <button class="btn btn-default flag {{$parent.customData.currencyFlags.indexOf(c.code) >= 0 ? 'flag flag-active' : ''}}"
                type="button"
                style="background-color:#fff; width:100%;"
                ng-class="['flag-' + c.code.toLowerCase()}]"
                href="#"
    
                ng-click="modParent.currencyModel.val = c.code; modParent.update(null, true); $parent.modalOk();">
          {{c.name + ' (' + c.code + ')'}}
        </button>
      </div>
    </div>
  </div>

  <div class="modal-footer"> </div>
</script>

  <script type="text/ng-template" id="lfieldSelectItem.html">
  <a>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>


  <script type="text/javascript">
    $(document).ready(function () {
      // Align modal when user resize the window
      $(window)
        .on("resize", function () {
          $(".modal:visible").each(function () {
            console.log('alignModal');
            var modalDialog = $(this).find(".modal-dialog");

            // Applying the top margin on modal dialog to align it vertically center
            modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
          });
        });
    });
  </script>
</div>