<div class="inv-form">
  <div class="container-fluid">
    <div class="row bopSection" ng-hide="Flow === 'IN'">
      <div class="col-md-3">
        {{Flow === 'IN'?'To':'From'}} account &nbsp;
      </div>
      <div class="col-md-9">
        <b>{{data.Resident.Description.val}}</b>
        <br>
        <b>{{Resident.AccountNumber.val}}</b>
      </div>
    </div>

    <div class="row bopSection">
      <div class="col-md-3">
        {{Flow === 'IN'?'From':'To'}} account &nbsp;
      </div>
      <div class="col-md-9">
        <b>{{data.NonResident.Description.val}}</b>
        <br>
        <b>{{NonResident.AccountNumber.val}}{{NonResident.AccountNumber.val?'':data.InvestecFCA.val}}</b>
      </div>
    </div>

    <div class="row bopSection" ng-hide="Flow === 'OUT'">
      <div class="col-md-3">
        {{Flow === 'IN'?'To':'From'}} account &nbsp;
      </div>
      <div class="col-md-9">
        <b>{{data.Resident.Description.val}}</b>
        <br>
        <b>{{Resident.AccountNumber.val}}</b>
      </div>
    </div>

    <rfield ng-show="(customData.paymentFlow=='PBA to FCA')" label="Currency" model="data.TransactionCurrency" lookup-values="['ZAR',data.FlowCurrency.val]"
      tooltip-title="'<ul><li>ZAR: The amount that will leave your ‘From account’ in rands</li>
    <li>Foreign Currency: The amount that will be transferred to your ‘To account’  in the currency you have selected (USD, GBP etc)</li></ul>'"></rfield>

    <mfield ng-hide="((data.TransactionCurrency.val=='ZAR')&&(data.FlowCurrency.val!='ZAR'))" label="Amount" model="data.TotalForeignValue"
      currency-model="data.FlowCurrency" currency-only="true"></mfield>


    <mfield ng-show="data.TransactionCurrency.val=='ZAR'" label="ZAR equivalent " model="data.ZAREquivalent" tooltip-title="data.ZarEquivalentTooltip.val"
      currency-model="{val:'ZAR'}"></mfield>

    <div ng-repeat="money in data.MonetaryAmount">

      <div ng-include="config.partialsPath + 'monetary/primary.html'">primary fields...</div>

      <div ng-include="config.partialsPath + getDetailTemplate('Money','general')"></div>

      <div ng-include="config.partialsPath + 'monetary/thirdparty.html'">3rd party fields...</div>

      <div ng-include="config.partialsPath + 'monetary/thirdparty_contact.html'">3rd party contact fields...</div>

      <div ng-include="config.partialsPath + config.importexport_summary" ng-hide="money.ImportExport.hide"></div>


      <ifield label="Auth Application Number" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumber']"></ifield>
      <datefield label="Auth ApplicationDate" model="money[map('Regulator')+'Auth'][map('DealerPrefix')+'InternalAuthNumberDate']"></datefield>


      <ifield label="SARB auth reference number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthRefNumber']"></ifield>

      <fieldset ng-show="money[map('Regulator')+'Auth'].IsSARBAuth.val || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error">

        <ifield label="SARB auth number" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber']" tooltip-title="'The number found on your SARB approval document'"
          aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthAppNumber'].error ? '' : '(optional)' }}"></ifield>
        <span ng-init="maxAuthDate = util.date.now()">
          <datefield label="SARB auth date" model="money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate']" max="maxAuthDate" tooltip-title="'The date of your approval on the SARB document'"
            aux="{{ money[map('Regulator')+'Auth'].SARBAuthOptional.hide || money[map('Regulator')+'Auth'][map('RegulatorPrefix')+'AuthDate'].error ? '' : '(optional)' }}"></datefield>
        </span>
      </fieldset>

    </div>



    <div class="row">
      <div class="col-md-12">
        <rfield label="Do you want to confirm your exchange rate?" model="data.RateConfirmation" lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
          tooltip-title="'<ul><li>If you select \'No\', we will process your transfer at the next available time.</li><li>If you select \'Yes\', we will contact you to confirm the exchange rate before the transfer is made.</li></ul>'"></rfield>

        <rfield label="Include fees?" model="data.FeesIncluded" lookup-values="[{value:'N', label:'No'}, {value:'Y', label:'Yes'}]"
          tooltip-title="'Does the amount entered include the Investec fees?'"></rfield>

        <sfield label="Charge allocation" model="data.PaymentDetail.Charges" lookup-values="['SHA - Charges are shared by the beneficiary and applicant', 'OUR - All charges including offshore charges are paid by the applicant']"></sfield>
      </div>
    </div>

    <div ng-include="config.partialsPath + 'allFields.html'"></div>

    <div class="row">
      <br>
    </div>

  </div>
</div>


<script type="text/ng-template" id="lfieldSelectItem.html">
  <a>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>